<template>
  <div class="accreditation-print">
    <div style="padding-bottom:50px;">
      <table>
        <thead>
          <tr>
            <th width="50">Начало аккредитации</th>
            <th width="50">Окончание аккредитации</th>
            <th>Название Темы</th>
            <th width="100">Адрес</th>
            <th width="110">Корреспонденты</th>
            <th width="110">Съёмочная группа</th>
            <th width="95">Машины и водители</th>
            <th width="80">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="theme in metathemes" :key="theme.id">
            <td>
              <div class="centered">
                <div v-if="theme.date_start_accr" class="cell bold">{{ moment(theme.date_start_accr).format('HH:mm') }}</div>
                <div v-if="theme.date_start_accr" class="cell">{{ moment(theme.date_start_accr).format('DD/MM') }}</div>
              </div>
            </td>
            <td>
              <div class="centered">
                <div v-if="theme.date_end_accr" class="cell bold">{{ moment(theme.date_end_accr).format('HH:mm') }}</div>
                <div v-if="theme.date_end_accr" class="cell">{{ moment(theme.date_end_accr).format('DD/MM') }}</div>
              </div>
            </td>
            <td>
              {{ theme.name }}
            </td>
            <td>
              <div v-if="theme.address">{{ theme.address }}</div>
              <div v-if="theme.country">{{ theme.country }}</div>
            </td>
            <td>
              <div v-for="employee in themeCorrespondents(theme)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div v-for="employee in themeShootingGroup(theme)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div v-for="car in themeCars(theme)" :key="car.name">
                {{ car.name }}
              </div>
              <div v-for="employee in themeDrivers(theme)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div class="centered">
                {{ itemStatus(theme.status_accr) }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'printaccreditation',
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  methods: {
    themeCorrespondents(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeShootingGroup(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeCars(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
          arr.push(theme.shootings[i].tech_resources[j])
        }
      }
      let result = arr.filter(t =>
        t.type === 'Машина'
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeDrivers(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    itemStatus(status) {
      switch (status) {
        case 'need':
          return 'Требуется аккредитация'
        case 'progress':
          return 'Аккредитация запрошена'
        case 'done':
          return 'Аккредитация получена'
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>