<template>
  <div v-loading.fullscreen.lock="loading">
    <h1 class="log-saved-title">{{ $route.params.logDate }} {{ preset }}</h1>
    <div class="log-saved-heading">
      <el-page-header @back="$router.push($store.state.log.logSavedPrevRoute.path)">
      </el-page-header>
      <el-radio-group v-model="preset">
        <el-radio :label="'11:00'">11:00</el-radio>
        <el-radio :label="'14:00'">14:00</el-radio>
        <el-radio :label="'20:00'">20:00</el-radio>
        <el-radio class="desktop-only" :label="'Недельный лог'">Недельный лог</el-radio>
        <el-radio class="mobile-only" :label="'Недельный лог'">Неделя</el-radio>
      </el-radio-group>
      <el-tooltip
        class="item"
        effect="dark"
        content="Экспорт в PDF"
      >
        <el-button
          class="pdf"
          type="danger"
          icon="el-icon-document"
          size="medium"
          :loading="printLoading"
          @click="exportToPdf"
        >
        </el-button>
      </el-tooltip>
      <el-tooltip
        class="item"
        effect="dark"
        content="Печать"
      >
        <el-button
          v-print="print"
          class="print"
          type="primary"
          icon="el-icon-printer"
          size="medium"
          :loading="printLoading"
        >
        </el-button>
      </el-tooltip>
    </div>
    <div id="log" ref="log" class="log-saved-table">

      <LogPreset11
        v-if="preset === '11:00'"
        :preset="preset"
        :date="date"
        @rerender="rerender"
      />

      <LogPreset14
        v-if="preset === '14:00'"
        :preset="preset"
        :date="date"
        @rerender="rerender"
      />

      <LogPreset20
        v-if="preset === '20:00'"
        :preset="preset"
        :date="date"
        @rerender="rerender"
      />

      <LogPresetWeek
        v-if="preset === 'Недельный лог'"
        :preset="preset"
        :date="date"
        @rerender="rerender"
      />

    </div>

  </div>
</template>

<script>
import pdfMixin from '@/mixins/pdf.mixin.js'
import LogPreset11 from '@/components/log/print/LogPreset11'
import LogPreset14 from '@/components/log/print/LogPreset14'
import LogPreset20 from '@/components/log/print/LogPreset20'
import LogPresetWeek from '@/components/log/print/LogPresetWeek'

export default {
  name: 'logsaved',
  components: {
    LogPreset11,
    LogPreset14,
    LogPreset20,
    LogPresetWeek
  },
  mixins: [pdfMixin],
  data() {
    return {
      loading: false,
      printLoading: true,
      title: `Лог ${this.$route.params.logDate}`,
      preset: '11:00',
      prevRoute: null,
      date: null,
      print: {
        id: 'log',
        popTitle: ''
      }
    }
  },
  metaInfo() {
    return {
      title: this.title
    }
  },
  watch: { 
    preset: {
      immediate: true,
      handler() {
        this.changeTitle()
      }
    },
    '$route.params.logDate': {
      immediate: true,
      handler() {
        this.changeTitle()
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.$store.commit('setLogSavedPrevRoute', from)
    })
  },
  methods: {
    rerender(value) {
      value ? this.printLoading = true : this.printLoading = false
    },
    changeTitle() {
      this.title = `Лог ${this.$route.params.logDate}`
      this.date = this.$route.params.logDate[6] +
                  this.$route.params.logDate[7] +
                  this.$route.params.logDate[8] +
                  this.$route.params.logDate[9] +
                  this.$route.params.logDate[2] +
                  this.$route.params.logDate[3] +
                  this.$route.params.logDate[4] +
                  this.$route.params.logDate[5] +
                  this.$route.params.logDate[0] +
                  this.$route.params.logDate[1]
      if (this.preset === 'Недельный лог') {
        const currentMonday = this.moment(this.date).isoWeekday(1)._d
        const monday = this.moment(currentMonday).add(7, 'days').format('DD-MM-YYYY')
        const sunday = this.moment(currentMonday).add(13, 'days').format('DD-MM-YYYY')
        this.print.popTitle = `Недельный_Лог_${monday}_${sunday}`
      } else {
        this.print.popTitle = `Лог_${this.moment(this.date).format('DD-MM-YYYY')}_${this.preset.replace(':', '-')}`
      }
    },
    async exportToPdf() {
      this.loading = true
      try {
        let title
        if (this.preset === 'Недельный лог') {
          const currentMonday = this.moment(this.date).isoWeekday(1)._d
          const monday = this.moment(currentMonday).add(7, 'days').format('DD-MM-YYYY')
          const sunday = this.moment(currentMonday).add(13, 'days').format('DD-MM-YYYY')
          title = `Недельный_Лог_${monday}_${sunday}`
        } else {
          title = `Лог_${this.moment(this.date).format('DD-MM-YYYY')}_${this.preset.replace(':', '-')}`
        }
        await this.exportToPdfMixin(this.$refs.log.innerHTML, title, title, false)
        .then(() => {
          this.loading = false
        })
      } catch (e) {
        console.log(e)
        this.$message.error('Ошибка экспорта')
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.log-saved-title {
  font-size: 22px;
  margin: 0;
}
.log-saved-heading {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  & .el-page-header {
    align-items: center;
  }
  & .el-radio-group {
    flex: 1;
    display: flex;
    align-items: center;
  }
}
.log-saved-table {
  & table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 14px;
    margin-bottom: 30px;
    & th, td {
      border: 1px solid #000;
      padding: 5px;
      &.no-padding {
        padding: 0;
      }
    }
  }
  & .schedule-tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 30px;
    & table {
      margin-bottom: 0;
    }
    &_restricted {
      margin-bottom: 0;
      & > div {
        height: 710px;
        &:nth-child(-n+3) {
          height: 675px;
        }
      }
    }
  }
  & .table-schedule {
    &__title {
      text-align: left;
    }
    & th {
      font-size: 20px;
    }
    &.week-log th {
      font-size: 16px;
      width: 12%;
      &:first-child {
        width: 16%;
      }
    }
  }
  overflow: inherit;
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .bg {
    background-color: #ddd;
  }
  & .contents {
    display: contents;
  }
  & .break-all {
    word-break: break-word;
  }
  & th > .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .cell {
    word-break: normal;
  }
  & .el-table__row--level-0 {
    font-size: 20px;
    background-color: rgba(120, 89, 223, 0.2);
    & td {
      text-align: center;
    }
  }
  & .aethers-empty {
    font-size: 22px;
    font-weight: bold;
  }
  & .theme-name {
    margin-bottom: 10px;
  }
  & .theme-short-description {
    font-size: 12px;
    color: #000;
    & > p {
      margin-bottom: 0;
      margin-top: 5px;
      word-break: break-word;
    }
  }
  & .el-table__expand-icon {
    transition: transform .2s ease-in-out;
    &.rotate {
      transform: rotate(90deg);
    }
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .log-saved-title {
    position: relative;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    border-top: solid 1px #e6e6e6;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  .log-saved-heading {
    position: relative;
    flex-direction: column;
    background: #fff;
    margin-bottom: 0;
    padding-bottom: 15px;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
    & .el-page-header, & .el-radio-group {
      margin-bottom: 20px;
    }
    & .el-page-header__left::after {
      display: none;
    }
    & .pdf {
      width: 320px;
      margin: 0 auto;
      & .el-icon-document:before {
        content: "Скачать PDF";
      }
    }
    & .el-radio-group {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      & label.el-radio {
        padding: 12px 20px 0 10px;
        border-radius: 2px;
        border: 2px solid #dcdfe6;
        box-sizing: border-box;
        height: 40px;
        margin-right: 10px;
        margin-bottom: 10px;
        &:last-child {
          margin-right: 0;
        }
        &.is-checked {
          border-color: #7C43BA;
        }
        & .el-radio__input {
          display: none;
        }
      }
    }
  }
  #log, button.print {
    display: none;
  }
}
</style>