<template>
  <div class="log-settings" v-loading="loading">
    <el-row>
      <el-col>
        <draggable v-model="filteredSections">
          <el-card
            v-for="section in filteredSections"
            :key="section.id"
            shadow="hover"
          >
            {{section.sortLogParam}}. {{section.group | titled}}
          </el-card>
        </draggable>
      </el-col>
    </el-row>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="saveNewOrder"
      >
        Сохранить порядок
      </el-button>
      <el-button
        @click="$emit('hideLogSettings')"
      >
        Отмена
      </el-button>
    </span>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'logsettings',
  components: {
    draggable
  },
  data: () => ({
    loading: true,
    sections: [],
    filteredSections: []
  }),
  async mounted() {
    await this.fetchMetathemesSections()
    this.loading = false
  },
  methods: {
    async fetchMetathemesSections() {
      this.loading = true
      const params = {
        _sort: `SortLogParam:asc`
      }
      this.sections = await this.$store.dispatch('fetchMetathemeSections', {undefined, params})
      this.filteredSections = this.sections.filter(s => s.show_in_log_settings === true && s.group !== 'foreign_5' && s.group !== 'regions_5')
      this.loading = false
    },
    async saveNewOrder() {
      try {
        this.loading = true
        for(let i = 0; i < this.filteredSections.length; i++) {
          if (this.filteredSections[i].sortLogParam !== (i + 1)) {
            let arr = this.sections.filter(s => s.group === this.filteredSections[i].group)
            for (let j = 0; j < arr.length; j++) {
              let formData = {
                id: arr[j].id,
                sortLogParam: i + 1
              }
              await this.$store.dispatch('editMetathemeSection', formData)
            }
          }
        }
        this.loading = false
        this.$emit('changeLogSettings')
        this.$message.success('Настройки сохранены')
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        this.$emit('hideLogSettings')
        console.log(e)
      }
    }
  },
  filters: {
    titled: function (group) {
      switch (group) {
        case 'planning':
          return 'Планирование'
        case 'aether_78':
          return '78-СПБ'
        case 'regions':
          return 'Регионы'
        case 'regions_5':
          return 'Регионы - 5 канал'
        case 'foreign':
          return 'Зарубежка'
        case 'foreign_5':
          return 'Зарубежка - 5 канал'
        case 'producers':
          return 'Продюсеры РЕН'
        case 'producers_5':
          return 'Продюсеры - 5 канал'
        case 'iztv':
          return 'IZ.TV'
        case 'aether_112':
          return '112'
        case 'gazetaiz':
          return 'Планы Газета'
      }
    }
  }
}
</script>
<style lang="scss">
.log-settings {
  & .el-row {
    margin-bottom: 10px;
  }
  .el-card {
    height: fit-content;
    cursor: move;
    &__body {
      padding: 10px 15px;
    }
  }
  & .dialog-footer {
    display: block;
    text-align: right;
  }
  .el-col {
    overflow: auto;
    justify-content: center !important;
    margin-left: 0 !important;

    & > div {
      min-height: 230px;
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: repeat(5, 30px);
      grid-gap: 15px;
      grid-auto-flow: column;
    }
  }
}
</style>