<template>
  <div class="navbar">
    <div class="navbar__mobile-logo" @click="$emit('openMobileMenu')">
      <div class="burger"></div>
    </div>
    <el-row>
      <el-col v-if="$route.name === 'home'">
        <h1 class="navbar__title" >Главная</h1>
      </el-col>
      <el-col v-if="$route.name === 'profile'">
        <ProfileHeader />
      </el-col>
      <el-col v-if="$route.name === 'planning'">
        <PlanningHeader />
      </el-col>
      <el-col v-if="$route.name === 'coordination' || $route.name === 'coordinationreport'">
        <CoordinationHeader />
      </el-col>
      <el-col v-if="$route.name === 'accreditation'">
        <AccreditationHeader />
      </el-col>
      <el-col v-if="$route.name === 'urgentdepartures'">
        <UrgentDeparturesHeader />
      </el-col>
      <el-col v-if="$route.name === 'log' || ($route.name === 'logsaved' && ($store.state.log.logSavedPrevRoute.name === 'log' || $store.state.log.logSavedPrevRoute.name === null))">
        <LogHeader />
      </el-col>
      <el-col v-if="$route.name === 'logfive' || ($route.name === 'logfivesaved' && ($store.state.log.logSavedPrevRoute.name === 'logfive' || $store.state.log.logSavedPrevRoute.name === null))">
        <LogFiveHeader />
      </el-col>
      <el-col v-if="$route.name === 'aetherplan'">
        <AetherPlanHeader />
      </el-col>
      <el-col v-if="$route.name === 'tomorrowplan'">
        <TomorrowPlanHeader />
      </el-col>
      <el-col v-if="$route.name === 'employeeschedule'">
        <EmployeeScheduleHeader />
      </el-col>
      <el-col v-if="$route.name === 'employee'">
        <EmployeesHeader />
      </el-col>
      <el-col v-if="$route.name === 'techresources'">
        <TechresourcesHeader />
      </el-col>
      <el-col>
        <!-- <el-badge :value="10" class="badge">
          <i class="el-icon-message-solid"></i>
        </el-badge> -->
        <el-dropdown class="user-name" trigger="click" @command="handleCommand">
          <span class="el-dropdown-link">
            {{ name }}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              command="profile"
              icon="el-icon-user"
              :disabled="$route.name === 'profile'"
            >
              Профиль
            </el-dropdown-item>
            <el-dropdown-item
              command="logout"
              icon="el-icon-switch-button"
            >
              Выйти
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import ProfileHeader from '@/components/profile/ProfileHeader'
import PlanningHeader from '@/components/planning/PlanningHeader'
import CoordinationHeader from '@/components/coordination/CoordinationHeader'
import AccreditationHeader from '@/components/accreditation/AccreditationHeader'
import UrgentDeparturesHeader from '@/components/urgentdepartures/UrgentDeparturesHeader'
import LogHeader from '@/components/log/LogHeader'
import LogFiveHeader from '@/components/logfive/LogFiveHeader'
import AetherPlanHeader from '@/components/aetherplan/AetherPlanHeader'
import TomorrowPlanHeader from '@/components/tomorrowplan/TomorrowPlanHeader'
import EmployeeScheduleHeader from '@/components/employeeschedule/EmployeeScheduleHeader'
import EmployeesHeader from '@/components/employees/EmployeesHeader'
import TechresourcesHeader from '@/components/techresources/TechresourcesHeader'

export default {
  components: {
    ProfileHeader,
    PlanningHeader,
    CoordinationHeader,
    AccreditationHeader,
    UrgentDeparturesHeader,
    LogHeader,
    LogFiveHeader,
    AetherPlanHeader,
    TomorrowPlanHeader,
    EmployeeScheduleHeader,
    EmployeesHeader,
    TechresourcesHeader
  },
  data() {
    return{
      name: null
    }
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("user"))
    this.name = `${user.surname} ${user.name}`
  },
  watch: {
    '$store.state.users.userName': {
      handler() {
        this.name = this.$store.state.users.userName
      }
    }
  },
  methods: {
    async handleCommand(command) {
      switch (command) {
        case 'profile':
          this.$router.push('/profile')
          break
        case 'logout':
          await this.$store.dispatch('logout')
          this.$router.go('/login')
          break
      }
    }
  }
}
</script>

<style lang="scss">
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  &__title {
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 0;
    &--bordered {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid rgba(27, 27, 27, 0.3);
    }
  }
  &__mobile-logo {
    display: none;
    position: relative;
    top: 2px;
    left: 10px;
    width: 70px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: -5px;
    background: url('../../assets/svg/icons/iz_short.svg') 24px 18px no-repeat;
    & .burger {
      position: absolute;
      top: 28px;
      left: 0;
      width: 16px;
      height: 2px;
      background: #1B1B1B;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 2px;
        background: #1B1B1B;
      }
      &::before {
        top: -5px;
      }
      &::after {
        bottom: -5px;
      }
    }
  }
  & .el-row, .el-col {
    height: 100%;
    display: flex;
    align-items: center;
  }
  & .el-row, & .el-col:first-child {
    flex: 1;
  }
  & .el-col-24 {
    width: auto;
  }
  & .el-col:last-child {
    justify-content: flex-end;
    margin-left: 20px;
  }
  & .el-dropdown-link {
    cursor: pointer;
    color: #000;
  }
  & .badge {
    font-size: 20px;
    color: #909399;
    margin-right: 25px;
    cursor: pointer;
  }
}
@media (max-width: 1100px) {
  .navbar {
    &__mobile-logo {
      display: block;
    }
    &__title {
      font-size: 15px;
      &--bordered {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }
    }
    & .el-col:last-child {
      display: none;
    }
  }
}
</style>