<template>
  <el-menu
    class="sidebar"
    :router="true"
    :default-active="activeLink"
    :collapse="isCollapse"
  >
    <li :class="{ isCollapse: !isCollapse }" class="el-menu-item el-menu-item__logo" @click="toggleMenu">
      <div class="burger"></div>
    </li>

    <el-tooltip v-if="isCollapse" class="item" effect="dark" content="Главная" placement="right-start">
      <el-menu-item index="/" :route="{ name: 'home'}">
        <router-link to="/" class="el-menu-item__link">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.34634 16.6386C7.61907 16.8742 8.20908 16.8816 9.37222 16.8819V23.4813C9.37222 24.0414 9.37222 24.3214 9.48121 24.5353C9.57708 24.7235 9.73006 24.8765 9.91823 24.9724C10.1321 25.0813 10.4122 25.0813 10.9722 25.0813H14.4205V21.5963C14.4205 21.0362 14.4205 20.7562 14.5295 20.5423C14.6253 20.3541 14.7783 20.2011 14.9665 20.1053C15.1804 19.9963 15.4604 19.9963 16.0205 19.9963H16.3385C16.8986 19.9963 17.1786 19.9963 17.3925 20.1053C17.5807 20.2011 17.7337 20.3541 17.8296 20.5423C17.9385 20.7562 17.9385 21.0362 17.9385 21.5963V25.0813H21.3868C21.9469 25.0813 22.2269 25.0813 22.4408 24.9724C22.629 24.8765 22.7819 24.7235 22.8778 24.5353C22.9868 24.3214 22.9868 24.0414 22.9868 23.4813V16.8819C24.1499 16.8816 24.74 16.8742 25.0127 16.6386C25.2569 16.4277 25.3843 16.1118 25.3548 15.7905C25.3208 15.42 24.8745 14.9899 23.9819 14.1297L17.2897 7.68109C16.8997 7.3053 16.7047 7.1174 16.4815 7.04668C16.285 6.98444 16.074 6.98444 15.8776 7.04668C15.6543 7.1174 15.4593 7.3053 15.0693 7.68109L8.37715 14.1297C7.48451 14.9899 7.03819 15.42 7.00419 15.7905C6.9747 16.1118 7.10211 16.4277 7.34634 16.6386Z"/>
          </svg>
          <span class="el-menu-item__title">Главная</span>
        </router-link>
      </el-menu-item>
    </el-tooltip>
    <el-menu-item v-else index="/" :route="{ name: 'home'}">
      <router-link to="/" class="el-menu-item__link">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.34634 16.6386C7.61907 16.8742 8.20908 16.8816 9.37222 16.8819V23.4813C9.37222 24.0414 9.37222 24.3214 9.48121 24.5353C9.57708 24.7235 9.73006 24.8765 9.91823 24.9724C10.1321 25.0813 10.4122 25.0813 10.9722 25.0813H14.4205V21.5963C14.4205 21.0362 14.4205 20.7562 14.5295 20.5423C14.6253 20.3541 14.7783 20.2011 14.9665 20.1053C15.1804 19.9963 15.4604 19.9963 16.0205 19.9963H16.3385C16.8986 19.9963 17.1786 19.9963 17.3925 20.1053C17.5807 20.2011 17.7337 20.3541 17.8296 20.5423C17.9385 20.7562 17.9385 21.0362 17.9385 21.5963V25.0813H21.3868C21.9469 25.0813 22.2269 25.0813 22.4408 24.9724C22.629 24.8765 22.7819 24.7235 22.8778 24.5353C22.9868 24.3214 22.9868 24.0414 22.9868 23.4813V16.8819C24.1499 16.8816 24.74 16.8742 25.0127 16.6386C25.2569 16.4277 25.3843 16.1118 25.3548 15.7905C25.3208 15.42 24.8745 14.9899 23.9819 14.1297L17.2897 7.68109C16.8997 7.3053 16.7047 7.1174 16.4815 7.04668C16.285 6.98444 16.074 6.98444 15.8776 7.04668C15.6543 7.1174 15.4593 7.3053 15.0693 7.68109L8.37715 14.1297C7.48451 14.9899 7.03819 15.42 7.00419 15.7905C6.9747 16.1118 7.10211 16.4277 7.34634 16.6386Z"/>
        </svg>
        <span class="el-menu-item__title">Главная</span>
      </router-link>
    </el-menu-item>

    <el-tooltip v-if="isCollapse" class="item" effect="dark" content="Лог" placement="right-start">
      <el-menu-item index="/planning" :route="{ name: 'planning'}">
        <router-link to="/planning" class="el-menu-item__link">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12.5372" cy="11.0814" r="3.5"/>
            <path d="M7.17944 20.3814C7.17944 18.7012 7.17944 17.8611 7.50642 17.2194C7.79404 16.6549 8.25299 16.196 8.81747 15.9083C9.45921 15.5814 10.2993 15.5814 11.9794 15.5814H13.0669C14.7471 15.5814 15.5872 15.5814 16.2289 15.9083C16.7934 16.196 17.2523 16.6549 17.54 17.2194C17.8669 17.8611 17.8669 18.7012 17.8669 20.3814V24.5814H7.17944V20.3814Z"/>
            <circle cx="19.907" cy="12.6696" r="3.08824"/>
            <path d="M15.1794 21.3553C15.1794 19.7552 15.1794 18.9551 15.4768 18.338C15.7716 17.7261 16.2654 17.2324 16.8772 16.9375C17.4944 16.6402 18.2944 16.6402 19.8945 16.6402C21.4946 16.6402 22.2946 16.6402 22.9118 16.9375C23.5237 17.2324 24.0174 17.7261 24.3122 18.338C24.6096 18.9551 24.6096 19.7552 24.6096 21.3553V24.5814H15.1794V21.3553Z"/>
          </svg>
          <span class="el-menu-item__title">Лог</span>
        </router-link>
      </el-menu-item>
    </el-tooltip>
    <el-menu-item v-else index="/planning" :route="{ name: 'planning'}">
      <router-link to="/planning" class="el-menu-item__link">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12.5372" cy="11.0814" r="3.5"/>
          <path d="M7.17944 20.3814C7.17944 18.7012 7.17944 17.8611 7.50642 17.2194C7.79404 16.6549 8.25299 16.196 8.81747 15.9083C9.45921 15.5814 10.2993 15.5814 11.9794 15.5814H13.0669C14.7471 15.5814 15.5872 15.5814 16.2289 15.9083C16.7934 16.196 17.2523 16.6549 17.54 17.2194C17.8669 17.8611 17.8669 18.7012 17.8669 20.3814V24.5814H7.17944V20.3814Z"/>
          <circle cx="19.907" cy="12.6696" r="3.08824"/>
          <path d="M15.1794 21.3553C15.1794 19.7552 15.1794 18.9551 15.4768 18.338C15.7716 17.7261 16.2654 17.2324 16.8772 16.9375C17.4944 16.6402 18.2944 16.6402 19.8945 16.6402C21.4946 16.6402 22.2946 16.6402 22.9118 16.9375C23.5237 17.2324 24.0174 17.7261 24.3122 18.338C24.6096 18.9551 24.6096 19.7552 24.6096 21.3553V24.5814H15.1794V21.3553Z"/>
        </svg>
        <span class="el-menu-item__title">Лог</span>
      </router-link>
    </el-menu-item>

    <el-tooltip v-if="isCollapse" class="item" effect="dark" content="Координация" placement="right-start">
      <el-menu-item index="/coordination" :route="{ name: 'coordination'}">
          <router-link to="/coordination" class="el-menu-item__link">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7817 13.9476L24.1917 14.1269C24.7542 14.1944 25.1794 14.6736 25.1787 15.2414V16.9214C25.1787 17.4891 24.7534 17.9684 24.1887 18.0359L22.7817 18.2151C22.6662 18.5729 22.5229 18.9179 22.3549 19.2456L23.2257 20.3661C23.5782 20.8206 23.5369 21.4604 23.1304 21.8549L21.9492 23.0361C21.5592 23.4389 20.9187 23.4801 20.4649 23.1276L19.3437 22.2569C19.0159 22.4241 18.6709 22.5674 18.3132 22.6836L18.1339 24.0936C18.0664 24.6561 17.5872 25.0814 17.0194 25.0814H15.3394C14.7717 25.0814 14.2924 24.6561 14.2249 24.0899L14.0457 22.6829C13.6879 22.5674 13.3429 22.4241 13.0152 22.2561L11.8947 23.1269C11.4402 23.4786 10.8004 23.4381 10.4059 23.0324L9.22469 21.8511C8.82194 21.4611 8.78069 20.8206 9.13319 20.3669L10.0039 19.2456C9.83669 18.9179 9.69344 18.5729 9.57719 18.2151L8.16719 18.0359C7.60469 17.9684 7.17944 17.4891 7.17944 16.9214V15.2414C7.17944 14.6736 7.60469 14.1944 8.16944 14.1269L9.57719 13.9476C9.69344 13.5899 9.83594 13.2449 10.0039 12.9171L9.13319 11.7966C8.78069 11.3421 8.82194 10.7016 9.22844 10.3071L10.4097 9.12661C10.8004 8.72386 11.4409 8.68336 11.8939 9.03511L13.0144 9.90586C13.3422 9.73786 13.6872 9.59536 14.0457 9.47911L14.2249 8.06911C14.2924 7.50661 14.7717 7.08136 15.3394 7.08136H17.0194C17.5872 7.08136 18.0664 7.50661 18.1339 8.07136L18.3132 9.47911C18.6717 9.59536 19.0167 9.73861 19.3444 9.90586L20.4642 9.03511C20.9187 8.68336 21.5592 8.72386 21.9529 9.13036L23.1342 10.3116C23.5369 10.7016 23.5782 11.3421 23.2257 11.7959L22.3549 12.9171C22.5222 13.2449 22.6654 13.5899 22.7817 13.9476ZM12.4294 16.0814C12.4294 18.1491 14.1117 19.8314 16.1794 19.8314C18.2472 19.8314 19.9294 18.1491 19.9294 16.0814C19.9294 14.0136 18.2472 12.3314 16.1794 12.3314C14.1117 12.3314 12.4294 14.0136 12.4294 16.0814Z"/>
          </svg>
          <span class="el-menu-item__title">Координация</span>
        </router-link>
      </el-menu-item>
    </el-tooltip>
    <el-menu-item v-else index="/coordination" :route="{ name: 'coordination'}">
      <router-link to="/coordination" class="el-menu-item__link">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7817 13.9476L24.1917 14.1269C24.7542 14.1944 25.1794 14.6736 25.1787 15.2414V16.9214C25.1787 17.4891 24.7534 17.9684 24.1887 18.0359L22.7817 18.2151C22.6662 18.5729 22.5229 18.9179 22.3549 19.2456L23.2257 20.3661C23.5782 20.8206 23.5369 21.4604 23.1304 21.8549L21.9492 23.0361C21.5592 23.4389 20.9187 23.4801 20.4649 23.1276L19.3437 22.2569C19.0159 22.4241 18.6709 22.5674 18.3132 22.6836L18.1339 24.0936C18.0664 24.6561 17.5872 25.0814 17.0194 25.0814H15.3394C14.7717 25.0814 14.2924 24.6561 14.2249 24.0899L14.0457 22.6829C13.6879 22.5674 13.3429 22.4241 13.0152 22.2561L11.8947 23.1269C11.4402 23.4786 10.8004 23.4381 10.4059 23.0324L9.22469 21.8511C8.82194 21.4611 8.78069 20.8206 9.13319 20.3669L10.0039 19.2456C9.83669 18.9179 9.69344 18.5729 9.57719 18.2151L8.16719 18.0359C7.60469 17.9684 7.17944 17.4891 7.17944 16.9214V15.2414C7.17944 14.6736 7.60469 14.1944 8.16944 14.1269L9.57719 13.9476C9.69344 13.5899 9.83594 13.2449 10.0039 12.9171L9.13319 11.7966C8.78069 11.3421 8.82194 10.7016 9.22844 10.3071L10.4097 9.12661C10.8004 8.72386 11.4409 8.68336 11.8939 9.03511L13.0144 9.90586C13.3422 9.73786 13.6872 9.59536 14.0457 9.47911L14.2249 8.06911C14.2924 7.50661 14.7717 7.08136 15.3394 7.08136H17.0194C17.5872 7.08136 18.0664 7.50661 18.1339 8.07136L18.3132 9.47911C18.6717 9.59536 19.0167 9.73861 19.3444 9.90586L20.4642 9.03511C20.9187 8.68336 21.5592 8.72386 21.9529 9.13036L23.1342 10.3116C23.5369 10.7016 23.5782 11.3421 23.2257 11.7959L22.3549 12.9171C22.5222 13.2449 22.6654 13.5899 22.7817 13.9476ZM12.4294 16.0814C12.4294 18.1491 14.1117 19.8314 16.1794 19.8314C18.2472 19.8314 19.9294 18.1491 19.9294 16.0814C19.9294 14.0136 18.2472 12.3314 16.1794 12.3314C14.1117 12.3314 12.4294 14.0136 12.4294 16.0814Z"/>
        </svg>
        <span class="el-menu-item__title">Координация</span>
      </router-link>
    </el-menu-item>

    <el-tooltip v-if="isCollapse" class="item" effect="dark" content="Аккредитация" placement="right-start">
      <el-menu-item index="/accreditation" :route="{ name: 'accreditation'}">
          <router-link to="/accreditation" class="el-menu-item__link">
          <svg width="32" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path d="M52.47,13h-.76A3.71,3.71,0,0,0,48,16.71V17a8,8,0,0,1-8,8H24a8,8,0,0,1-8-8v-.3A3.71,3.71,0,0,0,12.29,13h-.76A7.53,7.53,0,0,0,4,20.53V49.47A7.53,7.53,0,0,0,11.53,57H52.47A7.53,7.53,0,0,0,60,49.47V20.53A7.53,7.53,0,0,0,52.47,13ZM25.42,46.58H14.64a2.2,2.2,0,0,1-2.13-2.85,8.27,8.27,0,0,1,5.12-5.3.55.55,0,0,0,.09-1A4.52,4.52,0,0,1,20,29a4.62,4.62,0,0,1,4.5,5,4.51,4.51,0,0,1-2.21,3.41.55.55,0,0,0,.09,1,8.26,8.26,0,0,1,5.16,5.31A2.21,2.21,0,0,1,25.42,46.58Zm16.58,0H34a2,2,0,0,1,0-4h8a2,2,0,0,1,0,4Zm8,0a2,2,0,1,1,2-2A2,2,0,0,1,50,46.58ZM50,37H34a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"/>
            <rect x="20" y="7" width="24" height="14" rx="5.54" ry="5.54"/>
          </svg>
          <span class="el-menu-item__title">Аккредитация</span>
        </router-link>
      </el-menu-item>
    </el-tooltip>
    <el-menu-item v-else index="/accreditation" :route="{ name: 'accreditation'}">
      <router-link to="/accreditation" class="el-menu-item__link">
        <svg width="32" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <path d="M52.47,13h-.76A3.71,3.71,0,0,0,48,16.71V17a8,8,0,0,1-8,8H24a8,8,0,0,1-8-8v-.3A3.71,3.71,0,0,0,12.29,13h-.76A7.53,7.53,0,0,0,4,20.53V49.47A7.53,7.53,0,0,0,11.53,57H52.47A7.53,7.53,0,0,0,60,49.47V20.53A7.53,7.53,0,0,0,52.47,13ZM25.42,46.58H14.64a2.2,2.2,0,0,1-2.13-2.85,8.27,8.27,0,0,1,5.12-5.3.55.55,0,0,0,.09-1A4.52,4.52,0,0,1,20,29a4.62,4.62,0,0,1,4.5,5,4.51,4.51,0,0,1-2.21,3.41.55.55,0,0,0,.09,1,8.26,8.26,0,0,1,5.16,5.31A2.21,2.21,0,0,1,25.42,46.58Zm16.58,0H34a2,2,0,0,1,0-4h8a2,2,0,0,1,0,4Zm8,0a2,2,0,1,1,2-2A2,2,0,0,1,50,46.58ZM50,37H34a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"/>
          <rect x="20" y="7" width="24" height="14" rx="5.54" ry="5.54"/>
        </svg>
        <span class="el-menu-item__title">Аккредитация</span>
      </router-link>
    </el-menu-item>

    <el-tooltip v-if="isCollapse" class="item" effect="dark" content="Срочные выезды" placement="right-start">
      <el-menu-item index="/urgentdepartures" :route="{ name: 'urgentdepartures'}">
        <router-link to="/urgentdepartures" class="el-menu-item__link">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
          </svg>
          <span class="el-menu-item__title">Срочные выезды</span>
        </router-link>
      </el-menu-item>
    </el-tooltip>
    <el-menu-item v-else index="/urgentdepartures" :route="{ name: 'urgentdepartures'}">
      <router-link to="/urgentdepartures" class="el-menu-item__link">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
        </svg>
        <span class="el-menu-item__title">Срочные выезды</span>
      </router-link>
    </el-menu-item>

    <el-tooltip v-if="isCollapse" class="item" effect="dark" content="График сотрудников" placement="right-start">
      <el-menu-item index="/employeeschedule" :route="{ name: 'employeeschedule'}">
        <router-link to="/employeeschedule" class="el-menu-item__link">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.1794 7.75C11.1794 7.33579 11.5152 7 11.9294 7C12.3437 7 12.6794 7.33579 12.6794 7.75V10.25C12.6794 10.6642 12.3437 11 11.9294 11C11.5152 11 11.1794 10.6642 11.1794 10.25V7.75Z"/>
              <path d="M20.1794 7.83136C20.1794 7.41715 20.5152 7.08136 20.9294 7.08136C21.3437 7.08136 21.6794 7.41715 21.6794 7.83136V10.3314C21.6794 10.7456 21.3437 11.0814 20.9294 11.0814C20.5152 11.0814 20.1794 10.7456 20.1794 10.3314V7.83136Z"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1794 9.08136H13.6794V10.25C13.6794 11.2165 12.8959 12 11.9294 12C10.9629 12 10.1794 11.2165 10.1794 10.25V9.08141C9.19109 9.08218 8.67303 9.09474 8.27146 9.29935C7.89514 9.49109 7.58918 9.79705 7.39743 10.1734C7.17944 10.6012 7.17944 11.1613 7.17944 12.2814V15.0814H25.1794V12.2814C25.1794 11.1613 25.1794 10.6012 24.9615 10.1734C24.7697 9.79705 24.4637 9.49109 24.0874 9.29935C23.7597 9.13239 23.3545 9.0933 22.6794 9.08416V10.3314C22.6794 11.2979 21.8959 12.0814 20.9294 12.0814C19.9629 12.0814 19.1794 11.2979 19.1794 10.3314V9.08136ZM20.1794 9.08136V10.3314C20.1794 10.7456 20.5152 11.0814 20.9294 11.0814C21.3437 11.0814 21.6794 10.7456 21.6794 10.3314V9.08136H20.1794ZM11.1794 10.25V9.08136H12.6794V10.25C12.6794 10.6642 12.3437 11 11.9294 11C11.5152 11 11.1794 10.6642 11.1794 10.25ZM25.1794 16.0814H7.17944V21.8814C7.17944 23.0015 7.17944 23.5615 7.39743 23.9893C7.58918 24.3657 7.89514 24.6716 8.27146 24.8634C8.69929 25.0814 9.25934 25.0814 10.3794 25.0814H21.9794C23.0995 25.0814 23.6596 25.0814 24.0874 24.8634C24.4637 24.6716 24.7697 24.3657 24.9615 23.9893C25.1794 23.5615 25.1794 23.0015 25.1794 21.8814V16.0814Z"/>
          </svg>
          <span class="el-menu-item__title">График сотрудников</span>
        </router-link>
      </el-menu-item>
    </el-tooltip>
    <el-menu-item v-else index="/employeeschedule" :route="{ name: 'employeeschedule'}">
      <router-link to="/employeeschedule" class="el-menu-item__link">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.1794 7.75C11.1794 7.33579 11.5152 7 11.9294 7C12.3437 7 12.6794 7.33579 12.6794 7.75V10.25C12.6794 10.6642 12.3437 11 11.9294 11C11.5152 11 11.1794 10.6642 11.1794 10.25V7.75Z"/>
            <path d="M20.1794 7.83136C20.1794 7.41715 20.5152 7.08136 20.9294 7.08136C21.3437 7.08136 21.6794 7.41715 21.6794 7.83136V10.3314C21.6794 10.7456 21.3437 11.0814 20.9294 11.0814C20.5152 11.0814 20.1794 10.7456 20.1794 10.3314V7.83136Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1794 9.08136H13.6794V10.25C13.6794 11.2165 12.8959 12 11.9294 12C10.9629 12 10.1794 11.2165 10.1794 10.25V9.08141C9.19109 9.08218 8.67303 9.09474 8.27146 9.29935C7.89514 9.49109 7.58918 9.79705 7.39743 10.1734C7.17944 10.6012 7.17944 11.1613 7.17944 12.2814V15.0814H25.1794V12.2814C25.1794 11.1613 25.1794 10.6012 24.9615 10.1734C24.7697 9.79705 24.4637 9.49109 24.0874 9.29935C23.7597 9.13239 23.3545 9.0933 22.6794 9.08416V10.3314C22.6794 11.2979 21.8959 12.0814 20.9294 12.0814C19.9629 12.0814 19.1794 11.2979 19.1794 10.3314V9.08136ZM20.1794 9.08136V10.3314C20.1794 10.7456 20.5152 11.0814 20.9294 11.0814C21.3437 11.0814 21.6794 10.7456 21.6794 10.3314V9.08136H20.1794ZM11.1794 10.25V9.08136H12.6794V10.25C12.6794 10.6642 12.3437 11 11.9294 11C11.5152 11 11.1794 10.6642 11.1794 10.25ZM25.1794 16.0814H7.17944V21.8814C7.17944 23.0015 7.17944 23.5615 7.39743 23.9893C7.58918 24.3657 7.89514 24.6716 8.27146 24.8634C8.69929 25.0814 9.25934 25.0814 10.3794 25.0814H21.9794C23.0995 25.0814 23.6596 25.0814 24.0874 24.8634C24.4637 24.6716 24.7697 24.3657 24.9615 23.9893C25.1794 23.5615 25.1794 23.0015 25.1794 21.8814V16.0814Z"/>
        </svg>
        <span class="el-menu-item__title">График сотрудников</span>
      </router-link>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  data: () => ({
    isCollapse: true,
    activeLink: null
  }),
  mounted: function() {
    this.activeLink = this.$route.path
  },
  watch: {
    $route (to, from) {
      this.activeLink = to.path
    }
  },
  methods: {
    toggleMenu() {
      this.isCollapse = !this.isCollapse
      this.$emit('toggleMenu', this.isCollapse)
    }
  }
}
</script>

<style lang="scss">
.sidebar {
  height: 100%;
  width: inherit;
  position: fixed;
  border-right: none;
  transition: none;
  & .el-menu-item {
    &__link {
      display: block;
      text-decoration: none;
    }
    & svg {
      fill: #1B1B1B;
      opacity: .5;
      margin-left: -4px;
    }
    & span {
      color: #1B1B1B;
      padding-left: 16px;
    }
    &__logo {
      position: relative;
      height: 60px;
      border-bottom: solid 1px #e6e6e6;
      padding-right: 1px;
      margin-bottom: 30px;
      background: url('../../assets/svg/icons/iz_short.svg') 31px 18px no-repeat,
                  url('../../assets/svg/icons/iz_full.svg') 300px 18px no-repeat;
      & .burger {
        position: absolute;
        top: 27px;
        left: 11px;
        width: 11px;
        height: 3px;
        background: #1B1B1B;
        &::before, &::after {
          content: '';
          display: block;
          position: absolute;
          width: 11px;
          height: 3px;
          background: #1B1B1B;
        }
        &::before {
          top: -5px;
        }
        &::after {
          bottom: -5px;
        }
      }
      &.isCollapse {
        background: url('../../assets/svg/icons/iz_short.svg') -250px 18px no-repeat,
                    url('../../assets/svg/icons/iz_full.svg') 60px 18px no-repeat;
        & .burger {
          left: 27px;
          width: 20px;
          &::before, &::after {
            width: 20px;
          }
        }
      }
    }
  }
  & .el-menu-item.is-active {
    background-color: #7C43BA;
    & svg {
      fill: #fff;
      opacity: 1;
    }
    & span {
      color: #fff;
    }
  }
}
</style>