<template>
  <el-drawer
    class="sidebar-mobile"
    :visible.sync="drawer"
    direction="ltr"
    size="300px"
    :destroy-on-close:="true"
    :before-close="closeMobileMenu"
    v-touch:swipe.left="closeMobileMenu"
  >
    <div class="sidebar-mobile__menu-block">
      <div class="sidebar-mobile__logo" @click="$emit('closeMobileMenu')">
        <div class="burger"></div>
      </div>
      <div @click="$emit('closeMobileMenu')">
        <router-link to="/" class="sidebar-mobile__link">
          <span class="sidebar-mobile__link-title">Главная</span>
        </router-link>
      </div>
      <div @click="$emit('closeMobileMenu')">
        <router-link to="/planning" class="sidebar-mobile__link">
          <span class="sidebar-mobile__link-title">Лог</span>
        </router-link>
      </div>
      <div @click="$emit('closeMobileMenu')">
        <router-link to="/coordination" class="sidebar-mobile__link">
          <span class="sidebar-mobile__link-title">Координация</span>
        </router-link>
      </div>
      <div @click="$emit('closeMobileMenu')">
        <router-link to="/accreditation" class="sidebar-mobile__link">
          <span class="sidebar-mobile__link-title">Аккредитация</span>
        </router-link>
      </div>
      <div @click="$emit('closeMobileMenu')">
        <router-link to="/urgentdepartures" class="sidebar-mobile__link">
          <span class="sidebar-mobile__link-title">Срочные выезды</span>
        </router-link>
      </div>
      <div @click="$emit('closeMobileMenu')">
        <router-link to="/employeeschedule" class="sidebar-mobile__link">
          <span class="sidebar-mobile__link-title">График сотрудников</span>
        </router-link>
      </div>
    </div>
    <div class="sidebar-mobile__profile-block" @click="goToProfile">
      <div class="sidebar-mobile__profile-avatar">
        <svg width="35" height="37" viewBox="0 0 35 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1" y="1" width="33" height="35" rx="4" stroke="#CBCBCB" stroke-width="1.2"/>
          <svg y="7px" width="35" height="20" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="7.57932" cy="4.50754" r="3.50754" stroke="#A59FAB" stroke-width="1.2"/>
            <path d="M14.3402 17.2714C14.3402 13.5876 11.3539 10.6013 7.6701 10.6013C3.98631 10.6013 1 13.5876 1 17.2714" stroke="#A59FAB" stroke-width="1.2"/>
          </svg>
        </svg>
      </div>
      <div class="sidebar-mobile__profile-name">
        <div style="font-size:13px;color:rgba(25, 25, 25, .48);">Пользователь:</div>
        <div>{{ name }}</div>
      </div>
    </div>
  </el-drawer>
</template>

<script>
export default {
  props: {
    drawer: {
      type: Boolean,
      required: false
    }
  },
  data: () => ({
    name: null,
  }),
  mounted() {
    let user = JSON.parse(localStorage.getItem("user"))
    this.name = `${user.surname} ${user.name}`
  },
  watch: {
    '$store.state.users.userName': {
      handler() {
        this.name = this.$store.state.users.userName
      }
    }
  },
  methods: {
    goToProfile() {
      this.$emit('closeMobileMenu')
      if (this.$route.name !== 'profile') {
        this.$router.push('profile')
      }
    },
    closeMobileMenu(e) {
      e.preventDefault
      this.$emit('closeMobileMenu')
    }
  }
}
</script>

<style lang="scss">
.sidebar-mobile {
  & .el-drawer__container {
    background: rgba(0, 0, 0, .5);
  }
  & .el-drawer__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__logo {
    position: absolute;
    top: 2px;
    left: 10px;
    width: 70px;
    height: 50px;
    margin-bottom: 30px;
    background: url('../../../assets/svg/icons/iz_short.svg') 24px 18px no-repeat;
    & .burger {
      position: absolute;
      top: 28px;
      left: 0;
      width: 16px;
      height: 2px;
      background: #1B1B1B;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 2px;
        background: #1B1B1B;
      }
      &::before {
        top: -5px;
      }
      &::after {
        bottom: -5px;
      }
    }
  }
  &__link {
    display: block;
    padding-left: 35px;
    margin-bottom: 25px;
    text-decoration: none;
    &-title {
      font-size: 18px;
      font-weight: 500;
      color: #191919;
    }
  }
  &__profile-block {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 35px 0;
    margin: 0 35px;
  }
  &__profile-avatar {
    margin-right: 18px;
  }
  &__profile-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }
}
</style>