<template>
  <div class="shooting-add-employees-form" v-loading="loading">
    <div class="shooting-add-employees-form__header">
      <el-tabs v-model="activeTab">
        <el-tab-pane label="Свободны" name="free"></el-tab-pane>
        <el-tab-pane label="Заняты" name="busy"></el-tab-pane>
        <el-tab-pane label="Все" name="all"></el-tab-pane>
      </el-tabs>
    </div>
    <div>
      <div class="shooting-add-employees-form__tabs">
        <el-tabs v-model="activeTabRoles" @tab-click="handleChangeTabRoles">
          <el-tab-pane
            :label="correspondentLabel"
            :name="correspondentRole"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="shootingFromParent && shootingFromParent.metatheme && (shootingFromParent.metatheme.metatheme_section === 4 ||
                  shootingFromParent.metatheme.metatheme_section === 5)"
            label="Корреспондент 78"
            name="18"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="shootingFromParent && shootingFromParent.metatheme && shootingFromParent.metatheme.metatheme_section !== 27 || !shootingFromParent || !shootingFromParent.metatheme"
            label="Продюсер(сним)"
            name="7"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="shootingFromParent && shootingFromParent.metatheme && shootingFromParent.metatheme.metatheme_section !== 27 || !shootingFromParent || !shootingFromParent.metatheme"
            label="Стажер"
            name="8"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="shootingFromParent && shootingFromParent.metatheme && (shootingFromParent.metatheme.metatheme_section === 10 ||
                  shootingFromParent.metatheme.metatheme_section === 11 ||
                  shootingFromParent.metatheme.metatheme_section === 12)"
            label="Редактор"
            name="16"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="shootingFromParent && shootingFromParent.metatheme && shootingFromParent.metatheme.metatheme_section === 27"
            label="Снимающий продюсер (Добров)"
            name="15"
          >
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="shooting-add-employees-form__query-input">
        <input
          placeholder="Поиск по сотруднику"
          :value="queryInput"
          @input="e => queryInput = e.target.value"
        >
      </div>
      <div>
        <div
          class="shooting-add-employees-form__employees-item shooting-add-employees-form__employees-item--added"
          v-for="employee in addedEmployees"
          :key="employee.id"
        >
          <div
            class="shooting-add-employees-form__employees-item__inner"
            v-if="employee.surname.toLowerCase().includes(queryInput.toLowerCase())"
          >
            <el-tag size="medium"><span v-html="highlight(employee.surname)"></span> {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</el-tag>
            <el-button class="no-border-radius shooting-add-employees-form__employees-item__busy-btn shooting-add-employees-form__employees-item__added-btn" type="info" size="mini" icon="el-icon-info" disabled></el-button>
            <el-popconfirm
              class="shooting-add-employees-form__employees-item__delete-btn"
              title="Вы уверены?"
              @confirm="deleteResource(employee)"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
            </el-popconfirm>
          </div>
        </div>
        <div
          class="shooting-add-employees-form__employees-item"
          v-for="employee in filteredEmployees"
          :key="employee.id"
        >
          <div
            v-if="(activeTab === 'free' && !employee.busy && !employee.personalBusy) || (activeTab === 'busy' && employee.busy) || (activeTab === 'all') && employee.surname.toLowerCase().includes(queryInput.toLowerCase())"
            class="shooting-add-employees-form__employees-item__inner"
            :class="{ 'busy': employee.busy || employee.personalBusy}"
          >
            <el-tag size="medium"><span v-html="highlight(employee.surname)"></span> {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</el-tag>
            <el-button class="no-border-radius shooting-add-employees-form__employees-item__busy-btn" type="info" size="mini" icon="el-icon-info" :disabled="!employee.busy && !employee.personalBusy" @click="showEmployeeInfo(employee)"></el-button>
            <el-button class="shooting-add-employees-form__employees-item__add-btn" type="primary" size="mini" icon="el-icon-plus" @click="addResource(employee)"></el-button>
          </div>
        </div>
      </div>
    </div>
    <span slot="footer" class="shooting-add-employees-form__footer">
      <el-button @click="$emit('hideAddEmployees')">
        Закрыть
      </el-button>
    </span>

    <el-dialog
      title="Информация о занятости"
      :visible.sync="showEmployeeInfoVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEmployeeInfo"
    >
      <ShowEmployeeInfo
        :curEmployee="curEmployee"
        :curShooting="curShooting"
        @hideEmployeeInfo="hideEmployeeInfo"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import ShowEmployeeInfo from '@/components/shootings/ShowEmployeeInfo'

export default {
  name: 'addcorrespondents',
  components: {
    ShowEmployeeInfo
  },
  props: {
    shootingFromParent: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      loading: true,
      activeTab: 'free',
      activeTabRoles: '4',
      employees: [],
      filteredEmployees: [],
      addedEmployees: [],
      events: [],
      curShooting: null,
      curEmployee: null,
      showEmployeeInfoVisible: false,
      queryInput: ''
    }
  },
  mounted() {
    if (this.shootingFromParent && this.shootingFromParent.metatheme) {
      switch (this.shootingFromParent.metatheme.metatheme_section) {
        case 26:
        case 36:
        case 37:
        case 38:
        case 39:
        case 40:
        case 41:
        case 42:
        case 43:
          this.activeTabRoles = '19'
          break
        default:
          this.activeTabRoles = '4'
          break
      }
    } else {
      this.activeTabRoles = '4'
    }
  },
  computed: {
    correspondentLabel() {
      if (this.shootingFromParent && this.shootingFromParent.metatheme) {
        switch (this.shootingFromParent.metatheme.metatheme_section) {
          case 26:
          case 36:
          case 37:
          case 38:
          case 39:
          case 40:
          case 41:
          case 42:
          case 43:
            return 'Редактор газета'
          default:
            return 'Корреспондент'
        }
      } else {
        return 'Корреспондент'
      }
    },
    correspondentRole() {
      if (this.shootingFromParent && this.shootingFromParent.metatheme) {
        switch (this.shootingFromParent.metatheme.metatheme_section) {
          case 26:
          case 36:
          case 37:
          case 38:
          case 39:
          case 40:
          case 41:
          case 42:
          case 43:
            return '19'
          default:
            return '4'
        }
      } else {
        return '4'
      }
    }
  },
  watch: {
    shootingFromParent: {
      immediate: true,
      async handler() {
        if (!this.shootingFromParent) {
          return
        }
        this.loading = true
        this.employees = []
        const query = qs.stringify({ 
          _where: {
            _or: [
              [{ 'employee_role.id': 4 }],
              [{ 'employee_role.id': 7 }],
              [{ 'employee_role.id': 8 }],
              [{ 'employee_role.id': 15 }],
              [{ 'employee_role.id': 16 }],
              [{ 'employee_role.id': 18 }],
              [{ 'employee_role.id': 19 }]
            ]
          }
        })
        const employees = await this.$http({
          method: 'get',
          url: `${this.$store.state.url}/employees?${query}`, 
          params: { _limit: -1, _sort: 'surname:asc' }
        })
        this.employees = employees.data
        if (this.shootingFromParent.id) {
          this.curShooting = await this.$store.dispatch('fetchShootingById', this.shootingFromParent.id)
        } else {
          this.curShooting = this.shootingFromParent
        }
        const arr = []
        for (let i = 0; i < this.curShooting.employees.length; i++) {
          arr.push(this.curShooting.employees[i].id)
        }
        this.employees = this.employees.filter(e => !arr.includes(e.id))
        if (this.shootingFromParent.metatheme) {
          switch (this.shootingFromParent.metatheme.metatheme_section) {
            case 26:
            case 36:
            case 37:
            case 38:
            case 39:
            case 40:
            case 41:
            case 42:
            case 43:
              this.activeTabRoles = '19'
              break
            default:
              this.activeTabRoles = '4'
              break
          }
        } else {
          this.activeTabRoles = '4'
        }
        if (window.innerWidth <= 768) {
          this.activeTab = 'all'
        } else {
          this.activeTab = 'free'
        }
        for (let i = 0; i < this.employees.length; i++) {
          this.$set(this.employees[i], 'shootings', [])
        }
        let date_end = this.curShooting.date_end ? this.moment(this.curShooting.date_end).set({hour:0,minute:0,second:0,millisecond:0}).format() : this.moment(this.curShooting.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
        const queryEvents = qs.stringify({ _where: {
          _or: [
              [
                { 'date_start_gte': this.moment(this.curShooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'date_start_lt': date_end }
              ],
              [
                { 'date_start_lte': this.moment(this.curShooting.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_gte': this.moment(this.curShooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() }
              ]
            ]
          }
        })
        const eventsRequest = await this.$http({
          method: 'get',
          url: `${this.$store.state.url}/shootings?${queryEvents}`, 
          params: { _limit: -1 }
        })
        this.events = eventsRequest.data
        for (let i = 0; i < this.events.length; i++) {
          if (this.events[i].personal && (this.events[i].personalType.includes('Дежурный') ||
              this.events[i].personalType.includes('Ночно') ||
              this.events[i].personalType.includes('Отпуск') ||
              this.events[i].personalType.includes('Выходной') ||
              this.events[i].personalType.includes('Больничный') ||
              this.events[i].personalType.includes('Командировка')
          )) {
            for (let j = 0; j < this.events[i].employees.length; j++) {
              for (let k = 0; k < this.employees.length; k++) {
                if (this.events[i].employees[j].id === this.employees[k].id) {
                  this.$set(this.employees[k], 'personalBusy', true)
                  this.employees[k].shootings.push(this.events[i])
                }
              }
            }
          } else {
            for (let j = 0; j < this.events[i].employees.length; j++) {
              for (let k = 0; k < this.employees.length; k++) {
                if (this.events[i].employees[j].id === this.employees[k].id) {
                  this.$set(this.employees[k], 'busy', true)
                  this.employees[k].shootings.push(this.events[i])
                }
              }
            }
          }
        }
        this.filteredEmployees = this.employees.filter(e => e.employee_role === +this.activeTabRoles || e.employee_role.id === +this.activeTabRoles)
        this.addedEmployees = this.curShooting.employees.sort((a, b) => a.surname.localeCompare(b.surname))
        this.addedEmployees = this.addedEmployees.filter(e => e.employee_role === +this.activeTabRoles || e.employee_role.id === +this.activeTabRoles)
        this.loading = false
      }
    }
  },
  methods: {
    handleChangeTabRoles() {
      this.loading = true
      this.queryInput = ''
      this.addedEmployees = this.curShooting.employees.sort((a, b) => a.surname.localeCompare(b.surname))
      this.addedEmployees = this.addedEmployees.filter(e => e.employee_role === +this.activeTabRoles || e.employee_role.id === +this.activeTabRoles)
      const arr = []
      for (let i = 0; i < this.curShooting.employees.length; i++) {
        arr.push(this.curShooting.employees[i].id)
      }
      this.employees = this.employees.filter(e => !arr.includes(e.id))
      this.filteredEmployees = this.employees.filter(e => e.employee_role === +this.activeTabRoles || e.employee_role.id === +this.activeTabRoles)
      this.loading = false
    },
    showEmployeeInfo(employee) {
      this.curEmployee = employee
      this.showEmployeeInfoVisible = true
    },
    hideEmployeeInfo() {
      this.curEmployee = null
      this.showEmployeeInfoVisible = false
    },
    async addResource(employee) {
      this.loading = true
      this.filteredEmployees.splice(this.filteredEmployees.findIndex(el => el.id === employee.id), 1)
      this.curShooting.employees.push(employee)
      if (this.shootingFromParent.id) {
        if (employee.employee_role.id === 4 && this.curShooting.metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
          let formData = {
            name: `Командировка - ${this.curShooting.name}`,
            date_start: this.moment(this.curShooting.date_start).format(),
            date_end: this.moment(this.curShooting.date_end).format(),
            employees: [employee],
            personal: true,
            personalType: 'Командировка',
            status_coord: 'new',
            author: this.curShooting.author,
            shootings_parent: [this.curShooting]
          }
          await this.$store.dispatch('createShooting', formData)
          .then(res => {
            this.curShooting.shootings_child.push(res.data)
          })
        }
        await this.$store.dispatch('editShooting', {
          id: this.shootingFromParent.id,
          employees: this.curShooting.employees,
          shootings_child: this.curShooting.shootings_child
        })
        this.curShooting = await this.$store.dispatch('fetchShootingById', this.shootingFromParent.id)
      }
      this.addedEmployees = this.curShooting.employees.sort((a, b) => a.surname.localeCompare(b.surname))
      this.addedEmployees = this.curShooting.employees.filter(e => e.employee_role === +this.activeTabRoles || e.employee_role.id === +this.activeTabRoles)
      this.$emit('added', this.shootingFromParent.metatheme ? this.shootingFromParent.metatheme.id : '')
      this.loading = false
    },
    async deleteResource(resource) {
      this.loading = true
      this.addedEmployees.splice(this.addedEmployees.findIndex(el => el.id === resource.id), 1)
      this.curShooting.employees.splice(this.curShooting.employees.findIndex(el => el.id === resource.id), 1)
      if (this.shootingFromParent.id) {
        await this.$store.dispatch('editShooting', {id: this.shootingFromParent.id, employees: this.curShooting.employees})
        if (resource.employee_role === 4 && this.curShooting.metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
          for (let i = 0; i < this.curShooting.shootings_child.length; i++) {
            if (this.curShooting.shootings_child[i].personalType === 'Командировка') {
              for (let j = 0; j < this.curShooting.shootings_child[i].employees.length; j++) {
                if (this.curShooting.shootings_child[i].employees[j].id === resource.id) {
                  await this.$store.dispatch('deleteShooting', this.curShooting.shootings_child[i].id)
                }
              }
            }
          }
        }
        this.curShooting = await this.$store.dispatch('fetchShootingById', this.shootingFromParent.id)
      }

      this.$set(resource, 'shootings', [])
      for (let i = 0; i < this.events.length; i++) {
        if (this.events[i].personal && (this.events[i].personalType.includes('Дежурный') ||
            this.events[i].personalType.includes('Ночно') ||
            this.events[i].personalType.includes('Отпуск') ||
            this.events[i].personalType.includes('Выходной') ||
            this.events[i].personalType.includes('Больничный') ||
            this.events[i].personalType.includes('Командировка')
        )) {
          for (let j = 0; j < this.events[i].employees.length; j++) {
            if (this.events[i].employees[j].id === resource.id) {
              this.$set(resource, 'personalBusy', true)
              resource.shootings.push(this.events[i])
            }
          }
        } else {
          for (let j = 0; j < this.events[i].employees.length; j++) {
            if (this.events[i].employees[j].id === resource.id) {
              this.$set(resource, 'personalBusy', true)
              resource.shootings.push(this.events[i])
            }
          }
        }
      }
      this.filteredEmployees.push(resource)
      this.filteredEmployees = this.filteredEmployees.sort((a, b) => a.surname.localeCompare(b.surname))

      this.$emit('added', this.shootingFromParent.metatheme ? this.shootingFromParent.metatheme.id : '')
      this.loading = false
    },
    highlight(value) {
      const getHighlightedText = (text, higlight) => {
        let groups = higlight.split(' ').map(v => `(${v})`).join('|')
        return '<span>' + text.replace(new RegExp(groups, 'gi'), g => `<span style="font-weight:bold">${g}</span>`) + '<span>'
      }
      return !this.queryInput ? value : getHighlightedText(value, this.queryInput)
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>