<template>
  <div class="coord-create-coordination-event" v-loading="loading">
    <el-form
      :model="form"
      :rules="rules"
      ref="CreateCoordinationEventForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          class="name"
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Название события"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions"
            @blur="checkDateStart()">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :default-time="'23:59:59'"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Съемочная группа"
        >
          <div
            v-for="employee in form.employees.filter(e => e.employee_role.id === 1 || e.employee_role.id === 5 || e.employee_role.id === 12)"
            :key="employee.id"
            class="employee"
          >
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(employee, 'employee')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link class="add-link" type="primary" @click="showAddShootingGroup">+ Добавить</el-link>
        </el-form-item>
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Комментарий"
          prop="comment"
        >
          <el-input
            class="comment"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Корреспонденты"
        >
          <div
            v-for="employee in form.employees.filter(e => e.employee_role.id === 4 || e.employee_role.id === 7 || e.employee_role.id === 8)"
            :key="employee.id"
            class="employee"
          >
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(employee, 'employee')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link class="add-link" type="primary" @click="showAddCorrespondents">+ Добавить</el-link>
        </el-form-item>
        <el-form-item
          label="Машины, водители"
        >
          <div v-for="car in form.tech_resources" :key="'car'+car.id" class="employee">
            {{ car.name }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(car, 'tech_resource')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <div v-for="employee in form.employees.filter(e => e.employee_role.id === 2 || e.employee_role.id === 20)" :key="employee.id" class="employee">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(employee, 'employee')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link class="add-link" type="primary" @click="showAddCarsDrivers">+ Добавить</el-link>
        </el-form-item>
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="handleSubmit('CreateCoordinationEventForm')"
      >
        Добавить
      </el-button>
      <el-button
        @click="$emit('hideCreateCoordinationEvent')"
      >
        Отменить
      </el-button>
    </span>

    <el-dialog
      class="coord-create-coordination-event-add-shooting-group"
      title="Добавление съемочной группы в событие"
      :visible.sync="addShootingGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddShootingGroup
        :shootingFromParent="shootingFromParent"
        @hideAddEmployees="hideAddEmployees"
      />
    </el-dialog>

    <el-dialog
      class="coord-create-coordination-event-add-cars-drivers"
      title="Добавление машин, водителей в событие"
      :visible.sync="addCarsDriversVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCarsDrivers
        :shootingFromParent="shootingFromParent"
        @hideAddEmployees="hideAddEmployees"
      />
    </el-dialog>

    <el-dialog
      class="coord-create-coordination-event-add-correspondents"
      title="Добавление корреспондентов в событие"
      :visible.sync="addCorrespondentsVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCorrespondents
        :shootingFromParent="shootingFromParent"
        @hideAddEmployees="hideAddEmployees"
      />
    </el-dialog>
  </div>
</template>

<script>
import AddShootingGroup from '@/components/shootings/AddShootingGroup'
import AddCarsDrivers from '@/components/shootings/AddCarsDrivers'
import AddCorrespondents from '@/components/shootings/AddCorrespondents'

export default {
  name: 'createcoordinationevent',
  components: {
    AddShootingGroup,
    AddCarsDrivers,
    AddCorrespondents
  },
  data() {
    const validateDateEnd = (rule, value, callback) => {
      if (this.form.date_start && this.form.date_end && this.moment(this.form.date_start).format() > this.moment(this.form.date_end).format()
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    return {
      loading: true,
      metatheme_hardwares: [],
      shootingFromParent: null,
      addShootingGroupVisible: false,
      addCarsDriversVisible: false,
      addCorrespondentsVisible: false,
      pickerOptions: {
        firstDayOfWeek: 1
      },
      form: {
        name: '',
        date_start: new Date(),
        date_end: null,
        employees: [],
        tech_resources: [],
        metatheme_hardwares: null,
        comment: null
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите название события",
            trigger: "blur",
          }
        ],
        date_start: [
          {
            required: true,
            message: "Выберите дату и время",
            trigger: "blur",
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ]
      }
    }
  },
  async mounted() {
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.loading = false
  },
  watch: {
    '$route': {
      immediate: true,
      deep: true,
      async handler() {
        if (this.$route.query.date) {
          let date = this.$route.query.date[6] +
                      this.$route.query.date[7] +
                      this.$route.query.date[8] +
                      this.$route.query.date[9] +
                      this.$route.query.date[2] +
                      this.$route.query.date[3] +
                      this.$route.query.date[4] +
                      this.$route.query.date[5] +
                      this.$route.query.date[0] +
                      this.$route.query.date[1]
          this.form.date_start = this.moment(date).set({hour:9,minute:0,second:0,millisecond:0}).format()
        } else {
          this.form.date_start = this.moment(new Date()).set({hour:9,minute:0,second:0,millisecond:0}).format()
        }
      }
    }
  },
  methods: {
    checkDateStart() {
      if (this.form.date_end) {
        this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format()
      }
    },
    async deleteResource(resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        this.form.tech_resources.splice(this.form.tech_resources.findIndex(el => el.id === resource.id), 1)
      } else if (type === 'employee') {
        this.form.employees.splice(this.form.employees.findIndex(el => el.id === resource.id), 1)
      }
      this.loading = false
    },
    showAddShootingGroup() {
      this.shootingFromParent = this.form
      this.addShootingGroupVisible = true
    },
    showAddCorrespondents() {
      this.shootingFromParent = this.form
      this.addCorrespondentsVisible = true
    },
    showAddCarsDrivers() {
      this.shootingFromParent = this.form
      this.addCarsDriversVisible = true
    },
    hideAddEmployees() {
      this.addShootingGroupVisible = false
      this.addCarsDriversVisible = false
      this.addCorrespondentsVisible = false
      this.shootingFromParent = null
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let date_end = this.form.date_end ? this.moment(this.form.date_end).format() : null
            let formData = {
              name: this.form.name,
              reserved: 'ordinary',
              date_start: this.moment(this.form.date_start).format(),
              date_end: date_end,
              employees: this.form.employees,
              tech_resources: this.form.tech_resources,
              metatheme_hardwares: this.form.metatheme_hardwares,
              comment: this.form.comment,
              status_coord: 'done',
              coordination_event: true,
              author: `${JSON.parse(localStorage.getItem('user')).surname} ${JSON.parse(localStorage.getItem('user')).name}`
            }
            await this.$store.dispatch('createShooting', formData)
            .then(() => {
              this.$emit('created')
              this.loading = false
              this.$message.success('Событие добавлено')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.coord-create-coordination-event {
  & .el-form-item::before,
  & .el-form-item::after {
    display: none;
  }
  & .el-form-item__content::before,
  & .el-form-item__content::after {
    display: none;
  }
  & .form-row {
    display: flex;
    & .name {
      flex: 1;
    }
    &:nth-child(2) {
      & .el-form-item {
        width: 25%;
      }
    }
    &:nth-child(3), &:nth-child(4) {
      & .el-form-item {
        width: 33%;
        & .el-select.select-tags {
          width: 100%;
        }
      }
    }
    & .employee {
      line-height: 20px;
    }
    & .add-link {
      line-height: 20px;
    }
  }
  & textarea {
    resize: none;
  }
  & .comment textarea {
    height: 125px;
    padding-top: 10px;
  }
}
</style>