<template>
  <div class="planning-shooting-create" v-loading="loading">
    <el-form
      :model="form"
      :rules="rules"
      ref="CreateShootingForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          class="name"
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Название выезда"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          class="address"
          label="Адрес"
          prop="address"
        >
          <el-input
            v-model="form.address"
            placeholder="Введите адрес"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Эфирный план"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_aether_plans" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aether_plans"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment-aethers"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Перегоны, включения"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_inclusions" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_inclusions"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment-aethers"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_inclusions"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Комментарий"
          prop="comment"
        >
          <el-input
            class="comment"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment"
          >
          </el-input>
        </el-form-item>
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="handleSubmit('CreateShootingForm')"
      >
        Добавить
      </el-button>
      <el-button
        @click="$emit('hideCreateShootingForm')"
      >
        Отменить
      </el-button>
    </span>
  </div>
</template>

<script>
export default {
  name: 'createshooting',
  props: {
    theme: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: true,
    metatheme_inclusions: [],
    metatheme_aether_plans: [],
    metatheme_hardwares: [],
    pickerOptions: {
      firstDayOfWeek: 1
    },
    form: {
      name: null,
      date_start: new Date(),
      address: null,
      metatheme_aether_plans: null,
      comment_aether_plans: null,
      metatheme_inclusions: null,
      comment_inclusions: null,
      metatheme_hardwares: null,
      comment: null
    },
    rules: {
      name: [
        {
          required: true,
          message: "Введите название выезда",
          trigger: "blur",
        }
      ],
      date_start: [
        {
          required: true,
          message: "Выберите дату и время",
          trigger: "blur",
        }
      ]
    }
  }),
  async mounted() {
    this.metatheme_inclusions = await this.$store.dispatch('fetchMetathemeInclusions')
    this.metatheme_aether_plans = await this.$store.dispatch('fetchMetathemeAetherPlans')
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.loading = false
  },
  watch: {
    theme: {
      immediate: true,
      handler: function () {
        if (!this.theme) {
          return
        }
        let metatheme_inclusions = []
        let metatheme_aether_plans = []
        let metatheme_hardwares = []
        for(let i = 0; i < this.theme.metatheme_inclusions.length; i++) {
          metatheme_inclusions.push(this.theme.metatheme_inclusions[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_aether_plans.length; i++) {
          metatheme_aether_plans.push(this.theme.metatheme_aether_plans[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.theme.metatheme_hardwares[i].id)
        }
        if (this.$route.query.date) {
          let date = this.$route.query.date[6] +
                      this.$route.query.date[7] +
                      this.$route.query.date[8] +
                      this.$route.query.date[9] +
                      this.$route.query.date[2] +
                      this.$route.query.date[3] +
                      this.$route.query.date[4] +
                      this.$route.query.date[5] +
                      this.$route.query.date[0] +
                      this.$route.query.date[1]
          this.form.date_start = this.moment(date).set({hour:9,minute:0,second:0,millisecond:0}).format()
        } else {
          this.form.date_start = this.moment(new Date()).set({hour:9,minute:0,second:0,millisecond:0}).format()
        }
        this.form.metatheme_inclusions = metatheme_inclusions
        this.form.comment_aether_plans = this.theme.comment_aether_plans
        this.form.metatheme_aether_plans = metatheme_aether_plans
        this.form.comment_inclusions = this.theme.comment_inclusions
        this.form.metatheme_hardwares = metatheme_hardwares
      }
    }
  },
  methods: {
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let formData = {
              name: this.form.name,
              metatheme: this.theme.id,
              date_start: this.moment(this.form.date_start).format(),
              date_end: this.moment(this.form.date_start).add(4, 'hours').format(),
              address: this.form.address,
              metatheme_aether_plans: this.form.metatheme_aether_plans,
              comment_aether_plans: this.form.comment_aether_plans,
              metatheme_inclusions: this.form.metatheme_inclusions,
              comment_inclusions: this.form.comment_inclusions,
              metatheme_hardwares: this.form.metatheme_hardwares,
              comment: this.form.comment,
              author: `${JSON.parse(localStorage.getItem('user')).surname} ${JSON.parse(localStorage.getItem('user')).name}`
            }
            await this.$store.dispatch('createShooting', formData)
            .then(async (res) => {
              await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, status_coord: 'coord'})
              if (this.theme.date_start && formData.date_start && this.moment(this.theme.date_start).format() > this.moment(formData.date_start).format()) {
                await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, date_start: formData.date_start})
              }
              if (this.theme.date_end && formData.date_end && this.moment(this.theme.date_end).format() < this.moment(formData.date_end).format()) {
                await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, date_end: formData.date_end})
              }
              this.$emit('created', res.data.metatheme.id)
              this.loading = false
              this.$message.success('Съемка добавлена')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.planning-shooting-create {
  & .el-form-item::before,
  & .el-form-item::after {
    display: none;
  }
  & .el-form-item__content::before,
  & .el-form-item__content::after {
    display: none;
  }
  & .form-row {
    display: flex;
    & .name, & .address {
      flex: 1;
    }
    &:nth-child(3) {
      & .el-form-item {
        width: 25%;
      }
      & .el-select {
        width: 100%;
      }
    }
  }
  & textarea {
    resize: none;
  }
  & .comment textarea {
    height: 125px;
    padding-top: 10px;
  }
  & .comment-aethers.el-textarea .el-textarea__inner {
    padding: 10px 15px;
    height: 100px !important;
    resize: none;
    margin-top: 10px;
  }
}
</style>