<template>
  <div class="planning-shooting-create-coord" v-loading="loading">
    <el-form
      :model="form"
      :rules="rules"
      ref="CreateShootingForm"
      :inline="true"
      label-position="top"
      @validate="validateDates"
    >
      <div class="form-row">
        <el-form-item
          class="name"
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Название выезда"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Формат привязки"
          prop="reserved"
        >
          <el-select v-model="form.reserved" placeholder="">
            <el-option label="Обычный" value="ordinary"></el-option>
            <el-option label="Резерв" value="reserve"></el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Отъезд"
          prop="date_departure"
        >
          <el-date-picker
            v-model="form.date_departure"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Прибытие"
          prop="date_arrival"
        >
          <el-date-picker
            v-model="form.date_arrival"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Возвращение"
          prop="date_return"
        >
          <el-date-picker
            v-model="form.date_return"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          class="address"
          label="Адрес"
          prop="address"
        >
          <el-input
            v-model="form.address"
            placeholder="Введите адрес"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Комментарий"
          prop="comment"
        >
          <el-input
            class="comment"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Формат"
          prop="comment_format"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_format"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Комплектовка"
          prop="comment_tech"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_tech"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Транспорт"
          prop="comment_car"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_car"
          >
          </el-input>
        </el-form-item>
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="handleSubmit('CreateShootingForm')"
      >
        Добавить
      </el-button>
      <el-button
        @click="$emit('hideCreateShootingForm')"
      >
        Отменить
      </el-button>
    </span>
  </div>
</template>

<script>
export default {
  name: 'createshootingcoordination',
  props: {
    theme: {
      type: Object,
      required: false
    }
  },
  data() {
    const validateDateDeparture = (rule, value, callback) => {
      if (
        (this.form.date_departure && this.form.date_arrival && this.moment(this.form.date_departure).format() > this.moment(this.form.date_arrival).format()) ||
        (this.form.date_departure && this.form.date_start && this.moment(this.form.date_departure).format() > this.moment(this.form.date_start).format()) ||
        (this.form.date_departure && this.form.date_end && this.moment(this.form.date_departure).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_departure && this.form.date_return && this.moment(this.form.date_departure).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateArrival = (rule, value, callback) => {
      if (
        (this.form.date_arrival && this.form.date_departure && this.moment(this.form.date_arrival).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_arrival && this.form.date_start && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_start).format()) ||
        (this.form.date_arrival && this.form.date_end && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_arrival && this.form.date_return && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateStart = (rule, value, callback) => {
      if (!this.form.date_start) {
        callback(new Error('Выберите дату и время'))
      } else if (
        (this.form.date_start && this.form.date_departure && this.moment(this.form.date_start).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_start && this.form.date_arrival && this.moment(this.form.date_start).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_start && this.form.date_end && this.moment(this.form.date_start).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_start && this.form.date_return && this.moment(this.form.date_start).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateEnd = (rule, value, callback) => {
      if (
        (this.form.date_end && this.form.date_departure && this.moment(this.form.date_end).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_end && this.form.date_arrival && this.moment(this.form.date_end).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_end && this.form.date_start && this.moment(this.form.date_end).format() < this.moment(this.form.date_start).format()) ||
        (this.form.date_end && this.form.date_return && this.moment(this.form.date_end).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateReturn = (rule, value, callback) => {
      if (
        (this.form.date_return && this.form.date_departure && this.moment(this.form.date_return).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_return && this.form.date_arrival && this.moment(this.form.date_return).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_return && this.form.date_start && this.moment(this.form.date_return).format() < this.moment(this.form.date_start).format()) ||
        (this.form.date_return && this.form.date_end && this.moment(this.form.date_return).format() < this.moment(this.form.date_end).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    return {
      loading: true,
      metatheme_inclusions: [],
      metatheme_hardwares: [],
      metatheme_aether_plans: [],
      pickerOptions: {
        firstDayOfWeek: 1
      },
      form: {
        name: null,
        reserved: 'ordinary',
        date_departure: null,
        date_arrival: null,
        date_start: new Date(),
        date_end: null,
        date_return: null,
        address: null,
        metatheme_aether_plans: null,
        comment_aether_plans: null,
        metatheme_inclusions: null,
        comment_inclusions: null,
        metatheme_hardwares: null,
        comment: null,
        comment_format: null,
        comment_tech: null,
        comment_car: null
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите название выезда",
            trigger: "blur",
          }
        ],
        date_departure: [
          {
            validator: validateDateDeparture,
            trigger: 'change'
          }
        ],
        date_arrival: [
          {
            validator: validateDateArrival,
            trigger: 'change'
          }
        ],
        date_start: [
          {
            required: true,
            validator: validateDateStart,
            trigger: 'change'
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ],
        date_return: [
          {
            validator: validateDateReturn,
            trigger: 'change'
          }
        ]
      }
    }
  },
  async mounted() {
    this.metatheme_inclusions = await this.$store.dispatch('fetchMetathemeInclusions')
    this.metatheme_aether_plans = await this.$store.dispatch('fetchMetathemeAetherPlans')
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.loading = false
  },
  watch: {
    theme: {
      immediate: true,
      handler: function () {
        if (!this.theme) {
          return
        }
        let metatheme_inclusions = []
        let metatheme_aether_plans = []
        let metatheme_hardwares = []
        for(let i = 0; i < this.theme.metatheme_inclusions.length; i++) {
          metatheme_inclusions.push(this.theme.metatheme_inclusions[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_aether_plans.length; i++) {
          metatheme_aether_plans.push(this.theme.metatheme_aether_plans[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.theme.metatheme_hardwares[i].id)
        }
        if (this.$route.query.date) {
          let date = this.$route.query.date[6] +
                      this.$route.query.date[7] +
                      this.$route.query.date[8] +
                      this.$route.query.date[9] +
                      this.$route.query.date[2] +
                      this.$route.query.date[3] +
                      this.$route.query.date[4] +
                      this.$route.query.date[5] +
                      this.$route.query.date[0] +
                      this.$route.query.date[1]
          this.form.date_start = this.moment(date).set({hour:9,minute:0,second:0,millisecond:0}).format()
        } else {
          this.form.date_start = this.moment(new Date()).set({hour:9,minute:0,second:0,millisecond:0}).format()
        }
        this.form.metatheme_inclusions = metatheme_inclusions
        this.form.comment_aether_plans = this.theme.comment_aether_plans
        this.form.metatheme_aether_plans = metatheme_aether_plans
        this.form.metatheme_hardwares = metatheme_hardwares
        this.form.comment_inclusions = this.theme.comment_inclusions
      }
    }
  },
  methods: {
    validateDates(value) {
      if (value.includes('date')) {
        setTimeout(() => {
          if (this.$refs['CreateShootingForm']) {
            if (this.form.date_departure) {
              this.$refs['CreateShootingForm'].validateField('date_departure')
            }
            if (this.form.date_arrival) {
              this.$refs['CreateShootingForm'].validateField('date_arrival')
            }
            if (this.form.date_start) {
              this.$refs['CreateShootingForm'].validateField('date_start')
            }
            if (this.form.date_end) {
              this.$refs['CreateShootingForm'].validateField('date_end')
            }
            if (this.form.date_return) {
              this.$refs['CreateShootingForm'].validateField('date_return')
            }
          }
        }, 1000)
      }
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let date_departure = this.form.date_departure ? this.moment(this.form.date_departure).format() : null
            let date_arrival = this.form.date_arrival ? this.moment(this.form.date_arrival).format() : null
            let date_end = this.form.date_end ? this.moment(this.form.date_end).format() : null
            let date_return = this.form.date_return ? this.moment(this.form.date_return).format() : null
            let formData = {
              name: this.form.name,
              metatheme: this.theme.id,
              reserved: this.form.reserved,
              date_departure: date_departure,
              date_arrival: date_arrival,
              date_start: this.moment(this.form.date_start).format(),
              date_end: date_end,
              date_return: date_return,
              address: this.form.address,
              metatheme_aether_plans: this.form.metatheme_aether_plans,
              comment_aether_plans: this.form.comment_aether_plans,
              metatheme_inclusions: this.form.metatheme_inclusions,
              comment_inclusions: this.form.comment_inclusions,
              metatheme_hardwares: this.form.metatheme_hardwares,
              comment: this.form.comment,
              comment_format: this.form.comment_format,
              comment_tech: this.form.comment_tech,
              comment_car: this.form.comment_car,
              author: `${JSON.parse(localStorage.getItem('user')).surname} ${JSON.parse(localStorage.getItem('user')).name}`
            }
            await this.$store.dispatch('createShooting', formData)
            .then(async (res) => {
              await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, status_coord: 'coord'})
              if (this.theme.date_start && formData.date_start && this.moment(this.theme.date_start).format() > this.moment(formData.date_start).format()) {
                await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, date_start: formData.date_start})
              }
              if (this.theme.date_end && formData.date_end && this.moment(this.theme.date_end).format() < this.moment(formData.date_end).format()) {
                await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, date_end: formData.date_end})
              }
              this.$emit('created', res.data.metatheme.id)
              this.loading = false
              this.$message.success('Съемка добавлена')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.planning-shooting-create-coord {
  & .el-form-item::before,
  & .el-form-item::after {
    display: none;
  }
  & .el-form-item__content::before,
  & .el-form-item__content::after {
    display: none;
  }
  & .form-row {
    display: flex;
    & .name, & .address {
      flex: 1;
    }
    &:nth-child(2) {
      & .el-form-item {
        width: 20%;
      }
      & .el-date-editor.el-input {
        width: 100%;
      }
    }
    &:nth-child(4) {
      & .el-form-item {
        width: 50%;
        & .el-select.select-tags {
          width: 100%;
        }
      }
    }
    &:nth-child(5) {
      & .el-form-item {
        width: 33%;
      }
    }
  }
  & textarea {
    resize: none;
  }
  & .comment textarea {
    height: 125px;
    padding-top: 10px;
  }
  & .comment-aethers.el-textarea .el-textarea__inner {
    padding: 10px 15px;
    height: 100px !important;
    resize: none;
    margin-top: 10px;
  }
}
</style>