<template>
  <div class="coord-edit-duty-group" v-loading="loading">
    <el-form
      :model="form"
      :rules="rules"
      ref="EditDutyGroupForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          class="name"
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Название выезда"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions"
            @blur="checkDateStart()">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Съемочная группа"
        >
          <div
            v-for="employee in formShootingGroup()"
            :key="employee.id"
            class="employee"
          >
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(employee, 'employee')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link class="add-link" type="primary" @click="showAddShootingGroup">+ Добавить</el-link>
        </el-form-item>
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Комментарий"
          prop="comment"
        >
          <el-input
            class="comment"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Машины, водители"
        >
          <div v-for="car in formCars()" :key="'car'+car.id" class="employee">
            {{ car.name }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(car, 'tech_resource')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <div
            v-for="employee in formDrivers()"
            :key="employee.id"
            class="employee"
          >
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteResource(employee, 'employee')"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link class="add-link" type="primary" @click="showAddCarsDrivers">+ Добавить</el-link>
        </el-form-item>
      </div>
      <div v-if="form.author" class="author">
        Заказ: {{ form.author }}
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-popconfirm
        title="Вы уверены?"
        @confirm="handleSubmit('EditDutyGroupForm')"
      >
        <el-button
          class="edit-btn"
          slot="reference"
          type="primary"
        >
          Изменить
        </el-button>
      </el-popconfirm>
      <el-popconfirm
        title="Вы уверены?"
        @confirm="deleteDutyGroup"
      >
        <el-button
          v-if="$route.name === 'coordination' || $route.name === 'planning' || $route.name === 'urgentdepartures'"
          class="delete-btn"
          slot="reference"
          type="danger"
        >
          Удалить
        </el-button>
      </el-popconfirm>
      <el-button
        @click="$emit('hideEditDutyGroup')"
      >
        Отменить
      </el-button>
    </span>

    <el-dialog
      class="coord-edit-duty-group-add-shooting-group"
      title="Добавление съемочной группы в дежурную группу"
      :visible.sync="addShootingGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddShootingGroup
        :shootingFromParent="shootingFromParent"
        @hideAddEmployees="hideAddEmployees"
      />
    </el-dialog>

    <el-dialog
      class="coord-edit-duty-group-add-cars-drivers"
      title="Добавление машин, водителей в дежурную группу"
      :visible.sync="addCarsDriversVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCarsDrivers
        :shootingFromParent="shootingFromParent"
        @hideAddEmployees="hideAddEmployees"
      />
    </el-dialog>
  </div>
</template>

<script>
import AddShootingGroup from '@/components/shootings/AddShootingGroup'
import AddCarsDrivers from '@/components/shootings/AddCarsDrivers'

export default {
  name: 'editdutygroup',
  components: {
    AddShootingGroup,
    AddCarsDrivers
  },
  props: {
    curDutyGroup: {
      type: Object,
      required: false
    }
  },
  data() {
    const validateDateEnd = (rule, value, callback) => {
      if (this.form.date_start && this.form.date_end && this.moment(this.form.date_start).format() > this.moment(this.form.date_end).format()
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    return {
      loading: true,
      metatheme_hardwares: [],
      shootingFromParent: null,
      addShootingGroupVisible: false,
      addCarsDriversVisible: false,
      pickerOptions: {
        firstDayOfWeek: 1
      },
      form: {
        name: null,
        date_start: null,
        date_end: null,
        employees: [],
        tech_resources: [],
        metatheme_hardwares: null,
        comment: null,
        author: null
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите название дежурной группы",
            trigger: "blur",
          }
        ],
        date_start: [
          {
            required: true,
            message: "Выберите дату и время",
            trigger: "blur",
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ]
      }
    }
  },
  async mounted() {
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.loading = false
  },
  watch: {
    curDutyGroup: {
      immediate: true,
      handler: function () {
        if (!this.curDutyGroup) {
          return
        }
        let metatheme_hardwares = []
        for(let i = 0; i < this.curDutyGroup.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.curDutyGroup.metatheme_hardwares[i].id)
        }
        this.form.name = this.curDutyGroup.name
        this.form.date_start = this.curDutyGroup.date_start
        this.form.date_end = this.curDutyGroup.date_end
        this.form.metatheme_hardwares = metatheme_hardwares
        this.form.employees = this.curDutyGroup.employees
        this.form.tech_resources = this.curDutyGroup.tech_resources
        this.form.comment = this.curDutyGroup.comment
        this.form.author = this.curDutyGroup.author
      }
    }
  },
  methods: {
    checkDateStart() {
      if (this.form.date_end) {
        this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format()
      }
    },
    formShootingGroup() {
      return this.form.employees.filter(e =>
        e.employee_role === 1 ||
        e.employee_role.id === 1 ||
        e.employee_role === 5 ||
        e.employee_role.id === 5 ||
        e.employee_role === 12 ||
        e.employee_role.id === 12
      )
    },
    formDrivers() {
      return this.form.employees.filter(e => e.employee_role === 2 || e.employee_role.id === 2 || e.employee_role === 20 || e.employee_role.id === 20)
    },
    formCars() {
      return this.form.tech_resources.filter(t => t.type === 'Машина')
    },
    async deleteResource(resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        this.form.tech_resources.splice(this.form.tech_resources.findIndex(el => el.id === resource.id), 1)
      } else if (type === 'employee') {
        this.form.employees.splice(this.form.employees.findIndex(el => el.id === resource.id), 1)
      }
      this.loading = false
    },
    showAddShootingGroup() {
      this.shootingFromParent = this.form
      this.addShootingGroupVisible = true
    },
    showAddCarsDrivers() {
      this.shootingFromParent = this.form
      this.addCarsDriversVisible = true
    },
    hideAddEmployees() {
      this.addShootingGroupVisible = false
      this.addCarsDriversVisible = false
      this.shootingFromParent = null
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let date_end = this.form.date_end ? this.moment(this.form.date_end).format() : null
            let formData = {
              id: this.curDutyGroup.id,
              name: this.form.name,
              date_start: this.moment(this.form.date_start).format(),
              date_end: date_end,
              employees: this.form.employees,
              tech_resources: this.form.tech_resources,
              metatheme_hardwares: this.form.metatheme_hardwares,
              comment: this.form.comment
            }
            await this.$store.dispatch('editShooting', formData)
            .then(() => {
              this.$emit('edited')
              this.loading = false
              this.$message.success('Дежурная группа обновлена')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    },
    async deleteDutyGroup() {
      try {
        this.loading = true
        await this.$store.dispatch('deleteShooting', this.curDutyGroup.id)
        .then(() => {
          this.$emit('edited')
          this.loading = false
          this.$message.success('Дежурная группа удалена')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.coord-edit-duty-group {
  & .el-form {
    position: relative;
  }
  & .el-form-item::before,
  & .el-form-item::after {
    display: none;
  }
  & .el-form-item__content::before,
  & .el-form-item__content::after {
    display: none;
  }
  & .form-row {
    display: flex;
    & .name {
      flex: 1;
    }
    &:nth-child(2) {
      & .el-form-item {
        width: 25%;
      }
    }
    &:nth-child(3), &:nth-child(4) {
      & .el-form-item {
        width: 33%;
        & .el-select.select-tags {
          width: 100%;
        }
      }
    }
    & .employee {
      line-height: 20px;
    }
    & .add-link {
      line-height: 20px;
    }
  }
  & textarea {
    resize: none;
  }
  & .comment textarea {
    height: 125px;
    padding-top: 10px;
  }
  & .edit-btn, & .delete-btn {
    margin-right: 10px;
  }
  & .author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
  }
}
</style>