<template>
  <div class="planning-shooting-edit" v-loading="loading">
    <el-form
      :model="form"
      :rules="rules"
      ref="EditShootingForm"
      :inline="true"
      label-position="top"
      @validate="validateDates"
    >
      <div class="form-row">
        <el-form-item
          class="name"
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Название выезда"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Формат привязки"
          prop="reserved"
        >
          <el-select v-model="form.reserved" placeholder="">
            <el-option label="Обычный" value="ordinary"></el-option>
            <el-option label="Резерв" value="reserve"></el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Отъезд"
          prop="date_departure"
        >
          <el-date-picker
            v-model="form.date_departure"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Прибытие"
          prop="date_arrival"
        >
          <el-date-picker
            v-model="form.date_arrival"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Возвращение"
          prop="date_return"
        >
          <el-date-picker
            v-model="form.date_return"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          class="address"
          label="Адрес"
          prop="address"
        >
          <el-input
            v-model="form.address"
            placeholder="Введите адрес"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Эфирный план"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_aether_plans" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aether_plans"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment-aethers"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Перегоны, включения"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_inclusions" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_inclusions"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment-aethers"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_inclusions"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Комментарий"
          prop="comment"
        >
          <el-input
            class="comment"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Формат"
          prop="comment_format"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_format"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Комплектовка"
          prop="comment_tech"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_tech"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Транспорт"
          prop="comment_car"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_car"
          >
          </el-input>
        </el-form-item>
      </div>
      <!-- <div class="form-row">
        <el-form-item
          label="Сотрудники"
          prop="employees"
        >
        </el-form-item>
      </div> -->
      <div v-if="form.author" class="author">
        Заказ: {{ form.author }}
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-popconfirm
        title="Вы уверены?"
        @confirm="handleSubmit('EditShootingForm')"
      >
        <el-button
          slot="reference"
          type="primary"
          class="edit-btn"
        >
          Изменить
        </el-button>
      </el-popconfirm>
      <el-popconfirm
        title="Вы уверены?"
        @confirm="deleteShooting"
      >
        <el-button
          v-if="$route.name === 'coordination' || $route.name === 'planning' || $route.name === 'urgentdepartures'"
          class="delete-btn"
          slot="reference"
          type="danger"
        >
          Удалить
        </el-button>
      </el-popconfirm>
      <!-- <el-button
        type="primary"
      >
        Сотрудники
      </el-button> -->
      <el-button
        @click="$emit('hideEditShootingForm')"
      >
        Отменить
      </el-button>
    </span>
  </div>
</template>

<script>
export default {
  name: 'editshooting',
  props: {
    curShooting: {
      type: Object,
      required: false
    }
  },
  data() {
    const validateDateDeparture = (rule, value, callback) => {
      if (
        (this.form.date_departure && this.form.date_arrival && this.moment(this.form.date_departure).format() > this.moment(this.form.date_arrival).format()) ||
        (this.form.date_departure && this.form.date_start && this.moment(this.form.date_departure).format() > this.moment(this.form.date_start).format()) ||
        (this.form.date_departure && this.form.date_end && this.moment(this.form.date_departure).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_departure && this.form.date_return && this.moment(this.form.date_departure).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateArrival = (rule, value, callback) => {
      if (
        (this.form.date_arrival && this.form.date_departure && this.moment(this.form.date_arrival).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_arrival && this.form.date_start && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_start).format()) ||
        (this.form.date_arrival && this.form.date_end && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_arrival && this.form.date_return && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateStart = (rule, value, callback) => {
      if (!this.form.date_start) {
        callback(new Error('Выберите дату и время'))
      } else if (
        (this.form.date_start && this.form.date_departure && this.moment(this.form.date_start).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_start && this.form.date_arrival && this.moment(this.form.date_start).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_start && this.form.date_end && this.moment(this.form.date_start).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_start && this.form.date_return && this.moment(this.form.date_start).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateEnd = (rule, value, callback) => {
      if (
        (this.form.date_end && this.form.date_departure && this.moment(this.form.date_end).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_end && this.form.date_arrival && this.moment(this.form.date_end).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_end && this.form.date_start && this.moment(this.form.date_end).format() < this.moment(this.form.date_start).format()) ||
        (this.form.date_end && this.form.date_return && this.moment(this.form.date_end).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateReturn = (rule, value, callback) => {
      if (
        (this.form.date_return && this.form.date_departure && this.moment(this.form.date_return).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_return && this.form.date_arrival && this.moment(this.form.date_return).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_return && this.form.date_start && this.moment(this.form.date_return).format() < this.moment(this.form.date_start).format()) ||
        (this.form.date_return && this.form.date_end && this.moment(this.form.date_return).format() < this.moment(this.form.date_end).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    return {
      loading: true,
      metatheme_inclusions: [],
      metatheme_aether_plans: [],
      metatheme_hardwares: [],
      pickerOptions: {
        firstDayOfWeek: 1,
        // disabledDate(time) {
        //   return time.getTime() < Date.now() - 8.64e7
        // }
      },
      form: {
        name: null,
        reserved: null,
        date_departure: null,
        date_arrival: null,
        date_start: null,
        date_end: null,
        date_return: null,
        address: null,
        metatheme_aether_plans: null,
        comment_aether_plans: null,
        metatheme_inclusions: null,
        comment_inclusions: null,
        metatheme_hardwares: null,
        comment: null,
        comment_format: null,
        comment_tech: null,
        comment_car: null,
        author: null
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите название выезда",
            trigger: "blur",
          }
        ],
        date_departure: [
          {
            validator: validateDateDeparture,
            trigger: 'change'
          }
        ],
        date_arrival: [
          {
            validator: validateDateArrival,
            trigger: 'change'
          }
        ],
        date_start: [
          {
            required: true,
            validator: validateDateStart,
            trigger: 'change'
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ],
        date_return: [
          {
            validator: validateDateReturn,
            trigger: 'change'
          }
        ]
      }
    }
  },
  async mounted() {
    this.metatheme_aether_plans = await this.$store.dispatch('fetchMetathemeAetherPlans')
    this.metatheme_inclusions = await this.$store.dispatch('fetchMetathemeInclusions')
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.loading = false
  },
  watch: {
    curShooting: {
      immediate: true,
      handler: function () {
        if (!this.curShooting) {
          return
        }
        let metatheme_aether_plans = []
        let metatheme_inclusions = []
        let metatheme_hardwares = []
        for(let i = 0; i < this.curShooting.metatheme_aether_plans.length; i++) {
          metatheme_aether_plans.push(this.curShooting.metatheme_aether_plans[i].id)
        }
        for(let i = 0; i < this.curShooting.metatheme_inclusions.length; i++) {
          metatheme_inclusions.push(this.curShooting.metatheme_inclusions[i].id)
        }
        for(let i = 0; i < this.curShooting.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.curShooting.metatheme_hardwares[i].id)
        }
        this.form.name = this.curShooting.name
        this.form.reserved = this.curShooting.reserved
        this.form.date_departure = this.curShooting.date_departure
        this.form.date_arrival = this.curShooting.date_arrival
        this.form.date_start = this.curShooting.date_start
        this.form.date_end = this.curShooting.date_end
        this.form.date_return = this.curShooting.date_return
        this.form.address = this.curShooting.address
        this.form.metatheme_aether_plans = metatheme_aether_plans
        this.form.comment_aether_plans = this.curShooting.comment_aether_plans
        this.form.metatheme_inclusions = metatheme_inclusions
        this.form.comment_inclusions = this.curShooting.comment_inclusions
        this.form.metatheme_hardwares = metatheme_hardwares
        this.form.comment = this.curShooting.comment
        this.form.comment_format = this.curShooting.comment_format
        this.form.comment_tech = this.curShooting.comment_tech
        this.form.comment_car = this.curShooting.comment_car
        this.form.author = this.curShooting.author
      }
    }
  },
  methods: {
    validateDates(value) {
      if (value.includes('date')) {
        setTimeout(() => {
          if (this.$refs['EditShootingForm']) {
            if (this.form.date_departure) {
              this.$refs['EditShootingForm'].validateField('date_departure')
            }
            if (this.form.date_arrival) {
              this.$refs['EditShootingForm'].validateField('date_arrival')
            }
            if (this.form.date_start) {
              this.$refs['EditShootingForm'].validateField('date_start')
            }
            if (this.form.date_end) {
              this.$refs['EditShootingForm'].validateField('date_end')
            }
            if (this.form.date_return) {
              this.$refs['EditShootingForm'].validateField('date_return')
            }
          }
        }, 1000)
      }
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let formData = {
              id: this.curShooting.id,
              name: this.form.name,
              metatheme: this.curShooting.metatheme.id,
              reserved: this.form.reserved,
              date_departure: this.form.date_departure,
              date_arrival: this.form.date_arrival,
              date_start: this.form.date_start,
              date_end: this.form.date_end,
              date_return: this.form.date_return,
              address: this.form.address,
              metatheme_aether_plans: this.form.metatheme_aether_plans,
              comment_aether_plans: this.form.comment_aether_plans,
              metatheme_inclusions: this.form.metatheme_inclusions,
              comment_inclusions: this.form.comment_inclusions,
              metatheme_hardwares: this.form.metatheme_hardwares,
              comment: this.form.comment,
              comment_format: this.form.comment_format,
              comment_tech: this.form.comment_tech,
              comment_car: this.form.comment_car
            }
            await this.$store.dispatch('editShooting', formData)
            .then(async (res) => {
              if (res.data.metatheme.date_start && formData.date_start && this.moment(res.data.metatheme.date_start).format() > this.moment(formData.date_start).format()) {
                await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, date_start: formData.date_start})
              }
              if (res.data.metatheme.date_end && formData.date_end && this.moment(res.data.metatheme.date_end).format() < this.moment(formData.date_end).format()) {
                await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, date_end: formData.date_end})
              }
              const s = await this.$store.dispatch('fetchShootingById', res.data.id)
              if (s.auto_create) {
                let address
                let country
                if (res.data.metatheme.metatheme_section === 6 || res.data.metatheme.metatheme_section === 7 || res.data.metatheme.metatheme_section === 8 ||
                  res.data.metatheme.metatheme_section === 9 || res.data.metatheme.metatheme_section === 10 || res.data.metatheme.metatheme_section === 11 ||
                  res.data.metatheme.metatheme_section === 12 || res.data.metatheme.metatheme_section === 28 || res.data.metatheme.metatheme_section === 29 ||
                  res.data.metatheme.metatheme_section === 30 || res.data.metatheme.metatheme_section === 31 || res.data.metatheme.metatheme_section === 32 ||
                  res.data.metatheme.metatheme_section === 33) {
                    address = null
                    country = this.form.address
                } else {
                    address = this.form.address
                    country = null
                }
                let data = {
                  id: res.data.metatheme.id,
                  address: address,
                  country: country,
                  metatheme_aether_plans: this.form.metatheme_aether_plans,
                  comment_aether_plans: this.form.comment_aether_plans,
                  metatheme_inclusions: this.form.metatheme_inclusions,
                  comment_inclusions: this.form.comment_inclusions,
                  metatheme_hardwares: this.form.metatheme_hardwares,
                  comment_coord: this.form.comment
                }
                await this.$store.dispatch('editMetatheme', data)
              }
              // если добавили тег "Командировка"
              if (this.curShooting.metatheme_aether_plans.every(ap => ap.name !== 'Командировка') && this.form.metatheme_aether_plans.some(ap => ap === 1)) {
                for (let i = 0; i < this.curShooting.employees.length; i++) {
                  if (this.curShooting.employees[i].employee_role === 4) {
                    let businessTripData = {
                      name: `Командировка - ${formData.name}`,
                      date_start: this.moment(formData.date_start).format(),
                      date_end: this.moment(formData.date_end).format(),
                      employees: [this.curShooting.employees[i]],
                      personal: true,
                      personalType: 'Командировка',
                      status_coord: 'new',
                      author: this.curShooting.author,
                      shootings_parent: [this.curShooting]
                    }
                    await this.$store.dispatch('createShooting', businessTripData)
                    .then(async res => {
                      this.curShooting.shootings_child.push(res.data)
                    })
                    .then(async () => {
                      await this.$store.dispatch('editShooting', {
                        id: this.curShooting.id,
                        shootings_child: this.curShooting.shootings_child
                      })
                    })
                  }
                }
              }
              // если удалили тег "Командировка"
              if (this.curShooting.metatheme_aether_plans.some(ap => ap.name === 'Командировка') && this.form.metatheme_aether_plans.every(ap => ap !== 1)) {
                for(let i = 0; i < this.curShooting.shootings_child.length; i++) {
                  if (this.curShooting.shootings_child[i].personalType === 'Командировка') {
                    await this.$store.dispatch('deleteShooting', this.curShooting.shootings_child[i].id)
                  }
                }
              }
              // если тег "Командировка" был и его не удалили, обновляем даты командировок
              if (this.curShooting.metatheme_aether_plans.some(ap => ap.name === 'Командировка') && this.form.metatheme_aether_plans.some(ap => ap === 1)) {
                for(let i = 0; i < this.curShooting.shootings_child.length; i++) {
                  if (this.curShooting.shootings_child[i].personalType === 'Командировка') {
                    await this.$store.dispatch('editShooting', {
                      id: this.curShooting.shootings_child[i].id,
                      date_start: formData.date_start,
                      date_end: formData.date_end
                    })
                  }
                }
              }
              this.$emit('edited', res.data.metatheme.id)
              this.loading = false
              this.$message.success('Съемка обновлена')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    },
    async deleteShooting() {
      try {
        this.loading = true
        for(let i = 0; i < this.curShooting.shootings_child.length; i++) {
          await this.$store.dispatch('deleteShooting', this.curShooting.shootings_child[i].id)
        }
        await this.$store.dispatch('deleteShooting', this.curShooting.id)
        .then(async (res) => {
          this.$emit('edited', res.data.metatheme.id)
          if (this.curShooting.metatheme) {
            const curTheme = await this.$store.dispatch('fetchMetathemeById', this.curShooting.metatheme.id)
            if (!curTheme.shootings.length && curTheme.status_coord !== 'new') {
              await this.$store.dispatch('editMetatheme', {id: curTheme.id, status_coord: 'new'})
            }
          }
          this.loading = false
          this.$message.success('Съемка удалена')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    }
  }
}
</script>
<style lang="scss">
.planning-shooting-edit {
  & .el-form {
    position: relative;
  }
  & .el-form-item::before,
  & .el-form-item::after {
    display: none;
  }
  & .el-form-item__content::before,
  & .el-form-item__content::after {
    display: none;
  }
  & .form-row {
    display: flex;
    & .name, & .address {
      flex: 1;
    }
    &:nth-child(2) {
      & .el-form-item {
        width: 20%;
        & .el-date-editor.el-input, & .el-date-editor.el-input__inner {
          width: auto;
        }
      }
    }
    &:nth-child(4) {
      & .el-form-item {
        width: 25%;
      }
      & .el-select {
        width: 100%;
      }
    }
    &:nth-child(5) {
      & .el-form-item {
        width: 50%;
      }
    }
  }
  & textarea {
    resize: none;
  }
  & .comment textarea {
    height: 125px;
    padding-top: 10px;
  }
  & .comment-aethers.el-textarea .el-textarea__inner {
    padding: 10px 15px;
    height: 100px !important;
    resize: none;
    margin-top: 10px;
  }
  & .edit-btn, & .delete-btn {
    margin-right: 10px;
  }
  & .author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
  }
}
</style>