<template>
  <div v-loading="loading">
    <div class="employee-info-item" v-for="item in shootings" :key="item.id">
      <div v-if="item.personal"><span v-if="item.personalType !== item.name">{{ item.personalType }}: </span>{{ item.name }}</div>
      <div v-else>{{ item.name }}</div>
    </div>
    <span
      slot="footer"
      class="employee-info-footer"
    >
      <el-button
        @click="$emit('hideEmployeeInfo')"
      >
        Закрыть
      </el-button>
    </span>
  </div>
</template>

<script>
export default {
  name: 'showemployeeinfo',
  props: {
    curEmployee: {
      type: Object,
      required: false
    },
    curShooting: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: false,
    shootings: []
  }),
  watch: {
    curEmployee: {
      immediate: true,
      handler() {
        this.loading = true
        if (this.curEmployee) {
          for (let i = 0; i < this.curEmployee.shootings.length; i++) {
            if ((this.moment(this.curEmployee.shootings[i].date_start).isBetween(this.curShooting.date_start, this.curShooting.date_end)) ||
              (this.moment(this.curEmployee.shootings[i].date_end).isBetween(this.curShooting.date_start, this.curShooting.date_end)) ||
              (this.moment(this.curShooting.date_start).isBetween(this.curEmployee.shootings[i].date_start, this.curEmployee.shootings[i].date_end)) ||
              (this.moment(this.curShooting.date_end).isBetween(this.curEmployee.shootings[i].date_start, this.curEmployee.shootings[i].date_end)) ||
              (this.moment(this.curShooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() === this.moment(this.curEmployee.shootings[i].date_start).set({hour:0,minute:0,second:0,millisecond:0}).format())
            ) {
              this.shootings.push(this.curEmployee.shootings[i])
            }
          }
        }
        this.loading = false
      }
    }
  }
}
</script>
<style lang="scss">
.employee-info-item {
  font-size: 16px;
  margin-bottom: 10px;
}
.employee-info-footer {
  display: block;
  margin-top: 30px;
}
</style>