<template>
  <div class="aetherplan-header">
    <div>
      <h1 class="navbar__title navbar__title--bordered">Эфирный план (TV)</h1>
      <div class="date-picker-wrapper">
        <el-date-picker
          class="aetherplan-header__picker"
          v-model="$store.state.aetherplan.aetherPlanDate"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.aetherplan.aetherPlanDate).locale("ru").format("dddd") }}</div>
      </div>
      <el-button
        class="aetherplan-header__btn-save desktop-only"
        :disabled="($store.state.aetherplan.aetherPlanSearchFiled === null && $store.state.aetherplan.aetherPlanActiveTab === 'rentv') ? false : true"
        type="primary"
        size="medium"
        :loading="loading"
        @click="saveAetherPlan(moment($store.state.aetherplan.aetherPlanDate).format('DD-MM-YYYY'))"
      >
        Сохранить эфир
      </el-button>
      <el-button-group class="aetherplan-header__button-group desktop-only">
        <el-button
          type="primary"
          v-for="(btn, index) in buttonGroup"
          :key="index"
          @click="handleChangeDate(btn.value)"
        >
          {{ btn.text }}
        </el-button>
      </el-button-group>
    </div>

    <div class="search-field-block desktop-only">
      <el-input
        size="medium"
        class="search-field-input"
        :class="{ active: showSearchField }"
        v-model="searchField"
        placeholder="Поиск"
        :clearable="true"
        @clear="clearFilter"
        @keyup.enter.native="filterTable"
      >
      </el-input>
      <el-button
        class="item search-field-btn"
        :class="{ active: showSearchField }"
        icon="el-icon-search"
        @click="filterTable"
      >
      </el-button>
    </div>

    <div class="mobile-only mobile-header">
      <div class="search-field-block">
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
        >
        </el-input>
        <el-button
          class="search-field-btn-clear"
          :class="{ active: showSearchField }"
          slot="append"
          icon="el-icon-circle-close"
          @click="clearFilter"
        >
        </el-button>
      </div>
      <el-button
        class="aetherplan-header__btn-save"
        :disabled="($store.state.aetherplan.aetherPlanSearchFiled === null && $store.state.aetherplan.aetherPlanActiveTab === 'rentv') ? false : true"
        type="primary"
        size="medium"
        :loading="loading"
        @click="saveAetherPlan(moment($store.state.aetherplan.aetherPlanDate).format('DD-MM-YYYY'))"
      >
        Сохранить эфир
      </el-button>
    </div>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'aetherplanheader',
  data() {
    return {
      loading: false,
      showSearchField: false,
      searchField: null,
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  mounted() {
    document.addEventListener('keydown', this.escListener)
  },
  computed: {
    buttonGroup() {
      const buttons = []
      for (let i = 0; i < 8; i++) {
        buttons.push({
          text: this.moment(new Date()).add(i, 'days').format('DD.MM'),
          value: this.moment(new Date()).add(i, 'days').format()
        })
      }
      return buttons
    }
  },
  methods: {
    handleChangeDate(newDate) {
      this.showSearchField = false
      this.searchField = null
      this.$store.commit('setAetherPlanSearchFiled', null)
      this.$store.commit('setAetherPlanDate', newDate)
    },
    async saveAetherPlan(date) {
      try {
        this.loading = true
        const themes = this.$store.state.aetherplan.filteredMetathemesAethers
        for(let i = 0; i < themes.length; i++) {
          let formData = {
            id: themes[i].id,
            sortAetherPlans: i + 1
          }
          await this.$store.dispatch('editMetatheme', formData)
        }

        const query = qs.stringify({ _where: {_or: [[{ 'logDate': date }]]}})
        const response = await this.$store.dispatch('fetchLogs', query)
        if (!response.length) {
          try {
            let data = {
              logDate: date,
              aethers: themes
            }
            await this.$store.dispatch('saveLog', data)
            .then(() => {
              this.loading = false
              this.$message.success('Эфир сохранен')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        } else {
          try {
            let data = {
              id: response[0].id,
              logDate: date,
              aethers: themes
            }
            await this.$store.dispatch('updateLog', data)
            .then(() => {
              this.loading = false
              this.$message.success('Эфир сохранен')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setAetherPlanSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setAetherPlanSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setAetherPlanDate', this.moment(new Date()).format())
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.aetherplan-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__picker.el-date-editor {
    width: 95px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      vertical-align: super;
    }
    & .el-input__prefix {
      display: none;
    }
  }
  &__button-group {
    margin: 0 5px;
    margin-top: -1px;
    & .el-button {
      padding: 9px 5px;
    }
  }
  &__btn-save.is-loading {
    width: 150px;
    & .el-icon-loading {
      position: absolute;
      left: 4px;
    }
    & span {
      margin-left: 0;
    }
  }
}
@media (max-width: 1100px) {
  .aetherplan-header {
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      padding: 10px 5px;
    }
  }
}
</style>