<template>
  <div v-loading.fullscreen.lock="loading">
    <h1 class="coordination-report-title">{{ moment($store.state.coordination.dateCoordination).format('DD-MM-YYYY') }}</h1>
    <div class="coordination-report-heading">
      <el-page-header @back="$router.push('/coordination')">
      </el-page-header>
      <!-- <el-radio-group v-model="preset">
        <el-radio :label="'main'">Отчёт: съёмки и сотрудники</el-radio>
      </el-radio-group> -->
      <el-tooltip
        effect="dark"
        content="Экспорт в PDF"
      >
        <el-button
          class="pdf"
          type="danger"
          icon="el-icon-document"
          size="medium"
          :loading="printLoading"
          @click="exportToPdf"
        >
        </el-button>
      </el-tooltip>
      <el-tooltip
        effect="dark"
        content="Печать"
      >
        <el-button
          v-print="print"
          class="print"
          type="primary"
          icon="el-icon-printer"
          size="medium"
          :loading="printLoading"
        >
        </el-button>
      </el-tooltip>
    </div>
    <div id="coordinationreport" ref="coordinationreport" class="coordination-report-table">

      <ReportMainPreset
        v-if="preset === 'main'"
        :preset="preset"
        @rerender="rerender"
      />

    </div>

  </div>
</template>

<script>
import pdfMixin from '@/mixins/pdf.mixin.js'
import ReportMainPreset from '@/components/coordination/print/ReportMainPreset'

export default {
  name: 'coordinationreport',
  components: {
    ReportMainPreset
  },
  mixins: [pdfMixin],
  data() {
    return {
      loading: false,
      printLoading: true,
      preset: 'main',
      print: {
        id: 'coordinationreport',
        popTitle: ''
      }
    }
  },
  metaInfo() {
    return {
      title: `Отчёт: съёмки и сотрудники`
    }
  },
  watch: { 
    preset: {
      immediate: true,
      handler() {
        this.changeTitle()
      }
    },
    '$store.state.coordination.dateCoordination': {
      immediate: true,
      handler() {
        this.changeTitle()
      }
    }
  },
  methods: {
    rerender(value) {
      value ? this.printLoading = true : this.printLoading = false
    },
    changeTitle() {
      this.print.popTitle = `Координация_съёмки_и_сотрудники_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}`
    },
    async exportToPdf() {
      this.loading = true
      try {
        let title = `Координация_съёмки_и_сотрудники_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}`
        await this.exportToPdfMixin(this.$refs.coordinationreport.innerHTML, title, title, false)
        .then(() => {
          this.loading = false
        })
      } catch (e) {
        console.log(e)
        this.$message.error('Ошибка экспорта')
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.coordination-report-title {
  font-size: 22px;
  margin: 0;
}
.coordination-report-heading {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  & .el-page-header {
    flex: 1;
    align-items: center;
    &__left::after {
      display: none;
    }
  }
  // & .el-radio-group {
  //   flex: 1;
  //   display: flex;
  //   align-items: center;
  // }
}
.coordination-report-table {
  & table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 14px;
    margin-bottom: 30px;
    & th, td {
      border: 1px solid #000;
      padding: 5px;
      &.no-padding {
        padding: 0;
      }
    }
  }
  & .centered {
    text-align: center;
  }
  & .bg {
    background-color: #ddd;
  }
}
</style>