<template>
  <div class="coordination-header">
    <div>
      <h1 class="navbar__title navbar__title--bordered">Координация</h1>
      <div class="date-picker-wrapper date-picker-wrapper--no-margin">
        <el-date-picker
          class="coordination-header__picker"
          v-model="$store.state.coordination.dateCoordination"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.coordination.dateCoordination).locale("ru").format("dddd") }}</div>
      </div>
      <el-dropdown v-if="$route.name === 'coordination'" trigger="click" @command="range" class="coordination-header__dropdown">
        <el-button class="header__dropdown--date" type="primary">
          <i class="el-icon-date"></i>
          <i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="day" :class="{ 'is-disabled': $store.state.coordination.rangeCoordination === 0 }">Сутки</el-dropdown-item>
          <el-dropdown-item command="week" :class="{ 'is-disabled': $store.state.coordination.rangeCoordination === 7 }">Неделя</el-dropdown-item>
          <el-dropdown-item command="month" :class="{ 'is-disabled': $store.state.coordination.rangeCoordination > 7 }">Месяц</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-button-group v-if="$route.name === 'coordination'" class="coordination-header__button-group desktop-only">
        <el-button
          type="primary"
          v-for="(btn, index) in buttonGroup"
          :key="index"
          @click="handleChangeDate(btn.value)"
        >
          {{ btn.text }}
        </el-button>
      </el-button-group>
      <el-button
        v-if="$route.name === 'coordination'"
        class="urgent-departure-btn desktop-only"
        type="danger"
        @click="createUrgentDepartureVisible = true"
      >
        Срочный выезд!
      </el-button>
      <el-button
        v-if="$route.name === 'coordination'"
        class="duty-group-btn desktop-only"
        type="primary"
        @click="createDutyGroupVisible = true"
      >
        Дежурная группа
      </el-button>
      <el-button
        v-if="$route.name === 'coordination'"
        class="coordination-event-btn desktop-only"
        type="primary"
        @click="createCoordinationEventVisible = true"
      >
        Событие
      </el-button>
      <el-button
        v-if="$route.name === 'coordination'"
        class="report-btn desktop-only"
        type="primary"
        @click="$router.push(`/coordination/report`)"
      >
        Отчёт
      </el-button>
    </div>

    <div class="search-field-block desktop-only" v-if="$route.name === 'coordination'">
      <el-input
        size="medium"
        class="search-field-input"
        :class="{ active: showSearchField }"
        v-model="searchField"
        placeholder="Поиск"
        :clearable="true"
        @clear="clearFilter"
        @keyup.enter.native="filterTable"
      >
      </el-input>
      <el-button
        class="item search-field-btn"
        :class="{ active: showSearchField }"
        icon="el-icon-search"
        @click="filterTable"
      >
      </el-button>
    </div>

    <div class="mobile-only mobile-header" v-if="$route.name === 'coordination'">
      <div class="search-field-block">
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
        >
        </el-input>
        <el-button
          class="search-field-btn-clear"
          :class="{ active: showSearchField }"
          slot="append"
          icon="el-icon-circle-close"
          @click="clearFilter"
        >
        </el-button>
      </div>
      <el-button
        type="danger"
        @click="createUrgentDepartureVisible = true"
      >
        Срочный выезд!
      </el-button>
    </div>

    <el-dialog
      class="coordination-header__create-departure"
      title="Добавление срочного выезда"
      :visible.sync="createUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateUrgentDeparture"
    >
      <CreateUrgentDeparture
        @hideCreateUrgentDeparture="hideCreateUrgentDeparture"
        @created="addNewUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="coordination-header__create-duty-group"
      title="Добавление дежурной группы"
      :visible.sync="createDutyGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateDutyGroup"
    >
      <CreateDutyGroup
        @hideCreateDutyGroup="hideCreateDutyGroup"
        @created="addNewDutyGroup"
      />
    </el-dialog>

    <el-dialog
      class="coordination-header__create-coordination-event"
      title="Добавление События"
      :visible.sync="createCoordinationEventVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateCoordinationEvent"
    >
      <CreateCoordinationEvent
        @hideCreateCoordinationEvent="hideCreateCoordinationEvent"
        @created="addNewCoordinationEvent"
      />
    </el-dialog>
  </div>
</template>

<script>
import CreateUrgentDeparture from '@/components/urgentdepartures/CreateUrgentDeparture'
import CreateDutyGroup from '@/components/shootings/CreateDutyGroup'
import CreateCoordinationEvent from '@/components/shootings/CreateCoordinationEvent'

export default {
  name: 'coordinationheader',
  components: {
    CreateUrgentDeparture,
    CreateDutyGroup,
    CreateCoordinationEvent
  },
  data() {
    return {
      createFormVisible: false,
      createUrgentDepartureVisible: false,
      createDutyGroupVisible: false,
      createCoordinationEventVisible: false,
      showSearchField: false,
      searchField: null,
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  async mounted() {
    if (this.$route.query.date && this.$route.query.date_finish) {
      const date = this.moment(this.$route.query.date, "DD-MM-YYYY")
      const date_finish = this.moment(this.$route.query.date_finish, "DD-MM-YYYY")
      const diff = date_finish.diff(date, 'days')
      switch (true) {
        case diff >= 0 && diff <= 1:
          this.$store.commit('setDateCoordination', this.moment(new Date(date)).format())
          break
        case diff > 1 && diff <= 7:
          this.$store.commit('setDateCoordination', this.moment(new Date(date)).format())
          this.$store.commit('setRangeCoordination', 'week')
          break
        case diff > 7:
          this.$store.commit('setDateCoordination', this.moment(new Date(date)).format())
          this.$store.commit('setRangeCoordination', 'month')
          break
        default:
          this.$store.commit('setDateCoordination', this.moment(new Date()).format())
      }
      this.$store.commit('coordinationUpdated')
    } else if (this.$route.query.date) {
      const date = this.moment(this.$route.query.date, "DD-MM-YYYY")
      this.$store.commit('setDateCoordination', this.moment(new Date(date)).format())
      this.$store.commit('coordinationUpdated')
    }

    document.addEventListener('keydown', this.escListener)
  },
  computed: {
    buttonGroup() {
      const buttons = []
      for (let i = 0; i < 8; i++) {
        buttons.push({
          text: this.moment(new Date()).add(i, 'days').format('DD.MM'),
          value: this.moment(new Date()).add(i, 'days').format()
        })
      }
      buttons[0].text = 'Сегодня'
      return buttons
    }
  },
  methods: {
    handleChangeDate(newDate) {
      this.searchField = null
      this.showSearchField = false
      this.$store.commit('setCoordinationSearchFiled', null)
      this.$store.commit('setDateCoordination', newDate)
      this.$store.commit('coordinationUpdated')
    },
    hideCreateUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    addNewUrgentDeparture() {
      this.createUrgentDepartureVisible = false
      this.$store.commit('coordinationUpdated')
    },
    hideCreateDutyGroup() {
      this.createDutyGroupVisible = false
    },
    addNewDutyGroup() {
      this.createDutyGroupVisible = false
      this.$store.commit('coordinationUpdated')
    },
    hideCreateCoordinationEvent() {
      this.createCoordinationEventVisible = false
    },
    addNewCoordinationEvent() {
      this.createCoordinationEventVisible = false
      this.$store.commit('coordinationUpdated')
    },
    range(newRange) {
      this.searchField = null
      this.showSearchField = false
      this.$store.commit('setCoordinationSearchFiled', null)
      this.$store.commit('setRangeCoordination', newRange)
      this.$store.commit('coordinationUpdated')
    },
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setCoordinationSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setCoordinationSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setDateCoordination', this.moment(new Date()).format())
    let query = Object.assign({}, this.$route.query)
    delete query.date
    delete query.date_finish
    this.$router.replace({ query })
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.coordination-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__dropdown.el-dropdown .el-button {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    padding: 12px 5px;
    margin-right: 5px;
  }
  &__picker.el-date-editor {
    width: 95px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      vertical-align: super;
    }
    & .el-input__prefix {
      display: none;
    }
  }
  &__button-group {
    margin-right: 5px;
    & .el-button {
      padding: 11px 3px;
    }
  }
  & .urgent-departure-btn {
    padding: 12px 10px;
  }
  & .duty-group-btn,
  & .coordination-event-btn,
  & .report-btn {
    padding: 12px 10px;
    margin-left: 5px;
  }
  &__create-departure .el-dialog,
  &__create-duty-group .el-dialog,
  &__create-coordination-event .el-dialog {
    width: 950px;
  }
}
@media (max-width: 1100px) {
  .coordination-header {
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      border-bottom: solid 1px #e6e6e6;
      padding: 10px 5px;
    }
    &__create-departure .el-dialog {
      width: 100%;
    }
  }
}
</style>