<template>
  <div v-loading="loading">
    <div class="coordination-heading">
      <h2 class="coordination-title">Трансляции и Пулы</h2>
      <div class="coordination-heading__right">
        <el-tooltip
          effect="dark"
          content="Экспорт в PDF"
        >
          <el-button
            type="danger"
            icon="el-icon-document"
            size="medium"
            @click="exportToPdf"
          >
          </el-button>
        </el-tooltip>
        <el-tooltip
          class="item"
          effect="dark"
          content="Печать"
        >
          <el-button
            v-print="print"
            class="print"
            type="primary"
            icon="el-icon-printer"
            size="medium"
          >
          </el-button>
        </el-tooltip>
        <el-tooltip class="item" effect="dark" content="Обновить" placement="bottom">
          <el-button
            class="refresh-btn"
            type="primary"
            size="medium"
            icon="el-icon-refresh"
            @click="fetchShootings()"
          >
          </el-button>
        </el-tooltip>
        <el-tooltip class="item" effect="dark" content="Фильтр" placement="bottom">
          <el-dropdown
            trigger="click"
            :hide-on-click="false"
          >
            <el-button
              size="medium"
              type="primary"
              icon="el-icon-s-operation"
            >
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.dateStartColumn">Время начала</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.nameColumn">Название съемки</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.commentColumn">Комментарий</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.statusColumn">Статус</el-checkbox>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
      </div>
    </div>
    <div class="el-table coordination-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <thead>
          <tr>
            <th colspan="1" rowspan="1" width="44"><div class="cell"></div></th>
            <th v-if="columnsFilter.dateStartColumn" colspan="1" rowspan="1" width="150" :class="dateStartClass" @click="dateStartSort">
              <div class="cell">
                Время начала
                <span class="caret-wrapper">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th v-if="columnsFilter.nameColumn" colspan="1" rowspan="1"><div class="cell">Название съемки</div></th>
            <th v-if="columnsFilter.commentColumn" colspan="1" rowspan="1" width="300"><div class="cell">Комментарий</div></th>
            <th v-if="columnsFilter.statusColumn" colspan="1" rowspan="1" width="120"><div class="cell">Статус</div></th>
          </tr>
        </thead>
        <tbody v-if="filteredShootings.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" :colspan="expandRowColspan" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else v-for="item in filteredShootings" :key="item.id" :id="item.id">
          <tr class="el-table__row el-table__row--level-1" :class="{ 'urgently-bg': item.urgent_departure, 'cancelled': item.status_coord === 'cancelled' }">
            <td rowspan="1" colspan="1" class="el-table__expand-column">
              <div class="cell">
                <div class="el-table__expand-icon" :class="{ rotate: item.expand_row }" @click="showExpandRow(item)">
                  <i class="el-icon el-icon-arrow-right"></i>
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.dateStartColumn" class="centered" rowspan="1" colspan="1">
              <span v-if="!item.date_start" class="empty-text">н/у</span>
              <div v-if="item.date_start" class="cell bold">{{ moment(item.date_start).format('HH:mm') }}</div>
              <div v-if="item.date_start" class="cell">{{ moment(item.date_start).format('DD/MM') }}</div>
            </td>
            <td v-if="columnsFilter.nameColumn" rowspan="1" colspan="1" @dblclick="$emit('showEditForm', item)">
              <div class="cell">
                <div class="coordination-name-title">
                  <span class="bold">
                    {{ item.name }}
                  </span>
                  <el-dropdown class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                    <div class="theme-dropdown__item">
                      <span style="top: 8px;"></span>
                    </div>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item :command="{name: 'add', item: item}">Добавить</el-dropdown-item>
                      <el-dropdown-item :command="{name: 'edit', item: item}">Править</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
                <div class="cell coordination-name">
                  <p v-if="!item.urgent_departure && !item.duty_group && !item.coordination_event" class="bold">Тема: {{ item.metatheme.name }}</p>
                  <p v-if="item.urgent_departure" class="bold">Тема: Срочные выезды</p>
                  <p class="bold">Формат привязки: {{ itemReserved(item.reserved) }}</p>
                  <p class="bold">Начало: {{ moment(item.date_start).format('HH:mm') }}</p>
                  <p>{{ item.address }}</p>
                  <div v-if="item.metatheme && item.metatheme.status_accr !== 'new'" class="status_accr">
                    <hr>
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
                    </svg>
                    Аккредитация:
                    <span v-if="item.metatheme && item.metatheme.date_start_accr">
                      с <span class="bold">{{ moment(item.metatheme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(item.metatheme.date_start_accr).format('HH:mm') }}</span>
                    </span>
                    <span>
                      до
                      <span v-if="item.metatheme && item.metatheme.date_end_accr" class="bold">{{ moment(item.metatheme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(item.metatheme.date_end_accr).format('HH:mm') }}</span>
                      <span v-else class="empty-text">н/у</span>
                    </span>
                    <div v-if="item.metatheme">Статус: {{ itemStatus(item.metatheme.status_accr) }}</div>
                  </div>
                </div>
                <div class="cell coordination-corrs">
                  <div class="employees-tags-wrapper">
                    <span class="coordination-corrs-item" v-for="employee in itemCorrespondents(item).slice(0, item.correspondentsTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </span>
                    <span v-show="itemCorrespondents(item).length > item.correspondentsTags" class="add-tags-btn" @click="item.correspondentsTags += itemCorrespondents(item).length">+{{ itemCorrespondents(item).length - item.correspondentsTags }}</span>
                  </div>
                  <el-link type="primary" @click="showAddCorrespondents(item)">+ Добавить корреспондента</el-link>
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.commentColumn" rowspan="1" colspan="1" class="coordination-status-td">
              <span class="empty-text" v-if="!item.comment">Не указан</span>
              <div class="cell comment" style="word-break:break-word;" v-if="item.comment">{{ item.comment }}</div>
            </td>
            <td v-if="columnsFilter.statusColumn" rowspan="1" colspan="1">
              <div class="cell centered coordination-status">
                <el-tooltip class="item" effect="dark" content="Координация статус" placement="bottom">
                  <el-button
                    :disabled="item.status_coord === 'cancelled' ? true : false"
                    :class="{ 'el-button--info': item.status_coord === 'cancelled', 'el-button--success': item.status_coord === 'done', 'el-button--warning': item.status_coord === 'coord' }"
                    size="mini"
                    @click="handleChangeStatus(item)">
                    К <i :class="{ 'el-icon-minus': item.status_coord === 'cancelled', 'el-icon-success': item.status_coord === 'done', 'el-icon-warning': item.status_coord === 'coord' }"></i>
                  </el-button>
                </el-tooltip>
                <div v-if="item.author" class="coordination-author">
                  Заказ: {{ item.author }}
                  <el-tooltip
                    v-if="!item.duty_group && !item.coordination_event"
                    effect="dark"
                    content="История изменений"
                    placement="bottom"
                  >
                    <el-button
                      class="history-btn"
                      type="primary"
                      size="mini"
                      icon="el-icon-time"
                      @click="showHistory(item)"
                    >
                    </el-button>
                  </el-tooltip>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="item.expand_row === true" class="tr-expanded">
            <td rowspan="1" :colspan="expandRowColspan">
              <div class="cell">
                <p class="bold">Описание:</p>
                <div class="description" v-if="!item.urgent_departure && item.metatheme.description" v-html="item.metatheme.description"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <CoordinationPoolsMobile
        id="coordination-pools-mobile"
        :shootings="filteredShootings"
      />
    </div>

    <div>
      <PrintCoordination
        id="pools"
        ref="pools"
        :shootings="filteredShootings"
      />
    </div>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление корреспондентов на съёмку"
      :visible.sync="addCorrespondentsVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCorrespondents
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="$store.state.coordination.coordinationSearchFiled === null ? fetchShootings() : filterTable()"
      />
    </el-dialog>

    <el-dialog
      class="coordination-show-history"
      title="История изменений:"
      :visible.sync="showHistoryVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideHistory"
    >
      <ShowShootingHistory
        :historyShooting="historyShooting"
        @hideHistory="hideHistory"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import pdfMixin from '@/mixins/pdf.mixin.js'
import AddCorrespondents from '@/components/shootings/AddCorrespondents'
import PrintCoordination from '@/components/coordination/print/PrintCoordination'
import ShowShootingHistory from '@/components/coordination/ShowShootingHistory'
import CoordinationPoolsMobile from '@/components/coordination/mobile/CoordinationPoolsMobile'

export default {
  name: 'coordinationpools',
  components: {
    PrintCoordination,
    AddCorrespondents,
    ShowShootingHistory,
    CoordinationPoolsMobile
  },
  props: {
    updated: {
      type: Boolean,
      required: false
    }
  },
  mixins: [pdfMixin],
  data() {
    return {
      loading: false,
      shootings: [],
      dateStartClass: null,
      sortParam: 'date_start:asc',
      columnsFilter: {
        dateStartColumn: true,
        nameColumn: true,
        commentColumn: true,
        statusColumn: true
      },
      curShooting: null,
      addCorrespondentsVisible: false,
      showHistoryVisible: false,
      historyShooting: null,
      print: {
        id: 'pools',
        popTitle: `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}`,
        preview: true,
        previewTitle: 'Предварительный просмотр',
        previewPrintBtnLabel: 'Печать',
        previewBeforeOpenCallback() {
          const iframe = document.getElementById('printArea_1')
          const contDoc = iframe.contentDocument || iframe.contentWindow.document
          contDoc.getElementById('pools').style.display = 'block'
        }
      }
    }
  },
  async mounted() {
    if (!this.$route.query.date) {
      this.fetchShootings()
    }
  },
  watch: {
    '$store.state.coordination.dateCoordination': function () {
      if (this.$store.state.coordination.rangeCoordination === 0) {
        this.print.popTitle = `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}`
      } else {
        this.print.popTitle = `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}_${this.moment(this.$store.state.coordination.dateCoordination).add(this.$store.state.coordination.rangeCoordination, 'days').format('DD-MM-YYYY')}`
      }
    },
    '$store.state.coordination.rangeCoordination': function () {
      if (this.$store.state.coordination.rangeCoordination === 0) {
        this.print.popTitle = `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}`
      } else {
        this.print.popTitle = `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}_${this.moment(this.$store.state.coordination.dateCoordination).add(this.$store.state.coordination.rangeCoordination, 'days').format('DD-MM-YYYY')}`
      }
    },
    '$store.state.coordination.coordinationUpdated': function () {
      if (this.$store.state.coordination.coordinationSearchFiled === null) {
        this.fetchShootings()
      } else {
        this.filterTable()
      }
    },
    '$store.state.coordination.coordinationSearchFiled': function () {
      this.filterTable()
    },
    updated: function () {
      if (this.$store.state.coordination.coordinationSearchFiled === null) {
        this.fetchShootings()
      } else {
        this.filterTable()
      }
    }
  },
  computed: {
    filteredShootings() {
      this.shootings = this.shootings.filter(s => !s.duty_group && !s.coordination_event)
      const arr = this.shootings.filter(s => s.metatheme_inclusions.some(m =>
        m.name === 'ПУЛ' ||
        m.name === 'ПУЛ/Выезд' ||
        m.name === 'Трансляция' ||
        m.name === 'Трансляция/Выезд'
      ))
      return arr
    },
    expandRowColspan() {
      let cols = 1
      for (let key in this.columnsFilter) {
        if (this.columnsFilter[key]) {
          cols++
        }
      }
      return cols
    }
  },
  methods: {
    async fetchShootings() {
      this.loading = true
      const query = qs.stringify({ 
        _where: {
        _or: [
            [
              { 'date_start_gte': this.$store.state.coordination.dateCoordination },
              { 'date_start_lte': this.moment(this.$store.state.coordination.dateCoordination).add(this.$store.state.coordination.rangeCoordination, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'status_coord_ne': 'new' },
              { 'personal_ne': true }
            ],
            [
              { 'date_start_lte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'status_coord_ne': 'new' },
              { 'personal_ne': true }
            ]
          ]
        }
      })
      let params = {
        _sort: this.sortParam,
        _limit: -1
      }
      this.shootings = await this.$store.dispatch('fetchShootings', {query, params})
      for (let i = 0; i < this.shootings.length; i++) {
        this.$set(this.shootings[i], 'correspondentsTags', 3)
      }
      this.loading = false
    },
    handleDropdownClick(command) {
      switch (command.name) {
        case 'add':
          this.$emit('showCreateForm', command.item)
          break
        case 'edit':
          this.$emit('showEditForm', command.item)
          break
      }
    },
    showExpandRow(item) {
      item.expand_row ? this.$set(item, 'expand_row', false) : this.$set(item, 'expand_row', true)
    },
    dateStartSort() {
      if (this.$store.state.coordination.coordinationSearchFiled === null) {
        if (this.dateStartClass === 'ascending') {
          this.dateStartClass = 'descending'
          this.sortParam = 'date_start:desc'
          this.fetchShootings()
        } else {
          this.dateStartClass = 'ascending'
          this.sortParam = 'date_start:asc'
          this.fetchShootings()
        }
      } else {
        if (this.dateStartClass === 'ascending') {
          this.dateStartClass = 'descending'
          this.shootings = this.shootings.sort((a, b) => new Date(b.date_start) - new Date(a.date_start))
        } else {
          this.dateStartClass = 'ascending'
          this.shootings = this.shootings.sort((a, b) => new Date(a.date_start) - new Date(b.date_start))
        }
      }
    },
    async handleChangeStatus(item) {
      try {
        this.loading = true
        let status
        item.status_coord === 'coord' ? status = 'done' : status = 'coord'
        await this.$store.dispatch('editShooting', {id: item.id, status_coord: status})
        .then(async (res) => {
          if (!item.urgent_departure) {
            if (status === 'coord') {
              await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, status_coord: 'coord'})
            } else if (status === 'done') {
              await this.$store.dispatch('fetchMetathemeById', res.data.metatheme.id)
              .then(async (response) => {
                let arr = []
                for (let i = 0; i < response.shootings.length; i++) {
                  arr.push(response.shootings[i].status_coord)
                }
                if (arr.every(e => e !== 'coord')) {
                  await this.$store.dispatch('editMetatheme', {id: response.id, status_coord: 'done'})
                }
              })
            }
          }
          this.loading = false
          this.$emit('updatedStatus')
          this.$message.success('Статус изменен')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    itemReserved(reserved) {
      switch (reserved) {
        case 'ordinary':
          return 'Обычный'
        case 'reserve':
          return 'Резерв'
      }
    },
    itemStatus(status) {
      switch (status) {
        case 'need':
          return 'Требуется аккредитация'
        case 'progress':
          return 'Аккредитация запрошена'
        case 'done':
          return 'Аккредитация получена'
      }
    },
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    async deleteResource(item, resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        item.tech_resources.splice(item.tech_resources.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, tech_resources: item.tech_resources})
      } else if (type === 'employee') {
        item.employees.splice(item.employees.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, employees: item.employees})
        if (resource.employee_role === 4 && item.metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
          for (let i = 0; i < item.shootings_child.length; i++) {
            if (item.shootings_child[i].personalType === 'Командировка') {
              for (let j = 0; j < item.shootings_child[i].employees.length; j++) {
                if (item.shootings_child[i].employees[j].id === resource.id) {
                  await this.$store.dispatch('deleteShooting', item.shootings_child[i].id)
                }
              }
            }
          }
        }
      }
      this.loading = false
    },
    showAddCorrespondents(item) {
      this.curShooting = item
      this.addCorrespondentsVisible = true
    },
    hideAddEmployees() {
      this.addCorrespondentsVisible = false
    },
    showHistory(item) {
      this.historyShooting = item
      this.showHistoryVisible = true
    },
    hideHistory() {
      this.showHistoryVisible = false
      this.historyShooting = null
    },
    async exportToPdf() {
      this.loading = true
      try {
        let title
        if (this.$store.state.coordination.rangeCoordination === 0) {
          title = `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}`
        } else {
          title = `Координация_Трансляции_и_Пулы_${this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')}_${this.moment(this.$store.state.coordination.dateCoordination).add(this.$store.state.coordination.rangeCoordination, 'days').format('DD-MM-YYYY')}`
        }
        await this.exportToPdfMixin(this.$refs.pools.$el.innerHTML, title, title, false)
        .then(() => {
          this.loading = false
        })
      } catch (e) {
        console.log(e)
        this.$message.error('Ошибка экспорта')
        this.loading = false
      }
    },
    async filterTable() {
      if (this.$store.state.coordination.coordinationSearchFiled === null) {
        this.fetchShootings()
      } else {
        this.loading = true
        this.$store.commit('setDateCoordination', this.moment(new Date()).format())
        this.$store.commit('setRangeCoordination', 'day')
        let params = {
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                { 'name_contains': this.$store.state.coordination.coordinationSearchFiled.trim() },
                { 'status_coord_ne': 'new' },
                { 'personal_ne': true }
              ],
              [
                { 'address_contains': this.$store.state.coordination.coordinationSearchFiled.trim() },
                { 'status_coord_ne': 'new' },
                { 'personal_ne': true }
              ],
              [
                { 'comment_contains': this.$store.state.coordination.coordinationSearchFiled.trim() },
                { 'status_coord_ne': 'new' },
                { 'personal_ne': true }
              ],
            ]
          }
        })
        const filteredShootings = await this.$store.dispatch('fetchShootings', {query, params})

        const queryAll = qs.stringify({ _where: {
          _or: [
              [
                { 'status_coord_ne': 'new' },
                { 'personal_ne': true }
              ]
            ]
          }
        })
        const allShootings = await this.$store.dispatch('fetchShootings', {query: queryAll, params})
        const arr = []
        for (let i = 0; i < allShootings.length; i++) {
          for (let j = 0; j < allShootings[i].employees.length; j++) {
            if (allShootings[i].employees[j].surname) {
              let surname = allShootings[i].employees[j].surname.toLowerCase()
              let lowerString = this.$store.state.coordination.coordinationSearchFiled.toLowerCase()
              if (surname.includes(lowerString.trim())) {
                arr.push(allShootings[i])
              }
            }
          }
        }
        this.shootings = [...filteredShootings, ...arr]
        for (let i = 0; i < this.shootings.length; i++) {
          this.$set(this.shootings[i], 'correspondentsTags', 3)
          this.$set(this.shootings[i], 'hardwaresTags', 3)
          this.$set(this.shootings[i], 'groupShootingTags', 3)
          this.$set(this.shootings[i], 'driversTags', 3)
          this.$set(this.shootings[i], 'carsTags', 1)
        }
        this.shootings = this.shootings.sort((a, b) => a.id - b.id)
        this.loading = false
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>