<template>
  <div class="show-history" v-loading="loading">
    <el-tooltip
      class="item"
      effect="dark"
      content="Печать"
    >
      <el-button
        v-print="print"
        class="print"
        type="primary"
        icon="el-icon-printer"
        size="mini"
      >
      </el-button>
    </el-tooltip>
    <div v-if="historyShooting">
      <p><span style="font-weight:bold;">Название: </span>{{ historyShooting.name }}</p>
      <p><span style="font-weight:bold;">Дата и время создания: </span>{{ moment(historyShooting.created_at).format('DD-MM-YYYY') }} {{ moment(historyShooting.created_at).format('HH:mm') }}</p>
      <p><span style="font-weight:bold;">Кем создана: </span>{{ historyShooting.author }}</p>
    </div>
    <div class="el-table show-history-table">
      <table style="width:100%;">
        <thead>
          <tr>
            <th width="40">#</th>
            <th width="134">Дата и время</th>
            <th width="170">Фамилия Имя</th>
            <th width="150">Название поля</th>
            <th>Содержание поля (до сохранения изменений)</th>
            <th>Содержание поля (после сохранения изменений)</th>
          </tr>
        </thead>
        <tbody v-if="rows.length === 0">
          <tr>
            <td rowspan="1" colspan="6">
              <div>
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr v-for="(row, index) in rows" :key="index">
            <td style="text-align:center;">{{ index + 1 }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.author | truncate }}</td>
            <td>{{ row.field }}</td>
            <td>
              <div v-if="!row.contentBefore" style="color:red;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true">
                  <div v-html="row.contentBefore.replace(/,/g, ', ')"></div>
                </div>
                <div v-else>
                  {{ row.contentBefore }}
                </div>
              </div>
            </td>
            <td>
              <div v-if="!row.content" style="color:green;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true">
                  <div v-html="row.content.replace(/,/g, ', ')"></div>
                </div>
                <div v-else>
                  {{ row.content }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="$emit('hideHistory')"
      >
        Закрыть
      </el-button>
    </span>

    <PrintShootingHistory
      id="print-shooting-history"
      :shooting="historyShooting"
      :rows="rows"
    />
  </div>
</template>

<script>
import qs from 'qs'
import * as Diff from 'diff'
import PrintShootingHistory from '@/components/coordination/print/PrintShootingHistory'

export default {
  name: 'showshootinghistory',
  components: {
    PrintShootingHistory
  },
  props: {
    historyShooting: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: false,
    rows: [],
    print: {
      id: 'print-shooting-history',
      popTitle: 'История изменений',
      preview: true,
      previewTitle: 'Предварительный просмотр',
      previewPrintBtnLabel: 'Печать',
      previewBeforeOpenCallback() {
        const iframe = document.getElementById('printArea_1')
        const contDoc = iframe.contentDocument || iframe.contentWindow.document
        contDoc.getElementById('print-shooting-history').style.display = 'block'
      }
    }
  }),
  watch: {
    historyShooting: {
      immediate: true,
      handler: async function () {
        if (!this.historyShooting) {
          return
        }
        this.loading = true
        const query = qs.stringify({ 
          _where: {
          _or: [
              [
                { 'contentType': 'Съемка' },
                { 'action': 'update' },
                { 'contentId': this.historyShooting.id }
              ]
            ]
          }
        })
        let params = {
          _sort: `createdAt:desc`,
          _limit: -1
        }
        const historyRecords = await this.$store.dispatch('fetchHistoryRecords', {query, params})

        for (let i = 0; i < historyRecords.length; i++) {
          if (historyRecords[i].contentBefore.name || historyRecords[i].content.name) {
            let obj = this.getDiff(historyRecords[i].contentBefore.name, historyRecords[i].content.name, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Название',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.reserved || historyRecords[i].content.reserved) {
            let reservedBefore
            let reservedAfter
            switch (historyRecords[i].contentBefore.reserved) {
              case 'ordinary':
                reservedBefore = 'Обычный'
                break
              case 'reserve':
                reservedBefore = 'Резерв'
                break
              default:
                reservedBefore =  ''
                break
            }
            switch (historyRecords[i].content.reserved) {
              case 'ordinary':
                reservedAfter = 'Обычный'
                break
              case 'reserve':
                reservedAfter = 'Резерв'
                break
              default:
                reservedAfter =  ''
                break
            }
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Фомат привязки',
              contentBefore: reservedBefore,
              content: reservedAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_return || historyRecords[i].content.date_return) {
            let dateBefore = historyRecords[i].contentBefore.date_return ? `${this.moment(historyRecords[i].contentBefore.date_return).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_return).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_return ? `${this.moment(historyRecords[i].content.date_return).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_return).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Возвращение',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_end || historyRecords[i].content.date_end) {
            let dateBefore = historyRecords[i].contentBefore.date_end ? `${this.moment(historyRecords[i].contentBefore.date_end).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_end).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_end ? `${this.moment(historyRecords[i].content.date_end).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_end).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Окончание',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_start || historyRecords[i].content.date_start) {
            let dateBefore = historyRecords[i].contentBefore.date_start ? `${this.moment(historyRecords[i].contentBefore.date_start).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_start).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_start ? `${this.moment(historyRecords[i].content.date_start).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_start).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Начало',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_arrival || historyRecords[i].content.date_arrival) {
            let dateBefore = historyRecords[i].contentBefore.date_arrival ? `${this.moment(historyRecords[i].contentBefore.date_arrival).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_arrival).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_arrival ? `${this.moment(historyRecords[i].content.date_arrival).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_arrival).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Прибытие',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_departure || historyRecords[i].content.date_departure) {
            let dateBefore = historyRecords[i].contentBefore.date_departure ? `${this.moment(historyRecords[i].contentBefore.date_departure).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_departure).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_departure ? `${this.moment(historyRecords[i].content.date_departure).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_departure).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Отъезд',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.address || historyRecords[i].content.address) {
            let obj = this.getDiff(historyRecords[i].contentBefore.address, historyRecords[i].content.address, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Адрес',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_inclusions || historyRecords[i].content.metatheme_inclusions) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_inclusions, historyRecords[i].content.metatheme_inclusions, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Перегоны, включения - Тэг',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_inclusions || historyRecords[i].content.comment_inclusions) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_inclusions, historyRecords[i].content.comment_inclusions, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Перегоны, включения - Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_aether_plans || historyRecords[i].content.metatheme_aether_plans) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_aether_plans, historyRecords[i].content.metatheme_aether_plans, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Эфирный план - Тэг',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_aether_plans || historyRecords[i].content.comment_aether_plans) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_aether_plans, historyRecords[i].content.comment_aether_plans, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Эфирный план - Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_hardwares || historyRecords[i].content.metatheme_hardwares) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_hardwares, historyRecords[i].content.metatheme_hardwares, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Оборудование',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.status_coord || historyRecords[i].content.status_coord) {
            let statusBefore
            let statusAfter
            switch (historyRecords[i].contentBefore.status_coord) {
              case 'new':
                statusBefore = 'Не требуется'
                break
              case 'coord':
                statusBefore = 'Требуется'
                break
              case 'done':
                statusBefore = 'Готово'
                break
              case 'cancelled':
                statusBefore = 'Отменена'
                break
              default:
                statusBefore =  ''
                break
            }
            switch (historyRecords[i].content.status_coord) {
              case 'new':
                statusAfter = 'Не требуется'
                break
              case 'coord':
                statusAfter = 'Требуется'
                break
              case 'done':
                statusAfter = 'Готово'
                break
              case 'cancelled':
                statusAfter = 'Отменена'
                break
              default:
                statusAfter =  ''
                break
            }
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Координация - Статус',
              contentBefore: statusBefore,
              content: statusAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.comment || historyRecords[i].content.comment) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment, historyRecords[i].content.comment, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_format || historyRecords[i].content.comment_format) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_format, historyRecords[i].content.comment_format, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Комментарий - Формат',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_tech || historyRecords[i].content.comment_tech) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_tech, historyRecords[i].content.comment_tech, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Комментарий - Комплектовка',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_car || historyRecords[i].content.comment_car) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_car, historyRecords[i].content.comment_car, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Комментарий - Транспорт',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.correspondents || historyRecords[i].content.correspondents) {
            let obj = this.getDiff(historyRecords[i].contentBefore.correspondents, historyRecords[i].content.correspondents, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Корреспонденты',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.shooting_group || historyRecords[i].content.shooting_group) {
            let obj = this.getDiff(historyRecords[i].contentBefore.shooting_group, historyRecords[i].content.shooting_group, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Съемочная группа',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.drivers || historyRecords[i].content.drivers) {
            let obj = this.getDiff(historyRecords[i].contentBefore.drivers, historyRecords[i].content.drivers, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Водители',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.tech_resources || historyRecords[i].content.tech_resources) {
            let obj = this.getDiff(historyRecords[i].contentBefore.tech_resources, historyRecords[i].content.tech_resources, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Машины',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
        }
        this.loading = false
      }
    }
  },
  methods: {
    getDiff(text1, text2, type) {
      let span = null
      let diff
      if (type === 'string') {
        text1 = text1 ? text1 : ''
        text2 = text2 ? text2 : ''
        diff = Diff.diffChars(text1, text2)
      } else if (type === 'array') {
        text1 = text1 ? text1 : []
        text2 = text2 ? text2 : []
        diff = Diff.diffArrays(text1, text2)
      }
      
      const contentBefore = diff.filter(item => !item.added)
      const contentAfter = diff.filter(item => !item.removed)

      const fragmentBefore = document.createDocumentFragment()
      const displayBefore = document.createElement('div')
      contentBefore.forEach((part, idx, array) => {
        const color = part.removed ? 'red' : 'black'
        span = document.createElement('span')
        span.style.color = color
        if (type === 'array' && idx !== array.length - 1) {
          span.appendChild(document.createTextNode(part.value + ','))
        } else {
          span.appendChild(document.createTextNode(part.value))
        }
        fragmentBefore.appendChild(span)
      })
      displayBefore.appendChild(fragmentBefore)

      const fragmentAfter = document.createDocumentFragment()
      const displayAfter = document.createElement('div')
      contentAfter.forEach((part, idx, array) => {
        const color = part.added ? 'green' : 'black'
        span = document.createElement('span')
        span.style.color = color
        if (type === 'array' && idx !== array.length - 1) {
          span.appendChild(document.createTextNode(part.value + ','))
        } else {
          span.appendChild(document.createTextNode(part.value))
        }
        fragmentAfter.appendChild(span)
      })
      displayAfter.appendChild(fragmentAfter)

      return { displayBefore, displayAfter }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      let arr = value.split('')
      let index
      for (let i = arr.length; i > 0; i--) {
        if (arr[i] === '(') {
          index = i
          break
        }
      }
      value = value.substr(0, index)
      return value.trim()
    }
  }
}
</script>
<style lang="scss">
.show-history {
  position: relative;
  border-top: 2px solid #E4E4E4;
  color: #000;
  & .print {
    position: absolute;
    right: 35px;
    top: -50px;
  }
  & #print-shooting-history {
    display: none;
  }
}
.show-history-table {
  padding-bottom: 30px;
  border-bottom: 2px solid #E4E4E4;
  max-height: 63vh;
  overflow-y: auto;
  & table {
    border-spacing: 0;
    border-collapse: separate;
    background: #FFF;
    & thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    & th, td {
      border: 1px solid #E4E4E4;
      padding: 10px;
      word-break: break-word;
    }
    & th {
      border-bottom: none;
      border-top: none;
      border: 1px solid #E4E4E4;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      background-color: #F4F5F7;
    }
  }
}
</style>