/* Общие стили */
.no-print {
  display: none;
}
.print, .print-only {
  display: block;
}
h1, h2 {
  text-align: center;
}
th, .bg {
  background-color: #ddd;
}
.centered {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.sticky {
  position: static;
}
.break-before {
  page-break-before: always;
}
.break-after {
  page-break-after: always;
}
.break-avoid {
  page-break-inside: avoid;
}
.break-all {
  word-break: break-all;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
}
th,td {
  font-family: Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #000;
  padding: 5px;
}
td .theme-short-description {
  font-size: 10px;
}
.theme-short-description > p {
  margin-bottom: 0;
  margin-top: 5px;
}

/* Для таблиц Летучка и Летучка 5 канал */
.schedule-tables {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 30px;
}
.schedule-tables_restricted {
  margin-bottom: 0;
}
.schedule-tables_restricted > div {
  height: 700px;
}
.schedule-tables_restricted > div:nth-child(-n+3) {
  height: 685px;
}
.table-schedule th {
  font-size: 18px;
}
.table-schedule.week-log th {
  font-size: 14px;
}
tr.table-schedule__title th {
  background: #fff;
  text-align: left;
}

/* Для таблицы дежурных корреспондентов (Координация) */
.coordination-print-table-schedule {
  width: 320px !important;
  margin-bottom: 20px;
}
.coordination-print-table-schedule th {
  font-size: 16px;
}
.coordination-print-table-schedule__title {
  text-align: left;
}
.coordination-print-table-schedule__title th {
  font-size: 14px;
}
