<template>
  <div class="tomorrowplan-print">
    <div style="padding-bottom:50px;">
      <h2>Планы на завтра - {{ $store.state.tomorrowplan.tomorrowPlanSearchFiled === null ? moment($store.state.tomorrowplan.tomorrowPlanDate).add(1, 'days').format('DD.MM.YYYY') : `поиск (${$store.state.tomorrowplan.tomorrowPlanSearchFiled})` }}</h2>
      <table>
        <thead>
          <tr>
            <th>Тема</th>
            <th width="50">Начало</th>
            <th width="150">Перегоны, включения</th>
            <th width="150">Корреспонденты</th>
            <th width="150">Эфирный план</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="theme in metathemes" :key="theme.id">
            <td>
              {{ theme.name }}
            </td>
            <td>
              <div class="centered">
                <div v-if="theme.date_start" class="bold">{{ moment(theme.date_start).format('HH:mm') }}</div>
                <div v-if="theme.date_start">{{ moment(theme.date_start).format('DD/MM') }}</div>
              </div>
            </td>
            <td>
              <div v-for="item in theme.metatheme_inclusions" :key="'I'+item.id">{{ item.name }}</div>
              <p class="break-all">{{ theme.comment_inclusions }}</p>
              <div v-for="item in theme.metatheme_aethers" :key="'A'+item.id">{{ item.name }}</div>
            </td>
            <td>
              <div v-for="employee in themeCorrespondents(theme)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div v-for="item in theme.metatheme_aether_plans" :key="'AP'+item.id">{{ item.name }}</div>
              <p class="break-all">{{ theme.comment_aether_plans }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'printtomorrowplan',
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  methods: {
    themeCorrespondents(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>