<template>
  <div class="techresources-header">
    <div>
      <h1 class="navbar__title">Управление тех.ресурсами</h1>
    </div>
    <div class="search-field-block desktop-only">
      <el-input
        size="medium"
        class="search-field-input"
        :class="{ active: showSearchField }"
        v-model="searchField"
        placeholder="Поиск"
        :clearable="true"
        @clear="clearFilter"
        @keyup.enter.native="filterTable"
      >
      </el-input>
      <el-button
        class="item search-field-btn"
        :class="{ active: showSearchField }"
        icon="el-icon-search"
        @click="filterTable"
      >
      </el-button>
    </div>
    <div class="mobile-only mobile-header">
      <div class="search-field-block">
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
        >
        </el-input>
        <el-button
          class="search-field-btn-clear"
          :class="{ active: showSearchField }"
          slot="append"
          icon="el-icon-circle-close"
          @click="clearFilter"
        >
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'techresourcesheader',
  data() {
    return {
      showSearchField: false,
      searchField: null
    }
  },
  mounted() {
    document.addEventListener('keydown', this.escListener)
  },
  methods: {
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setTechresourcesSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setTechresourcesSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    }
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.techresources-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
 .techresources-header {
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      padding: 10px 5px;
      border-bottom: solid 1px #e6e6e6;
    }
  }
}
</style>