<template>
  <div v-loading.fullscreen.lock="loading" class="planning-mobile">
    <div v-if="metathemes.length === 0" class="planning-mobile__no-data">
      <NoData />
    </div>
    <div v-else v-for="(themes, section, index) in grouped" :key="section">
      <div class="planning-mobile__section">
        <div>{{ section }}</div>
        <div v-if="index === 0" @click="drawer = true">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.09091 1.59091H15.2727" stroke="#424141" stroke-width="1.2" stroke-linecap="square"/>
            <path d="M1.09091 7.49997H11.7273" stroke="#424141" stroke-width="1.2" stroke-linecap="square"/>
            <path d="M1.09091 13.4091H8.18182" stroke="#424141" stroke-width="1.2" stroke-linecap="square"/>
          </svg>
        </div>
      </div>
      <div
        class="planning-mobile__item"
        :class="{ 'no-status-log': !theme.status_log }"
        v-for="theme in themes" :key="theme.id"
      >
        <div @click="showPlanningMobileTheme(theme)">
          <div class="planning-mobile__date">
            <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
            <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
          </div>
        </div>
        <div class="planning-mobile__name" @click="showPlanningMobileTheme(theme)">
          {{ theme.name }}
        </div>
        <div class="planning-mobile__description" v-if="theme.short_description" v-html="cutEmptyTags(theme.short_description)"></div>
        <div class="planning-mobile__address">
          <span v-if="!theme.country && !theme.address" class="empty-text">Адрес не указан</span>
          <span v-else>{{ theme.country }}{{ theme.address }}</span>
        </div>
        <div class="planning-mobile__employees">
          <span v-if="!themeEmployees(theme).length" class="empty-text">Нет корреспондентов</span>
          <span v-for="employee in themeEmployees(theme)" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          </span>
        </div>
        <div v-if="theme.status_accr !== 'new'" class="status_accr">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
          </svg>
          Аккредитация:
          <span v-if="theme.date_start_accr">
            с <span class="bold">{{ moment(theme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_start_accr).format('HH:mm') }}</span>
          </span>
          <span>
            до
            <span v-if="theme.date_end_accr" class="bold">{{ moment(theme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_end_accr).format('HH:mm') }}</span>
            <span v-else class="empty-text">н/у</span>
          </span>
        </div>
        <div class="planning-mobile__tags" v-if="theme.metatheme_aether_plans.length || theme.metatheme_inclusions.length || theme.metatheme_aethers.length">
          <div v-if="theme.metatheme_aether_plans.length">
            <div class="planning-mobile__tags-title">Эфирный план:</div>
            <el-tag size="mini" v-for="item in theme.metatheme_aether_plans" :key="'AP'+item.id">{{ item.name }}</el-tag>
          </div>
          <div v-if="theme.metatheme_inclusions.length || theme.metatheme_aethers.length">
            <div class="planning-mobile__tags-title">Перегоны, включения:</div>
            <el-tag size="mini" v-for="item in theme.metatheme_inclusions" :key="'I'+item.id">{{ item.name }}</el-tag>
            <div v-if="theme.metatheme_aethers.length">
              <el-tag size="mini" v-for="item in theme.metatheme_aethers" :key="'A'+item.id">{{ item.name }}</el-tag>
            </div>
          </div>
        </div>
        <div class="planning-mobile__statuses">
          <el-collapse>
            <el-collapse-item title="Показать статусы" name="statuses">
              <el-button
                :class="{ 'el-button--info': theme.status_coord === 'new', 'el-button--warning': theme.status_coord === 'coord', 'el-button--success': theme.status_coord === 'done' }"
                size="mini"
              >
                К <i :class="{ 'el-icon-minus': theme.status_coord === 'new', 'el-icon-warning': theme.status_coord === 'coord', 'el-icon-success': theme.status_coord === 'done' }"></i>
              </el-button>
              <el-button
                :class="{ 'el-button--success': theme.status_log, 'el-button--info': !theme.status_log, 'disabled-log': !theme.metatheme_section.show_in_log && theme.metatheme_section.name !== 'Консервы Рег' }"
                size="mini"
              >
                Л
              </el-button>
              <el-button
                v-if="theme.metatheme_section.group === 'planning'"
                :class="{ 'el-button--success': theme.status_tomorrow, 'el-button--info': !theme.status_tomorrow, 'disabled-tomorrow': false }"
                size="mini"
              >
                ПнЗ
              </el-button>
              <el-button v-if="theme.status_accr === 'new'" type="info" size="mini">
                А <i class="el-icon-minus"></i>
              </el-button>
              <el-button v-if="theme.status_accr === 'need'" type="warning" size="mini">
                А <i class="el-icon-warning"></i>
              </el-button>
              <el-button v-if="theme.status_accr === 'progress'" type="primary" size="mini">
                А <i class="el-icon-s-custom"></i>
              </el-button>
              <el-button v-if="theme.status_accr === 'done'" type="success" size="mini">
                А <i class="el-icon-success"></i>
              </el-button>
            </el-collapse-item>
          </el-collapse>
        </div>
      </div>
    </div>

    <el-drawer
      :visible.sync="drawer"
      title="Сортировка"
      direction="btt"
      size="50%"
      v-touch:swipe.bottom="closeDrawer"
    >
      <span>Сортировать по:</span>
      <el-radio-group v-model="sort" @change="$emit('handleChangeSortClass', sort)">
        <el-radio label="ascending">Дата убывание</el-radio>
        <el-radio label="">Дата возрастание</el-radio>
      </el-radio-group>
    </el-drawer>

    <el-dialog
      class="planning-mobile-theme-dialog"
      :visible.sync="planningMobileThemeVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hidePlanningMobileTheme"
      v-touch:swipe.left="hidePlanningMobileTheme"
    >
      <PlanningMobileTheme
        :theme="curTheme"
      />
    </el-dialog>
  </div>
</template>

<script>
import PlanningMobileTheme from '@/components/planning/mobile/PlanningMobileTheme'

export default {
  name: 'planningmobile',
  components: {
    PlanningMobileTheme
  },
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      drawer: false,
      sort: 'default',
      curTheme: null,
      planningMobileThemeVisible: false
    }
  },
  computed: {
    grouped() {
      return this.metathemes.reduce((acc, n) => {
        (acc[n.metatheme_section.name] = acc[n.metatheme_section.name] || []).push(n)
        return acc
      }, {})
    }
  },
  methods: {
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    },
    cutEmptyTags(value) {
      return value.replaceAll('<p></p>', '').replaceAll('<h2><br></h2>', '').replaceAll('<p><br></p>', '').replaceAll('<p class="ql-align-justify"><br></p>', '')
    },
    closeDrawer() {
      this.drawer = false
    },
    showPlanningMobileTheme(theme) {
      this.curTheme = theme
      this.planningMobileThemeVisible = true
    },
    hidePlanningMobileTheme() {
      this.curTheme = null
      this.planningMobileThemeVisible = false
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.planning-mobile {
  & .bold {
    font-weight: bold;
  }
  &__no-data {
    position: relative;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__section {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__item {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
    &.no-status-log {
      background-color: #F0F1F4;
      &::before, &::after {
        background: #F0F1F4;
      }
      & .planning-mobile__name {
        color: #707070;
      }
    }
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__description {
    font-size: 14px;
    max-height: 3.6em;
    color: rgba(25, 25, 25, .69);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    & p {
      margin: 0;
      padding: 0;
    }
  }
  &__address {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    & > span::after {
      content: ',';
      margin-left: -4px;
    }
    & > span:last-child:after {
      content: '';
    }
  }
  & .status_accr {
    font-size: 12px;
    margin-bottom: 5px;
    & svg {
      width: 23px;
      height: 23px;
      vertical-align: middle;
      fill: #E6A23C;
      stroke: #000;
      margin: 0 -5px;
    }
  }
  &__tags {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    & > div {
      width: 48%;
    }
    &-title {
      font-size: 12px;
      color: rgba(25, 25, 25, .48);
      margin-bottom: 5px;
    }
    & .el-tag {
      display: inline-block;
      background-color: #fff;
      border-color: rgba(27, 27, 27, 0.2);
      color: rgba(27, 27, 27, 0.7);
      height: 20px;
      padding: 0 10px;
      border-radius: 13px;
      margin: 2px;
    }
  }
  &__statuses {
    display: flex;
    & .el-collapse {
      border-top: none;
      border-bottom: none;
    }
    & .el-collapse-item__header {
      height: 30px;
      line-height: 30px;
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__wrap {
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__content {
      padding-bottom: 0;
    }
    & .el-collapse-item__arrow {
      margin: 0;
      margin-left: 5px;
    }
    & .el-button {
      padding: 7px 7px;
      border-radius: 0;
      pointer-events: none;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      & + .el-button {
        margin-left: 0;
      }
    }
  }
  & .el-drawer__container {
    background: rgba(0, 0, 0, .5);
  }
  & .el-drawer__header {
    font-size: 22px;
    font-weight: bold;
    & > span {
      color: #191919;
    }
  }
  & .el-drawer__body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    & > span {
      font-size: 13px;
      color: rgba(25, 25, 25, .69);
      margin-bottom: 25px;
    }
    & .el-radio-group {
      display: flex;
      flex-direction: column;
      & .el-radio {
        font-size: 15px;
        color: #191919;
        &:first-child {
          margin-bottom: 25px;
        }
        &.is-checked {
          font-weight: bold;
        }
      }
    }
  }
  & .planning-mobile-theme-dialog .el-dialog {
    width: 100%;
    &__body {
      padding-bottom: 0;
    }
  }
}
</style>