<template>
  <div class="show-employees-print">
    <table>
      <tbody>
        <tr>
          <td colspan="3"><span style="font-size:16px;">{{ title }}</span></td>
        </tr>
        <tr v-if="dutyCorrespondents.filter(dc => dc.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3" class="show-employees-print__title">Дежурные Корреспонденты</td>
        </tr>
        <template v-for="shooting in dutyCorrespondents">
          <tr :key="shooting.id" v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
            <td>{{ truncate(shooting) }}</td>
            <td>{{ shooting.employees[0].surname }}</td>
            <td>
              <span v-for="employee in employees" :key="employee.id">
                <span v-if="employee.id === shooting.employees[0].id && (employee.employee_role === 4 || employee.employee_role === 18) && employee.location === +activeTab">
                  -
                  <span v-for="(theme, index) in employee.themes" :key="index" class="show-employees-print__item-theme">
                    {{ theme }}
                  </span>
                </span>
              </span>
            </td>
          </tr>
        </template>
        <tr v-if="dutyProducers.filter(dp => dp.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3" class="show-employees-print__title">Дежурные Продюсеры</td>
        </tr>
        <template v-for="shooting in dutyProducers">
          <tr :key="shooting.id" v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
            <td>{{ truncate(shooting) }}</td>
            <td colspan="2">{{ shooting.employees[0].surname }}</td>
          </tr>
        </template>
        <tr v-if="employees.some(e => e.location === +activeTab)">
          <td colspan="3" class="show-employees-print__title">Темы</td>
        </tr>
        <template v-for="employee in employees">
          <tr :key="employee.id" v-if="employee.location === +activeTab">
            <td>
              <span v-if="employee.surname">{{ employee.surname }}</span>
              <span v-if="employee.name"> {{ employee.name }}</span>
            </td>
            <td colspan="2">
              <div v-for="(theme, index) in employee.themes" :key="index">
                <div>{{ theme }}</div>
              </div>
            </td>
          </tr>
        </template>
        <tr v-if="weekend.filter(w => w.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3" class="show-employees-print__title">Выходной</td>
        </tr>
        <tr v-if="weekend.filter(w => w.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3">
            <span v-for="shooting in weekend" :key="shooting.id">
              <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                {{ shooting.employees[0].surname }};
              </span>
            </span>
          </td>
        </tr>
        <tr v-if="holiday.filter(h => h.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3" class="show-employees-print__title">Отпуск</td>
        </tr>
        <tr v-if="holiday.filter(h => h.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3">
            <span v-for="shooting in holiday" :key="shooting.id">
              <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                {{ shooting.employees[0].surname }};
              </span>
            </span>
          </td>
        </tr>
        <tr v-if="sick.filter(s => s.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3" class="show-employees-print__title">Больничный</td>
        </tr>
        <tr v-if="sick.filter(s => s.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3">
            <span v-for="shooting in sick" :key="shooting.id">
              <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                {{ shooting.employees[0].surname }};
              </span>
            </span>
          </td>
        </tr>
        <tr v-if="business_trip.filter(b => b.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3" class="show-employees-print__title">Командировка</td>
        </tr>
        <tr v-if="business_trip.filter(b => b.employees.some(e => e.location === +activeTab)).length">
          <td colspan="3">
            <span v-for="shooting in business_trip" :key="shooting.id">
              <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                {{ shooting.employees[0].surname }};
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'printshowemployees',
  props: {
    date: {
      type: String,
      required: false
    },
    title: {
      type: String,
      required: false
    },
    activeTab: {
      type: String,
      required: false
    },
    employees: {
      type: Array,
      required: false
    },
    dutyCorrespondents: {
      type: Array,
      required: false
    },
    dutyProducers: {
      type: Array,
      required: false
    },
    weekend: {
      type: Array,
      required: false
    },
    holiday: {
      type: Array,
      required: false
    },
    sick: {
      type: Array,
      required: false
    },
    business_trip: {
      type: Array,
      required: false
    }
  },
  methods: {
    truncate(value) {
      let type = value.personalType
      let result
      if (!type) return ''
      if (type === 'Дежурный') {
        result = type.toString().substr(8)
        return result
      } else if (type === 'Дежурный 18') {
        result = type.toString().substr(8)
        if (this.moment(value.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
          return result + ':00 (после ночного)'
        } else {
          return result + ':00'
        }
      } else {
        result = type.toString().substr(8)
        return result + ':00'
      }
    }
  }
}
</script>

<style lang="scss">
.show-employees-print {
  padding: 30px;
  padding-bottom: 50px;
  & table {
    border-collapse: collapse;
  }
  & th, td {
    font-size: 14px;
    border: 1px solid #000;
    padding: 5px;
  }
  &__title {
    background-color: #ddd;
  }
  &__item-theme {
    &::after {
      content: ';';
      margin-left: -2px;
    }
    &:last-child:after {
      content: '';
    }
  }
}
</style>