<template>
  <div class="planning-print">
    <h2>Лог - {{ $store.state.metathemes.metathemesSearchFiled === null ? moment($store.state.metathemes.date).format('DD.MM.YYYY') : `поиск (${$store.state.metathemes.metathemesSearchFiled})` }}</h2>
    <div style="padding-bottom:50px;">
      <table>
        <thead>
          <tr>
            <th width="50">Дата</th>
            <th>Тема</th>
            <th width="120">Адрес</th>
            <th width="120">Корреспонденты</th>
            <th width="120">Эфирный план</th>
            <th width="120">Перегоны включения</th>
          </tr>
        </thead>
        <tbody v-for="(themes, section, index) in grouped" :key="section" :class="{ 'break-before': index > 0 }">
          <tr style="text-align:center;background-color: #ddd;">
            <td rowspan="1" colspan="6" class="bold">{{ section }}</td>
          </tr>
          <tr v-for="theme in themes" :key="theme.id">
            <td>
              <div class="centered">
                <div v-if="theme.date_start" class="bold">{{ moment(theme.date_start).format('HH:mm') }}</div>
                <div v-if="theme.date_start">{{ moment(theme.date_start).format('DD/MM') }}</div>
              </div>
            </td>
            <td>
              <div>{{ theme.name }}</div>
              <div style="font-size:10px;" v-html="theme.short_description"></div>
              <div v-if="theme.status_accr !== 'new'">
                Аккредитация:
                <span v-if="theme.date_start_accr">
                  с <span class="bold">{{ moment(theme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_start_accr).format('HH:mm') }}</span>
                </span>
                <span>
                  до
                  <span v-if="theme.date_end_accr" class="bold">{{ moment(theme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_end_accr).format('HH:mm') }}</span>
                  <span v-else>н/у</span>
                </span>
                <div>Статус: {{ itemStatus(theme.status_accr) }}</div>
              </div>
            </td>
            <td>
              <div v-if="theme.address">{{ theme.address }}</div>
              <div v-if="theme.country">{{ theme.country }}</div>
            </td>
            <td>
              <div v-for="employee in themeCorrespondents(theme)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div v-for="item in theme.metatheme_aether_plans" :key="'AP'+item.id">{{ item.name }}</div>
              <p class="break-all">{{ theme.comment_aether_plans }}</p>
            </td>
            <td>
              <div v-for="item in theme.metatheme_inclusions" :key="'I'+item.id">{{ item.name }}</div>
              <p class="break-all">{{ theme.comment_inclusions }}</p>
              <div v-for="item in theme.metatheme_aethers" :key="'A'+item.id">{{ item.name }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'printplanning',
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  computed: {
    grouped() {
      return this.metathemes.reduce((acc, n) => {
        (acc[n.metatheme_section.name] = acc[n.metatheme_section.name] || []).push(n)
        return acc
      }, {})
    }
  },
  methods: {
    themeCorrespondents(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    itemStatus(status) {
      switch (status) {
        case 'need':
          return 'Требуется аккредитация'
        case 'progress':
          return 'Аккредитация запрошена'
        case 'done':
          return 'Аккредитация получена'
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>