<template>
  <div class="theme-print">
    <div style="padding:50px;">
      <div class="theme-print__title">{{ theme.name }}</div>
      <hr>
      <div v-if="theme.short_description" class="theme-print__title">Краткое описание:</div>
      <div v-html="theme.short_description"></div>
      <div v-if="theme.description" class="theme-print__title">Подробное описание:</div>
      <div v-html="theme.description">{{ theme.description }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'printtheme',
  props: {
    theme: {
      type: Object,
      required: false
    }
  }
}
</script>

<style lang="scss">
.theme-print {
  &__title {
    font-size: 16px;
    font-weight: bold;
  }
}
</style>