<template>
  <div class="accreditation-header">
    <div>
      <h1 class="navbar__title navbar__title--bordered">Аккредитация</h1>
      <div class="date-picker-wrapper date-picker-wrapper--no-margin">
        <el-date-picker
          class="accreditation-header__picker"
          v-model="$store.state.accreditation.accreditationDate"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.accreditation.accreditationDate).locale("ru").format("dddd") }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'accreditationheader',
  data() {
    return {
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  methods: {
    handleChangeDate(newDate) {
      this.$store.commit('setAccreditationDate', newDate)
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setAccreditationDate', this.moment(new Date()).format())
  }
}
</script>

<style lang="scss">
.accreditation-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__picker.el-date-editor {
    width: 95px;
    margin-right: 5px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      vertical-align: super;
    }
    & .el-input__prefix {
      display: none;
    }
  }
}
@media (max-width: 1100px) {
  .accreditation-header {
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
  }
}
</style>