<template>
  <div class="planning-add-employees-form" v-loading="loading">
    <span class="empty-text" v-if="editingTheme && editingTheme.shootings.length === 0">Нет съемок по данной теме</span>
    <div class="planning-add-employees-form__header">
      <el-select
        v-if="editingTheme && editingTheme.shootings.length"
        v-model="shootingId"
        placeholder="Выберите съемку"
        @change="handleChangeShooting"
      >
        <el-option
          v-for="item in editingTheme.shootings"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
      <el-tabs v-if="shootingId" v-model="activeTab">
        <el-tab-pane label="Свободны" name="free"></el-tab-pane>
        <el-tab-pane label="Заняты" name="busy"></el-tab-pane>
        <el-tab-pane label="Все" name="all"></el-tab-pane>
      </el-tabs>
    </div>
    <div v-if="shootingId">
      <div class="planning-add-employees-form__tabs">
        <el-tabs v-model="activeTabRoles">
          <el-tab-pane label="Машины" name="cars"></el-tab-pane>
          <el-tab-pane label="Водители" name="2"></el-tab-pane>
          <el-tab-pane label="Инженеры ПСС" name="20"></el-tab-pane>
        </el-tabs>
      </div>
      <div v-if="activeTabRoles === 'cars'">
        <div
          class="planning-add-employees-form__employees-item"
          v-for="car in cars"
          :key="'car'+car.id"
        >
          <div
            v-if="(activeTab === 'free' && !car.busy) || (activeTab === 'busy' && car.busy) || (activeTab === 'all')"
            class="planning-add-employees-form__employees-item__inner"
            :class="{ 'busy': car.busy}"
          >
            <el-tag size="medium">{{ car.name }}</el-tag>
            <el-button class="no-border-radius" type="info" size="mini" icon="el-icon-info" :disabled="!car.busy" @click="showEmployeeInfo(car)"></el-button>
            <el-button type="primary" size="mini" icon="el-icon-plus" @click="addResource(car)"></el-button>
          </div>
        </div>
      </div>
      <div v-else>
        <div
          class="planning-add-employees-form__employees-item"
          v-for="employee in employees.filter(e => e.employee_role === +this.activeTabRoles || e.employee_role.id === +this.activeTabRoles)"
          :key="employee.id"
        >
          <div
            v-if="(activeTab === 'free' && !employee.busy && !employee.personalBusy) || (activeTab === 'busy' && employee.busy) || (activeTab === 'all')"
            class="planning-add-employees-form__employees-item__inner"
            :class="{ 'busy': employee.busy || employee.personalBusy}"
          >
            <el-tag size="medium">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</el-tag>
            <el-button class="no-border-radius" type="info" size="mini" icon="el-icon-info" :disabled="!employee.busy && !employee.personalBusy" @click="showEmployeeInfo(employee)"></el-button>
            <el-button type="primary" size="mini" icon="el-icon-plus" @click="addResource(employee)"></el-button>
          </div>
        </div>
      </div>
    </div>
    <span slot="footer" class="planning-add-employees-form__footer">
      <el-button @click="$emit('hideAddResources')">
        Закрыть
      </el-button>
    </span>

    <el-dialog
      title="Информация о занятости"
      :visible.sync="showEmployeeInfoVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEmployeeInfo"
    >
      <ShowEmployeeInfo
        :curEmployee="curEmployee"
        :curShooting="curShooting"
        @hideEmployeeInfo="hideEmployeeInfo"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import ShowEmployeeInfo from '@/components/shootings/ShowEmployeeInfo'

export default {
  name: 'addcarsdrivers',
  components: {
    ShowEmployeeInfo
  },
  props: {
    editingTheme: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: false,
    activeTab: 'free',
    activeTabRoles: 'cars',
    shootingId: null,
    employees: [],
    cars: [],
    events: [],
    curShooting: null,
    curEmployee: null,
    showEmployeeInfoVisible: false
  }),
  methods: {
    async handleChangeShooting() {
      this.loading = true
      this.cars = []
      const queryCars = qs.stringify({
        _where: [{ type: 'Машина' }, { 'status.name': 'Доступно' }],
      })
      const cars = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/tech-resources?${queryCars}`, 
        params: { _limit: -1 }
      })
      this.cars = cars.data

      this.employees = []
      const query = qs.stringify({ 
        _where: {
          _or: [
            [{ 'employee_role.id': 2 }],
            [{ 'employee_role.id': 20 }]
          ]
        }
      })
      const employees = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees?${query}`, 
        params: { _limit: -1, _sort: 'surname:asc' }
      })
      this.employees = employees.data
      this.curShooting = await this.$store.dispatch('fetchShootingById', this.shootingId)
      const arr = []
      const arr2 = []
      for (let i = 0; i < this.curShooting.tech_resources.length; i++) {
        arr.push(this.curShooting.tech_resources[i].id)
      }
      this.cars = this.cars.filter(e => !arr.includes(e.id))
      for (let i = 0; i < this.curShooting.employees.length; i++) {
        arr2.push(this.curShooting.employees[i].id)
      }
      this.employees = this.employees.filter(e => !arr2.includes(e.id))
      this.activeTab = 'free'
      this.activeTabRoles = 'cars'
      for (let i = 0; i < this.employees.length; i++) {
        this.$set(this.employees[i], 'shootings', [])
      }
      for (let i = 0; i < this.cars.length; i++) {
        this.$set(this.cars[i], 'shootings', [])
      }
      let date_end = this.curShooting.date_end ? this.moment(this.curShooting.date_end).set({hour:0,minute:0,second:0,millisecond:0}).format() : this.moment(this.curShooting.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
      const queryEvents = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.curShooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lt': date_end }
            ],
            [
              { 'date_start_lte': this.moment(this.curShooting.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.curShooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() }
            ]
          ]
        }
      })
      const eventsRequest = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${queryEvents}`, 
        params: { _limit: -1 }
      })
      this.events = eventsRequest.data
      for (let i = 0; i < this.events.length; i++) {
        if (this.events[i].personal && (this.events[i].personalType.includes('Дежурный') ||
            this.events[i].personalType.includes('Ночно') ||
            this.events[i].personalType.includes('Отпуск') ||
            this.events[i].personalType.includes('Выходной') ||
            this.events[i].personalType.includes('Больничный') ||
            this.events[i].personalType.includes('Командировка')
        )) {
          for (let j = 0; j < this.events[i].employees.length; j++) {
            for (let k = 0; k < this.employees.length; k++) {
              if (this.events[i].employees[j].id === this.employees[k].id) {
                this.$set(this.employees[k], 'personalBusy', true)
                this.employees[k].shootings.push(this.events[i])
              }
            }
          }
        } else {
          for (let j = 0; j < this.events[i].employees.length; j++) {
            for (let k = 0; k < this.employees.length; k++) {
              if (this.events[i].employees[j].id === this.employees[k].id) {
                this.$set(this.employees[k], 'busy', true)
                this.employees[k].shootings.push(this.events[i])
              }
            }
          }
          for (let j = 0; j < this.events[i].tech_resources.length; j++) {
            for (let k = 0; k < this.cars.length; k++) {
              if (this.events[i].tech_resources[j].id === this.cars[k].id) {
                this.$set(this.cars[k], 'busy', true)
                this.cars[k].shootings.push(this.events[i])
              }
            }
          }
        }
      }
      this.loading = false
    },
    showEmployeeInfo(employee) {
      this.curEmployee = employee
      this.showEmployeeInfoVisible = true
    },
    hideEmployeeInfo() {
      this.curEmployee = null
      this.showEmployeeInfoVisible = false
    },
    async addResource(resource) {
      this.loading = true
      if (resource.employee_role) {
        this.employees.splice(this.employees.findIndex(el => el.id === resource.id), 1)
        this.curShooting.employees.push(resource)
        await this.$store.dispatch('editShooting', {
          id: this.shootingId,
          employees: this.curShooting.employees,
          shootings_child: this.curShooting.shootings_child
        })
      } else {
        this.cars.splice(this.cars.findIndex(el => el.id === resource.id), 1)
        this.curShooting.tech_resources.push(resource)
        await this.$store.dispatch('editShooting', {
          id: this.shootingId,
          tech_resources: this.curShooting.tech_resources,
          shootings_child: this.curShooting.shootings_child
        })
      }
      this.$emit('addedResource')
      this.loading = false
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.planning-add-employees-form {
  & .el-select {
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__tabs {
    margin-bottom: 20px;
    & .el-tabs__header {
      margin: 0;
      margin-bottom: 1px;
    }
    & .el-tabs__nav {
      padding: 15px;
      &-wrap::after {
        height: 0;
        background-color: transparent;
      }
      &-scroll {
        background-color: rgba(216, 216, 216, .2);
        padding: 0 30px;
      }
    }
    & .el-tabs__active-bar {
      height: 3px;
      left: 15px;
      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 3px;
        background: #7C43BA;
      }
      &::before {
        left: -15px;
      }
      &::after {
        right: -15px;
      }
    }
  }
  &__employees-item {
    display: inline-block;
    margin-bottom: 10px;
    &__inner {
      padding-right: 10px;
      &.busy {
        & .el-tag {
          color: #E62744;
          background-color: rgba(230, 39, 68, .1);
          border: 1px solid #E62744;
          border-right: none;
        }
      }
    }
    & .el-tag {
      border-radius: 3px 0 0 3px;
    }
    & .el-button {
      padding: 7px 6px;
      border-radius: 0 3px 3px 0;
      margin-left: 0;
      &.no-border-radius {
        border-radius: 0;
      }
    }
  }
  &__footer {
    display: block;
    margin-top: 30px;
  }
}
</style>