<template>
  <div class="tomorrowplan-header">
    <div>
      <h1 class="navbar__title navbar__title--bordered">
        Эфирные планы (МИЦ) на {{ moment($store.state.tomorrowplan.tomorrowPlanDate).add(1, 'days').format('DD.MM') }}
      </h1>
      <div class="date-picker-wrapper date-picker-wrapper--no-margin">
        <el-date-picker
          class="aetherplan-header__picker"
          v-model="$store.state.tomorrowplan.tomorrowPlanDate"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.tomorrowplan.tomorrowPlanDate).locale("ru").format("dddd") }}</div>
      </div>
    </div>

    <div class="search-field-block desktop-only">
      <el-input
        size="medium"
        class="search-field-input"
        :class="{ active: showSearchField }"
        v-model="searchField"
        placeholder="Поиск"
        :clearable="true"
        @clear="clearFilter"
        @keyup.enter.native="filterTable"
      >
      </el-input>
      <el-button
        class="item search-field-btn"
        :class="{ active: showSearchField }"
        icon="el-icon-search"
        @click="filterTable"
      >
      </el-button>
    </div>

    <div class="mobile-only mobile-header">
      <div class="search-field-block">
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
        >
        </el-input>
        <el-button
          class="search-field-btn-clear"
          :class="{ active: showSearchField }"
          slot="append"
          icon="el-icon-circle-close"
          @click="clearFilter"
        >
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'tomorrowplanheader',
  data() {
    return {
      showSearchField: false,
      searchField: null,
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  mounted() {
    document.addEventListener('keydown', this.escListener)
  },
  methods: {
    handleChangeDate(newDate) {
      this.showSearchField = false
      this.searchField = null
      this.$store.commit('setTomorrowPlanSearchFiled', null)
      this.$store.commit('setTomorrowPlanDate', newDate)
    },
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setTomorrowPlanSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setTomorrowPlanSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setTomorrowPlanDate', this.moment(new Date()).format())
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.tomorrowplan-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
 .tomorrowplan-header {
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      justify-content: space-between;
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      padding: 10px 5px;
    }
  }
}
@media (max-width: 440px) {
 .tomorrowplan-header {
    & h1 {
      width: 150px;
    }
    & .date-picker-wrapper {
      margin-top: 9px;
    }
  }
}
</style>