<template>
  <div class="urgent-departure-edit" v-loading="loading">
    <el-form
      :model="form"
      :rules="rules"
      ref="EditUrgentDepartureForm"
      :inline="true"
      label-position="top"
      @validate="validateDates"
    >
      <div class="form-row">
        <el-form-item
          class="name"
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Название выезда"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Формат привязки"
          prop="reserved"
        >
          <el-select v-model="form.reserved" placeholder="">
            <el-option label="Обычный" value="ordinary"></el-option>
            <el-option label="Резерв" value="reserve"></el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Отъезд"
          prop="date_departure"
        >
          <el-date-picker
            v-model="form.date_departure"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Прибытие"
          prop="date_arrival"
        >
          <el-date-picker
            v-model="form.date_arrival"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Возвращение"
          prop="date_return"
        >
          <el-date-picker
            v-model="form.date_return"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          class="address"
          label="Адрес"
          prop="address"
        >
          <el-input
            v-model="form.address"
            placeholder="Введите адрес"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Эфирный план"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_aether_plans" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aether_plans"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment-aethers"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Перегоны, включения"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_inclusions" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_inclusions"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment-aethers"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_inclusions"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Комментарий"
          prop="comment"
        >
          <el-input
            class="comment"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Формат"
          prop="comment_format"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_format"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Комплектовка"
          prop="comment_tech"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_tech"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Транспорт"
          prop="comment_car"
        >
          <el-input
            class="comment"
            type="textarea"
            v-model="form.comment_car"
          >
          </el-input>
        </el-form-item>
      </div>
      <!-- <div class="form-row">
        <el-form-item
          label="Сотрудники"
          prop="employees"
        >
        </el-form-item>
      </div> -->
      <div v-if="form.author" class="author">
        Заказ: {{ form.author }}
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-popconfirm
        title="Вы уверены?"
        @confirm="handleSubmit('EditUrgentDepartureForm')"
      >
        <el-button
          class="edit-btn"
          slot="reference"
          type="primary"
        >
          Изменить
        </el-button>
      </el-popconfirm>
      <el-popconfirm
        title="Вы уверены?"
        @confirm="deleteUrgentDeparture"
      >
        <el-button
          v-if="$route.name === 'coordination' || $route.name === 'planning' || $route.name === 'urgentdepartures'"
          class="delete-btn"
          slot="reference"
          type="danger"
        >
          Удалить
        </el-button>
      </el-popconfirm>
      <!-- <el-button
        type="primary"
      >
        Сотрудники
      </el-button> -->
      <el-button
        @click="$emit('hideEditUrgentDeparture')"
      >
        Отменить
      </el-button>
    </span>
  </div>
</template>

<script>
export default {
  name: 'editurgentdeparture',
  props: {
    curUrgentDeparture: {
      type: Object,
      required: false
    }
  },
  data() {
    const validateDateDeparture = (rule, value, callback) => {
      if (
        (this.form.date_departure && this.form.date_arrival && this.moment(this.form.date_departure).format() > this.moment(this.form.date_arrival).format()) ||
        (this.form.date_departure && this.form.date_start && this.moment(this.form.date_departure).format() > this.moment(this.form.date_start).format()) ||
        (this.form.date_departure && this.form.date_end && this.moment(this.form.date_departure).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_departure && this.form.date_return && this.moment(this.form.date_departure).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateArrival = (rule, value, callback) => {
      if (
        (this.form.date_arrival && this.form.date_departure && this.moment(this.form.date_arrival).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_arrival && this.form.date_start && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_start).format()) ||
        (this.form.date_arrival && this.form.date_end && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_arrival && this.form.date_return && this.moment(this.form.date_arrival).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateStart = (rule, value, callback) => {
      if (!this.form.date_start) {
        callback(new Error('Выберите дату и время'))
      } else if (
        (this.form.date_start && this.form.date_departure && this.moment(this.form.date_start).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_start && this.form.date_arrival && this.moment(this.form.date_start).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_start && this.form.date_end && this.moment(this.form.date_start).format() > this.moment(this.form.date_end).format()) ||
        (this.form.date_start && this.form.date_return && this.moment(this.form.date_start).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateEnd = (rule, value, callback) => {
      if (
        (this.form.date_end && this.form.date_departure && this.moment(this.form.date_end).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_end && this.form.date_arrival && this.moment(this.form.date_end).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_end && this.form.date_start && this.moment(this.form.date_end).format() < this.moment(this.form.date_start).format()) ||
        (this.form.date_end && this.form.date_return && this.moment(this.form.date_end).format() > this.moment(this.form.date_return).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateReturn = (rule, value, callback) => {
      if (
        (this.form.date_return && this.form.date_departure && this.moment(this.form.date_return).format() < this.moment(this.form.date_departure).format()) ||
        (this.form.date_return && this.form.date_arrival && this.moment(this.form.date_return).format() < this.moment(this.form.date_arrival).format()) ||
        (this.form.date_return && this.form.date_start && this.moment(this.form.date_return).format() < this.moment(this.form.date_start).format()) ||
        (this.form.date_return && this.form.date_end && this.moment(this.form.date_return).format() < this.moment(this.form.date_end).format())
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    return {
      loading: true,
      metatheme_inclusions: [],
      metatheme_aether_plans: [],
      metatheme_hardwares: [],
      pickerOptions: {
        firstDayOfWeek: 1,
        // disabledDate(time) {
        //   return time.getTime() < Date.now() - 8.64e7
        // }
      },
      form: {
        name: null,
        reserved: null,
        date_departure: null,
        date_arrival: null,
        date_start: null,
        date_end: null,
        date_return: null,
        address: null,
        metatheme_aether_plans: null,
        comment_aether_plans: null,
        metatheme_inclusions: null,
        comment_inclusions: null,
        metatheme_hardwares: null,
        comment: null,
        comment_format: null,
        comment_tech: null,
        comment_car: null,
        author: null
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите название выезда",
            trigger: "blur",
          }
        ],
        address: [
          {
            required: true,
            message: "Введите адрес",
            trigger: "blur"
          }
        ],
        date_departure: [
          {
            validator: validateDateDeparture,
            trigger: 'change'
          }
        ],
        date_arrival: [
          {
            validator: validateDateArrival,
            trigger: 'change'
          }
        ],
        date_start: [
          {
            required: true,
            validator: validateDateStart,
            trigger: 'change'
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ],
        date_return: [
          {
            validator: validateDateReturn,
            trigger: 'change'
          }
        ]
      }
    }
  },
  async mounted() {
    this.metatheme_aether_plans = await this.$store.dispatch('fetchMetathemeAetherPlans')
    this.metatheme_inclusions = await this.$store.dispatch('fetchMetathemeInclusions')
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.loading = false
  },
  watch: {
    curUrgentDeparture: {
      immediate: true,
      handler: function () {
        if (!this.curUrgentDeparture) {
          return
        }
        let metatheme_aether_plans = []
        let metatheme_inclusions = []
        let metatheme_hardwares = []
        for(let i = 0; i < this.curUrgentDeparture.metatheme_aether_plans.length; i++) {
          metatheme_aether_plans.push(this.curUrgentDeparture.metatheme_aether_plans[i].id)
        }
        for(let i = 0; i < this.curUrgentDeparture.metatheme_inclusions.length; i++) {
          metatheme_inclusions.push(this.curUrgentDeparture.metatheme_inclusions[i].id)
        }
        for(let i = 0; i < this.curUrgentDeparture.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.curUrgentDeparture.metatheme_hardwares[i].id)
        }
        this.form.name = this.curUrgentDeparture.name
        this.form.reserved = this.curUrgentDeparture.reserved
        this.form.date_departure = this.curUrgentDeparture.date_departure
        this.form.date_arrival = this.curUrgentDeparture.date_arrival
        this.form.date_start = this.curUrgentDeparture.date_start
        this.form.date_end = this.curUrgentDeparture.date_end
        this.form.date_return = this.curUrgentDeparture.date_return
        this.form.address = this.curUrgentDeparture.address
        this.form.metatheme_aether_plans = metatheme_aether_plans
        this.form.comment_aether_plans = this.curUrgentDeparture.comment_aether_plans
        this.form.metatheme_inclusions = metatheme_inclusions
        this.form.comment_inclusions = this.curUrgentDeparture.comment_inclusions
        this.form.metatheme_hardwares = metatheme_hardwares
        this.form.comment = this.curUrgentDeparture.comment
        this.form.comment_format = this.curUrgentDeparture.comment_format
        this.form.comment_tech = this.curUrgentDeparture.comment_tech
        this.form.comment_car = this.curUrgentDeparture.comment_car
        this.form.author = this.curUrgentDeparture.author
      }
    }
  },
  methods: {
    validateDates(value) {
      if (value.includes('date')) {
        setTimeout(() => {
          if (this.$refs['EditUrgentDepartureForm']) {
            if (this.form.date_departure) {
              this.$refs['EditUrgentDepartureForm'].validateField('date_departure')
            }
            if (this.form.date_arrival) {
              this.$refs['EditUrgentDepartureForm'].validateField('date_arrival')
            }
            if (this.form.date_start) {
              this.$refs['EditUrgentDepartureForm'].validateField('date_start')
            }
            if (this.form.date_end) {
              this.$refs['EditUrgentDepartureForm'].validateField('date_end')
            }
            if (this.form.date_return) {
              this.$refs['EditUrgentDepartureForm'].validateField('date_return')
            }
          }
        }, 1000)
      }
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let formData = {
              id: this.curUrgentDeparture.id,
              name: this.form.name,
              reserved: this.form.reserved,
              date_departure: this.form.date_departure,
              date_arrival: this.form.date_arrival,
              date_start: this.form.date_start,
              date_end: this.form.date_end,
              date_return: this.form.date_return,
              address: this.form.address,
              metatheme_aether_plans: this.form.metatheme_aether_plans,
              comment_aether_plans: this.form.comment_aether_plans,
              metatheme_inclusions: this.form.metatheme_inclusions,
              comment_inclusions: this.form.comment_inclusions,
              metatheme_hardwares: this.form.metatheme_hardwares,
              comment: this.form.comment,
              comment_format: this.form.comment_format,
              comment_tech: this.form.comment_tech,
              comment_car: this.form.comment_car
            }
            await this.$store.dispatch('editShooting', formData)
            .then(async () => {
              this.$emit('edited')
              this.loading = false
              this.$message.success('Срочный выезд обновлен')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    },
    async deleteUrgentDeparture() {
      try {
        this.loading = true
        await this.$store.dispatch('deleteShooting', this.curUrgentDeparture.id)
        .then(() => {
          this.$emit('edited')
          this.loading = false
          this.$message.success('Срочный выезд удален')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    }
  }
}
</script>
<style lang="scss">
.urgent-departure-edit {
  & .el-form {
    position: relative;
  }
  & .form-row {
    display: flex;
    & .name, & .address {
      flex: 1;
    }
    &:nth-child(2) {
      & .el-form-item {
        width: 20%;
        & .el-date-editor.el-input, & .el-date-editor.el-input__inner {
          width: auto;
        }
      }
    }
    &:nth-child(4) {
      & .el-form-item {
        width: 25%;
      }
      & .el-select {
        width: 100%;
      }
    }
    &:nth-child(5) {
      & .el-form-item {
        width: 50%;
      }
    }
  }
  & textarea {
    resize: none;
  }
  & .comment textarea {
    height: 125px;
    padding-top: 10px;
  }
  & .comment-aethers.el-textarea .el-textarea__inner {
    padding: 10px 15px;
    height: 100px !important;
    resize: none;
    margin-top: 10px;
  }
  & .edit-btn, & .delete-btn {
    margin-right: 10px;
  }
  & .author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
  }
}
@media (max-width: 768px) {
  .urgent-departure-edit {
    & .form-row {
      flex-direction: column;
      & .el-form-item {
        width: 100% !important;
        margin: 0;
        margin-bottom: 10px;
        &__label {
          padding: 0;
        }
        & .el-select {
          width: 100%;
        }
      }
      &:nth-child(2) {
        flex-direction: row;
        flex-wrap: wrap;
        & .el-form-item {
          width: 49% !important;
          &:nth-child(1), &:nth-child(3) {
            margin-right: 2%;
          }
        }
      }
    }
    & .author {
      bottom: -10px;
    }
  }
}
</style>