<template>
  <div class="urgent-departures-header">
    <div>
      <h1 class="navbar__title navbar__title--bordered">Срочные выезды</h1>
      <div class="date-picker-wrapper date-picker-wrapper--no-margin">
        <el-date-picker
          class="urgent-departures-header__picker"
          v-model="$store.state.urgentdepartures.dateUrgentDepartures"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.urgentdepartures.dateUrgentDepartures).locale("ru").format("dddd") }}</div>
      </div>
      <el-dropdown trigger="click" @command="range" class="urgent-departures-header__dropdown">
        <el-button class="header__dropdown--date" type="primary">
          <i class="el-icon-date"></i>
          <i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="day" :class="{ 'is-disabled': $store.state.urgentdepartures.rangeUrgentDepartures === 0 }">Сутки</el-dropdown-item>
          <el-dropdown-item command="week" :class="{ 'is-disabled': $store.state.urgentdepartures.rangeUrgentDepartures === 7 }">Неделя</el-dropdown-item>
          <el-dropdown-item command="month" :class="{ 'is-disabled': $store.state.urgentdepartures.rangeUrgentDepartures > 7 }">Месяц</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-select
        class="urgent-departures-header__addtheme desktop-only"
        value=""
        placeholder="Добавить тему"
        @change="handleChangeMetatheme($event)"
      >
        <el-option
          v-for="item in metatheme_sections"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
      <el-button
        class="desktop-only"
        type="danger"
        @click="createUrgentDepartureVisible = true"
      >
        Срочный выезд!
      </el-button>
    </div>

    <div class="search-field-block desktop-only">
      <el-input
        size="medium"
        class="search-field-input"
        :class="{ active: showSearchField }"
        v-model="searchField"
        placeholder="Поиск"
        :clearable="true"
        @clear="clearFilter"
        @keyup.enter.native="filterTable"
      >
      </el-input>
      <el-button
        class="item search-field-btn"
        :class="{ active: showSearchField }"
        icon="el-icon-search"
        @click="filterTable"
      >
      </el-button>
    </div>

    <div class="mobile-only mobile-header">
      <div class="search-field-block">
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
        >
        </el-input>
        <el-button
          class="search-field-btn-clear"
          :class="{ active: showSearchField }"
          slot="append"
          icon="el-icon-circle-close"
          @click="clearFilter"
        >
        </el-button>
      </div>
      <el-button
        type="danger"
        @click="createUrgentDepartureVisible = true"
      >
        Срочный выезд!
      </el-button>
    </div>

    <el-dialog
      class="urgent-departures-header__create-metatheme"
      :title="createFormTitle"
      :visible.sync="createFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateForm"
    >
      <CreateMetatheme
        :curSection="curSection"
        @hideCreateForm="hideCreateForm"
        @created="hideCreateForm"
      />
    </el-dialog>

    <el-dialog
      class="urgent-departures-header__create-departure"
      title="Добавление срочного выезда"
      :visible.sync="createUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateUrgentDeparture"
    >
      <CreateUrgentDeparture
        @hideCreateUrgentDeparture="hideCreateUrgentDeparture"
        @created="addNewUrgentDeparture"
      />
    </el-dialog>
  </div>
</template>

<script>
import CreateMetatheme from '@/components/planning/CreateMetatheme'
import CreateUrgentDeparture from '@/components/urgentdepartures/CreateUrgentDeparture'

export default {
  name: 'urgentdeparturesheader',
  components: {
    CreateMetatheme,
    CreateUrgentDeparture
  },
  data() {
    return {
      createFormVisible: false,
      createFormTitle: null,
      createUrgentDepartureVisible: false,
      showSearchField: false,
      searchField: null,
      metatheme_sections: [],
      curSection: null,
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  async mounted() {
    if (this.$route.query.date && this.$route.query.date_finish) {
      const date = this.moment(this.$route.query.date, "DD-MM-YYYY")
      const date_finish = this.moment(this.$route.query.date_finish, "DD-MM-YYYY")
      const diff = date_finish.diff(date, 'days')
      switch (true) {
        case diff >= 0 && diff <= 1:
          this.$store.commit('setDateUrgentDepartures', this.moment(new Date(date)).format())
          break
        case diff > 1 && diff <= 7:
          this.$store.commit('setDateUrgentDepartures', this.moment(new Date(date)).format())
          this.$store.commit('setRangeUrgentDepartures', 'week')
          break
        case diff > 7:
          this.$store.commit('setDateUrgentDepartures', this.moment(new Date(date)).format())
          this.$store.commit('setRangeUrgentDepartures', 'month')
          break
        default:
          this.$store.commit('setDateUrgentDepartures', this.moment(new Date()).format())
      }
      this.$store.commit('urgentDeparturesUpdated')
    } else if (this.$route.query.date) {
      const date = this.moment(this.$route.query.date, "DD-MM-YYYY")
      this.$store.commit('setDateUrgentDepartures', this.moment(new Date(date)).format())
      this.$store.commit('urgentDeparturesUpdated')
    }
    this.metatheme_sections = await this.$store.dispatch('fetchMetathemeSections')
    const move = (from, to, ...a) => (a.splice(to, 0, ...a.splice(from, 1)), a)
    this.metatheme_sections = move(39, 14, ...this.metatheme_sections)

    document.addEventListener('keydown', this.escListener)
  },
  methods: {
    handleChangeDate(newDate) {
      this.searchField = null
      this.showSearchField = false
      this.$store.commit('setUrgentDeparturesSearchFiled', null)
      this.$store.commit('setDateUrgentDepartures', newDate)
      this.$store.commit('urgentDeparturesUpdated')
    },
    handleChangeMetatheme(id) {
      this.metatheme_sections.forEach((item) => {
        if(item.id === id) {
          this.curSection = item
          this.createFormTitle = `Добавление темы (${item.name})`
        }
      })
      this.createFormVisible = true
    },
    hideCreateForm() {
      this.curSection = null
      this.createFormVisible = false
    },
    hideCreateUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    addNewUrgentDeparture() {
      this.createUrgentDepartureVisible = false
      this.$store.commit('urgentDeparturesUpdated')
    },
    range(newRange) {
      this.searchField = null
      this.showSearchField = false
      this.$store.commit('setUrgentDeparturesSearchFiled', null)
      this.$store.commit('setRangeUrgentDepartures', newRange)
      this.$store.commit('urgentDeparturesUpdated')
    },
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setUrgentDeparturesSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setUrgentDeparturesSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setDateUrgentDepartures', this.moment(new Date()).format())
    let query = Object.assign({}, this.$route.query)
    delete query.date
    delete query.date_finish
    this.$router.replace({ query })
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.urgent-departures-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__dropdown.el-dropdown .el-button {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    padding: 12px 5px;
    margin-right: 5px;
  }
  &__picker.el-date-editor {
    width: 95px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      vertical-align: super;
    }
    & .el-input__prefix {
      display: none;
    }
  }
  &__addtheme {
    width: 146px;
    margin-right: 5px;
    & span.el-input__suffix {
      top: 2px;
    }
    & .el-input .el-select__caret {
      color: #fff;
    }
    & .el-input__inner {
      color: #fff;
      background: #7C43BA;
      border: 1px solid #7C43BA;
      text-overflow: ellipsis;
        &::placeholder {
        color: #fff;
        opacity: 1
      }
    }
  }
  &__create-metatheme .el-dialog,
  &__create-departure .el-dialog {
    width: 950px;
  }
}
@media (max-width: 1100px) {
  .urgent-departures-header {
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      padding: 10px 5px;
    }
    &__create-departure .el-dialog {
      width: 100%;
    }
  }
}
@media (max-width: 370px) {
  .urgent-departures-header {
    & > div:first-child {
      & h1 {
        flex: 0;
        width: 100px;
      }
      & .date-picker-wrapper {
        margin-left: auto;
        margin-top: 9px;
      }
      & .el-dropdown {
        margin-top: 7px;
      }
    }
  }
}
</style>