<template>
  <div class="schedule-print">
    <div style="page-break-after:always">
      <div style="width:100%;padding-bottom:50px;">
        <div style="text-align:center;">
          <h2>{{ printOptions.title }}</h2>
        </div>
        <table class="table-schedule week-log">
          <thead class="bg">
            <tr>
              <th>{{ tableTitle }}</th>
              <th v-for="i in 7" :key="i">
                {{ dayOfWeek(i - 1) }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="employee in employees" :key="employee.id">
              <td>{{ employee.surname }}</td>
              <td v-for="i in 7" :key="i">
                <div v-for="(theme, index) in employee.themes" :key="index">{{ themesOfDay(theme, i - 1) }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'printpresetweek',
  props: {
    printOptions: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      employees: [],
      tableTitle: null
    }
  },
  watch: { 
    printOptions: {
      immediate: true,
      deep: true,
      handler() {
        if (this.printOptions.preset === 'resourceTimelineWeek') {
          this.rerender()
        }
      }
    }
  },
  methods: {
    async rerender() {
      this.$emit('loadingPrint', true)
      this.loading = true
      this.employees = [],
      await this.fetchPersonalSchedule()
      this.changeTableTitle()
      this.$emit('loadingPrint', false)
      this.loading = false
    },
    async fetchPersonalSchedule() {
      this.loading = true
      let  query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.printOptions.datePrintStart).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.printOptions.datePrintStart).add(6, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() }
            ],
            [
              { 'date_start_lte': this.moment(this.printOptions.datePrintStart).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.printOptions.datePrintStart).set({hour:0,minute:0,second:0,millisecond:0}).format() }
            ]
          ]
        }
      })
      const shootingsFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${query}`, 
        params: { _limit: -1 }
      })
      let shootings = shootingsFetch.data
      shootings = shootings.filter(s => !s.coordination_event)
      shootings = shootings.filter(s => !(s.metatheme_aether_plans.some(ap => ap.name === 'Командировка') && s.shootings_child.length && s.shootings_child.every(sc => sc.personalType === 'Командировка')))
      if (this.printOptions.onlyPersonalShootings) {
        shootings = shootings.filter(s => s.personal === true)
      }

      let employeesBusy = []
      for (let i = 0; i < shootings.length; i++) {
        for (let j = 0; j < shootings[i].employees.length; j++) {
          this.$set(shootings[i].employees[j], 'themes', [])
          shootings[i].employees[j].themes.push({
            type: shootings[i].personalType,
            name: shootings[i].name,
            date_start: shootings[i].date_start,
            date_end: shootings[i].date_end
          })
          employeesBusy.push(shootings[i].employees[j])
        }
      }
      employeesBusy.sort((a, b) => a.surname.localeCompare(b.surname))
      employeesBusy = employeesBusy.reduce(function(arr, item) {
          let found = false
          for (let i = 0; i < arr.length; i++) {
            if (arr[i].id === item.id) {
              found = true
              arr[i].themes.push(item.themes[0])
              arr[i].count++
            }
          }
          if (!found) {
            item.count = 1
            arr.push(item)
          }
          return arr
      }, [])
      employeesBusy = employeesBusy.filter(e => e.location === this.printOptions.location)
      
      if (this.printOptions.role !== 'Все') {
        employeesBusy = employeesBusy.filter(e => e.employee_role === this.printOptions.role)
      }

      let queryAllEmployees = qs.stringify({ _where: {
        _or: [
            [
              { 'location.id': this.printOptions.location }
            ]
          ]
        }
      })
      const fetchAllEmployees = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees?${queryAllEmployees}`,
        params: {
          _limit: -1,
        }
      })
      let allEmployees = fetchAllEmployees.data
      if (this.printOptions.role !== 'Все') {
        allEmployees = allEmployees.filter(e => e.employee_role.id === this.printOptions.role)
      }
      allEmployees = [...employeesBusy,...allEmployees]
      allEmployees.sort((a, b) => a.id - b.id)

      this.employees = allEmployees.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      this.employees = this.employees.filter(e => !e.surname.includes('!'))
      this.employees.sort((a, b) => a.surname.localeCompare(b.surname))
      this.loading = false
    },
    async changeTableTitle() {
      await this.$store.dispatch('fetchEmployeesRoles')
      .then((res) => {
        let role
        for (let i = 0; i < res.length; i++) {
          if (res[i].id === this.printOptions.role) {
            role = res[i].name
            break
          } else {
            role = 'Сотрудники'
          }
        }
        let location
        switch (this.printOptions.location) {
          case 1:
            location = 'Москва'
            break
          case 2:
            location = 'Санкт-Петербург'
            break
          case 3:
            location = 'Регионы'
            break
          case 4:
            location = 'Мир'
            break
        }
        return `${role} (${location})`
      })
      .then((title) => {
        this.tableTitle = title
      })
    },
    dayOfWeek(day) {
      return this.moment(this.printOptions.datePrintStart).add(day, 'days').locale('ru').format('DD, dd')
    },
    themesOfDay(theme, daysCount) {
      const dayStart = this.moment(this.printOptions.datePrintStart).add(daysCount, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format()
      const dayEnd = this.moment(this.printOptions.datePrintStart).add(daysCount, 'days').set({hour:23,minute:59,second:0,millisecond:0}).format()
      if ((this.moment(theme.date_start).isBetween(dayStart, dayEnd)) ||
        (this.moment(theme.date_end).isBetween(dayStart, dayEnd)) ||
        (this.moment(dayStart).isBetween(theme.date_start, theme.date_end)) ||
        (this.moment(dayEnd).isBetween(theme.date_start, theme.date_end)) ||
        (this.moment(dayStart) === this.moment(theme.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format())
      ) {
        if (theme.type === 'Командировка' && theme.type !== theme.name) {
          return `${theme.type} (${theme.name})`
        } else if (theme.type === null) {
          return theme.name
        } else {
          return theme.type
        }
      }
    }
  }
}
</script>