<template>
    <div class="log-five-header">
      <div>
        <h1 class="navbar__title navbar__title--bordered">Летучка 5 канал</h1>
        <div class="date-picker-wrapper">
          <el-date-picker
            class="log-header__picker"
            v-model="$store.state.log.logFiveDate"
            type="date"
            :editable="false"
            :clearable="false"
            format="dd/MM/yyyy"
            :picker-options="pickerOptions"
            @change="handleChangeDate"
            @focus="pickerFocus"
            @blur="pickerBlur"
          >
          </el-date-picker>
          <div class="date-picker-day-of-week">{{ moment($store.state.log.logFiveDate).locale("ru").format("dddd") }}</div>
        </div>
        <el-button-group class="log-header__button-group desktop-only">
          <el-button
            type="primary"
            v-for="(btn, index) in buttonGroup"
            :key="index"
            @click="handleChangeDate(btn.value)"
          >
            {{ btn.text }}
          </el-button>
        </el-button-group>
        <el-tooltip class="item desktop-only" effect="dark" content="Настройки вывода на печать" placement="bottom">
          <el-button
            class="log-header__settings-btn"
            :disabled="$route.name === 'logfivesaved' && $store.state.log.logFiveDate < moment(new Date()).set({hour:0,minute:0,second:0,millisecond:0}).format() ? true : false"
            type="primary"
            icon="el-icon-s-tools"
            @click="logSettingsVisible = true"
          >
          </el-button>
        </el-tooltip>
        <el-button class="duty-corrs-btn desktop-only" size="medium" @click="showEmployeesVisible = true">Дежурные<br>корреспонденты</el-button>
        <el-switch
          class="switch desktop-only"
          v-model="switchLog"
          inactive-text="Сменить вид"
          @change="printLog"
        >
        </el-switch>
      </div>

      <div class="search-field-block desktop-only">
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
          :clearable="true"
          @clear="clearFilter"
          @keyup.enter.native="filterTable"
        >
        </el-input>
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          :disabled="$route.name === 'logfive' ? false : true"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
      </div>

      <div class="mobile-only mobile-header">
        <div class="search-field-block">
          <el-button
            class="item search-field-btn"
            :class="{ active: showSearchField }"
            :disabled="$route.name === 'logfive' ? false : true"
            icon="el-icon-search"
            @click="filterTable"
          >
          </el-button>
          <el-input
            size="medium"
            class="search-field-input"
            :class="{ active: showSearchField }"
            v-model="searchField"
            placeholder="Поиск"
          >
          </el-input>
          <el-button
            class="search-field-btn-clear"
            :class="{ active: showSearchField }"
            slot="append"
            icon="el-icon-circle-close"
            @click="clearFilter"
          >
          </el-button>
        </div>
        <el-button class="duty-corrs-btn" size="medium" @click="showEmployeesVisible = true">Дежурные<br>корреспонденты</el-button>
        <el-switch
          class="switch"
          v-model="switchLog"
          inactive-text="Скачать PDF"
          @change="printLog"
        >
        </el-switch>
      </div>

      <el-dialog
        class="log-five-header__show-settings"
        title="Настройки вывода на печать"
        :visible.sync="logSettingsVisible"
        :destroy-on-close="true"
        :close-on-press-escape="false"
        :close-on-click-modal="false"
        @close="hideLogSettings"
      >
        <LogFiveSettings
          @hideLogSettings="hideLogSettings"
          @changeLogSettings="changeLogSettings"
        />
      </el-dialog>

      <el-dialog
        class="log-five-header__show-employees"
        :title="`Дежурные корреспонденты ${moment($store.state.log.logFiveDate).format('DD.MM.YYYY')}`"
        :visible.sync="showEmployeesVisible"
        :destroy-on-close="true"
        :close-on-press-escape="false"
        :close-on-click-modal="false"
      >
        <ShowEmployees
          initTab="2"
          :date="$store.state.log.logFiveDate"
          @hideEmployees="hideEmployees"
        />
      </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import LogFiveSettings from '@/components/logfive/LogFiveSettings'
import ShowEmployees from '@/components/planning/ShowEmployees'

export default {
  name: 'logfiveheader',
  components: {
    LogFiveSettings,
    ShowEmployees
  },
  data() {
    return {
      showSearchField: false,
      searchField: null,
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      },
      logMetathemes: [],
      logSettingsVisible: false,
      switchLog: this.$route.name === 'logfive' ? false : true,
      showEmployeesVisible: false
    }
  },
  mounted() {
    document.addEventListener('keydown', this.escListener)
  },
  watch: { 
    '$route.name': {
      immediate: true,
      handler() {
        if (this.$route.name === 'logfive') {
          this.switchLog = false
        }
      }
    },
    '$route.params.logDate': {
      immediate: true,
      handler() {
        if (this.$route.name === 'logfivesaved' && this.moment(this.$store.state.log.logFiveDate).format('DD-MM-YYYY') !== this.$route.params.logDate) {
          this.switchLog = true
          const date = this.$route.params.logDate[6] +
            this.$route.params.logDate[7] +
            this.$route.params.logDate[8] +
            this.$route.params.logDate[9] +
            this.$route.params.logDate[2] +
            this.$route.params.logDate[3] +
            this.$route.params.logDate[4] +
            this.$route.params.logDate[5] +
            this.$route.params.logDate[0] +
            this.$route.params.logDate[1]
          this.$store.commit('setLogFiveDate', date)
        }
      }
    }
  },
  computed: {
    buttonGroup() {
      const buttons = []
      for (let i = 0; i < 8; i++) {
        buttons.push({
          text: this.moment(new Date()).add(i, 'days').format('DD.MM'),
          value: this.moment(new Date()).add(i, 'days').format()
        })
      }
      return buttons
    }
  },
  methods: {
    handleChangeDate(newDate) {
      this.showSearchField = false
      this.searchField = null
      this.$store.commit('setLogSearchFiled', null)
      this.$store.commit('setLogFiveDate', newDate)
      if (this.$route.name === 'logfivesaved' && this.moment(this.$store.state.log.logFiveDate).format('DD-MM-YYYY') !== this.$route.params.logDate) {
        this.printLog()
      }
    },
    printLog() {
      this.showSearchField = false
      this.searchField = null
      this.$store.commit('setLogSearchFiled', null)
      if (!this.switchLog) {
        this.$router.push('/logfive')
      } else {
        const date = this.moment(this.$store.state.log.logFiveDate).format('DD-MM-YYYY')
        if (this.$store.state.log.logFiveDate < this.moment(new Date()).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
          this.$router.push(`/logfive/${date}`)
        } else {
          this.saveLog(date)
        }
      }
    },
    async saveLog(date) {
      this.loading = true
      let queryLog = qs.stringify({ _where: {
        _or: [
            [
              { 'metatheme_section.show_in_log': true },
              { 'status_log': true },
              { 'date_start_lte': this.moment(this.$store.state.log.logFiveDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.log.logFiveDate).set({hour:0,minute:0,second:0,millisecond:0}).format() }
            ]
          ]
        }
      })
      const params = {
        _sort: `metatheme_section.sortLogParam5tv:asc,metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      this.logMetathemes = await this.$store.dispatch('fetchMetathemes', {query: queryLog, params})

      const query = qs.stringify({ _where: {_or: [[{ 'logDate': date }]]}})
      const response = await this.$store.dispatch('fetchLogs', query)
      if (!response.length) {
        try {
          let data = {
            logDate: date,
            themes: this.logMetathemes
          }
          await this.$store.dispatch('saveLog', data)
          .then(() => {
            this.loading = false
            this.$router.push(`/logfive/${date}`)
          })
        } catch (e) {
          this.$message.error('Недостаточно прав для выполнения данной операции')
          console.log(e)
        }
      } else {
        try {
          let data = {
            id: response[0].id,
            logDate: date,
            themes: this.logMetathemes
          }
          await this.$store.dispatch('updateLog', data)
          .then(() => {
            this.loading = false
            this.$router.push(`/logfive/${date}`)
          })
        } catch (e) {
          this.$message.error('Недостаточно прав для выполнения данной операции')
          console.log(e)
        }
      }
    },
    changeLogSettings() {
      this.$store.commit('setLogSettingsUpdated')
      this.logSettingsVisible = false
    },
    hideLogSettings() {
      this.logSettingsVisible = false
    },
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setLogSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setLogSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    hideEmployees() {
      this.showEmployeesVisible = false
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setLogFiveDate', this.moment(new Date()).format())
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.log-five-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__picker.el-date-editor {
    width: 95px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      vertical-align: super;
    }
    & .el-input__prefix {
      display: none;
    }
  }
  &__button-group {
    margin: 0 5px;
    margin-top: -1px;
    & .el-button {
      padding: 9px 5px;
    }
  }
  &__settings-btn,
  &__settings-btn:hover,
  &__settings-btn:active,
  &__settings-btn:focus {
    background: #fff;
    color: #000;
    border: 1px solid #E4E4E4;
    padding: 12px 10px;
    &+.el-button {
      margin-left: 5px;
    }
  }
  &__settings-btn.is-disabled,
  &__settings-btn.is-disabled:hover {
    color: #C0C4CC;
    background-color: #fff;
    border-color: #EBEEF5;
  }
  &__show-settings .el-dialog {
    width: 380px;
  }
  &__show-employees .el-dialog__body {
    padding: 30px 0;
  }
}
@media (max-width: 1100px) {
 .log-five-header {
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      border-bottom: 1px solid #E4E4E4;
      padding: 10px 5px;
      & .el-switch.switch {
        align-self: center;
      }
    }
    &__show-employees .el-dialog {
      width: 100%;
    }
  }
}
</style>