<template>
  <div v-loading.fullscreen.lock="loading" class="coordination-mobile">
    <div v-if="shootings.length === 0" class="coordination-mobile__no-data">
      <NoData />
    </div>
    <div
      v-else
      class="coordination-mobile__item"
      :class="{ 'urgently-bg': item.urgent_departure, 'cancelled': item.status_coord === 'cancelled' }"
      v-for="item in shootings" :key="item.id"
    >
      <div class="coordination-mobile__date">
        <span v-if="!item.date_start" class="empty-text">Дата не указана</span>
        <span v-else>{{ moment(item.date_start).format('HH:mm') }} {{ moment(item.date_start).format('DD/MM') }}</span>
      </div>
      <div class="coordination-mobile__name">
        {{ item.name }}
      </div>
      <div class="coordination-mobile__address">
        <span v-if="!item.address" class="empty-text">Адрес не указан</span>
        <span v-else>{{ item.address }}</span>
      </div>
      <div class="coordination-mobile__comment">
        {{ item.comment }}
      </div>
      <div v-if="!item.duty_group" class="coordination-mobile__employees">
        <div class="coordination-mobile__label">Корреспонденты</div>
        <span v-if="!itemCorrespondents(item).length" class="empty-text">Не добавлены</span>
        <span v-for="employee in itemCorrespondents(item)" :key="employee.id">
          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
        </span>
      </div>
      <div v-if="item.metatheme && item.metatheme.status_accr !== 'new'" class="status_accr bold">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
        </svg>
        Аккредитация:
        <span v-if="item.metatheme.date_start_accr">
          с <span>{{ moment(item.metatheme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(item.metatheme.date_start_accr).format('HH:mm') }}</span>
        </span>
        <span>
          до
          <span v-if="item.metatheme.date_end_accr">{{ moment(item.metatheme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(item.metatheme.date_end_accr).format('HH:mm') }}</span>
          <span v-else class="empty-text">н/у</span>
        </span>
        <div>Статус: {{ itemStatus(item.metatheme.status_accr) }}</div>
      </div>
      <div class="coordination-mobile__statuses" v-if="!item.duty_group && !item.cooedination_event">
        <el-collapse>
          <el-collapse-item title="Показать статус" name="statuses">
            <el-button
              :disabled="item.status_coord === 'cancelled' ? true : false"
              :class="{ 'el-button--info': item.status_coord === 'new' || item.status_coord === 'cancelled', 'el-button--warning': item.status_coord === 'coord', 'el-button--success': item.status_coord === 'done' }"
              size="mini"
            >
              К <i :class="{ 'el-icon-minus': item.status_coord === 'new' || item.status_coord === 'cancelled', 'el-icon-warning': item.status_coord === 'coord', 'el-icon-success': item.status_coord === 'done' }"></i>
            </el-button>
          </el-collapse-item>
        </el-collapse>
      </div>
      <div class="coordination-mobile__theme" v-if="item.metatheme">
        <el-collapse>
          <el-collapse-item title="Показать тему" name="themeOfItem">
            <div class="coordination-mobile__label">Название</div>
            <div>{{ item.metatheme.name }}</div>
            <div v-if="item.metatheme.description" style="margin-top:5px;">
              <div class="coordination-mobile__label">Описание</div>
              <div v-html="item.metatheme.description"></div>
            </div>
          </el-collapse-item>
        </el-collapse>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'coordinationpoolsmobile',
  props: {
    shootings: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemStatus(status) {
      switch (status) {
        case 'need':
          return 'Требуется аккредитация'
        case 'progress':
          return 'Аккредитация запрошена'
        case 'done':
          return 'Аккредитация получена'
      }
    },
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.coordination-mobile {
  & .bold {
    font-weight: bold;
  }
  &__no-data {
    position: relative;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__item {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
    &.urgently-bg {
      background: rgba(230, 39, 68, .1);
      &::before, &::after {
        background: rgba(230, 39, 68, .1);
      }
    }
    &.cancelled {
      background-color: #F0F1F4;
      &::before, &::after {
        background: #F0F1F4;
      }
      & .coordination-mobile__name {
        color: #707070;
        &::before {
          content: '[Съёмка отменена]';
          font-weight: bold;
          color: #e62744;
        }
      }
    }
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__address {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    word-break: break-word;
  }
  &__comment {
    font-size: 13px;
    color: #191919;
    margin-bottom: 5px;
    word-break: break-word;
  }
  &__label {
    font-size: 12px;
    color: rgba(25, 25, 25, .48);
    margin-bottom: 3px;
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    & > span::after {
      content: ',';
      margin-left: -4px;
    }
    & > span:last-child:after {
      content: '';
    }
  }
  & .status_accr {
    font-size: 12px;
    margin-bottom: 5px;
    & svg {
      width: 23px;
      height: 23px;
      vertical-align: middle;
      fill: #E6A23C;
      stroke: #000;
      margin: 0 -5px;
    }
  }
  &__statuses {
    display: flex;
    & .el-collapse {
      border-top: none;
      border-bottom: none;
    }
    & .el-collapse-item__header {
      height: 30px;
      line-height: 30px;
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__wrap {
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__content {
      padding-bottom: 0;
    }
    & .el-collapse-item__arrow {
      margin: 0;
      margin-left: 5px;
    }
    & .el-button {
      padding: 7px 7px;
      border-radius: 3px;
      pointer-events: none;
    }
  }
  &__theme {
    & .el-collapse {
      border-top: none;
      border-bottom: none;
      margin-top: 5px;
    }
    & .el-collapse-item__header {
      height: 30px;
      line-height: 30px;
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__wrap {
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__content {
      padding-bottom: 0;
      line-height: 16px;
      & p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    & .el-collapse-item__arrow {
      margin: 0;
      margin-left: 5px;
    }
  }
}
</style>