<template>
  <div class="create-personal-shooting">
    <el-form
      :model="form"
      :rules="rules"
      ref="createPersonalShootingForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          label="Тип"
          prop="type"
        >
          <el-select
            v-model="form.type"
            @change="handleChangeType"
          >
            <el-option
              v-for="type in types"
              :key="type.name"
              :label="type.name"
              :value="type.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Повтор"
          prop="repeat"
        >
          <el-input-number
            v-model="form.repeat"
            :min="0"
          >
          </el-input-number>
        </el-form-item>
        <el-form-item
          label="Смещение"
          prop="offset"
        >
          <el-input-number
            v-model="form.offset"
            :min="0"
            :disabled="form.repeat === 0"
          >
          </el-input-number>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Название записи"
          prop="shooting_name"
        >
          <el-input
            v-model="form.shooting_name"
            :disabled="form.type === 'Не выбрано'"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Роль"
          prop="employee_role"
        >
          <el-select
            v-model="employee_role"
            :disabled="loading"
            v-loading="loading"
            element-loading-spinner="el-icon-loading"
            element-loading-background="transparent"
            @change="handleChangeEmployeeRole"
          >
            <el-option
              label="Все"
              value="Все">
            </el-option>
            <el-option
              v-for="role in roles"
              :key="role.id"
              :label="role.name"
              :value="role.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Сотрудники"
          prop="employeeId"
        >
          <el-select
            v-model="employeeId"
            :disabled="loading"
            v-loading="loading"
            element-loading-spinner="el-icon-loading"
            element-loading-background="transparent"
            @change="handleChangeEmployee"
          >
            <el-option
              v-for="employee in employees"
              :key="employee.id"
              :label="employee.title"
              :value="employee.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Комментарий о сотруднике"
          prop="comment_calendar"
        >
          <el-input
            class="comment-calendar"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_calendar"
          >
          </el-input>
        </el-form-item>
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-popconfirm
        class="add-btn"
        :title="alertRepeatText"
        icon=''
        @confirm="handleSubmit('createPersonalShootingForm')"
      >
        <el-button
          slot="reference"
          type="primary"
          :disabled="form.type === 'Не выбрано'"
        >
          Добавить
        </el-button>
      </el-popconfirm>
      <el-button
        @click="$emit('hideCreatePersonalShooting')"
      >
        Отменить
      </el-button>
    </span>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'createpersonalshooting',
  props: {
    curEmployeeId: {
      type: Number,
      required: false
    },
    curDate: {
      type: [Date, String, Object],
      required: false
    }
  },
  data() {
    const validateEmployee = (rule, value, callback) => {
      !this.employeeId ? callback(new Error('Выберите сотрудника')) : callback()
    }
    return {
      loading: false,
      roles: [],
      employees: [],
      employeeId: null,
      employee_role: null,
      currentEmployee: null,
      alertRepeatText: '',
      form: {
        type: 'Не выбрано',
        repeat: 0,
        offset: 0,
        shooting_name: null,
        date_start: null,
        date_end: null,
        comment_calendar: null
      },
      pickerOptions: {
        firstDayOfWeek: 1
      },
      types: [
        {name: 'Отпуск'},
        {name: 'Больничный'},
        {name: 'Выходной'},
        {name: 'Удалённая'},
        {name: 'Дежурный'},
        {name: 'Дежурный 05'},
        {name: 'Дежурный 09'},
        {name: 'Дежурный 10'},
        {name: 'Дежурный 11'},
        {name: 'Дежурный 12'},
        {name: 'Дежурный 14'},
        {name: 'Дежурный 15'},
        {name: 'Дежурный 16'},
        {name: 'Дежурный 18'},
        {name: 'Ночное 22-10'},
        {name: 'Ночное 22-06'},
        {name: 'Ночное 23:59-08'},
        {name: 'Ночной монтаж'},
        {name: 'Выпуск'},
        {name: 'Командировка'},
        {name: 'Срочные выезды'},
        {name: 'Итоги'},
        {name: 'Добров'},
        {name: 'Тема'}
      ],
      rules: {
        employeeId: [
          {
            validator: validateEmployee,
            trigger: 'blur'
          }
        ],
      }
    }
  },
  async mounted() {
    this.roles = await this.$store.dispatch('fetchEmployeesRoles')
  },
  watch: {
    '$store.state.employeeschedule.employeeScheduleQueries.role': {
      immediate: true,
      handler: async function () {
        this.employee_role = this.$store.state.employeeschedule.employeeScheduleQueries.role
        await this.fetchEmployees()
      }
    },
    form: {
      immediate: false,
      deep: true,
      handler: function () {
        if (this.form.repeat) {
          let date_start
          let date_end
          for (let i = 1; i <= this.form.repeat; i++) {
            date_start = this.moment(this.form.date_start).add(this.form.offset * i, 'days').format()
            date_end = this.moment(this.form.date_end).add(this.form.offset * i, 'days').format()
          }
          this.alertRepeatText = `${this.form.type} будет добавлен с повтором раз: ${this.form.repeat}, с шагом дней: ${this.form.offset}.
                                  С ${this.moment(this.form.date_start).format('DD-MM-YYYY')} по ${this.moment(date_end).format('DD-MM-YYYY')}`
        } else {
          this.form.offset = 0
          this.alertRepeatText = `Вы уверены?`
        }
      }
    },
    curEmployeeId: {
      immediate: true,
      handler: async function () {
        if (this.curEmployeeId) {
          this.employeeId = this.curEmployeeId
          this.currentEmployee = await this.$store.dispatch('fetchEmployeeById', this.employeeId)
          this.form.comment_calendar = this.currentEmployee.comment_calendar
        }
      }
    },
    curDate: {
      immediate: true,
      handler: function () {
        if (this.curDate) {
          this.form.date_start = this.moment(this.curDate).set({hour:0,minute:0,second:0,millisecond:0}).format()
        } else {
          this.form.date_start = this.moment(new Date()).set({hour:0,minute:0,second:0,millisecond:0}).format()
        }
        this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
      }
    },
  },
  methods: {
    async fetchEmployees() {
      this.loading = true
      let query = ''
      if (this.employee_role !== 'Все') {
        query = qs.stringify({ 
          _where: {
            _or: [
              [{ 'employee_role.id': this.employee_role }]
            ]
          }
        })
      }
      const employees = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees?${query}`, 
        params: { _limit: -1, _sort: 'surname:asc' }
      })
      this.employees = employees.data
      this.employees = this.employees.filter(e => !e.surname.includes('!'))
      for (let i = 0; i < this.employees.length; i++) {
        let surname = this.employees[i].surname ? this.employees[i].surname : ''
        let name = this.employees[i].name ? this.employees[i].name : ''
        let patronymic = this.employees[i].patronymic ? this.employees[i].patronymic : ''
        this.employees[i].title = `${surname} ${name} ${patronymic} (${this.employees[i].location.name})`
      }
      this.loading = false
    },
    handleChangeType(value) {
      this.form.shooting_name = value
      switch (value) {
        case 'Дежурный 05':
          this.form.date_start = this.moment(this.curDate).set({hour:5,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:13,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 09':
          this.form.date_start = this.moment(this.curDate).set({hour:9,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:17,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 10':
          this.form.date_start = this.moment(this.curDate).set({hour:10,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:18,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 11':
          this.form.date_start = this.moment(this.curDate).set({hour:11,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:19,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 12':
          this.form.date_start = this.moment(this.curDate).set({hour:12,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:20,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 14':
          this.form.date_start = this.moment(this.curDate).set({hour:14,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:22,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 15':
          this.form.date_start = this.moment(this.curDate).set({hour:15,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 16':
          this.form.date_start = this.moment(this.curDate).set({hour:16,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
          break
        case 'Дежурный 18':
          this.form.date_start = this.moment(this.curDate).set({hour:18,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:5,minute:0,second:0,millisecond:0}).format()
          break
        case 'Ночное 22-10':
          this.form.date_start = this.moment(this.curDate).set({hour:22,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:10,minute:0,second:0,millisecond:0}).format()
          break
        case 'Ночное 22-06':
          this.form.date_start = this.moment(this.curDate).set({hour:22,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:6,minute:0,second:0,millisecond:0}).format()
          break
        case 'Ночное 23:59-08':
          this.form.date_start = this.moment(this.curDate).subtract(1, 'days').set({hour:23,minute:59,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.curDate).set({hour:8,minute:0,second:0,millisecond:0}).format()
          break
        default:
          this.form.date_start = this.moment(this.curDate).set({hour:0,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
          break
      }
    },
    async handleChangeEmployeeRole() {
      await this.fetchEmployees()
      if (this.employees.length) {
        this.handleChangeEmployee(this.employees[0].id)
      } else {
        this.employeeId = null
        this.currentEmployee = null
        this.$emit('changeCreatePersonalShootingTitle', '')
      }
    },
    async handleChangeEmployee(value) {
      this.employeeId = value
      this.currentEmployee = await this.$store.dispatch('fetchEmployeeById', this.employeeId)
      let surname = this.currentEmployee.surname ? this.currentEmployee.surname : ''
      let name = this.currentEmployee.name ? this.currentEmployee.name : ''
      let patronymic = this.currentEmployee.patronymic ? this.currentEmployee.patronymic : ''
      const title = `${surname} ${name} ${patronymic}`
      this.$emit('changeCreatePersonalShootingTitle', title)
      this.form.comment_calendar = this.currentEmployee.comment_calendar
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            if (this.moment(this.form.date_end).format() < this.moment(this.form.date_start).format()) {
              this.$message.error('Дата окончания не может быть раньше даты начала')
              return false
            }
            let formData = {
              name: this.form.shooting_name,
              date_start: this.moment(this.form.date_start).format(),
              date_end: this.moment(this.form.date_end).format(),
              employees: [this.currentEmployee],
              personal: true,
              personalType: this.form.type,
              status_coord: 'new',
              author: `${JSON.parse(localStorage.getItem('user')).surname} ${JSON.parse(localStorage.getItem('user')).name}`
            }
            await this.$store.dispatch('createShooting', formData)
            if (this.form.repeat) {
              for (let i = 1; i <= this.form.repeat; i++) {
                let date_start = this.moment(this.form.date_start).add(this.form.offset * i, 'days').format()
                let date_end = this.moment(this.form.date_end).add(this.form.offset * i, 'days').format()
                let formData = {
                  name: this.form.shooting_name,
                  date_start: date_start,
                  date_end: date_end,
                  employees: [this.currentEmployee],
                  personal: true,
                  personalType: this.form.type,
                  status_coord: 'new',
                  author: `${JSON.parse(localStorage.getItem('user')).surname} ${JSON.parse(localStorage.getItem('user')).name}`
                }
                await this.$store.dispatch('createShooting', formData)
              }
            }
            await this.$store.dispatch('editEmployee', {id: this.employeeId, comment_calendar: this.form.comment_calendar})
            .then(() => {
              this.$emit('updatePersonalShootings')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.create-personal-shooting {
  & .el-form--label-top .el-form-item__label {
    padding: 0;
  }
  & .form-row {
    display: flex;
    & .el-form-item {
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
      & .el-input-number,
      & .el-date-editor,
      & .el-select {
        width: 100%;
      }
    }
  }
  & .comment-calendar.el-textarea .el-textarea__inner {
    padding: 10px 15px;
    height: 43px !important;
    resize: none;
    margin-top: 10px;
  }
  & .add-btn {
    margin-right: 10px;
  }
}
</style>