<template>
  <div class="edit-personal-shooting">
    <el-form
      :model="form"
      :rules="rules"
      ref="editPersonalShootingForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          label="Тип"
          prop="type"
        >
          <el-select
            v-model="form.type"
            @change="handleChangeType"
          >
            <el-option
              v-for="type in types"
              :key="type.name"
              :label="type.name"
              :value="type.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Повтор"
          prop="repeat"
        >
          <el-input-number
            v-model="form.repeat"
            :min="0"
          >
          </el-input-number>
        </el-form-item>
        <el-form-item
          label="Смещение"
          prop="offset"
        >
          <el-input-number
            v-model="form.offset"
            :min="0"
            :disabled="form.repeat === 0"
          >
          </el-input-number>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Название записи"
          prop="shooting_name"
        >
          <el-input
            v-model="form.shooting_name"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :clearable="false"
            :picker-options = "pickerOptions">
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          label="Комментарий о сотруднике"
          prop="comment_calendar"
        >
          <el-input
            class="comment-calendar"
            type="textarea"
            placeholder="Комментарий"
            v-model="form.comment_calendar"
          >
          </el-input>
        </el-form-item>
      </div>
      <div v-if="form.author" class="author">
        Заказ: {{ form.author }}
      </div>
    </el-form>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <div>
        <el-popconfirm
          class="add-btn"
          :title="alertRepeatText"
          icon=''
          @confirm="handleSubmit('editPersonalShootingForm')"
        >
          <el-button
            slot="reference"
            type="primary"
          >
            Изменить
          </el-button>
        </el-popconfirm>
        <el-popconfirm
          class="add-btn"
          :title="alertRepeatText"
          icon=''
          @confirm="deleteShooting"
        >
          <el-button
            slot="reference"
            type="danger"
          >
            Удалить
          </el-button>
        </el-popconfirm>
        <el-button
          @click="$emit('hideEditPersonalShooting')"
        >
          Отменить
        </el-button>
      </div>
      <el-button
        slot="reference"
        type="primary"
        @click="showHistoryVisible = true"
      >
        История изменений
      </el-button>
    </span>

    <el-dialog
      class="employeeschedule-show-history"
      title="История изменений:"
      :visible.sync="showHistoryVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="showHistoryVisible = false"
    >
      <ShowPersonalShootingHistory
        :historyShooting="editedShooting"
        @hideHistory="showHistoryVisible = false"
      />
    </el-dialog>
  </div>
</template>

<script>
import ShowPersonalShootingHistory from '@/components/employeeschedule/ShowPersonalShootingHistory'

export default {
  name: 'editpersonalshooting',
  components: {
    ShowPersonalShootingHistory
  },
  props: {
    editedShooting: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      alertRepeatText: '',
      form: {
        type: null,
        repeat: 0,
        offset: 0,
        shooting_name: null,
        date_start: null,
        date_end: null,
        comment_calendar: null,
        author: null
      },
      pickerOptions: {
        firstDayOfWeek: 1
      },
      showHistoryVisible: false,
      types: [
        {name: 'Отпуск'},
        {name: 'Больничный'},
        {name: 'Выходной'},
        {name: 'Удалённая'},
        {name: 'Дежурный'},
        {name: 'Дежурный 05'},
        {name: 'Дежурный 09'},
        {name: 'Дежурный 10'},
        {name: 'Дежурный 11'},
        {name: 'Дежурный 12'},
        {name: 'Дежурный 14'},
        {name: 'Дежурный 15'},
        {name: 'Дежурный 16'},
        {name: 'Дежурный 18'},
        {name: 'Ночное 22-10'},
        {name: 'Ночное 22-06'},
        {name: 'Ночное 23:59-08'},
        {name: 'Ночной монтаж'},
        {name: 'Выпуск'},
        {name: 'Командировка'},
        {name: 'Срочные выезды'},
        {name: 'Итоги'},
        {name: 'Добров'},
        {name: 'Тема'}
      ],
      rules: {}
    }
  },
  watch: {
    form: {
      immediate: false,
      deep: true,
      handler: function () {
        if (this.form.repeat) {
          let date_start
          let date_end
          for (let i = 1; i <= this.form.repeat; i++) {
            date_start = this.moment(this.form.date_start).add(this.form.offset * i, 'days').format()
            date_end = this.moment(this.form.date_end).add(this.form.offset * i, 'days').format()
          }
          this.alertRepeatText = `${this.form.type} будет добавлен с повтором раз: ${this.form.repeat}, с шагом дней: ${this.form.offset}.
                                  С ${this.moment(this.form.date_start).format('DD-MM-YYYY')} по ${this.moment(date_end).format('DD-MM-YYYY')}`
        } else {
          this.form.offset = 0
          this.alertRepeatText = `Вы уверены?`
        }
      }
    },
    editedShooting: {
      immediate: true,
      handler: function () {
        if (this.editedShooting) {
          this.form.type = this.editedShooting.personalType
          this.form.shooting_name = this.editedShooting.name
          this.form.date_start = this.editedShooting.date_start
          this.form.date_end = this.editedShooting.date_end
          this.form.comment_calendar = this.editedShooting.employees[0].comment_calendar
          this.form.author = this.editedShooting.author
        }
      }
    }
  },
  methods: {
    handleChangeType(value) {
      this.form.shooting_name = value
      switch (value) {
        case 'Дежурный 05':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:5,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:13,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 09':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:9,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:17,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 10':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:10,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:18,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 11':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:11,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:19,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 12':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:12,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:20,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 14':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:14,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:22,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 15':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:15,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:0,second:0,millisecond:0}).format()
          break
        case 'Дежурный 16':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:16,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
          break
        case 'Дежурный 18':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:18,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:5,minute:0,second:0,millisecond:0}).format()
          break
        case 'Ночное 22-10':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:22,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:10,minute:0,second:0,millisecond:0}).format()
          break
        case 'Ночное 22-06':
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:22,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).add(1, 'days').set({hour:6,minute:0,second:0,millisecond:0}).format()
          break
        case 'Ночное 23:59-08':
          this.form.date_start = this.moment(this.editedShooting.date_start).subtract(1, 'days').set({hour:23,minute:59,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.editedShooting.date_start).set({hour:8,minute:0,second:0,millisecond:0}).format()
          break
        default:
          this.form.date_start = this.moment(this.editedShooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format()
          this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:59,second:59,millisecond:0}).format()
          break
      }
    },
    async deleteShooting() {
      try {
        if (this.editedShooting.personalType === 'Командировка') {
          for (let i = 0; i < this.editedShooting.shootings_parent.length; i++) {
            this.editedShooting.shootings_parent[i].employees.splice(this.editedShooting.shootings_parent[i].employees.findIndex(el => el.id === this.editedShooting.employees[0].id), 1)
            await this.$store.dispatch('editShooting', {
              id: this.editedShooting.shootings_parent[i].id,
              employees: this.editedShooting.shootings_parent[i].employees
            })
          }
        }
        await this.$store.dispatch('deleteShooting', this.editedShooting.id)
        .then(() => {
          this.$emit('updatePersonalShootings')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            if (this.moment(this.form.date_end).format() < this.moment(this.form.date_start).format()) {
              this.$message.error('Дата окончания не может быть раньше даты начала')
              return false
            }
            let formData = {
              id: this.editedShooting.id,
              name: this.form.shooting_name,
              date_start: this.moment(this.form.date_start).format(),
              date_end: this.moment(this.form.date_end).format(),
              personalType: this.form.type
            }
            if (this.editedShooting.personalType === 'Командировка') {
              for (let i = 0; i < this.editedShooting.shootings_parent.length; i++) {
                let date_departure = this.editedShooting.shootings_parent[i].date_departure ? formData.date_start : null
                let date_arrival = this.editedShooting.shootings_parent[i].date_arrival ? formData.date_start : null
                let date_return = this.editedShooting.shootings_parent[i].date_return ? formData.date_end : null
                await this.$store.dispatch('editShooting', {
                  id: this.editedShooting.shootings_parent[i].id,
                  date_start: formData.date_start,
                  date_end: formData.date_end,
                  date_departure: date_departure,
                  date_arrival: date_arrival,
                  date_return: date_return
                })
                const curParent = await this.$store.dispatch('fetchShootingById', this.editedShooting.shootings_parent[i].id)
                for (let j = 0; j < curParent.shootings_child.length; j++) {
                  if (curParent.shootings_child[j].id !== this.editedShooting.id) {
                    await this.$store.dispatch('editShooting', {
                      id: curParent.shootings_child[j].id,
                      date_start: formData.date_start,
                      date_end: formData.date_end
                    })
                  }
                }
                const themeOfParent = await this.$store.dispatch('fetchMetathemeById', this.editedShooting.shootings_parent[i].metatheme)
                if (themeOfParent.date_start && this.moment(themeOfParent.date_start).format() > this.moment(formData.date_start).format()) {
                  await this.$store.dispatch('editMetatheme', {id: themeOfParent.id, date_start: formData.date_start})
                }
                if (themeOfParent.date_end && this.moment(themeOfParent.date_end).format() < this.moment(formData.date_end).format()) {
                  await this.$store.dispatch('editMetatheme', {id: themeOfParent.id, date_end: formData.date_end})
                }
              }
            }
            formData.comment_calendar = this.form.comment_calendar
            await this.$store.dispatch('editShooting', formData)
            if (this.form.repeat) {
              for (let i = 1; i <= this.form.repeat; i++) {
                let date_start = this.moment(this.form.date_start).add(this.form.offset * i, 'days').format()
                let date_end = this.moment(this.form.date_end).add(this.form.offset * i, 'days').format()
                let formData = {
                  name: this.form.shooting_name,
                  date_start: date_start,
                  date_end: date_end,
                  employees: [this.editedShooting.employees[0]],
                  personal: true,
                  personalType: this.form.type
                }
                await this.$store.dispatch('createShooting', formData)
              }
            }
            await this.$store.dispatch('editEmployee', {id: this.editedShooting.employees[0].id, comment_calendar: this.form.comment_calendar})
            .then(() => {
              this.$emit('updatePersonalShootings')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.edit-personal-shooting {
  & .el-form {
    position: relative;
  }
  & .el-form--label-top .el-form-item__label {
    padding: 0;
  }
  & .form-row {
    display: flex;
    & .el-form-item {
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
      & .el-input-number,
      & .el-date-editor,
      & .el-select {
        width: 100%;
      }
    }
  }
  & .comment-calendar.el-textarea .el-textarea__inner {
    padding: 10px 15px;
    height: 43px !important;
    resize: none;
    margin-top: 10px;
  }
  & .add-btn {
    margin-right: 10px;
  }
  & .author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
  }
  & .dialog-footer {
    display: flex;
    justify-content: space-between;
  }
}
</style>