<template>
  <div class="employeeschedule-header">
    <div class="employeeschedule-header__inner">
      <h1 class="navbar__title navbar__title--bordered">График сотрудников</h1>
      <div class="date-picker-wrapper">
        <el-date-picker
          class="employeeschedule-header__picker"
          v-model="$store.state.employeeschedule.employeeScheduleDate"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.employeeschedule.employeeScheduleDate).locale("ru").format("dddd") }}</div>
      </div>
      <el-button
        class="desktop-only"
        type="primary"
        size="medium"
        @click="showCreatePersonalShooting"
      >
        Добавить в календарь
      </el-button>
      <div class="employeeschedule-header__item desktop-only">
        <div class="employeeschedule-header__label">Роль</div>
        <el-select v-model="$store.state.employeeschedule.employeeScheduleQueries.role">
          <el-option
            label="Все"
            value="Все">
          </el-option>
          <el-option
            v-for="role in roles"
            :key="role.id"
            :label="role.name"
            :value="role.id">
          </el-option>
        </el-select>
      </div>
      <div class="employeeschedule-header__item desktop-only">
        <div class="employeeschedule-header__label">Локация</div>
        <el-select v-model="$store.state.employeeschedule.employeeScheduleQueries.location">
          <el-option
            v-for="location in locations"
            :key="location.name"
            :label="location.name"
            :value="location.id">
          </el-option>
        </el-select>
      </div>
    </div>

    <div class="mobile-only mobile-header">
      <div class="employeeschedule-header__item">
        <div class="employeeschedule-header__label">Роль</div>
        <el-select v-model="$store.state.employeeschedule.employeeScheduleQueries.role">
          <el-option
            label="Все"
            value="Все">
          </el-option>
          <el-option
            v-for="role in roles"
            :key="role.id"
            :label="role.name"
            :value="role.id">
          </el-option>
        </el-select>
      </div>
      <div class="employeeschedule-header__item">
        <div class="employeeschedule-header__label">Локация</div>
        <el-select v-model="$store.state.employeeschedule.employeeScheduleQueries.location">
          <el-option
            v-for="location in locations"
            :key="location.name"
            :label="location.name"
            :value="location.id">
          </el-option>
        </el-select>
      </div>
    </div>

    <el-dialog
      class="employee-schedule__create-form-dialog"
      :title="createPersonalShootingTitle"
      :visible.sync="createPersonalShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreatePersonalShooting"
    >
      <CreatePersonalShooting
        :curDate="curDate"
        @changeCreatePersonalShootingTitle="changeCreatePersonalShootingTitle"
        @hideCreatePersonalShooting="hideCreatePersonalShooting"
        @updatePersonalShootings="updatePersonalShootings"
      />
    </el-dialog>
  </div>
</template>

<script>
import CreatePersonalShooting from '@/components/employeeschedule/CreatePersonalShooting'

export default {
  name: 'employeescheduleheader',
  components: {
    CreatePersonalShooting
  },
  data() {
    return {
      createPersonalShootingVisible: false,
      createPersonalShootingTitle: null,
      curDate: null,
      roles: [],
      locations: [],
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  async mounted() {
    this.roles = await this.$store.dispatch('fetchEmployeesRoles')
    this.locations = await this.$store.dispatch('fetchLocations')
  },
  methods: {
    handleChangeDate(newDate) {
      this.$store.commit('setEmployeeScheduleDate', newDate)
    },
    changeCreatePersonalShootingTitle(value) {
      this.createPersonalShootingTitle = `Сотрудник: ${value}`
    },
    showCreatePersonalShooting() {
      this.curDate = this.moment(this.$store.state.employeeschedule.employeeScheduleDate)
      this.createPersonalShootingTitle = 'Сотрудник:'
      this.createPersonalShootingVisible = true
    },
    hideCreatePersonalShooting() {
      this.curDate = null
      this.createPersonalShootingTitle = null
      this.createPersonalShootingVisible = false
    },
    updatePersonalShootings() {
      this.$store.commit('setEmployeeScheduleEvent')
      this.curDate = null
      this.createPersonalShootingTitle = null
      this.createPersonalShootingVisible = false
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setEmployeeScheduleDate', this.moment(new Date()).format())
  }
}
</script>

<style lang="scss">
.employeeschedule-header {
  &__inner {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  &__label {
    font-size: 14px;
    margin-right: 5px;
  }
  &__picker.el-date-editor {
    width: 95px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      margin-top: -10px;
    }
    & .el-input__prefix {
      display: none;
    }
  }
}
@media (max-width: 1100px) {
  .employeeschedule-header {
    width: 100%;
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
    &__item {
      flex-direction: column;
      align-items: flex-start;
      &:first-child {
        margin-left: 0;
      }
    }
    &__picker.el-date-editor {
      & .el-input__inner {
        margin-top: 0;
      }
      & .el-input__prefix {
        display: none;
      }
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      padding: 10px 5px;
    }
  }
}
</style>