<template>
  <div class="show-personal-history" v-loading="loading">
    <el-tooltip
      class="item"
      effect="dark"
      content="Печать"
    >
      <el-button
        v-print="print"
        class="print"
        type="primary"
        icon="el-icon-printer"
        size="mini"
      >
      </el-button>
    </el-tooltip>
    <div v-if="historyShooting">
      <p>
        <span style="font-weight:bold;">Название: </span>
        <span v-if="historyShooting.employees.length">
          <span v-if="historyShooting.employees[0].surname">{{ historyShooting.employees[0].surname }} </span>
          <span v-if="historyShooting.employees[0].name">{{ historyShooting.employees[0].name }} </span>
          <span v-if="historyShooting.employees[0].patronymic">{{ historyShooting.employees[0].patronymic }}</span>
        </span>
        - {{ historyShooting.name }}
      </p>
      <p><span style="font-weight:bold;">Тип: </span>{{ historyShooting.personalType }}</p>
      <p><span style="font-weight:bold;">Дата и время создания: </span>{{ moment(historyShooting.created_at).format('DD-MM-YYYY') }} {{ moment(historyShooting.created_at).format('HH:mm') }}</p>
      <p><span style="font-weight:bold;">Кем создана: </span>{{ historyShooting.author }}</p>
    </div>
    <div class="el-table show-personal-history-table">
      <table style="width:100%;">
        <thead>
          <tr>
            <th width="40">#</th>
            <th width="134">Дата и время</th>
            <th width="170">Фамилия Имя</th>
            <th width="150">Название поля</th>
            <th>Содержание поля (до сохранения изменений)</th>
            <th>Содержание поля (после сохранения изменений)</th>
          </tr>
        </thead>
        <tbody v-if="rows.length === 0">
          <tr>
            <td rowspan="1" colspan="6">
              <div>
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr v-for="(row, index) in rows" :key="index">
            <td style="text-align:center;">{{ index + 1 }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.author | truncate }}</td>
            <td>{{ row.field }}</td>
            <td>
              <div v-if="!row.contentBefore" style="color:red;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true">
                  <div v-html="row.contentBefore.replace(/,/g, ', ')"></div>
                </div>
                <div v-else>
                  {{ row.contentBefore }}
                </div>
              </div>
            </td>
            <td>
              <div v-if="!row.content" style="color:green;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true">
                  <div v-html="row.content.replace(/,/g, ', ')"></div>
                </div>
                <div v-else>
                  {{ row.content }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="$emit('hideHistory')"
      >
        Закрыть
      </el-button>
    </span>

    <PrintPersonalShootingHistory
      id="print-personal-shooting-history"
      :shooting="historyShooting"
      :rows="rows"
    />
  </div>
</template>

<script>
import qs from 'qs'
import * as Diff from 'diff'
import PrintPersonalShootingHistory from '@/components/employeeschedule/print/PrintPersonalShootingHistory'

export default {
  name: 'showpersonalshootinghistory',
  components: {
    PrintPersonalShootingHistory
  },
  props: {
    historyShooting: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: false,
    rows: [],
    print: {
      id: 'print-personal-shooting-history',
      popTitle: 'История изменений',
      preview: true,
      previewTitle: 'Предварительный просмотр',
      previewPrintBtnLabel: 'Печать',
      previewBeforeOpenCallback() {
        const iframe = document.getElementById('printArea_1')
        const contDoc = iframe.contentDocument || iframe.contentWindow.document
        contDoc.getElementById('print-personal-shooting-history').style.display = 'block'
      }
    }
  }),
  watch: {
    historyShooting: {
      immediate: true,
      handler: async function () {
        if (!this.historyShooting) {
          return
        }
        this.loading = true
        const query = qs.stringify({ 
          _where: {
          _or: [
              [
                { 'contentType': 'Событие сотрудника' },
                { 'action': 'update' },
                { 'contentId': this.historyShooting.id }
              ]
            ]
          }
        })
        let params = {
          _sort: `createdAt:desc`,
          _limit: -1
        }
        const historyRecords = await this.$store.dispatch('fetchHistoryRecords', {query, params})

        for (let i = 0; i < historyRecords.length; i++) {
          if (historyRecords[i].contentBefore.comment || historyRecords[i].content.comment) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment, historyRecords[i].content.comment, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Комментарий о сотруднике',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.date_end || historyRecords[i].content.date_end) {
            let dateBefore = historyRecords[i].contentBefore.date_end ? `${this.moment(historyRecords[i].contentBefore.date_end).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_end).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_end ? `${this.moment(historyRecords[i].content.date_end).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_end).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Окончание',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_start || historyRecords[i].content.date_start) {
            let dateBefore = historyRecords[i].contentBefore.date_start ? `${this.moment(historyRecords[i].contentBefore.date_start).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_start).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_start ? `${this.moment(historyRecords[i].content.date_start).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_start).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Начало',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.name || historyRecords[i].content.name) {
            let obj = this.getDiff(historyRecords[i].contentBefore.name, historyRecords[i].content.name, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Название записи',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.personalType || historyRecords[i].content.personalType) {
            let obj = this.getDiff(historyRecords[i].contentBefore.personalType, historyRecords[i].content.personalType, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Тип',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
        }
        this.loading = false
      }
    }
  },
  methods: {
    getDiff(text1, text2, type) {
      let span = null
      let diff
      if (type === 'string') {
        text1 = text1 ? text1 : ''
        text2 = text2 ? text2 : ''
        diff = Diff.diffChars(text1, text2)
      } else if (type === 'array') {
        text1 = text1 ? text1 : []
        text2 = text2 ? text2 : []
        diff = Diff.diffArrays(text1, text2)
      }
      
      const contentBefore = diff.filter(item => !item.added)
      const contentAfter = diff.filter(item => !item.removed)

      const fragmentBefore = document.createDocumentFragment()
      const displayBefore = document.createElement('div')
      contentBefore.forEach((part, idx, array) => {
        const color = part.removed ? 'red' : 'black'
        span = document.createElement('span')
        span.style.color = color
        if (type === 'array' && idx !== array.length - 1) {
          span.appendChild(document.createTextNode(part.value + ','))
        } else {
          span.appendChild(document.createTextNode(part.value))
        }
        fragmentBefore.appendChild(span)
      })
      displayBefore.appendChild(fragmentBefore)

      const fragmentAfter = document.createDocumentFragment()
      const displayAfter = document.createElement('div')
      contentAfter.forEach((part, idx, array) => {
        const color = part.added ? 'green' : 'black'
        span = document.createElement('span')
        span.style.color = color
        if (type === 'array' && idx !== array.length - 1) {
          span.appendChild(document.createTextNode(part.value + ','))
        } else {
          span.appendChild(document.createTextNode(part.value))
        }
        fragmentAfter.appendChild(span)
      })
      displayAfter.appendChild(fragmentAfter)

      return { displayBefore, displayAfter }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      let arr = value.split('')
      let index
      for (let i = arr.length; i > 0; i--) {
        if (arr[i] === '(') {
          index = i
          break
        }
      }
      value = value.substr(0, index)
      return value.trim()
    }
  }
}
</script>
<style lang="scss">
.show-personal-history {
  position: relative;
  border-top: 2px solid #E4E4E4;
  color: #000;
  & .print {
    position: absolute;
    right: 35px;
    top: -50px;
  }
  & #print-personal-shooting-history {
    display: none;
  }
}
.show-personal-history-table {
  padding-bottom: 30px;
  border-bottom: 2px solid #E4E4E4;
  max-height: 63vh;
  overflow-y: auto;
  & table {
    border-spacing: 0;
    border-collapse: separate;
    background: #FFF;
    & thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    & th, td {
      border: 1px solid #E4E4E4;
      padding: 10px;
      word-break: break-word;
    }
    & th {
      border-bottom: none;
      border-top: none;
      border: 1px solid #E4E4E4;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      background-color: #F4F5F7;
    }
  }
}
</style>