<template>
  <div>
    <div style="text-align:center;">
      <h2>{{ moment(date).add(1, 'days').format('DD-MM-YYYY')}} ({{ preset }})</h2>
    </div>

    <div class="no-print">
      <div class="schedule-tables">
        <div v-if="employeesMoscow.length">
          <table class="table-schedule">
            <thead class="bg">
              <tr>
                <th colspan="3">Москва</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="employee of employeesMoscow">
                <tr class="table-schedule__title" v-if="employee.employee_role_first" :key="'role' + employee.id"><th colspan="2">{{ employee.employee_role | roles }}:</th></tr>                
                <tr v-if="employee.category_first" :key="'category' + employee.id"><td colspan="2"><strong>{{ employee.category }}:</strong></td></tr>
                <tr class="break-avoid" :key="employee.id">
                  <td>{{ employee.surname }}</td>
                  <td><div class="break-all" v-for="(theme, index) in employee.themes" :key="index">{{ themeViewName(theme) }}</div></td>
                </tr>
              </template>              
            </tbody>
          </table>
        </div>

        <div v-if="employeesSpb.length">
          <table class="table-schedule">
            <thead class="bg">
              <tr>
                <th colspan="3">78-СПБ</th>
              </tr>
            </thead>
            <tbody>
              <tr class="break-avoid" v-for="employee in employeesSpb" :key="employee.id">
                <td>{{ employee.surname }}</td>
                <td>
                  <div class="break-all" v-for="(theme, index) in employee.themes" :key="index">{{ themeViewName(theme) }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div v-if="employeesRegions.length" class="no-print">
          <table class="table-schedule">
            <thead class="bg">
              <tr>
                <th colspan="3">Регионы</th>
              </tr>
            </thead>
            <tbody>
              <tr class="break-avoid" v-for="employee in employeesRegions" :key="employee.id">
                <td>{{ employee.surname }}</td>
                <td>
                  <div class="break-all" v-for="(theme, index) in employee.themes" :key="index">{{ themeViewName(theme) }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="hide print">
      <div class="schedule-tables schedule-tables_restricted">
        <template v-for="employee in employeesMoscowPrint">
          <div v-if="employee.length" :key="employee.id">
              <table class="table-schedule break-avoid" >
                <thead class="bg">
                  <tr>
                    <th colspan="3">Москва</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="item of employee" >
                    <tr class="table-schedule__title" v-if="item.employee_role_first" :key="'role' + item.id"><th colspan="2">{{ item.employee_role | roles }}:</th></tr>
                    <tr v-if="item.category_first" :key="'title' + item.id"><td colspan="2"><strong>{{ item.category }}:</strong></td></tr>
                    <tr class="break-avoid" :key="item.id">
                      <td>{{ item.surname }}</td>
                      <td><div class="break-all" v-for="(theme, index) in item.themes" :key="index">{{ themeViewName(theme) }}</div></td>
                    </tr>
                  </template>
                </tbody>
              </table>
          </div>
        </template>
      
        <template v-for="employee in employeesSpbPrint">
          <div v-if="employee.length" :key="employee.id">
              <table class="table-schedule break-avoid" >
                <thead class="bg">
                  <tr>
                    <th colspan="3">78-СПБ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="break-avoid" v-for="item in employee" :key="item.id">
                    <td>{{ item.surname }}</td>
                    <td>
                      <div class="break-all" v-for="(theme, index) in item.themes" :key="index">{{ themeViewName(theme) }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </template>
      </div>
    </div>

    <table>
      <thead class="bg">
        <tr>
          <th colspan="4">Эфирные планы на завтра (РЕН ТВ)</th>
        </tr>
        <tr>
          <th>Тема</th>
          <th style="width: 100px;">Эфир</th>
          <th style="width: 100px;">Эфирный план</th>
          <th style="width: 100px;">Корреспондент</th>
        </tr>
      </thead>
      <tbody v-if="!aethers || aethers.length === 0">
        <tr>
          <td rowspan="1" colspan="4" class="centered">
            Нет сохранённых данных (эфирные темы не сохранены)
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr class="break-avoid" v-for="aether in aethers" :key="aether.id">
          <td>
            <div>{{ aether.name }}</div>
          </td>
          <td>
            <div v-for="item in aether.metatheme_aethers" :key="'metatheme_aethers'+item.id">{{ item.name }}</div>
          </td>
          <td>
            <div v-for="item in aether.metatheme_aether_plans" :key="'AP'+item.id">{{ item.name }}</div>
          </td>
          <td>
            <div v-for="employee in themeEmployees(aether)" :key="employee.id">{{ employee.surname }}</div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="break-before">
      <thead class="bg">
        <tr>
          <th colspan="4">Эфирные планы на завтра (5ТВ)</th>
        </tr>
        <tr>
          <th>Тема</th>
          <th style="width: 100px;">Эфир</th>
          <th style="width: 100px;">Эфирный план</th>
          <th style="width: 100px;">Корреспондент</th>
        </tr>
      </thead>
      <tbody v-if="!aethers5tv || aethers5tv.length === 0">
        <tr>
          <td rowspan="1" colspan="4" class="centered">
            Нет данных
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr class="break-avoid" v-for="aether in aethers5tv" :key="aether.id">
          <td>
            <div>{{ aether.name }}</div>
          </td>
          <td>
            <div v-for="item in aether.metatheme_aethers" :key="'metatheme_aethers'+item.id">{{ item.name }}</div>
          </td>
          <td>
            <div v-for="item in aether.metatheme_aether_plans" :key="'AP5TV'+item.id">{{ item.name }}</div>
          </td>
          <td>
            <div v-for="employee in themeEmployees(aether)" :key="employee.id">{{ employee.surname }}</div>
          </td>
        </tr>
      </tbody>
    </table>


    <table v-if="!metathemes || metathemes.length === 0" class="break-before">
      <thead>
        <tr class="bg">
          <th>({{ dateInLog }})</th>
          <th width="50">Начало</th>
          <th width="95">Перегоны,<br>включения</th>
          <th width="90">Корреспондент</th>
          <th width="85">Эфирный план</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="1" colspan="5" class="centered">
            нет данных
          </td>
        </tr>
      </tbody>
    </table>

    <table v-else v-for="(themes, group, index) in grouped" :key="group" :class="{ 'break-before': checkBreakBefore(group, index) }">
      <thead>
        <tr class="bg">
          <th width="15">#</th>
          <th>{{ group | titled }} ({{ dateInLog }})</th>
          <th width="95" v-if="group === 'foreign' || group === 'regions'">Адрес</th>
          <th width="50">Начало</th>
          <th width="95">Перегоны,<br>включения</th>
          <th width="90">Корреспондент</th>
          <th width="85">Эфирный план</th>
        </tr>
      </thead>
      <template>
        <tbody class="contents" v-for="(theme, index) in themes" :key="theme.id">
          <tr class="break-avoid" v-if="showSubTitle(index, themes)">
            <td rowspan="1" colspan="7" class="centered bg bold">{{ theme.metatheme_section.name }}</td>
          </tr>
          <tbody>
            <tr class="break-avoid">
              <td class="no-padding">
                <div style="text-align:center;">{{ index + 1 }}</div>
              </td>
              <td>
                <div>{{ theme.name }}</div>
                <div class="theme-short-description" v-if="theme.short_description" v-html="theme.short_description"></div>
                <div class="theme-short-description" v-if="group !== 'foreign' && group !== 'regions'">
                  {{ theme.country }} {{ theme.address }}
                </div>
              </td>
              <td v-if="group === 'foreign' || group === 'regions'">
                <div>{{ theme.country }}</div>
              </td>
              <td>
                <div v-if="theme.date_start && moment(theme.date_start).format('HH:mm') !== '00:01'">{{ moment(theme.date_start).format('HH:mm') }}</div>
                <div v-if="theme.date_start && moment(theme.date_start).format('YYYY-MM-DD') !== moment(date).add(1, 'days').format('YYYY-MM-DD')">{{ moment(theme.date_start).format('DD/MM') }}</div>
              </td>
              <td>
                <div v-for="item in theme.metatheme_inclusions" :key="'mI'+item.id">{{ item.name }}</div>
                <div  class="break-all" style="width:95px;">{{ theme.comment_inclusions }}</div>
                <div v-for="item in theme.metatheme_aethers" :key="'mA'+item.id">{{ item.name }}</div>
              </td>
              <td>
                <div v-for="employee in themeEmployees(theme)" :key="employee.id">{{ employee.surname }}</div>
              </td>
              <td>
                <div v-for="item in theme.metatheme_aether_plans" :key="'mAP'+item.id">{{ item.name }}</div>
                <div class="break-all" style="width:85px;">{{ theme.comment_aether_plans }}</div>
              </td>
            </tr>
          </tbody>
        </tbody>
      </template>
    </table>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'logpreset20',
  props: {
    preset: {
      type: String,
      required: false
    },
    date: {
      type: String,
      required: false
    },
  },
  data() {
    return {
      loading: false,
      aethers: [],
      aethers5tv: [],
      metathemes: [],
      employeesMoscow: [],
      employeesMoscowPrint: [],
      employeesSpb: [],
      employeesSpbPrint: [],
      employeesRegions: []
    }
  },
  watch: { 
    preset: {
      immediate: true,
      handler() {
        if (this.preset === '20:00') {
          this.rerender()
        }
      }
    },
    '$route.params.logDate': {
      immediate: false,
      handler() {
        if (this.preset === '20:00') {
          this.rerender()
        }
      }
    },
    '$store.state.log.logSettingsUpdated': {
      immediate: false,
      handler() {
        if (this.preset === '20:00') {
          this.rerender()
        }
      }
    }
  },
  computed: {
    grouped() {
      const arr = this.metathemes.reduce((acc, n) => {
        if (n.metatheme_section.group !== 'foreign_5' && n.metatheme_section.group !== 'regions_5') {
          (acc[n.metatheme_section.group] = acc[n.metatheme_section.group] || []).push(n)
        }
        return acc
      }, {})
      if (arr.regions) {
        let withDate = arr.regions.filter(r => r.date_start !== null || r.date_end !== null)
        let withoutDate = arr.regions.filter(r => r.date_start === null || r.date_end === null)
        arr.regions = [...withDate, ...withoutDate]
        arr.regions = arr.regions.sort((a, b) => a.metatheme_section.sortParam - b.metatheme_section.sortParam)
      }
      return arr
    },
    dateInLog() {
      return this.moment(this.date).add(1, 'days').format('DD-MM-YYYY')
    }
  },
  methods: {
    async rerender() {
      this.$emit('rerender', true)
      this.loading = true
      this.employeesMoscow = [],
      this.employeesMoscowPrint = [],
      this.employeesSpb = [],
      this.employeesSpbPrint = [],
      this.employeesRegions = []
      await this.fetchPersonalSchedule()
      await this.fetchAethers()
      await this.fetchAethers5tv()
      await this.fetchMetathemesTomorrow()
      if (this.metathemes !== null) {
        this.metathemes = this.metathemes.filter(m => m.metatheme_section.group !== 'gazetaiz')
      }
      this.loading = false
      this.$emit('rerender', false)
    },
    showSubTitle(index, themes) {
      return (themes[index - 1] && themes[index].metatheme_section.name !== themes[index - 1].metatheme_section.name || index === 0) ? true : false
    },
    async fetchMetathemesTomorrow() {
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'metatheme_section.show_in_log': true },
              { 'status_log': true },
              { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'published_at_null': false }
            ],
            [
              { 'metatheme_section.show_in_log': true },
              { 'metatheme_section.group': 'regions' },
              { 'status_log': true },
              { 'date_start_null': true },
              { 'date_end_null': true },
              { 'published_at_null': false }
            ]
          ]
        }
      })
      let params = {
        _sort: `metatheme_section.sortLogParam:asc,metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
    },
    async fetchAethers() {
      const date = this.moment(this.date).add(1, 'days').format('DD-MM-YYYY')
      const queryLog = qs.stringify({ _where: {_or: [[{ 'logDate': date }]]}})
      const responseLog = await this.$store.dispatch('fetchLogs', queryLog)
      if (responseLog.length && responseLog[0].aethers) {
        this.aethers = responseLog[0].aethers
      }
      else {
        let params = {
          _sort: `sortAetherPlans:asc,date_start:asc`,
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        const metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
        let arr1 = metathemes.filter(m => m.metatheme_aether_plans.some(ap =>
          ap.name === 'ВМЗ' ||
          ap.name === 'БЗ+СХ' ||
          ap.name === 'ВМЗ/БЗ+СХ' ||
          ap.name === 'Прямо'
        ))
        let arr2 = arr1.filter(m => m.metatheme_aether_plans.some(ap => ap.name === 'Разработка'))
        for (let i = 0; i < arr2.length; i++) {
          arr1.splice(arr1.findIndex(item => item.id === arr2[i].id), 1)
        }
        arr1.sort((a, b) => a.sortAetherPlans - b.sortAetherPlans)
        this.aethers = arr1.filter(m => m.aether_plan_rentv)
      }
    },
    async fetchAethers5tv() {
      let params = {
        _sort: `sortAetherPlans:asc,date_start:asc`,
        _limit: -1
      }
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'published_at_null': false }
            ]
          ]
        }
      })
      const metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      let arr1 = metathemes.filter(m => m.metatheme_aether_plans.some(ap =>
        ap.name === 'ВМЗ' ||
        ap.name === 'БЗ+СХ' ||
        ap.name === 'ВМЗ/БЗ+СХ' ||
        ap.name === 'Прямо'
      ))
      let arr2 = arr1.filter(m => m.metatheme_aether_plans.some(ap => ap.name === 'Разработка'))
      for (let i = 0; i < arr2.length; i++) {
        arr1.splice(arr1.findIndex(item => item.id === arr2[i].id), 1)
      }
      arr1.sort((a, b) => a.sortAetherPlans - b.sortAetherPlans)
      this.aethers5tv = arr1.filter(m => m.aether_plan_5tv)
    },
    async fetchPersonalSchedule() {
      this.loading = true
      let  query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'personal': true }
            ],
            [
              { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'personal': true }
            ]
          ]
        }
      })
      const personalShootingsFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${query}`, 
        params: { _limit: -1 }
      })
      const personalShootings = personalShootingsFetch.data
      const schedule = []
      for (let i = 0; i < personalShootings.length; i++) {
        if (personalShootings[i].employees[0]) {
          this.$set(personalShootings[i].employees[0], 'themes', [])
          personalShootings[i].employees[0].themes.push({
            type: personalShootings[i].personalType,
            name: personalShootings[i].name,
            date_start: personalShootings[i].date_start,
            date_end: personalShootings[i].date_end
          })
          schedule.push(personalShootings[i].employees[0])
        }
      }
      
      let queryThemes = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'status_log': true },
            ],
            [
              { 'date_start_lte': this.moment(this.date).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'status_log': true },
            ]
          ]
        }
      })
      const personalMetathemesFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/metathemes?${queryThemes}`,
        params: { _limit: -1 }
      })
      let personalMetathemes = personalMetathemesFetch.data
      personalMetathemes = personalMetathemes.filter(m => m.shootings.length !== 0)
      personalMetathemes = personalMetathemes.filter(m => !m.shootings.some(s => s.metatheme_aether_plans.some(ap => ap.name === 'Командировка') &&
                          s.shootings_child.length && s.shootings_child.every(sc => sc.personalType === 'Командировка')))
      for (let i = 0; i < personalMetathemes.length; i++) {
        this.$set(personalMetathemes[i], 'employeesArr', [])
        for (let j = 0; j < personalMetathemes[i].shootings.length; j++) {
          for (let k = 0; k < personalMetathemes[i].shootings[j].employees.length; k++) {
            personalMetathemes[i].employeesArr.push(personalMetathemes[i].shootings[j].employees[k])
          }
        }
      }
      personalMetathemes = personalMetathemes.filter(m => m.employeesArr.length !== 0)
      const employees = []
      for (let i = 0; i < personalMetathemes.length; i++) {
        for (let j = 0; j < personalMetathemes[i].employeesArr.length; j++) {
          this.$set(personalMetathemes[i].employeesArr[j], 'themes', [])
          personalMetathemes[i].employeesArr[j].themes.push({
            type: 'metatheme',
            name: personalMetathemes[i].name,
            date_start: personalMetathemes[i].date_start,
            date_end: personalMetathemes[i].date_end
          })
          employees.push(personalMetathemes[i].employeesArr[j])
        }
      }
      let employees_schedule = [...schedule, ...employees]
      employees_schedule.sort((a, b) => a.surname.localeCompare(b.surname))
      employees_schedule = employees_schedule.reduce(function(arr, item) {
          let found = false
          for (let i = 0; i < arr.length; i++) {
            if (arr[i].id === item.id) {
              found = true
              arr[i].themes.push(item.themes[0])
              arr[i].count++
            }
          }
          if (!found) {
            item.count = 1
            arr.push(item)
          }
          return arr
      }, [])
      const duty = employees_schedule.filter(e => e.themes.some(t => t.type.includes('Дежурный') || t.type === ('Удалённая')))
      for (let i = 0; i < duty.length; i++) {
        duty[i].category = 'Дежурства'
        for (let j = 0; j < duty[i].themes.length; j++) {
          if (duty[i].themes[j].type.includes('Дежурный')) {
            duty[i].themes.unshift(...duty[i].themes.splice(j, 1))
          }
        }
      }
      duty.sort((a, b) => a.themes[0].type.localeCompare(b.themes[0].type))
      const dutyCorrespondents = duty.filter(d => d.employee_role === 4)
      const dutyProducers = duty.filter(d => d.employee_role === 7)
      const night = employees_schedule.filter(e => e.themes.some(t => t.type.includes('Ночно'))).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const nightCorrespondents = night.filter(n => n.employee_role === 4)
      const nightProducers = night.filter(n => n.employee_role === 7)
      const business_trip = employees_schedule.filter(e => e.themes.some(t => t.type ==='Командировка')).map((el => {return {...el, category: 'Командировки'}}))
      const holiday = employees_schedule.filter(e => e.themes.some(t => t.type === 'Отпуск')).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const weekend = employees_schedule.filter(e => e.themes.some(t => t.type === 'Выходной')).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const sick = employees_schedule.filter(e => e.themes.some(t => t.type === 'Больничный')).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const metathemes = employees_schedule.filter(e => e.themes.every(t => !t.type.includes('Дежурный')
                        && t.type !== ('Удалённая')
                        && !t.type.includes('Ночно')
                        && t.type !== ('Выходной')
                        && t.type !== ('Отпуск')
                        && t.type !== ('Больничный')
                        && t.type !== ('Командировка')
                      )).map((el => {return {...el, category: 'Темы'}}))
      const metathemesCorrespondents = metathemes.filter(m => m.employee_role === 4)
      const metathemesProducers = metathemes.filter(m => m.employee_role === 7)
      employees_schedule = [...dutyCorrespondents,...nightCorrespondents,...metathemesCorrespondents,...dutyProducers,...nightProducers,...metathemesProducers,...business_trip,...holiday,...weekend,...sick]
      
      let employeesMoscow = employees_schedule.filter(e => e.location === 1 && (e.employee_role === 4 || e.employee_role === 7) && e.surname !== '!Без Корреспондента')
      employeesMoscow = employeesMoscow.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      this.employeesMoscow = this.transformEmployee(employeesMoscow)
      this.employeesMoscowPrint = this.splitEmployees(this.employeesMoscow)

      this.employeesSpb = employees_schedule.filter(e => e.location === 2 && (e.employee_role === 4 || e.employee_role === 7))
      this.employeesSpb = this.employeesSpb.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      this.employeesSpbPrint = this.splitEmployees(this.employeesSpb)
      
      this.employeesRegions = employees_schedule.filter(e => e.location === 3 && (e.employee_role === 4 || e.employee_role === 7))
      this.employeesRegions = this.employeesRegions.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      this.loading = false
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    themeViewName(theme) {
      if (theme.type === 'Командировка' && theme.type !== theme.name) {
        return `${theme.type} (${theme.name.trim()})`
      } else if (theme.type === 'Дежурный 18') {
        if (this.moment(theme.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(this.date).add(1, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format()) {
          return `После ночного`
        } else {
          return theme.type
        }
      } else if (theme.type === 'metatheme') {
        return theme.name
      } else {
        return theme.name
      }
    },
    splitEmployees(employees) {   
      if (!employees.length) return []
      const ROWS = 26
      const SYMBOLS = 33
      const result = []
      let subResult = []
      let rows = 0

      employees.forEach((employee, i) => {
        let employeeRows = 0
        let koef = employee.themes.length === 1 ? 1.3 : 1

        if (employee.employee_role_first) employeeRows += 1.5
        if (employee.category_first) employeeRows += 1.3

        employee.themes.forEach(theme => {
          let name = this.themeViewName(theme)
          if (name.length > SYMBOLS) {            
            employeeRows += Math.ceil(name.length / SYMBOLS)
          } else { 
            employeeRows += koef            
          }          
        })
        if (Math.ceil(rows + employeeRows) < (result.length > 3 ? ROWS + 7 : ROWS)) {
          rows += employeeRows
          subResult.push(employee)
        } else {
          result.push(subResult)
          subResult = []
          subResult.push(employee)
          rows = employeeRows
        }
        if (i == employees.length - 1){
          result.push(subResult)
        }
      }) 
      return result
    },
    transformEmployee(employee) {
      const allCorrs = employee.filter(el => el.employee_role === 4)
      const allProds = employee.filter(el => el.employee_role === 7)
      
      const corrs = {      
        duty: allCorrs.filter(el => el.category === 'Дежурства'),
        themes: allCorrs.filter(el => el.category === 'Темы'),
        business_trips: allCorrs.filter(el => el.category === 'Командировки'),
        other: allCorrs.filter(el => el.category === 'Выходные и прочее'),
      }
      const prods = {  
        duty: allProds.filter(el => el.category === 'Дежурства'),
        themes: allProds.filter(el => el.category === 'Темы'),
        business_trips: allProds.filter(el => el.category === 'Командировки'),
        other: allProds.filter(el => el.category === 'Выходные и прочее'),
      }

      if (corrs.duty.length) corrs.duty[0].category_first = true
      if (corrs.themes.length) corrs.themes[0].category_first = true
      if (corrs.business_trips.length) corrs.business_trips[0].category_first = true
      if (corrs.other.length) corrs.other[0].category_first = true

      if (prods.duty.length) prods.duty[0].category_first = true
      if (prods.themes.length) prods.themes[0].category_first = true
      if (prods.business_trips.length) prods.business_trips[0].category_first = true
      if (prods.other.length) prods.other[0].category_first = true

      const concatCorrs = [
        ...corrs.duty,
        ...corrs.themes,
        ...corrs.business_trips,
        ...corrs.other
      ]

      const concatProds = [
        ...prods.duty,
        ...prods.themes,
        ...prods.business_trips,
        ...prods.other
      ]

      if (concatCorrs.length) concatCorrs[0].employee_role_first = true
      if (concatProds.length) concatProds[0].employee_role_first = true


      return [
        ...concatCorrs,
        ...concatProds
      ]      
    },
    checkBreakBefore(group, index) {
      let arr = []
      for (let item in this.grouped) {
        arr.push(item)
      }
      return group.includes('producers') && arr[index - 1] && arr[index - 1].includes('producers') ? false : true
    }
  },
  filters: {
    titled: function (group) {
      switch (group) {
        case 'planning':
          return 'Планирование'
        case 'aether_78':
          return '78-СПБ'
        case 'regions':
          return 'Регионы'
        case 'foreign':
          return 'Зарубежка'
        case 'producers':
          return 'Продюсеры РЕН'
        case 'producers_5':
          return 'Продюсеры - 5 канал'
        case 'iztv':
          return 'IZ.TV'
        case 'aether_112':
          return '112'
        case 'aether_5':
          return '5TV'
        case 'gazetaiz':
          return 'Планы Газета'
      }
    },
    roles: function (role) {
      switch (role) {
        case 4:
          return 'Корреспонденты'
        case 7:
          return 'Снимающие продюсеры'  
      }
    }
  }
}
</script>