<template>
  <div>
    <div style="text-align:center;">
      <h2>ЕЖЕНЕДЕЛЬНЫЙ РАБОЧИЙ ЛОГ</h2>
      <h2>{{ mainTitle() }}</h2>
    </div>
    <div>
      <div v-if="employeesMoscow.length" style="width:100%;">
        <table class="table-schedule week-log">
          <thead class="bg">
            <tr>
              <th>Корреспонденты</th>
              <th v-for="i in 7" :key="i">
                {{ dayOfWeek(i + 6) }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="break-avoid" v-for="employee in employeesMoscow" :key="employee.id">
              <td>{{ employee.surname }}</td>
              <td v-for="i in 7" :key="i">
                <div v-for="(theme, index) in employee.themes" :key="index">{{ themesOfDay(theme, i + 6) }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div v-for="(day, metaindex) in metathemes" :key="metaindex">
      <table v-if="!day || day.length === 0" class="break-before">
        <thead>
          <tr class="bg">
            <th>({{ dateInLog(metaindex) }}, {{ dayOfWeekInLog(metaindex) }})</th>
            <th width="50">Начало</th>
            <th width="95">Перегоны,<br>включения</th>
            <th width="90">Корреспондент</th>
            <th width="85">Эфирный план</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="1" colspan="5" class="centered">
              нет данных
            </td>
          </tr>
        </tbody>
      </table>

      <div v-else v-for="(themes, group, index) in grouped(day, metaindex)" :key="group" class="break-before">
        <h2 v-if="index === 0" style="font-size:18px;text-align:center;">{{ dateInLog(metaindex) }} ({{  dayOfWeekInLog(metaindex) }})</h2>
        <table>
          <thead>
            <tr class="bg">
              <th width="15">#</th>
              <th>{{ group | titled }} ({{ dateInLog(metaindex) }}, {{ dayOfWeekInLog(metaindex) }})</th>
              <th width="95" v-if="group === 'foreign' || group === 'regions'">Адрес</th>
              <th width="50" v-if="group !== 'regions'">Начало</th>
              <th width="95" v-if="group !== 'regions'">Перегоны,<br>включения</th>
              <th width="90" v-if="group !== 'regions'">Корреспондент</th>
              <th width="85">Эфирный план</th>
            </tr>
          </thead>
          <template>
            <tbody class="contents" v-for="(theme, index) in themes" :key="theme.id">
              <tr class="break-avoid" v-if="showSubTitle(index, themes)">
                <td rowspan="1" colspan="7" class="centered bg bold">{{ theme.metatheme_section.name }}</td>
              </tr>
              <tbody>
                <tr class="break-avoid">
                  <td class="no-padding">
                    <div style="text-align:center;">{{ index + 1 }}</div>
                  </td>
                  <td>
                    <div>{{ theme.name }}</div>
                    <div class="theme-short-description" v-if="theme.short_description" v-html="theme.short_description"></div>
                    <div class="theme-short-description" v-if="group !== 'foreign' && group !== 'regions'">
                      {{ theme.country }} {{ theme.address }}
                    </div>
                    <div class="theme-short-description" v-if="theme.status_accr !== 'new'">
                      Аккредитация:
                      <span v-if="theme.date_start_accr">
                        с <span class="bold">{{ moment(theme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_start_accr).format('HH:mm') }}</span>
                      </span>
                      <span>
                        до
                        <span v-if="theme.date_end_accr" class="bold">{{ moment(theme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_end_accr).format('HH:mm') }}</span>
                        <span v-else class="empty-text">н/у</span>
                      </span>
                    </div>
                  </td>
                  <td v-if="group === 'foreign' || group === 'regions'">
                    <div>{{ theme.country }}</div>
                  </td>
                  <td v-if="group !== 'regions'">
                    <div v-if="theme.date_start && moment(theme.date_start).format('HH:mm') !== '00:01'">{{ moment(theme.date_start).format('HH:mm') }}</div>
                    <div v-if="theme.date_start && moment(theme.date_start).format('DD-MM-YYYY') !== dateInLog(metaindex)">{{ moment(theme.date_start).format('DD/MM') }}</div>
                  </td>
                  <td v-if="group !== 'regions'">
                    <div v-for="item in theme.metatheme_inclusions" :key="'mI'+item.id">{{ item.name }}</div>
                    <div class="break-all" style="width:95px;">{{ theme.comment_inclusions }}</div>
                    <div v-for="item in theme.metatheme_aethers" :key="'mA'+item.id">{{ item.name }}</div>
                  </td>
                  <td v-if="group !== 'regions'">
                    <div v-for="employee in themeEmployees(theme)" :key="employee.id">{{ employee.surname }}</div>
                  </td>
                  <td>
                    <div v-for="item in theme.metatheme_aether_plans" :key="'mAP'+item.id">{{ item.name }}</div>
                    <div class="break-all" style="width:85px;">{{ theme.comment_aether_plans }}</div>
                  </td>
                </tr>
              </tbody>
            </tbody>
          </template>
        </table>
      </div>

    </div>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'logpresetweek',
  props: {
    preset: {
      type: String,
      required: false
    },
    date: {
      type: String,
      required: false
    },
  },
  data() {
    return {
      loading: false,
      metathemes: [],
      employeesMoscow: []
    }
  },
  watch: { 
    preset: {
      immediate: true,
      handler() {
        if (this.preset === 'Недельный лог') {
          this.rerender()
        }
      }
    },
    '$route.params.logDate': {
      immediate: false,
      handler() {
        if (this.preset === 'Недельный лог') {
          this.rerender()
        }
      }
    },
    '$store.state.log.logSettingsUpdated': {
      immediate: false,
      handler() {
        if (this.preset === 'Недельный лог') {
          this.rerender()
        }
      }
    }
  },
  methods: {
    dateInLog(index) {
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      const monday = this.moment(currentMonday).add(7, 'days').format()
      return this.moment(monday).add(index, 'days').format('DD-MM-YYYY')
    },
    dayOfWeekInLog(index) {
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      const monday = this.moment(currentMonday).add(7, 'days').format()
      let dayOfWeek = this.moment(monday).add(index, 'days').locale('ru').format('dddd')
      return dayOfWeek[0].toUpperCase() + dayOfWeek.slice(1)
    },
    grouped(day, index) {
      let arr = day.reduce((acc, n) => {
        (acc[n.metatheme_section.group] = acc[n.metatheme_section.group] || []).push(n)
        return acc
      }, {})
      if (arr.regions && index !== 0) {
        arr.regions = arr.regions.filter(r => r.date_start !== null || r.date_end !== null)
      }
      if (arr.regions && index === 0) {
        let withDate = arr.regions.filter(r => r.date_start !== null || r.date_end !== null)
        let withoutDate = arr.regions.filter(r => r.date_start === null || r.date_end === null)
        arr.regions = [...withDate,...withoutDate]
        arr.regions = arr.regions.sort((a, b) => a.metatheme_section.sortParam - b.metatheme_section.sortParam)
      }
      if (arr.regions && !arr.regions.length) {
        delete arr.regions
      }
      return arr
    },
    async rerender() {
      this.$emit('rerender', true)
      this.loading = true
      this.metathemes = []
      this.employeesMoscow = []
      await this.fetchPersonalSchedule()
      await this.fetchMetathemes()
      this.loading = false
      this.$emit('rerender', false)
    },
    showSubTitle(index, themes) {
      return (themes[index - 1] && themes[index].metatheme_section.name !== themes[index - 1].metatheme_section.name || index === 0) ? true : false
    },
    async fetchMetathemes() {
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      const monday = this.moment(currentMonday).add(7, 'days').format()
      const params = {
        _sort: `metatheme_section.sortLogParam:asc,metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      for (let i = 0; i < 7; i++) {
        let query = qs.stringify({ _where: {
          _or: [
              [
                { 'metatheme_section.group': ['planning', 'aether_78', 'regions', 'foreign'] },
                { 'status_log': true },
                { 'date_start_lte': this.moment(monday).add(i, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_gte': this.moment(monday).add(i, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'published_at_null': false }
              ],
              [
                { 'metatheme_section.name': ['Разработка Рег', 'Консервы Рег'] },
                { 'status_log': true },
                { 'date_start_null': true },
                { 'date_end_null': true },
                { 'published_at_null': false }
              ],
              [
                { 'metatheme_section.name': 'Планы - Газета' },
                { 'status_log': true },
                { 'date_start_lte': this.moment(monday).add(i, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_gte': this.moment(monday).add(i, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        let themes = await this.$store.dispatch('fetchMetathemes', {query, params})
        themes = themes.filter(m => m.metatheme_section.name !== 'Остальное М')
        this.metathemes.push(themes)
      }
    },
    async fetchPersonalSchedule() {
      this.loading = true
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      const monday = this.moment(currentMonday).add(7, 'days').format()
      let  query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(monday).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(monday).add(6, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'personal': true }
            ],
            [
              { 'date_start_lte': this.moment(monday).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_end_gte': this.moment(monday).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'personal': true }
            ]
          ]
        }
      })
      const personalShootingsFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${query}`, 
        params: { _limit: -1 }
      })
      const personalShootings = personalShootingsFetch.data
      const schedule = []
      for (let i = 0; i < personalShootings.length; i++) {
        if (personalShootings[i].employees[0]) {
          this.$set(personalShootings[i].employees[0], 'themes', [])
          personalShootings[i].employees[0].themes.push({
            type: personalShootings[i].personalType,
            name: personalShootings[i].name,
            date_start: personalShootings[i].date_start,
            date_end: personalShootings[i].date_end
          })
          schedule.push(personalShootings[i].employees[0])
        }
      }
      
      let queryThemes = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(monday).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(monday).add(6, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'status_log': true },
            ],
            [
              { 'date_start_lte': this.moment(monday).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_end_gte': this.moment(monday).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'status_log': true },
            ]
          ]
        }
      })
      const personalMetathemesFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/metathemes?${queryThemes}`, 
        params: { _limit: -1 }
      })
      let personalMetathemes = personalMetathemesFetch.data
      personalMetathemes = personalMetathemes.filter(m => m.shootings.length !== 0)
      personalMetathemes = personalMetathemes.filter(m => !m.shootings.some(s => s.metatheme_aether_plans.some(ap => ap.name === 'Командировка') &&
                          s.shootings_child.length && s.shootings_child.every(sc => sc.personalType === 'Командировка')))
      for (let i = 0; i < personalMetathemes.length; i++) {
        this.$set(personalMetathemes[i], 'employeesArr', [])
        for (let j = 0; j < personalMetathemes[i].shootings.length; j++) {
          for (let k = 0; k < personalMetathemes[i].shootings[j].employees.length; k++) {
            personalMetathemes[i].employeesArr.push(personalMetathemes[i].shootings[j].employees[k])
          }
        }
      }
      personalMetathemes = personalMetathemes.filter(m => m.employeesArr.length !== 0)

      const employees = []
      for (let i = 0; i < personalMetathemes.length; i++) {
        for (let j = 0; j < personalMetathemes[i].employeesArr.length; j++) {
          this.$set(personalMetathemes[i].employeesArr[j], 'themes', [])
          personalMetathemes[i].employeesArr[j].themes.push({
            type: 'metatheme',
            name: personalMetathemes[i].name,
            date_start: personalMetathemes[i].date_start,
            date_end: personalMetathemes[i].date_end
          })
          employees.push(personalMetathemes[i].employeesArr[j])
        }
      }

      let employees_schedule = [...schedule, ...employees]
      employees_schedule.sort((a, b) => a.surname.localeCompare(b.surname))
      employees_schedule = employees_schedule.reduce(function(arr, item) {
          let found = false
          for (let i = 0; i < arr.length; i++) {
            if (arr[i].id === item.id) {
              found = true
              arr[i].themes.push(item.themes[0])
              arr[i].count++
            }
          }
          if (!found) {
            item.count = 1
            arr.push(item)
          }
          return arr
      }, [])
      employees_schedule = employees_schedule.filter(e => e.location === 1 && e.employee_role === 4 && e.surname !== '!Без Корреспондента')

      let queryAllEmployees = qs.stringify({ _where: {
        _or: [
            [
              { 'location.id': 1 },
              { 'employee_role.id': 4 }
            ]
          ]
        }
      })
      const fetchMoscowCorrespondents = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees?${queryAllEmployees}`,
        params: {
          _limit: -1,
        }
      })
      const allCorrespondents = [...employees_schedule,...fetchMoscowCorrespondents.data]
      allCorrespondents.sort((a, b) => a.id - b.id)
      let free = []
      if (allCorrespondents[allCorrespondents.length-1].id !== allCorrespondents[allCorrespondents.length-2].id) {
        free.push(allCorrespondents[allCorrespondents.length-1])
      }
      for (let i = 0; i < allCorrespondents.length; i++) {
        if ((allCorrespondents[i-1] && allCorrespondents[i].id !== allCorrespondents[i-1].id) && (allCorrespondents[i+1] && allCorrespondents[i].id !== allCorrespondents[i+1].id)) {
          free.push(allCorrespondents[i])
        }
      }
      for (let i = 0; i < free.length; i++) {
        this.$set(free[i], 'themes', [])
      }
      free.sort((a, b) => a.surname.localeCompare(b.surname))

      const duty = employees_schedule.filter(e => e.themes.some(t => t.type.includes('Дежурный') || t.type === ('Удалённая')))
      const night = employees_schedule.filter(e => e.themes.some(t => t.type.includes('Ночно')))
      const business_trip = employees_schedule.filter(e => e.themes.some(t => t.type ==='Командировка'))
      const holiday = employees_schedule.filter(e => e.themes.some(t => t.type === 'Отпуск'))
      const weekend = employees_schedule.filter(e => e.themes.some(t => t.type === 'Выходной'))
      const sick = employees_schedule.filter(e => e.themes.some(t => t.type === 'Больничный'))
      const metathemes = employees_schedule.filter(e => e.themes.every(t => !t.type.includes('Дежурный')
                        && t.type !== ('Удалённая')
                        && !t.type.includes('Ночно')
                        && t.type !== ('Выходной')
                        && t.type !== ('Отпуск')
                        && t.type !== ('Больничный')
                        && t.type !== ('Командировка')
                      ))
      employees_schedule = [...duty,...night,...metathemes,...business_trip,...holiday,...weekend,...sick,...free]
      employees_schedule.sort((a, b) => a.surname.localeCompare(b.surname))
      this.employeesMoscow = employees_schedule.filter(function(item, pos) {
        return employees_schedule.indexOf(item) == pos
      })
      this.loading = false
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    mainTitle() {
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      const monday = this.moment(currentMonday).add(7, 'days').format('DD.MM.YYYY')
      const sunday = this.moment(currentMonday).add(13, 'days').format('DD.MM.YYYY')
      return `${monday} - ${sunday}`
    },
    dayOfWeek(day) {
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      return this.moment(currentMonday).add(day, 'days').locale('ru').format('DD, dd')
    },
    themesOfDay(theme, daysCount) {
      const currentMonday = this.moment(this.date).isoWeekday(1)._d
      const dayStart = this.moment(currentMonday).add(daysCount, 'days').set({hour:0,minute:0,second:0,millisecond:0}).format()
      const dayEnd = this.moment(currentMonday).add(daysCount, 'days').set({hour:23,minute:59,second:0,millisecond:0}).format()
      if ((this.moment(theme.date_start).isBetween(dayStart, dayEnd)) ||
        (this.moment(theme.date_end).isBetween(dayStart, dayEnd)) ||
        (this.moment(dayStart).isBetween(theme.date_start, theme.date_end)) ||
        (this.moment(dayEnd).isBetween(theme.date_start, theme.date_end)) ||
        (this.moment(dayStart) === this.moment(theme.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format())
      ) {
        if (theme.type === 'Командировка' && theme.type !== theme.name) {
          return `${theme.type} (${theme.name.trim()})`
        } else if (theme.type === 'Дежурный 18') {
          if (this.moment(theme.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(dayStart).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
            return `После ночного`
          } else {
            return theme.type
          }
        } else if (theme.type === 'metatheme') {
          return theme.name
        } else {
          return theme.name
        }
      }
    }
  },
  filters: {
    titled: function (group) {
      switch (group) {
        case 'planning':
          return 'Планирование'
        case 'aether_78':
          return '78-СПБ'
        case 'regions':
          return 'Регионы'
        case 'foreign':
          return 'Зарубежка'
        case 'producers':
          return 'Продюсеры РЕН'
        case 'iztv':
          return 'IZ.TV'
        case 'aether_112':
          return '112'
        case 'aether_5':
          return '5TV'
        case 'gazetaiz':
          return 'Планы Газета'
      }
    }
  }
}
</script>