<template>
  <div v-loading.fullscreen.lock="loading" class="log-mobile">
    <div v-if="metathemes.length === 0" class="log-mobile__no-data">
      <NoData />
    </div>
    <div v-else v-for="(themes, section) in grouped" :key="section">
      <div class="log-mobile__section">
        <div>{{ section }}</div>
      </div>
      <div
        class="log-mobile__item"
        v-for="theme in themes" :key="theme.id"
      >
        <div @click="showLogMobileTheme(theme)">
          <div class="log-mobile__date">
            <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
            <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
          </div>
        </div>
        <div class="log-mobile__name" @click="showLogMobileTheme(theme)">
          {{ theme.name }}
        </div>
        <div class="log-mobile__description" v-if="theme.short_description" v-html="cutEmptyTags(theme.short_description)"></div>
        <div class="log-mobile__address">
          <span v-if="!theme.country && !theme.address" class="empty-text">Адрес не указан</span>
          <span v-else>{{ theme.country }}{{ theme.address }}</span>
        </div>
        <div class="log-mobile__employees">
          <span v-if="!themeEmployees(theme).length" class="empty-text">Нет корреспондентов</span>
          <span v-for="employee in themeEmployees(theme)" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          </span>
        </div>
        <div class="log-mobile__tags" v-if="theme.metatheme_aether_plans.length || theme.metatheme_inclusions.length || theme.metatheme_aethers.length">
          <div v-if="theme.metatheme_aether_plans.length">
            <div class="log-mobile__tags-title">Эфирный план:</div>
            <el-tag size="mini" v-for="item in theme.metatheme_aether_plans" :key="'AP'+item.id">{{ item.name }}</el-tag>
          </div>
          <div v-if="theme.metatheme_inclusions.length || theme.metatheme_aethers.length">
            <div class="log-mobile__tags-title">Перегоны, включения:</div>
            <el-tag size="mini" v-for="item in theme.metatheme_inclusions" :key="'I'+item.id">{{ item.name }}</el-tag>
            <div v-if="theme.metatheme_aethers.length">
              <el-tag size="mini" v-for="item in theme.metatheme_aethers" :key="'A'+item.id">{{ item.name }}</el-tag>
            </div>
          </div>
        </div>
      </div>
    </div>

    <el-dialog
      class="log-mobile-theme-dialog"
      :visible.sync="logMobileThemeVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideLogMobileTheme"
      v-touch:swipe.left="hideLogMobileTheme"
    >
      <LogMobileTheme
        :theme="curTheme"
      />
    </el-dialog>
  </div>
</template>

<script>
import LogMobileTheme from '@/components/log/mobile/LogMobileTheme'

export default {
  name: 'logmobile',
  components: {
    LogMobileTheme
  },
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      curTheme: null,
      logMobileThemeVisible: false
    }
  },
  computed: {
    grouped() {
      return this.metathemes.reduce((acc, n) => {
        (acc[n.metatheme_section.name] = acc[n.metatheme_section.name] || []).push(n)
        return acc
      }, {})
    }
  },
  methods: {
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    },
    cutEmptyTags(value) {
      return value.replaceAll('<p></p>', '').replaceAll('<h2><br></h2>', '').replaceAll('<p><br></p>', '').replaceAll('<p class="ql-align-justify"><br></p>', '')
    },
    showLogMobileTheme(theme) {
      this.curTheme = theme
      this.logMobileThemeVisible = true
    },
    hideLogMobileTheme() {
      this.curTheme = null
      this.logMobileThemeVisible = false
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.log-mobile {
  &__no-data {
    position: relative;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__section {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__item {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__description {
    font-size: 14px;
    color: rgba(25, 25, 25, .69);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    & p {
      margin: 0;
      padding: 0;
    }
  }
  &__address {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    & > span::after {
      content: ',';
      margin-left: -4px;
    }
    & > span:last-child:after {
      content: '';
    }
  }
  &__tags {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
    margin-top: 10px;
    & > div {
      width: 48%;
    }
    &-title {
      font-size: 12px;
      color: rgba(25, 25, 25, .48);
      margin-bottom: 5px;
    }
    & .el-tag {
      display: inline-block;
      background-color: #fff;
      border-color: rgba(27, 27, 27, 0.2);
      color: rgba(27, 27, 27, 0.7);
      height: 20px;
      padding: 0 10px;
      border-radius: 13px;
      margin: 2px;
    }
  }
  & .log-mobile-theme-dialog .el-dialog {
    width: 100%;
    &__body {
      padding-bottom: 0;
    }
  }
}
</style>