<template>
  <div v-loading.fullscreen.lock="loading" class="log-mobile-theme" v-if="theme">
    <div class="log-mobile-theme__main-block">
      <div class="log-mobile-theme__date">
        <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
        <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
      </div>
      <div class="log-mobile-theme__name">
        {{ theme.name }}
      </div>
      <el-collapse v-model="descriptions" v-if="theme.short_description || theme.description">
        <el-collapse-item v-if="theme.short_description" title="Краткое описание" name="short_description">
          <div class="log-mobile-theme__description" v-html="cutEmptyTags(theme.short_description)"></div>
        </el-collapse-item>
        <el-collapse-item v-if="theme.description" title="Полное описание" name="description">
          <div class="log-mobile-theme__description" v-html="cutEmptyTags(theme.description)"></div>
        </el-collapse-item>
      </el-collapse>
      <table>
        <tbody>
          <tr>
            <td>
              <span class="log-mobile-theme__label">Начало:</span>
            </td>
            <td>
              <span class="log-mobile-theme__text">
                <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
                <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="log-mobile-theme__label">Окончание:</span>
            </td>
            <td>
              <span class="log-mobile-theme__text">
                <span v-if="!theme.date_end" class="empty-text">Дата не указана</span>
                <span v-else>{{ moment(theme.date_end).format('HH:mm') }} {{ moment(theme.date_end).format('DD/MM') }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="log-mobile-theme__label">Адрес:</span>
            </td>
            <td>
              <span class="log-mobile-theme__text">
                <span v-if="!theme.country && !theme.address" class="empty-text">Адрес не указан</span>
                <span v-else>{{ theme.country }}{{ theme.address }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="log-mobile-theme__label">Заказ:</span>
            </td>
            <td>
              <span class="log-mobile-theme__text">{{ theme.author }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="log-mobile-theme__label">Корреспон.:</span>
            </td>
            <td>
              <span class="log-mobile-theme__text log-mobile-theme__employees">
                <span v-if="!themeEmployees(theme).length" class="empty-text">Не добавлены</span>
                <span v-for="employee in themeEmployees(theme)" :key="employee.id">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'logmobiletheme',
  props: {
    theme: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      descriptions: []
    }
  },
  methods: {
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    },
    cutEmptyTags(value) {
      return value.replaceAll('<p></p>', '').replaceAll('<h2><br></h2>', '').replaceAll('<p><br></p>', '').replaceAll('<p class="ql-align-justify"><br></p>', '')
    },
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.log-mobile-theme {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 45px);
  word-break: break-word;
  &__main-block {
    padding-bottom: 35px;
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 20px;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    color: #191919;
    margin-bottom: 20px;
  }
  & .el-collapse {
    margin-bottom: 20px;
  }
  & .el-collapse-item__content, .el-collapse-item__header {
    padding-bottom: 0;
    font-size: 14px;
    color: #191919;
    line-height: 1.5;
  }
  &__description {
    font-size: 14px;
    color: #191919;
  }
  & table {
    width: 100%;
    & tr td {
      vertical-align: top;
      padding: 5px 0;
    }
    & tr td:first-child {
      width: 85px;
    }
  }
  &__label {
    font-size: 12px;
    color: rgba(25, 25, 25, .48);
  }
  &__text {
    font-size: 14px;
    color: rgba(25, 25, 25, 1);
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    & > span::after {
      content: ', ';
    }
    & > span:last-child:after {
      content: '';
    }
  }
}
</style>
