<template>
  <div v-loading.fullscreen.lock="loading" class="urgent-departures-mobile">
    <div v-if="shootings.length === 0" class="urgent-departures-mobile__no-data">
      <NoData />
    </div>
    <div
      v-else
      class="urgent-departures-mobile__item"
      v-for="item in shootings" :key="item.id"
    >
      <div class="urgent-departures-mobile__date">
        <div>
          <span v-if="!item.date_departure" class="empty-text">н/у</span>
          <span v-else>{{ moment(item.date_departure).format('HH:mm') }} {{ moment(item.date_departure).format('DD/MM') }}</span>
          -
          <span v-if="!item.date_return" class="empty-text">н/у</span>
          <span v-else>{{ moment(item.date_return).format('HH:mm') }} {{ moment(item.date_return).format('DD/MM') }}</span>
        </div>
        <div>
          <el-dropdown class="theme-dropdown" trigger="click" @command="handleDropdownClick">
            <div class="theme-dropdown__item">
              <span style="top: 8px;"></span>
            </div>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item class="theme-dropdown__btn theme-dropdown__btn__add" :command="{name: 'add'}">Добавить</el-dropdown-item>
              <el-dropdown-item class="theme-dropdown__btn theme-dropdown__btn__edit" :command="{name: 'edit', item: item}">Править</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div class="urgent-departures-mobile__name">
        {{ item.name }}
      </div>
      <div class="urgent-departures-mobile__address">
        <span v-if="!item.address" class="empty-text">Адрес не указан</span>
        <span v-else>{{ item.address }}</span>
      </div>
      <div class="urgent-departures-mobile__comment">
        {{ item.comment }}
      </div>
      <div v-if="item.comment_format">
        <div class="urgent-departures-mobile__label">Заказ</div>
        <div class="urgent-departures-mobile__comment">
          {{ item.comment_format }}
        </div>
      </div>
      <div class="urgent-departures-mobile__employees">
        <div class="urgent-departures-mobile__label">Корреспонденты</div>
        <div class="urgent-departures-mobile__employees__btn" @click="$emit('showAddCorrespondents', item)"></div>
        <span v-if="!itemCorrespondents(item).length" class="empty-text">Не добавлены</span>
        <span v-for="employee in itemCorrespondents(item)" :key="employee.id">
          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          <el-popconfirm
            title="Вы уверены?"
            @confirm="$emit('deleteResource', item, employee, 'employee')"
          >
            <i slot="reference" class="el-icon-delete delete-resource"></i>
          </el-popconfirm>
        </span>
      </div>
      <div class="urgent-departures-mobile__employees">
        <div class="urgent-departures-mobile__label">Съемочная группа</div>
        <span v-if="!itemGroupShooting(item).length" class="empty-text">Не добавлены</span>
        <span v-for="employee in itemGroupShooting(item)" :key="employee.id">
          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          <el-popconfirm
            title="Вы уверены?"
            @confirm="$emit('deleteResource', item, employee, 'employee')"
          >
            <i slot="reference" class="el-icon-delete delete-resource"></i>
          </el-popconfirm>
        </span>
      </div>
      <div class="urgent-departures-mobile__employees">
        <div class="urgent-departures-mobile__label">Машины, водители</div>
        <span v-if="!itemCars(item).length && !itemDrivers(item).length" class="empty-text">Не добавлены</span>
        <div v-for="car in itemCars(item)" :key="'car'+car.id">
          {{ car.name }}
          <el-popconfirm
            title="Вы уверены?"
            @confirm="$emit('deleteResource', item, car, 'tech_resource')"
          >
            <i slot="reference" class="el-icon-delete delete-resource"></i>
          </el-popconfirm>
        </div>
        <span v-for="employee in itemDrivers(item)" :key="employee.id">
          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          <el-popconfirm
            title="Вы уверены?"
            @confirm="$emit('deleteResource', item, employee, 'employee')"
          >
            <i slot="reference" class="el-icon-delete delete-resource"></i>
          </el-popconfirm>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'urgentdeparturesmobile',
  props: {
    shootings: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    handleDropdownClick(command) {
      this.$emit('handleDropdownClick', command)
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.urgent-departures-mobile {
  &__no-data {
    position: relative;
    background: #fff;
    border-top: solid 1px #e6e6e6;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
      border-top: solid 1px #e6e6e6;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__item {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__date {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__address {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    word-break: break-word;
  }
  &__comment {
    font-size: 13px;
    color: #191919;
    margin-bottom: 5px;
    word-break: break-word;
  }
  &__label {
    font-size: 12px;
    color: rgba(25, 25, 25, .48);
    margin-bottom: 3px;
  }
  &__employees {
    position: relative;
    font-size: 14px;
    color: #191919;
    padding-right: 15px;
    margin-bottom: 5px;
    & > span::after {
      content: ',';
    }
    & > span:last-child:after {
      content: '';
    }
    &__btn {
      position: absolute;
      right: -8px;
      bottom: 0;
      width: 20px;
      height: 20px;
      background: url('../../../assets/svg/icons/add.svg') center no-repeat;
    }
  }
}
</style>