<template>
  <div class="planning-add-employees-to-theme-form" v-loading="loading">
    <div>
      <div class="planning-add-employees-to-theme-form__tabs">
        <el-tabs v-model="activeTabRoles">
          <el-tab-pane
            :label="correspondentLabel"
            :name="correspondentRole"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="(editingTheme && editingTheme.metatheme_section.group && editingTheme.metatheme_section.group === 'aether_78') ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section === 4) ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section === 5)"
            label="Корреспондент 78"
            name="18"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="(editingTheme && editingTheme.metatheme_section.group && editingTheme.metatheme_section.group !== 'dobrov') ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section !== 27)"
            label="Продюсер(сним)"
            name="7"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="(editingTheme && editingTheme.metatheme_section.group && editingTheme.metatheme_section.group !== 'dobrov') ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section !== 27)"
            label="Стажер"
            name="8"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="(editingTheme && editingTheme.metatheme_section.group && editingTheme.metatheme_section.group === 'foreign') ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section === 10) ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section === 11) ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section === 12)"
            label="Редактор"
            name="16"
          >
          </el-tab-pane>
          <el-tab-pane
            v-if="(editingTheme && editingTheme.metatheme_section.group && editingTheme.metatheme_section.group === 'dobrov') ||
                  (editingTheme && editingTheme.metatheme_section && typeof(editingTheme.metatheme_section) === 'number' && editingTheme.metatheme_section === 27)"
            label="Снимающий продюсер (Добров)"
            name="15"
          >
          </el-tab-pane>
        </el-tabs>
      </div>
      <div>
        <div
          class="planning-add-employees-to-theme-form__employees-item"
          v-for="employee in filteredEmployees"
          :key="employee.id"
        >
          <div
            v-if="(activeTab === 'free' && !employee.busy && !employee.personalBusy) || (activeTab === 'busy' && employee.busy) || (activeTab === 'all')"
            class="planning-add-employees-to-theme-form__employees-item__inner"
            :class="{ 'busy': employee.busy || employee.personalBusy}"
          >
            <el-tag size="medium">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</el-tag>
            <el-button class="no-border-radius" type="info" size="mini" icon="el-icon-info" :disabled="!employee.busy && !employee.personalBusy" @click="showEmployeeInfo(employee)"></el-button>
            <el-button type="primary" size="mini" icon="el-icon-plus" @click="addResource(employee)"></el-button>
          </div>
        </div>
      </div>
    </div>
    <span slot="footer" class="planning-add-employees-to-theme-form__footer">
      <el-button @click="$emit('hideAddEmployees')">
        Закрыть
      </el-button>
    </span>

    <el-dialog
      title="Информация о занятости"
      :visible.sync="showEmployeeInfoVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEmployeeInfo"
    >
      <ShowEmployeeInfo
        :curEmployee="curEmployee"
        :curShooting="curTheme"
        @hideEmployeeInfo="hideEmployeeInfo"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import ShowEmployeeInfo from '@/components/shootings/ShowEmployeeInfo'

export default {
  name: 'addemployeestotheme',
  components: {
    ShowEmployeeInfo
  },
  props: {
    editingTheme: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: false,
    activeTab: 'free',
    activeTabRoles: '4',
    employees: [],
    filteredEmployees: [],
    curTheme: {},
    curEmployee: null,
    showEmployeeInfoVisible: false
  }),
  mounted() {
    this.loading = true
    if (this.editingTheme.metatheme_section === 26 ||
        this.editingTheme.metatheme_section === 36 ||
        this.editingTheme.metatheme_section === 37 ||
        this.editingTheme.metatheme_section === 38 ||
        this.editingTheme.metatheme_section === 39 ||
        this.editingTheme.metatheme_section === 40 ||
        this.editingTheme.metatheme_section === 41 ||
        this.editingTheme.metatheme_section === 42 ||
        this.editingTheme.metatheme_section === 43 ||
        this.editingTheme.metatheme_section.group &&
        this.editingTheme.metatheme_section.group === 'gazetaiz')
    {
      this.activeTabRoles = '19'
    } else {
      this.activeTabRoles = '4'
    }
    this.loading = false
  },
  watch: {
    activeTabRoles: {
      immediate: false,
      handler() {
        this.loading = true
        this.filteredEmployees = this.employees.filter(e => e.employee_role.id === +this.activeTabRoles)
        this.loading = false
      }
    },
    editingTheme: {
      immediate: true,
      async handler() {
        if (this.editingTheme) {
          this.loading = true
          this.employees = []
          const query = qs.stringify({ 
            _where: {
              _or: [
                [{ 'employee_role.id': 4 }],
                [{ 'employee_role.id': 7 }],
                [{ 'employee_role.id': 8 }],
                [{ 'employee_role.id': 15 }],
                [{ 'employee_role.id': 16 }],
                [{ 'employee_role.id': 18 }],
                [{ 'employee_role.id': 19 }]
              ]
            }
          })
          const employees = await this.$http({
            method: 'get',
            url: `${this.$store.state.url}/employees?${query}`, 
            params: { _limit: -1, _sort: 'surname:asc' }
          })
          this.employees = employees.data
          this.curTheme = this.editingTheme
          const arr = []
          for (let i = 0; i < this.curTheme.employees.length; i++) {
            arr.push(this.curTheme.employees[i].id)
          }
          this.employees = this.employees.filter(e => !arr.includes(e.id))
          if (this.editingTheme.metatheme_section === 26 ||
              this.editingTheme.metatheme_section === 36 ||
              this.editingTheme.metatheme_section === 37 ||
              this.editingTheme.metatheme_section === 38 ||
              this.editingTheme.metatheme_section === 39 ||
              this.editingTheme.metatheme_section === 40 ||
              this.editingTheme.metatheme_section === 41 ||
              this.editingTheme.metatheme_section === 42 ||
              this.editingTheme.metatheme_section === 43 ||
              this.editingTheme.metatheme_section.group &&
              this.editingTheme.metatheme_section.group === 'gazetaiz')
          {
            this.activeTabRoles = '19'
          } else {
            this.activeTabRoles = '4'
          }
          this.activeTab = 'free'
          this.filteredEmployees = this.employees.filter(e => e.employee_role.id === +this.activeTabRoles)
          this.loading = false
        }
      }
    }
  },
  computed: {
    correspondentLabel() {
      if (this.editingTheme.metatheme_section === 26 ||
          this.editingTheme.metatheme_section === 36 ||
          this.editingTheme.metatheme_section === 37 ||
          this.editingTheme.metatheme_section === 38 ||
          this.editingTheme.metatheme_section === 39 ||
          this.editingTheme.metatheme_section === 40 ||
          this.editingTheme.metatheme_section === 41 ||
          this.editingTheme.metatheme_section === 42 ||
          this.editingTheme.metatheme_section === 43 ||
          this.editingTheme.metatheme_section.group &&
          this.editingTheme.metatheme_section.group === 'gazetaiz')
      {
        return 'Редактор газета'
      } else {
        return 'Корреспондент'
      }
    },
    correspondentRole() {
      if (this.editingTheme.metatheme_section === 26 ||
          this.editingTheme.metatheme_section === 36 ||
          this.editingTheme.metatheme_section === 37 ||
          this.editingTheme.metatheme_section === 38 ||
          this.editingTheme.metatheme_section === 39 ||
          this.editingTheme.metatheme_section === 40 ||
          this.editingTheme.metatheme_section === 41 ||
          this.editingTheme.metatheme_section === 42 ||
          this.editingTheme.metatheme_section === 43 ||
          this.editingTheme.metatheme_section.group &&
          this.editingTheme.metatheme_section.group === 'gazetaiz')
      {
        return '19'
      } else {
        return '4'
      }
    }
  },
  methods: {
    showEmployeeInfo(employee) {
      this.curEmployee = employee
      this.showEmployeeInfoVisible = true
    },
    hideEmployeeInfo() {
      this.curEmployee = null
      this.showEmployeeInfoVisible = false
    },
    async addResource(employee) {
      this.loading = true
      this.filteredEmployees.splice(this.filteredEmployees.findIndex(el => el.id === employee.id), 1)
      this.curTheme.employees.push(employee)
      if (this.curTheme.index || this.curTheme.index === 0) {
        this.$emit('addedEmployee', this.curTheme.employees, this.curTheme.index)
      } else {
        this.$emit('addedEmployee', this.curTheme.employees)
      }
      this.loading = false
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.planning-add-employees-to-theme-form {
  & .el-select {
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    justify-content: flex-end;
  }
  &__tabs {
    margin-bottom: 20px;
    & .el-tabs__header {
      margin: 0;
      margin-bottom: 1px;
    }
    & .el-tabs__nav {
      padding: 15px;
      &-wrap::after {
        height: 0;
        background-color: transparent;
      }
      &-scroll {
        background-color: rgba(216, 216, 216, .2);
        padding: 0 30px;
      }
    }
    & .el-tabs__active-bar {
      height: 3px;
      left: 15px;
      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 3px;
        background: #7C43BA;
      }
      &::before {
        left: -15px;
      }
      &::after {
        right: -15px;
      }
    }
  }
  &__employees-item {
    display: inline-block;
    margin-bottom: 10px;
    &__inner {
      padding-right: 10px;
      &.busy {
        & .el-tag {
          color: #E62744;
          background-color: rgba(230, 39, 68, .1);
          border: 1px solid #E62744;
          border-right: none;
        }
      }
    }
    & .el-tag {
      border-radius: 3px 0 0 3px;
    }
    & .el-button {
      padding: 7px 6px !important;
      border-radius: 0 3px 3px 0;
      margin-left: 0 !important;
      &.no-border-radius {
        border-radius: 0;
      }
    }
  }
  &__footer {
    display: block;
    margin-top: 30px;
  }
}
</style>