<template>
  <div class="planning-create" v-loading="loading">
    <button
      type="button"
      class="el-dialog__headerbtn el-dialog__headerbtn--fullscreen"
      @click="cancelFullDescription"
    >
      <i class="el-dialog__close el-icon el-icon-close"></i>
    </button>
    <el-form
      :class="{ formZr: formLayout.zr || formLayout.reg }"
      v-for="(form, index) in forms"
      :key="index"
      :model="form"
      :rules="rules"
      ref="createMetaThemeForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Краткое название"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          v-if="curTheme"
          class="metatheme-section"
          label="Раздел"
          prop="metatheme_section"
        >
          <el-select
            v-model="form.metatheme_section"
            placeholder="Выберите раздел"
          >
            <el-option
              v-for="item in metatheme_sections"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          v-if="formLayout.zr || formLayout.reg"
          label="Страна/Регион"
          prop="country"
        >
          <el-input
            v-model="form.country"
            placeholder="Краткое название"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.withoutDate"
            @blur="checkDateStart(index)">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.withoutDate">
          </el-date-picker>
          <el-checkbox
            v-if="formLayout.zr || formLayout.reg"
            v-model="form.withoutDate"
            @change="handleChangeWithoutDate(form)"
          >
            без времени
          </el-checkbox>
        </el-form-item>
      </div>
      <div class="form-row description" v-if="!formLayout.zr">
        <el-form-item
          label="Краткое описание"
          prop="short_description"
        >
          <vue-editor
            ref="short_description_editor"
            v-model="form.short_description"
            :editorToolbar="textEditorToolbar"
            @text-change="handleChangeShortDescription(form, index)"
          >
          </vue-editor>
          <span :style="{ 'color': +form.short_description_length >= 450 ? '#E62744' : '#606266' }">
            Максимальное кол-во символов в поле: {{ form.short_description_length }}/500
          </span>
        </el-form-item>
        <el-form-item
          ref="createMetathemeDescription"
          label="Описание"
          prop="description"
          class="full-description"
        >
          <i class="el-icon-full-screen full-screen-btn" @click="toggleFullScreen"></i>
          <vue-editor
            ref="full_description_editor"
            v-model="form.description"
            :editorToolbar="textEditorToolbar"
            @text-change="handleChangeFullDescription(index)"
          >
          </vue-editor>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          v-if="!formLayout.zr && !formLayout.reg"
          label="Адрес"
          prop="address"
        >
          <el-input
            class="address"
            v-model="form.address"
            placeholder="Введите адрес"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row metathems">
        <el-form-item
          v-if="!formLayout.zr && !formLayout.reg"
          label="Перегоны, включения"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_inclusions" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_inclusions"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment"
            type="textarea"
            size='mini'
            placeholder="Комментарий: Перегоны, включения"
            v-model="form.comment_inclusions"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Эфир"
          prop="metatheme_aether"
        >
          <el-select v-model="form.metatheme_aethers" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aethers"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>            
        </el-form-item>
        <el-form-item
          label="Эфирный план"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_aether_plans" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aether_plans"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            v-if="!formLayout.zr && !formLayout.reg"
            class="comment"
            type="textarea"
            size='mini'
            placeholder="Комментарий: Эфирный план"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          v-if="formLayout.zr || formLayout.reg"
          label="Комментарий (эф.план)"
        >
          <el-input
            class="comment-zr"
            type="textarea"
            placeholder="Ваш комментарий"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          class="checkbox-list"
        >
          <el-checkbox v-model="form.aether_plan_rentv">РЕН ТВ</el-checkbox>
          <el-checkbox v-model="form.aether_plan_iztv">IZ.TV</el-checkbox>
          <el-checkbox v-model="form.aether_plan_5tv">5TV</el-checkbox>
        </el-form-item>
      </div>
      <div class="form-row coordination">
        <el-form-item
          label="Координация"
          prop="status_coord"
          class="switch-coord-row"
        >
          <el-switch v-model="form.status_coord" class="switch"></el-switch>
          <el-input
            class="comment"
            :disabled="form.status_coord === true ? false : true"
            type="textarea"
            placeholder="Комментарий для координации"
            v-model="form.comment_coord"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Оборудование"
          prop="metatheme_hardware"
          class="hardwares"
        >
          <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_hardwares"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item
          label="Корреспондент темы"
          class="correspondents"
        >
          <div v-for="employee in form.employees" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteEmployee(employee, index)"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link type="primary" @click="showAddEmployees(form, index)">+ Добавить</el-link>
        </el-form-item> -->
      </div>
      <div class="form-row">
        <el-form-item
          label="Аккредитация"
          prop="status_accr"
          class="switch-coord-row"
        >
          <el-switch v-model="form.status_accr" class="switch" @change="handleChangeStatusAccr(form)"></el-switch>
          <el-input
            class="comment comment-accr"
            :disabled="form.status_accr === true ? false : true"
            type="textarea"
            placeholder="Комментарий для аккредитации"
            v-model="form.comment_accr"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Начало аккредитации"
          prop="date_start_accr"
        >
          <el-date-picker
            v-model="form.date_start_accr"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.status_accr === true ? false : true"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание аккредитации"
          prop="date_end_accr"
        >
          <el-date-picker
            v-model="form.date_end_accr"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.status_accr === true ? false : true"
          >
          </el-date-picker>
        </el-form-item>
      </div>
      <div class="form-row" v-if="formLayout.zr">
        <el-button
          class="zr-btn-clone"
          size="medium"
          @click="clone(index)"
        >
          Клонировать
        </el-button>
        <el-button
          class="zr-btn-delete"
          size="medium"
          @click="deleteForm(index)"
        >
          Удалить
        </el-button>
      </div>
    </el-form>
    <span
      ref="createMetathemeFooter"
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="handleSubmit('createMetaThemeForm')"
      >
        Добавить
      </el-button>
      <el-button
        @click="$emit('hideCreateForm')"
      >
        Отменить
      </el-button>
    </span>
    <span
      slot="footer"
      ref="createMetathemeDescriptionFooter"
      class="dialog-footer"
      style="display: none;"
    >
      <el-button
        type="primary"
        @click="toggleFullScreen"
      >
        Сохранить
      </el-button>
      <el-button
        @click="cancelFullDescription"
      >
        Отменить
      </el-button>
    </span>

    <el-dialog
      class="planning-add-employees"
      title="Добавление сотрудников в тему"
      :visible.sync="addEmployeesVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddEmployeesToTheme
        :editingTheme="currentForm"
        @hideAddEmployees="hideAddEmployees"
        @addedEmployee="addedEmployee"
      />
    </el-dialog>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import textEditorMixin from '@/mixins/texteditor.mixin.js'
import AddEmployeesToTheme from '@/components/planning/AddEmployeesToTheme'

export default {
  name: 'createmetatheme',
  components: {
    VueEditor,
    AddEmployeesToTheme
  },
  mixins: [textEditorMixin],
  props: {
    curSection: {
      type: Object,
      required: false
    },
    curTheme: {
      type: Object,
      required: false
    }
  },
  data() {
    const validateDateEnd = (rule, value, callback) => {
      for(let i = 0; i < this.forms.length; i++) {
        if (this.forms[i].date_start && this.forms[i].date_end && this.moment(this.forms[i].date_start).format() > this.moment(this.forms[i].date_end).format()
        ) {
          callback(new Error(' '))
        } else {
          callback()
        }
      }
    }
    const validateDateEndAccr = (rule, value, callback) => {
      for(let i = 0; i < this.forms.length; i++) {
        if (this.forms[i].status_accr && !this.forms[i].date_end_accr) {
          callback(new Error('Выберите дату'))
        } else {
          callback()
        }
      }
    }
    return {
      loading: true,
      metatheme_inclusions: [],
      metatheme_aethers: [],
      metatheme_hardwares: [],
      metatheme_aether_plans: [],
      metatheme_sections: [],
      addEmployeesVisible: false,
      currentForm: {},
      pickerOptions: {
        firstDayOfWeek: 1
      },
      forms: [
        {
          name: null,
          metatheme_section: null,
          date_start: this.moment(new Date()).set({hour:0,minute:1,second:0,millisecond:0}).format(),
          date_end: this.moment(new Date()).set({hour:23,minute:58,second:0,millisecond:0}).format(),
          withoutDate: false,
          short_description: null,
          short_description_length: 0,
          description: null,
          tempDescription: null,
          address: null,
          metatheme_inclusions: null,
          comment_inclusions: null,
          metatheme_aethers: null,
          metatheme_hardwares: null,
          metatheme_aether_plans: null,
          comment_aether_plans: null,
          aether_plan_rentv: false,
          aether_plan_iztv: false,
          aether_plan_5tv: false,
          status_coord: false,
          comment_coord: null,
          country: null,
          employees: [],
          status_accr: false,
          comment_accr: null,
          date_start_accr: null,
          date_end_accr: null
        }
      ],
      formLayout: {
        zr: false,
        reg: false
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Введите название темы',
            trigger: 'blur',
          }
        ],
        metatheme_section: [
          {
            required: true,
            message: "Выберите раздел",
            trigger: "blur",
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ],
        date_end_accr: [
          {
            validator: validateDateEndAccr,
            trigger: 'change'
          }
        ]
      }
    }
  },
  async mounted() {
    this.metatheme_inclusions = await this.$store.dispatch('fetchMetathemeInclusions')
    this.metatheme_aethers = await this.$store.dispatch('fetchMetathemeAethers')
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.metatheme_aether_plans = await this.$store.dispatch('fetchMetathemeAetherPlans')
    this.metatheme_sections = await this.$store.dispatch('fetchMetathemeSections')
    const move = (from, to, ...a) => (a.splice(to, 0, ...a.splice(from, 1)), a)
    this.metatheme_sections = move(39, 14, ...this.metatheme_sections)
    this.loading = false
  },
  watch: {
    curSection: {
      immediate: true,
      handler: function () {
        if (!this.curSection) {
          return
        }
        for(let i = 0; i < this.forms.length; i++) {
          this.forms[i].metatheme_section = this.curSection.id
          if (this.$route.query.date) {
            let date = this.$route.query.date[6] +
                        this.$route.query.date[7] +
                        this.$route.query.date[8] +
                        this.$route.query.date[9] +
                        this.$route.query.date[2] +
                        this.$route.query.date[3] +
                        this.$route.query.date[4] +
                        this.$route.query.date[5] +
                        this.$route.query.date[0] +
                        this.$route.query.date[1]
            this.forms[i].date_start = this.moment(date).set({hour:0,minute:1,second:0,millisecond:0}).format()
            this.forms[i].date_end = this.moment(date).set({hour:23,minute:58,second:0,millisecond:0}).format()
          }
        }
        this.changeLayout(this.curSection.group)
      }
    },
    curTheme: {
      immediate: true,
      handler: function () {
        if (!this.curTheme) {
          return
        }
        let metatheme_inclusions = []
        let metatheme_aethers = []
        let metatheme_hardwares = []
        let metatheme_aether_plans = []
        for(let i = 0; i < this.curTheme.metatheme_inclusions.length; i++) {
          metatheme_inclusions.push(this.curTheme.metatheme_inclusions[i].id)
        }
        for(let i = 0; i < this.curTheme.metatheme_aethers.length; i++) {
          metatheme_aethers.push(this.curTheme.metatheme_aethers[i].id)
        }
        for(let i = 0; i < this.curTheme.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.curTheme.metatheme_hardwares[i].id)
        }
        for(let i = 0; i < this.curTheme.metatheme_aether_plans.length; i++) {
          metatheme_aether_plans.push(this.curTheme.metatheme_aether_plans[i].id)
        }
        for(let i = 0; i < this.forms.length; i++) {
          this.forms[i].name = this.curTheme.name
          this.forms[i].metatheme_section = this.curTheme.metatheme_section.id
          this.forms[i].date_start = this.curTheme.date_start
          this.forms[i].date_end = this.curTheme.date_end
          this.forms[i].short_description = this.curTheme.short_description
          this.forms[i].description = this.curTheme.description
          this.forms[i].address = this.curTheme.address
          this.forms[i].metatheme_inclusions = metatheme_inclusions
          this.forms[i].comment_inclusions = this.curTheme.comment_inclusions
          this.forms[i].metatheme_aethers = metatheme_aethers
          this.forms[i].metatheme_hardwares = metatheme_hardwares
          this.forms[i].metatheme_aether_plans = metatheme_aether_plans
          this.forms[i].aether_plan_rentv = this.curTheme.aether_plan_rentv
          this.forms[i].aether_plan_iztv = this.curTheme.aether_plan_iztv
          this.forms[i].aether_plan_5tv = this.curTheme.aether_plan_5tv
          this.forms[i].comment_aether_plans = this.curTheme.comment_aether_plans

          let status = this.curTheme.status_coord === 'new' ? false : true
          this.forms[i].status_coord = status

          this.forms[i].comment_coord = this.curTheme.comment_coord
          this.forms[i].country = this.curTheme.country
          this.forms[i].employees = this.curTheme.employees

          let status_accr = this.curTheme.status_accr === 'new' ? false : true
          this.forms[i].status_accr = status_accr
          this.forms[i].comment_accr = this.curTheme.comment_accr
          this.forms[i].date_start_accr = this.curTheme.date_start_accr
          this.forms[i].date_end_accr = this.curTheme.date_end_accr
        }
        this.changeLayout(this.curTheme.metatheme_section.group)
      }
    }
  },
  methods: {
    changeLayout(group) {
      switch (group) {
        case 'planning':
        case 'producers':
        case 'iztv':
        case 'aether_78':
        case 'aether_112':
        case 'dobrov':
          this.formLayout.reg = false
          this.formLayout.zr = false
          for (let i = 0; i < this.forms.length; i++) {
            this.forms[i].withoutDate = false
          }
          break
        case 'regions':
          this.formLayout.zr = false
          this.formLayout.reg = true
          for (let i = 0; i < this.forms.length; i++) {
            this.forms[i].metatheme_inclusions = null
            this.forms[i].comment_inclusions = null
            if (!this.curTheme) {
              this.forms[i].date_start = null
              this.forms[i].date_end = null
              this.forms[i].withoutDate = true
            }
          }
          break
        case 'regions_5':
          this.formLayout.zr = false
          this.formLayout.reg = true
          for (let i = 0; i < this.forms.length; i++) {
            this.forms[i].metatheme_inclusions = null
            this.forms[i].comment_inclusions = null
            if (!this.curTheme) {
              this.forms[i].date_start = null
              this.forms[i].date_end = null
              this.forms[i].withoutDate = true
            }
          }
          break
        case 'foreign':
          this.formLayout.reg = false
          this.formLayout.zr = true
          for(let i = 0; i < this.forms.length; i++) {
            this.forms[i].short_description = null
            this.forms[i].description = null
            this.forms[i].address = null
            this.forms[i].metatheme_inclusions = null
            this.forms[i].comment_inclusions = null
            if (!this.curTheme) {
              this.forms[i].date_start = null
              this.forms[i].date_end = null
              this.forms[i].withoutDate = true
            }
          }
          break
        case 'foreign_5':
          this.formLayout.reg = false
          this.formLayout.zr = true
          for(let i = 0; i < this.forms.length; i++) {
            this.forms[i].short_description = null
            this.forms[i].description = null
            this.forms[i].address = null
            this.forms[i].metatheme_inclusions = null
            this.forms[i].comment_inclusions = null
            if (!this.curTheme) {
              this.forms[i].date_start = null
              this.forms[i].date_end = null
              this.forms[i].withoutDate = true
            }
          }
          break
        default:
          this.formLayout.reg = false
          this.formLayout.zr = false
          for(let i = 0; i < this.forms.length; i++) {
            this.forms[i].withoutDate = false
          }
          break
      }
    },
    checkDateStart(index) {
      this.forms[index].date_end = this.moment(this.forms[index].date_start).set({hour:23,minute:58,second:0,millisecond:0}).format()
    },
    handleChangeWithoutDate(form) {
      if (form.withoutDate) {
        form.date_start = null
        form.date_end = null
      } else {
        if (this.$route.query.date) {
          let date = this.$route.query.date[6] +
                      this.$route.query.date[7] +
                      this.$route.query.date[8] +
                      this.$route.query.date[9] +
                      this.$route.query.date[2] +
                      this.$route.query.date[3] +
                      this.$route.query.date[4] +
                      this.$route.query.date[5] +
                      this.$route.query.date[0] +
                      this.$route.query.date[1]
          form.date_start = this.moment(date).set({hour:0,minute:1,second:0,millisecond:0}).format()
          form.date_end = this.moment(date).set({hour:23,minute:58,second:0,millisecond:0}).format()
        } else {
          form.date_start = this.moment(new Date()).set({hour:0,minute:1,second:0,millisecond:0}).format()
          form.date_end = this.moment(new Date()).set({hour:23,minute:58,second:0,millisecond:0}).format()
        }
      }
    },
    handleChangeShortDescription(form, index) {
      const quill = this.$refs.short_description_editor[index].quill
      const limit = 500
      const regexEmoji = /[\p{Emoji_Presentation}|\p{Extended_Pictographic}\u{1F3FB}-\u{1F3FF}\u{1F9B0}-\u{1F9B3}]/gu
      if (regexEmoji.test(quill.root.innerText)) {
        setTimeout(() => {
          quill.root.innerHTML = quill.root.innerHTML.replace(regexEmoji, ' ').replace(/ +/g, ' ').split('')
                                .filter(e => e.charCodeAt() !== 8205 && e.charCodeAt() !== 8419 && e.charCodeAt() !== 65039)
                                .join('').trim()
          quill.getSelection()
          quill.setSelection(quill.root.innerText.length)
        }, 100)
      }
      form.short_description_length = (quill.getLength() - 1).toString()
      if (quill.getLength() > limit) {
        quill.deleteText(limit, quill.getLength())
      }
    },
    handleChangeFullDescription(index) {
      const quill = this.$refs.full_description_editor[index].quill
      const regexEmoji = /[\p{Emoji_Presentation}|\p{Extended_Pictographic}\u{1F3FB}-\u{1F3FF}\u{1F9B0}-\u{1F9B3}]/gu
      if (regexEmoji.test(quill.root.innerText)) {
        setTimeout(() => {
          quill.root.innerHTML = quill.root.innerHTML.replace(regexEmoji, ' ').replace(/ +/g, ' ').split('')
                                .filter(e => e.charCodeAt() !== 8205 && e.charCodeAt() !== 8419 && e.charCodeAt() !== 65039)
                                .join('').trim()
          quill.getSelection()
          quill.setSelection(quill.root.innerText.length)
        }, 100)
      }
    },
    toggleFullScreen() {
      this.forms[0].tempDescription = this.forms[0].description
      let rows = this.$refs.createMetaThemeForm[0].$el.querySelectorAll('.form-row')
      let closeBtnOfForm = this.$parent.$el.querySelector('.el-dialog__headerbtn')
      let closeBtnOfFullScreen = this.$parent.$el.querySelector('.el-dialog__headerbtn--fullscreen')
      let description = this.$refs.createMetathemeDescription[0].$el
      let descriptionFooter = this.$refs.createMetathemeDescriptionFooter
      let footer = this.$refs.createMetathemeFooter
      if (description.classList.value.includes('full-screen')) {
        for (let i = 4; i < rows.length; i++) {
          rows[i].style.display = 'flex'
        }
        description.classList.remove('full-screen')
        descriptionFooter.style.display = 'none'
        closeBtnOfFullScreen.style.display = 'none'
        closeBtnOfForm.style.display = 'block'
        footer.style.display = 'block'
      } else {
        for (let i = 4; i < rows.length; i++) {
          rows[i].style.display = 'none'
        }
        description.classList.add('full-screen')
        descriptionFooter.style.display = 'block'
        closeBtnOfForm.style.display = 'none'
        closeBtnOfFullScreen.style.display = 'block'
        footer.style.display = 'none'
      }
    },
    cancelFullDescription() {
      this.forms[0].description = this.forms[0].tempDescription
      let rows = this.$refs.createMetaThemeForm[0].$el.querySelectorAll('.form-row')
      let closeBtnOfForm = this.$parent.$el.querySelector('.el-dialog__headerbtn')
      let closeBtnOfFullScreen = this.$parent.$el.querySelector('.el-dialog__headerbtn--fullscreen')
      this.$refs.createMetathemeDescription[0].$el.classList.remove('full-screen')
      this.$refs.createMetathemeDescriptionFooter.style.display = 'none'
      this.$refs.createMetathemeFooter.style.display = 'block'
      closeBtnOfFullScreen.style.display = 'none'
      closeBtnOfForm.style.display = 'block'
      for (let i = 4; i < rows.length; i++) {
        rows[i].style.display = 'flex'
      }
    },
    handleChangeStatusAccr(form) {
      if (!form.status_accr) {
        form.comment_accr = null
        form.date_start_accr = null
        form.date_end_accr = null
      }
    },
    showAddEmployees(form, index) {
      this.currentForm = form
      this.currentForm.index = index
      this.addEmployeesVisible = true
    },
    hideAddEmployees() {
      this.addEmployeesVisible = false
    },
    addedEmployee(arr, index) {
      this.forms[index].employees = arr
    },
    async deleteEmployee(employee, index) {
      this.forms[index].employees.splice(this.forms[index].employees.findIndex(el => el.id === employee.id), 1)
    },
    clone(index) {
      this.forms.splice(index + 1, 0, {
        name: this.forms[index].name,
        metatheme_section: this.forms[index].metatheme_section,
        date_start: null,
        date_end: null,
        short_description: null,
        description: null,
        address: null,
        metatheme_inclusions: null,
        comment_inclusions: null,
        metatheme_aethers: null,
        metatheme_hardwares: null,
        metatheme_aether_plans: null,
        comment_aether_plans: null,
        aether_plan_rentv: false,
        aether_plan_iztv: false,
        aether_plan_5tv: false,
        status_coord: false,
        comment_coord: null,
        country: null,
        withoutDate: true,
        employees: [],
        status_accr: false,
        comment_accr: null,
        date_start_accr: null,
        date_end_accr: null
      })
    },
    deleteForm(index) {
      if (this.forms.length > 1) {
        this.forms.splice(index, 1)
      }
    },
    handleSubmit(form) {
      for(let i = 0; i < this.$refs[form].length; i++) {
        this.$refs[form][i].validate( async (valid) => {
          if (!valid) {
            return false
          } else {
            try {
              this.loading = true
              let status = this.forms[i].status_coord ? 'coord' : 'new'
              let status_accr = this.forms[i].status_accr ? 'need' : 'new'
              let date_start = this.forms[i].date_start ? this.moment(this.forms[i].date_start).format() : null
              let date_end = this.forms[i].date_end ? this.moment(this.forms[i].date_end).format() : null
              let date_start_accr = this.forms[i].date_start_accr ? this.moment(this.forms[i].date_start_accr).format() : null
              let date_end_accr = this.forms[i].date_end_accr ? this.moment(this.forms[i].date_end_accr).format() : null
              let formData = {
                name: this.forms[i].name,
                metatheme_section: this.forms[i].metatheme_section,
                date_start: date_start,
                date_end: date_end,
                short_description: this.forms[i].short_description,
                description: this.forms[i].description,
                address: this.forms[i].address,
                metatheme_inclusions: this.forms[i].metatheme_inclusions,
                comment_inclusions: this.forms[i].comment_inclusions,
                metatheme_aethers: this.forms[i].metatheme_aethers,
                metatheme_hardwares: this.forms[i].metatheme_hardwares,
                metatheme_aether_plans: this.forms[i].metatheme_aether_plans,
                comment_aether_plans: this.forms[i].comment_aether_plans,
                aether_plan_rentv: this.forms[i].aether_plan_rentv,
                aether_plan_iztv: this.forms[i].aether_plan_iztv,
                aether_plan_5tv: this.forms[i].aether_plan_5tv,
                status_coord: status,
                comment_coord: this.forms[i].comment_coord,
                country: this.forms[i].country,
                author: `${JSON.parse(localStorage.getItem('user')).surname} ${JSON.parse(localStorage.getItem('user')).name}`,
                employees: this.forms[i].employees,
                status_accr: status_accr,
                comment_accr: this.forms[i].comment_accr,
                date_start_accr: date_start_accr,
                date_end_accr: date_end_accr,
              }
              await this.$store.dispatch('createMetatheme', formData)
              .then(async (res) => {
                let statusLog = formData.metatheme_section === 9 ? false : true
                await this.$store.dispatch('editMetatheme', {id: res.data.id, sortParam: res.data.id, status_log: statusLog})
                if (formData.status_coord === 'coord') {
                  let shootingDateStart = formData.date_start ? this.moment(formData.date_start).format() : this.moment(new Date()).format()
                  let shootingData = {
                    name: formData.name,
                    metatheme: res.data.id,
                    address: `${formData.country ? formData.country : ''}${formData.address ? formData.address : ''}`,
                    date_start: shootingDateStart,
                    date_end: formData.date_end,
                    metatheme_aether_plans: formData.metatheme_aether_plans,
                    comment_aether_plans: formData.comment_aether_plans,
                    metatheme_inclusions: formData.metatheme_inclusions,
                    comment_inclusions: formData.comment_inclusions,
                    metatheme_hardwares: formData.metatheme_hardwares,
                    auto_create: true,
                    comment: formData.comment_coord,
                    author: res.data.author
                  }
                  await this.$store.dispatch('createShooting', shootingData)
                }
                this.$emit('created')
                this.loading = false
                this.$message.success('Тема добавлена')
              })
            } catch (e) {
              this.$message.error('Недостаточно прав для выполнения данной операции')
              console.log(e)
            }
          }
        })
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.planning-create {
  & .el-dialog__headerbtn--fullscreen {
    display: none;
  }
  & .el-form {
    position: relative;
  }
  & .form-row {
    display: flex;
    & .metatheme-section {
      max-width: 200px;
    }
    & .el-form-item {
      &.full-description.full-screen {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 15px;
        background: #fff;
        z-index: 100;
        overflow-y: auto;
        & .quillWrapper {
          height: 100%;
        }
        & .ql-container {
          height: 90%
        }
      }
      &.full-description .el-form-item__content {
        position: relative;
        height: 90%;
        & .full-screen-btn {
          position: absolute;
          right: 5px;
          top: 10px;
          font-size: 26px;
          cursor: pointer;
          &:hover {
            color: #06c;
          }
        }
      }
      width: 25%;
      &:last-child {
        margin-right: 0;
      }
    }
    &:nth-child(1) .el-form-item,
    &:nth-child(4) .el-form-item {
      width: 100%;
    }
    &:nth-child(2) .el-form-item {
      width: auto;
    }
    &:nth-child(6) .el-form-item {
      width: 33%;
    }
    &:nth-child(7) .el-form-item {
      width: 33%;
      & .el-date-editor {
        width: 100%;
      }
    }
    & .comment.el-textarea .el-textarea__inner {
      padding: 10px 15px;
      height: 125px !important;
      resize: none;
      margin-top: 10px;
    }
    & .comment.comment-accr.el-textarea .el-textarea__inner {
      margin-top: 0;
    }
  }
  & .form-row.description .el-form-item {
    width: 50%;
    & .ql-container {
      height: 150px;
    }
    & .ql-editor {
      min-height: 150px;
    }
  }
  & .form-row.metathems {
    & .el-form-item {
      width: 30%;
    }
    & .el-form-item.checkbox-list {
      width: auto;
      margin-right: 10px;      
    }
  }
  & .form-row.coordination {
    & .el-form-item {
      &.hardwares {
        & .el-form-item__content {
          margin-top: 10px;
        }
        & .el-input__inner {
          height: 125px !important;
        }
      }
    }
  }
  & .el-form--label-top .el-form-item__label {
    padding: 0;
  }
  & .el-select {
    width: 100%;
  }
  & .el-form-item.switch-coord-row {
    position: relative;
    flex-direction: column;
    & .el-form-item__content {
      position: static;
    }
    & .el-switch.switch {
      position: absolute;
      top: 10px;
      left: 90px;
    }
  }
  & .zr-btn-clone {
    border: 1px solid #7C43BA;
  }
  & .zr-btn-delete {
    border: 1px solid #E62744;
    &:hover, &:focus, &:active {
      color: #E62744;
    }
  }
  & form.formZr {
    & .form-row {
      &:nth-child(2) .el-form-item,
      &:nth-child(5) .el-form-item {
        width: 33%;
      }
      & .el-date-editor {
        width: 100%;
      }
    }
    & .el-form-item {
      margin-bottom: 0;
    }
    & .comment-zr.el-textarea .el-textarea__inner {
      padding: 10px 15px;
      height: 125px !important;
      resize: none;
    }
    & .el-form-item.switch-coord-row {
      margin-bottom: 20px;
    }
  }
  & .checkbox-list {
    margin-left: 20px;
    margin-top: 40px;
    & .el-checkbox {
      display: block;
      margin-right: 0;
      & span.el-checkbox__label {
        padding-left: 35px;
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 10px;
          left: 22px;
          width: 20px;
          height: 20px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-child(1) span.el-checkbox__label::before {
        background-image: url('../../assets/png/logo_rentv2.png');
      }
      &:nth-child(2) span.el-checkbox__label::before {
        background-image: url('../../assets/png/logo_izru2.png');
      }
      &:nth-child(3) span.el-checkbox__label::before {
        background-image: url('../../assets/png/logo_5tv2.png');
      }
    }
  }
  & .correspondents {
    padding-left: 15px;
    & .el-form-item__content {
      line-height: 23px;
    }
  }
}
</style>