<template>
  <div class="planning-edit" v-loading="loading">
    <button
      type="button"
      class="el-dialog__headerbtn el-dialog__headerbtn--fullscreen"
      @click="cancelFullDescription(form)"
    >
      <i class="el-dialog__close el-icon el-icon-close"></i>
    </button>
    <el-form
      :class="{ formZr: formLayout.zr|| formLayout.reg }"
      :model="form"
      :rules="rules"
      ref="editMetaThemeForm"
      :inline="true"
      label-position="top"
    >
      <div class="form-row">
        <el-form-item
          label="Название"
          prop="name"
        >
          <el-input
            v-model="form.name"
            placeholder="Краткое название"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          class="metatheme-section"
          label="Раздел"
          prop="metatheme_section"
        >
          <el-select
            v-model="form.metatheme_section"
            placeholder="Выберите раздел"
          >
            <el-option
              v-for="item in metatheme_sections"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </div>
      <div class="form-row">
        <el-form-item
          v-if="formLayout.zr || formLayout.reg"
          label="Страна/Регион"
          prop="country"
        >
          <el-input
            v-model="form.country"
            placeholder="Краткое название"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Начало"
          prop="date_start"
        >
          <el-date-picker
            v-model="form.date_start"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.withoutDate"
            @blur="checkDateStart()">
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание"
          prop="date_end"
        >
          <el-date-picker
            v-model="form.date_end"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.withoutDate">
          </el-date-picker>
          <el-checkbox
            v-if="formLayout.zr || formLayout.reg"
            v-model="form.withoutDate"
            @change="handleChangeWithoutDate(form)"
          >
            без времени
          </el-checkbox>
        </el-form-item>
      </div>
      <div class="form-row description" v-if="!formLayout.zr">
        <el-form-item
          label="Краткое описание"
          prop="short_description"
        >
          <vue-editor
            ref="short_description_editor"
            v-model="form.short_description"
            :editorToolbar="textEditorToolbar"
            @text-change="handleChangeShortDescription(form)"
          >
          </vue-editor>
          <span :style="{ 'color': +form.short_description_length >= 450 ? '#E62744' : '#606266' }">
            Максимальное кол-во символов в поле: {{ form.short_description_length }}/500
          </span>
        </el-form-item>
        <el-form-item
          ref="editMetathemeDescription"
          label="Описание"
          prop="description"
          class="full-description"
        >
          <i class="el-icon-full-screen full-screen-btn" @click="toggleFullScreen(form)"></i>
          <el-tooltip
            effect="dark"
            content="Печать"
          >
            <el-button
              class="print-btn"
              v-print="print"
              type="primary"
              icon="el-icon-printer"
              size="mini"
            >
            </el-button>
          </el-tooltip>
          <vue-editor
            ref="full_description_editor"
            v-model="form.description"
            :editorToolbar="textEditorToolbar"
            @text-change="handleChangeFullDescription"
          >
          </vue-editor>
        </el-form-item>
      </div>
      <div class="form-row">
       <el-form-item
          v-if="!formLayout.zr && !formLayout.reg"
          label="Адрес"
          prop="address"
        >
          <el-input
            class="address"
            v-model="form.address"
            placeholder="Введите адрес"
          >
          </el-input>
        </el-form-item>
      </div>
      <div class="form-row metathems">
        <el-form-item
          v-if="!formLayout.zr && !formLayout.reg"
          label="Перегоны, включения"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_inclusions" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_inclusions"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            class="comment"
            type="textarea"
            size='mini'
            placeholder="Комментарий: Перегоны, включения"
            v-model="form.comment_inclusions"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Эфир"
          prop="metatheme_aether"
        >
          <el-select v-model="form.metatheme_aethers" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aethers"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="Эфирный план"
          prop="metatheme_inclusion"
        >
          <el-select v-model="form.metatheme_aether_plans" multiple placeholder="Не добавлено" class="select-tags">
            <el-option
              v-for="item in metatheme_aether_plans"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
          <el-input
            v-if="!formLayout.zr && !formLayout.reg"
            class="comment"
            type="textarea"
            size='mini'
            placeholder="Комментарий: Эфирный план"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          v-if="formLayout.zr || formLayout.reg"
          label="Комментарий (эф.план)"
        >
          <el-input
            class="comment-zr"
            type="textarea"
            placeholder="Ваш комментарий"
            v-model="form.comment_aether_plans"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          class="checkbox-list"
        >
          <el-checkbox v-model="form.aether_plan_rentv">РЕН ТВ</el-checkbox>
          <el-checkbox v-model="form.aether_plan_iztv">IZ.TV</el-checkbox>
          <el-checkbox v-model="form.aether_plan_5tv">5TV</el-checkbox>
        </el-form-item>
      </div>
      <div class="form-row coordination">
        <el-form-item
          label="Координация"
          prop="status_coord"
          class="switch-coord-row"
        >
          <el-switch v-model="form.status_coord" class="switch"></el-switch>
          <el-input
            class="comment"
            :disabled="form.status_coord === true ? false : true"
            type="textarea"
            placeholder="Комментарий для координации"
            v-model="form.comment_coord"
          >
          </el-input>
        </el-form-item>
        <el-form-item
            label="Оборудование"
            prop="metatheme_hardware"
            class="hardwares"
          >
            <el-select v-model="form.metatheme_hardwares" multiple placeholder="Не добавлено" class="select-tags">
              <el-option
                v-for="item in metatheme_hardwares"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
        </el-form-item>
        <!-- <el-form-item
          label="Корреспондент темы"
          class="correspondents"
        >
          <div v-for="employee in form.employees" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteEmployee(employee)"
            >
              <i slot="reference" class="el-icon-delete delete-resource"></i>
                Удалить
            </el-popconfirm>
          </div>
          <el-link type="primary" @click="showAddEmployees">+ Добавить</el-link>
        </el-form-item> -->
      </div>
      <div class="form-row">
        <el-form-item
          label="Аккредитация"
          prop="status_accr"
          class="switch-coord-row"
        >
          <el-switch v-model="form.status_accr" class="switch" @change="handleChangeStatusAccr"></el-switch>
          <el-input
            class="comment comment-accr"
            :disabled="form.status_accr === true ? false : true"
            type="textarea"
            placeholder="Комментарий для аккредитации"
            v-model="form.comment_accr"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Начало аккредитации"
          prop="date_start_accr"
        >
          <el-date-picker
            v-model="form.date_start_accr"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.status_accr === true ? false : true"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item
          label="Окончание аккредитации"
          prop="date_end_accr"
        >
          <el-date-picker
            v-model="form.date_end_accr"
            type="datetime"
            :editable="false"
            placeholder="Дата и время"
            format="dd-MM-yyyy HH:mm"
            :picker-options = "pickerOptions"
            :clearable="false"
            :disabled="form.status_accr === true ? false : true"
          >
          </el-date-picker>
        </el-form-item>
      </div>
      <div v-if="form.author" class="author">
        Заказ: {{ form.author }}
      </div>
    </el-form>
    <span
      ref="editMetathemeFooter"
      slot="footer"
      class="dialog-footer"
    >
      <el-popconfirm
        title="Вы уверены?"
        @confirm="handleSubmit('editMetaThemeForm')"
      >
        <el-button
          slot="reference"
          type="primary"
          class="edit-btn"
        >
          Изменить
        </el-button>
      </el-popconfirm>
      <el-popconfirm
        title="Вы уверены?"
        @confirm="deleteMetatheme()"
      >
        <el-button
          v-if="$route.name === 'coordination' || $route.name === 'planning' || $route.name === 'urgentdepartures'"
          class="delete-btn"
          slot="reference"
          type="danger"
        >
          Удалить
        </el-button>
      </el-popconfirm>
      <el-button
        @click="$emit('hideEditForm')"
      >
        Отменить
      </el-button>
    </span>
    <span
      slot="footer"
      ref="editMetathemeDescriptionFooter"
      class="dialog-footer"
      style="display: none;"
    >
      <el-button
        type="primary"
        @click="toggleFullScreen(form)"
      >
        Сохранить
      </el-button>
      <el-button
        @click="cancelFullDescription(form)"
      >
        Отменить
      </el-button>
    </span>

    <div>
      <PrintTheme
        id="print-theme-block"
        :theme="form"
      />
    </div>

    <el-dialog
      class="planning-add-employees"
      title="Добавление сотрудников в тему"
      :visible.sync="addEmployeesVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddEmployeesToTheme
        :editingTheme="editingTheme"
        @hideAddEmployees="hideAddEmployees"
        @addedEmployee="addedEmployee"
      />
    </el-dialog>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import textEditorMixin from '@/mixins/texteditor.mixin.js'
import AddEmployeesToTheme from '@/components/planning/AddEmployeesToTheme'
import PrintTheme from '@/components/planning/print/PrintTheme'

export default {
  name: 'editmetatheme',
  components: {
    VueEditor,
    AddEmployeesToTheme,
    PrintTheme
  },
  mixins: [textEditorMixin],
  props: {
    editingTheme: {
      type: Object,
      required: false
    }
  },
  data() {
    const validateDateEnd = (rule, value, callback) => {
      if (this.form.date_start && this.form.date_end && this.moment(this.form.date_start).format() > this.moment(this.form.date_end).format()
      ) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    const validateDateEndAccr = (rule, value, callback) => {
      if (this.form.status_accr && !this.form.date_end_accr) {
        callback(new Error('Выберите дату'))
      } else {
        callback()
      }
    }
    return {
      loading: true,
      theme: null,
      metatheme_inclusions: [],
      metatheme_aethers: [],
      metatheme_hardwares: [],
      metatheme_aether_plans: [],
      metatheme_sections: [],
      addEmployeesVisible: false,
      pickerOptions: {
        firstDayOfWeek: 1
      },
      form: {
        id: null,
        name: null,
        metatheme_section: null,
        date_start: null,
        date_end: null,
        withoutDate: false,
        short_description: null,
        short_description_length: 0,
        description: null,
        tempDescription: null,
        address: null,
        metatheme_inclusions: null,
        comment_inclusions: null,
        metatheme_aethers: null,
        metatheme_hardwares: null,
        metatheme_aether_plans: null,
        comment_aether_plans: null,
        aether_plan_rentv: false,
        aether_plan_iztv: false,
        aether_plan_5tv: false,
        status_coord: false,
        comment_coord: null,
        country: null,
        author: null,
        employees: [],
        status_accr: false,
        comment_accr: null,
        date_start_accr: null,
        date_end_accr: null
      },
      formLayout: {
        zr: false,
        reg: false
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите название темы",
            trigger: "blur",
          }
        ],
        metatheme_section: [
          {
            required: true,
            message: "Выберите раздел",
            trigger: "blur",
          }
        ],
        date_end: [
          {
            validator: validateDateEnd,
            trigger: 'change'
          }
        ],
        date_end_accr: [
          {
            validator: validateDateEndAccr,
            trigger: 'change'
          }
        ]
      },
      print: {
        id: 'print-theme-block',
        popTitle: '',
        preview: true,
        previewTitle: 'Предварительный просмотр',
        previewPrintBtnLabel: 'Печать',
        previewBeforeOpenCallback() {
          const iframe = document.getElementById('printArea_1')
          const contDoc = iframe.contentDocument || iframe.contentWindow.document
          contDoc.getElementById('print-theme-block').style.display = 'block'
        }
      }
    }
  },
  async mounted() {
    this.metatheme_inclusions = await this.$store.dispatch('fetchMetathemeInclusions')
    this.metatheme_aethers = await this.$store.dispatch('fetchMetathemeAethers')
    this.metatheme_hardwares = await this.$store.dispatch('fetchMetathemeHardwares')
    this.metatheme_aether_plans = await this.$store.dispatch('fetchMetathemeAetherPlans')
    this.metatheme_sections = await this.$store.dispatch('fetchMetathemeSections')
    const move = (from, to, ...a) => (a.splice(to, 0, ...a.splice(from, 1)), a)
    this.metatheme_sections = move(39, 14, ...this.metatheme_sections)
    this.loading = false
  },
  watch: {
    editingTheme: {
      immediate: true,
      handler: async function () {
        if (!this.editingTheme) {
          return
        }
        this.theme = await this.$store.dispatch('fetchMetathemeById', this.editingTheme.id)
        let metatheme_inclusions = []
        let metatheme_aethers = []
        let metatheme_hardwares = []
        let metatheme_aether_plans = []
        for(let i = 0; i < this.theme.metatheme_inclusions.length; i++) {
          metatheme_inclusions.push(this.theme.metatheme_inclusions[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_aethers.length; i++) {
          metatheme_aethers.push(this.theme.metatheme_aethers[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_hardwares.length; i++) {
          metatheme_hardwares.push(this.theme.metatheme_hardwares[i].id)
        }
        for(let i = 0; i < this.theme.metatheme_aether_plans.length; i++) {
          metatheme_aether_plans.push(this.theme.metatheme_aether_plans[i].id)
        }
        this.form.id = this.theme.id
        this.form.name = this.theme.name
        this.form.metatheme_section = this.theme.metatheme_section.id
        this.form.date_start = this.theme.date_start
        this.form.date_end = this.theme.date_end
        this.form.short_description = this.theme.short_description
        this.form.description = this.theme.description
        this.form.address = this.theme.address
        this.form.metatheme_inclusions = metatheme_inclusions
        this.form.comment_inclusions = this.theme.comment_inclusions
        this.form.metatheme_aethers = metatheme_aethers
        this.form.metatheme_hardwares = metatheme_hardwares
        this.form.metatheme_aether_plans = metatheme_aether_plans
        this.form.aether_plan_rentv = this.theme.aether_plan_rentv
        this.form.aether_plan_iztv = this.theme.aether_plan_iztv
        this.form.aether_plan_5tv = this.theme.aether_plan_5tv
        this.form.comment_aether_plans = this.theme.comment_aether_plans

        let status = this.theme.status_coord === 'new' ? false : true
        this.form.status_coord = status

        this.form.comment_coord = this.theme.comment_coord
        this.form.country = this.theme.country
        this.form.author = this.theme.author
        this.form.employees = this.theme.employees

        let status_accr = this.theme.status_accr === 'new' ? false : true
        this.form.status_accr = status_accr
        this.form.comment_accr = this.theme.comment_accr
        this.form.date_start_accr = this.theme.date_start_accr
        this.form.date_end_accr = this.theme.date_end_accr

        this.changeLayout(this.theme.metatheme_section.group)
      }
    },
    form: {
      immediate: true,
      deep: true,
      handler() {
        this.print.popTitle = this.form.name
      }
    }
  },
  methods: {
    changeLayout(group) {
      switch (group) {
        case 'planning':
        case 'producers':
        case 'iztv':
        case 'aether_78':
        case 'aether_112':
        case 'dobrov':
          this.formLayout.reg = false
          this.formLayout.zr = false
          break
        case 'regions':
          this.formLayout.zr = false
          this.formLayout.reg = true
          this.form.metatheme_inclusions = null
          this.form.comment_inclusions = null
          break
        case 'regions_5':
          this.formLayout.zr = false
          this.formLayout.reg = true
          this.form.metatheme_inclusions = null
          this.form.comment_inclusions = null
          break
        case 'foreign':
          this.formLayout.reg = false
          this.formLayout.zr = true
          this.form.short_description = null
          this.form.description = null
          this.form.address = null
          this.form.metatheme_inclusions = null
          this.form.comment_inclusions = null
          break
        case 'foreign_5':
          this.formLayout.reg = false
          this.formLayout.zr = true
          this.form.short_description = null
          this.form.description = null
          this.form.address = null
          this.form.metatheme_inclusions = null
          this.form.comment_inclusions = null
          break
        default:
          this.formLayout.reg = false
          this.formLayout.zr = false
          break
      }
    },
    checkDateStart() {
      this.form.date_end = this.moment(this.form.date_start).set({hour:23,minute:58,second:0,millisecond:0}).format()
    },
    handleChangeWithoutDate(form) {
      if (form.withoutDate) {
        form.date_start = null
        form.date_end = null
      } else {
        form.date_start = this.moment(new Date()).set({hour:0,minute:1,second:0,millisecond:0}).format()
        form.date_end = this.moment(new Date()).set({hour:23,minute:58,second:0,millisecond:0}).format()
      }
    },
    handleChangeShortDescription(form) {
      const quill = this.$refs.short_description_editor.quill
      const limit = 500
      const regexEmoji = /[\p{Emoji_Presentation}|\p{Extended_Pictographic}\u{1F3FB}-\u{1F3FF}\u{1F9B0}-\u{1F9B3}]/gu
      if (regexEmoji.test(quill.root.innerText)) {
        setTimeout(() => {
          quill.root.innerHTML = quill.root.innerHTML.replace(regexEmoji, ' ').replace(/ +/g, ' ').split('')
                                .filter(e => e.charCodeAt() !== 8205 && e.charCodeAt() !== 8419 && e.charCodeAt() !== 65039)
                                .join('').trim()
          quill.getSelection()
          quill.setSelection(quill.root.innerText.length)
        }, 100)
      }
      form.short_description_length = (quill.getLength() - 1).toString()
      if (quill.getLength() > limit) {
        quill.deleteText(limit, quill.getLength())
      }
    },
    handleChangeFullDescription() {
      const quill = this.$refs.full_description_editor.quill
      const regexEmoji = /[\p{Emoji_Presentation}|\p{Extended_Pictographic}\u{1F3FB}-\u{1F3FF}\u{1F9B0}-\u{1F9B3}]/gu
      if (regexEmoji.test(quill.root.innerText)) {
        setTimeout(() => {
          quill.root.innerHTML = quill.root.innerHTML.replace(regexEmoji, ' ').replace(/ +/g, ' ').split('')
                                .filter(e => e.charCodeAt() !== 8205 && e.charCodeAt() !== 8419 && e.charCodeAt() !== 65039)
                                .join('').trim()
          quill.getSelection()
          quill.setSelection(quill.root.innerText.length)
        }, 100)
      }
    },
    toggleFullScreen(form) {
      let rows = this.$refs.editMetaThemeForm.$el.querySelectorAll('.form-row')
      form.tempDescription = form.description
      let closeBtnOfForm = this.$parent.$el.querySelector('.el-dialog__headerbtn')
      let closeBtnOfFullScreen = this.$parent.$el.querySelector('.el-dialog__headerbtn--fullscreen')
      let description = this.$refs.editMetathemeDescription.$el
      let descriptionFooter = this.$refs.editMetathemeDescriptionFooter
      let footer = this.$refs.editMetathemeFooter
      if (description.classList.value.includes('full-screen')) {
        for (let i = 4; i < rows.length; i++) {
          rows[i].style.display = 'flex'
        }
        description.classList.remove('full-screen')
        closeBtnOfFullScreen.style.display = 'none'
        closeBtnOfForm.style.display = 'block'
        descriptionFooter.style.display = 'none'
        footer.style.display = 'block'
      } else {
        for (let i = 4; i < rows.length; i++) {
          rows[i].style.display = 'none'
        }
        description.classList.add('full-screen')
        closeBtnOfForm.style.display = 'none'
        closeBtnOfFullScreen.style.display = 'block'
        footer.style.display = 'none'
        descriptionFooter.style.display = 'block'
      }
    },
    cancelFullDescription(form) {
      form.description = form.tempDescription
      let rows = this.$refs.editMetaThemeForm.$el.querySelectorAll('.form-row')
      let closeBtnOfForm = this.$parent.$el.querySelector('.el-dialog__headerbtn')
      let closeBtnOfFullScreen = this.$parent.$el.querySelector('.el-dialog__headerbtn--fullscreen')
      this.$refs.editMetathemeDescription.$el.classList.remove('full-screen')
      this.$refs.editMetathemeDescriptionFooter.style.display = 'none'
      this.$refs.editMetathemeFooter.style.display = 'block'
      closeBtnOfFullScreen.style.display = 'none'
      closeBtnOfForm.style.display = 'block'
      for (let i = 4; i < rows.length; i++) {
        rows[i].style.display = 'flex'
      }
    },
    handleChangeStatusAccr() {
      if (!this.form.status_accr) {
        this.form.comment_accr = null
        this.form.date_start_accr = null
        this.form.date_end_accr = null
      } else {
        this.form.comment_accr = this.theme.comment_accr
        this.form.date_start_accr = this.theme.date_start_accr
        this.form.date_end_accr = this.theme.date_end_accr
      }
    },
    showAddEmployees() {
      this.addEmployeesVisible = true
    },
    hideAddEmployees() {
      this.addEmployeesVisible = false
    },
    addedEmployee(arr) {
      this.form.employees = arr
    },
    async deleteEmployee(employee) {
      this.form.employees.splice(this.form.employees.findIndex(el => el.id === employee.id), 1)
    },
    handleSubmit(form) {
      this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let changeShootingStatus
            for(let i = 0; i < this.theme.shootings.length; i++) {
              // обновление данных в автоматически созданной съемке
              if (this.theme.shootings[i].auto_create) {
                let shootingData = {
                  id: this.theme.shootings[i].id,
                  date_start: this.form.date_start,
                  date_end: this.form.date_end,
                  address: `${this.form.country ? this.form.country : ''}${this.form.address ? this.form.address : ''}`,
                  metatheme_aether_plans: this.form.metatheme_aether_plans,
                  comment_aether_plans: this.form.comment_aether_plans,
                  metatheme_inclusions: this.form.metatheme_inclusions,
                  comment_inclusions: this.form.comment_inclusions,
                  metatheme_hardwares: this.form.metatheme_hardwares,
                  comment: this.form.comment_coord
                }
                if (this.theme.shootings[i].status_coord === 'done' && (this.theme.shootings[i].date_start !== shootingData.date_start ||
                    this.theme.shootings[i].date_end !== shootingData.date_end || this.theme.shootings[i].address !== shootingData.address
                  )) {
                    shootingData.status_coord = 'coord'
                    changeShootingStatus = 'coord'
                }
                await this.$store.dispatch('editShooting', shootingData)
              }
              // если добавили тег "Командировка"
              if (this.theme.shootings[i].auto_create && this.theme.metatheme_aether_plans.every(ap => ap.name !== 'Командировка') && this.form.metatheme_aether_plans.some(ap => ap === 1)) {
                for (let j = 0; j < this.theme.shootings[i].employees.length; j++) {
                  if (this.theme.shootings[i].employees[j].employee_role === 4) {
                    let curShooting = await this.$store.dispatch('fetchShootingById', this.theme.shootings[i].id)
                    let businessTripData = {
                      name: `Командировка - ${this.theme.shootings[i].name}`,
                      date_start: this.moment(this.theme.shootings[i].date_start).format(),
                      date_end: this.moment(this.theme.shootings[i].date_end).format(),
                      employees: [this.theme.shootings[i].employees[j]],
                      personal: true,
                      personalType: 'Командировка',
                      status_coord: 'new',
                      author: this.theme.shootings[i].author,
                      shootings_parent: [curShooting]
                    }
                    await this.$store.dispatch('createShooting', businessTripData)
                    .then(async res => {
                      curShooting.shootings_child.push(res.data)
                    })
                    .then(async () => {
                      await this.$store.dispatch('editShooting', {
                        id: curShooting.id,
                        shootings_child: curShooting.shootings_child
                      })
                    })
                  }
                }
              }
              // если удалили тег "Командировка"
              if (this.theme.shootings[i].auto_create && this.theme.metatheme_aether_plans.some(ap => ap.name === 'Командировка') && this.form.metatheme_aether_plans.every(ap => ap !== 1)) {
                let curShooting = await this.$store.dispatch('fetchShootingById', this.theme.shootings[i].id)
                for(let i = 0; i < curShooting.shootings_child.length; i++) {
                  if (curShooting.shootings_child[i].personalType === 'Командировка') {
                    await this.$store.dispatch('deleteShooting', curShooting.shootings_child[i].id)
                  }
                }
              }
            }
            let status
            if (!this.form.status_coord) {
              status = 'new'
            } else if (this.form.status_coord && this.theme.status_coord === 'new') {
              status = 'coord'
            } else {
              status = this.theme.status_coord
            }
            if (changeShootingStatus === 'coord') {
              status = 'coord'
            }
            let status_accr
            if (!this.form.status_accr) {
              status_accr = 'new'
            } else if (this.form.status_accr && this.theme.status_accr !== 'new') {
              status_accr = this.theme.status_accr
            } else {
              status_accr = 'need'
            }
            let date_start = this.form.date_start ? this.moment(this.form.date_start).format() : null
            let date_end = this.form.date_end ? this.moment(this.form.date_end).format() : null
            let date_start_accr = this.form.date_start_accr ? this.moment(this.form.date_start_accr).format() : null
            let date_end_accr = this.form.date_end_accr ? this.moment(this.form.date_end_accr).format() : null
            let formData = {
              id: this.form.id,
              name: this.form.name,
              metatheme_section: this.form.metatheme_section,
              date_start: date_start,
              date_end: date_end,
              short_description: this.form.short_description,
              description: this.form.description,
              address: this.form.address,
              metatheme_inclusions: this.form.metatheme_inclusions,
              comment_inclusions: this.form.comment_inclusions,
              metatheme_aethers: this.form.metatheme_aethers,
              metatheme_hardwares: this.form.metatheme_hardwares,
              metatheme_aether_plans: this.form.metatheme_aether_plans,
              comment_aether_plans: this.form.comment_aether_plans,
              aether_plan_rentv: this.form.aether_plan_rentv,
              aether_plan_iztv: this.form.aether_plan_iztv,
              aether_plan_5tv: this.form.aether_plan_5tv,
              status_coord: status,
              comment_coord: this.form.comment_coord,
              country: this.form.country,
              employees: this.form.employees,
              status_accr: status_accr,
              comment_accr: this.form.comment_accr,
              date_start_accr: date_start_accr,
              date_end_accr: date_end_accr
            }
            if (!this.theme.shootings.length && formData.status_coord === 'coord') {
              let shootingDateStart = formData.date_start ? this.moment(formData.date_start).format() : this.moment(new Date()).format()
              let shootingData = {
                name: formData.name,
                metatheme: this.form.id,
                address: `${formData.country ? formData.country : ''}${formData.address ? formData.address : ''}`,
                date_start: shootingDateStart,
                date_end: formData.date_end,
                metatheme_aether_plans: formData.metatheme_aether_plans,
                comment_aether_plans: formData.comment_aether_plans,
                metatheme_inclusions: formData.metatheme_inclusions,
                comment_inclusions: formData.comment_inclusions,
                metatheme_hardwares: formData.metatheme_hardwares,
                comment: formData.comment_coord,
                auto_create: true,
                author: this.form.author
              }
              await this.$store.dispatch('createShooting', shootingData)
            }
            if (this.theme.shootings.length) {
              for(let i = 0; i < this.theme.shootings.length; i++) {
                if (this.theme.status_coord !== formData.status_coord) {
                  if (formData.status_coord === 'new') {
                    if (this.theme.shootings[i].status_coord !== 'new') {
                      await this.$store.dispatch('editShooting', {id: this.theme.shootings[i].id, status_coord: 'cancelled'})
                    }
                  } else if (formData.status_coord === 'coord') {
                    await this.$store.dispatch('editShooting', {id: this.theme.shootings[i].id, status_coord: 'coord'})
                  }
                }
              }
            }
            await this.$store.dispatch('editMetatheme', formData)
            .then(() => {
              this.$emit('edited')
              this.loading = false
              this.$message.success('Тема обновлена')
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    },
    async deleteMetatheme() {
      try {
        this.loading = true
        for(let i = 0; i < this.theme.shootings.length; i++) {
          let shooting = await this.$store.dispatch('fetchShootingById', this.theme.shootings[i].id)
          for (let j = 0; j < shooting.shootings_child.length; j++) {
            await this.$store.dispatch('deleteShooting', shooting.shootings_child[j].id)
          }
          await this.$store.dispatch('deleteShooting', this.theme.shootings[i].id)
        }
        await this.$store.dispatch('deleteMetatheme', this.form.id)
        .then(() => {
          this.$emit('edited')
          this.loading = false
          this.$message.success('Тема и привязки успешно удалены')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.planning-edit {
  & .el-dialog__headerbtn--fullscreen {
    display: none;
  }
  & .el-form {
    position: relative;
  }
  & .form-row {
    display: flex;
    & .metatheme-section {
      max-width: 200px;
    }
    & .el-form-item {
      &.full-description.full-screen {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 15px;
        background: #fff;
        z-index: 100;
        overflow-y: auto;
        & .quillWrapper {
          height: 100%;
        }
        & .ql-container {
          height: 90%;
        }
      }
      &.full-description .el-form-item__content {
        position: relative;
        height: 90%;
        & .full-screen-btn {
          position: absolute;
          right: 5px;
          top: 10px;
          font-size: 26px;
          cursor: pointer;
          &:hover {
            color: #06c;
          }
        }
        & .print-btn {
          position: absolute;
          right: 0;
          top: -35px;
        }
      }
      width: 25%;
      &:last-child {
        margin-right: 0;
      }
    }
    &:nth-child(1) .el-form-item,
    &:nth-child(4) .el-form-item {
      width: 100%;
    }
    &:nth-child(2) .el-form-item {
      width: auto;
    }
    &:nth-child(6) .el-form-item {
      width: 33%;
    }
    &:nth-child(7) .el-form-item {
      width: 33%;
      & .el-date-editor {
        width: 100%;
      }
    }
    & .comment.el-textarea .el-textarea__inner {
      padding: 10px 15px;
      height: 125px !important;
      resize: none;
      margin-top: 10px;
    }
    & .comment.comment-accr.el-textarea .el-textarea__inner {
      margin-top: 0;
    }
  }
  & .form-row.description .el-form-item {
    width: 50%;
    & .ql-container {
      height: 150px;
    }
    & .ql-editor {
      min-height: 150px;
    }
  }
  & .form-row.metathems {
    & .el-form-item {
      width: 30%;
    }
    & .el-form-item.checkbox-list {
      width: auto;
      margin-right: 10px;      
    }
  }
  & .form-row.coordination {
    & .el-form-item {
      &.hardwares {
        & .el-form-item__content {
          margin-top: 10px;
        }
        & .el-input__inner {
          height: 125px !important;
        }
      }
    }
  }
  & .el-form--label-top .el-form-item__label {
    padding: 0;
  }
  & .el-select {
    width: 100%;
  }
  & .el-form-item.switch-coord-row {
    position: relative;
    flex-direction: column;
    & .el-form-item__content {
      position: static;
    }
    & .el-switch.switch {
      position: absolute;
      top: 10px;
      left: 90px;
    }
  }
  & .edit-btn, & .delete-btn {
    margin-right: 10px;
  }
  & form.formZr {
    & .form-row {
      &:nth-child(2) .el-form-item,
      &:nth-child(5) .el-form-item {
        width: 33%;
      }
      & .el-date-editor {
        width: 100%;
      }
      & .el-form-item {
        margin-bottom: 0;
      }
    }
    & .comment-zr.el-textarea .el-textarea__inner {
      padding: 10px 15px;
      height: 125px !important;
      resize: none;
    }
  }
  & .author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
    z-index: 200;
  }
  & .checkbox-list {
    margin-left: 20px;
    margin-top: 40px;
    & .el-checkbox {
      display: block;
      margin-right: 0;
      & span.el-checkbox__label {
        padding-left: 35px;
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 10px;
          left: 22px;
          width: 20px;
          height: 20px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-child(1) span.el-checkbox__label::before {
        background-image: url('../../assets/png/logo_rentv2.png');
      }
      &:nth-child(2) span.el-checkbox__label::before {
        background-image: url('../../assets/png/logo_izru2.png');
      }
      &:nth-child(3) span.el-checkbox__label::before {
        background-image: url('../../assets/png/logo_5tv2.png');
      }
    }
  }
  & .correspondents {
    padding-left: 15px;
    & .el-form-item__content {
      line-height: 23px;
    }
  }
  & #print-theme-block {
    display: none;
  }
}
</style>