<template>
  <div class="planning-header">
    <div>
      <h1 class="navbar__title navbar__title--bordered">Лог</h1>
      <div class="date-picker-wrapper date-picker-wrapper--no-margin">
        <el-date-picker
          class="planning-header__picker"
          v-model="$store.state.metathemes.date"
          type="date"
          :editable="false"
          :clearable="false"
          format="dd/MM/yyyy"
          :picker-options="pickerOptions"
          @change="handleChangeDate"
          @focus="pickerFocus"
          @blur="pickerBlur"
        >
        </el-date-picker>
        <div class="date-picker-day-of-week">{{ moment($store.state.metathemes.date).locale("ru").format("dddd") }}</div>
      </div>
      <el-dropdown trigger="click" @command="range" class="planning-header__dropdown">
        <el-button class="header__dropdown--date" type="primary">
          <i class="el-icon-date"></i>
          <i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="day" :class="{ 'is-disabled': $store.state.metathemes.range === 0 }">Сутки</el-dropdown-item>
          <el-dropdown-item command="week" :class="{ 'is-disabled': $store.state.metathemes.range === 7 }">Неделя</el-dropdown-item>
          <el-dropdown-item command="month" :class="{ 'is-disabled': $store.state.metathemes.range > 7 }">Месяц</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-select
        class="planning-header__filter desktop-only"
        :disabled="grouped.length > 1 ? false : true"
        v-model="$store.state.metathemes.filter"
        @change="handleChangeFilter"
      >
        <el-option
          label="Все"
          value="all">
        </el-option>
        <el-option
          v-for="item in grouped"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select
        class="planning-header__addtheme desktop-only"
        value=""
        placeholder="Добавить тему"
        @change="handleChangeMetatheme($event)"
      >
        <el-option
          v-for="item in metatheme_sections"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
      <el-button class="desktop-only" type="danger" @click="createUrgentDepartureVisible = true">Срочный выезд!</el-button>
      <el-button class="duty-corrs-btn desktop-only" size="medium" @click="showEmployeesVisible = true">Дежурные<br>корреспонденты</el-button>
      <el-button
        class="desktop-only"
        type="primary"
        size="medium"
        @click="printLog('log')"
      >
        Печать Лог
      </el-button>
      <el-button
        class="desktop-only"
        type="primary"
        size="medium"
        @click="printLog('logfive')"
      >
        Печать Лог 5 канал
      </el-button>
    </div>

    <div class="search-field-block desktop-only">
      <el-input
        size="medium"
        class="search-field-input"
        :class="{ active: showSearchField }"
        v-model="searchField"
        placeholder="Поиск"
        :clearable="true"
        @clear="clearFilter"
        @keyup.enter.native="filterTable"
      >
      </el-input>
      <el-button
        class="item search-field-btn"
        :class="{ active: showSearchField }"
        icon="el-icon-search"
        @click="filterTable"
      >
      </el-button>
    </div>


    <div class="mobile-only mobile-header" :class="{ 'overflow-x-hidden': showSearchField }">
      <div class="search-field-block">
        <el-button
          class="item search-field-btn"
          :class="{ active: showSearchField }"
          icon="el-icon-search"
          @click="filterTable"
        >
        </el-button>
        <el-input
          size="medium"
          class="search-field-input"
          :class="{ active: showSearchField }"
          v-model="searchField"
          placeholder="Поиск"
        >
        </el-input>
        <el-button
          class="search-field-btn-clear"
          :class="{ active: showSearchField }"
          slot="append"
          icon="el-icon-circle-close"
          @click="clearFilter"
        >
        </el-button>
      </div>
      <el-button type="danger" @click="createUrgentDepartureVisible = true">Срочный выезд!</el-button>
      <el-button class="duty-corrs-btn" size="medium" @click="showEmployeesVisible = true">Дежурные<br>корреспонденты</el-button>
      <el-button
        type="primary"
        size="medium"
        @click="printLog('log')"
      >
        Печать Лог
      </el-button>
      <el-button
        type="primary"
        size="medium"
        @click="printLog('logfive')"
      >
        Печать Лог 5 канал
      </el-button>
    </div>


    <el-dialog
      class="planning-header__create-metatheme"
      :title="createFormTitle"
      :visible.sync="createFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateForm"
    >
      <CreateMetatheme
        :curSection="curSection"
        @hideCreateForm="hideCreateForm"
        @created="addNewMetateheme"
      />
    </el-dialog>

    <el-dialog
      class="planning-header__create-departure"
      title="Добавление срочного выезда"
      :visible.sync="createUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateUrgentDeparture"
    >
      <CreateUrgentDeparture
        @hideCreateUrgentDeparture="hideCreateUrgentDeparture"
        @created="addNewUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="planning-header__show-employees"
      :title="`Дежурные корреспонденты ${moment($store.state.metathemes.date).format('DD.MM.YYYY')}`"
      :visible.sync="showEmployeesVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <ShowEmployees
        :date="$store.state.metathemes.date"
        @hideEmployees="hideEmployees"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import CreateMetatheme from '@/components/planning/CreateMetatheme'
import CreateUrgentDeparture from '@/components/urgentdepartures/CreateUrgentDeparture'
import ShowEmployees from '@/components/planning/ShowEmployees'

export default {
  name: 'planningheader',
  components: {
    CreateMetatheme,
    CreateUrgentDeparture,
    ShowEmployees
  },
  data() {
    return {
      createFormVisible: false,
      createFormTitle: null,
      createUrgentDepartureVisible: false,
      showEmployeesVisible: false,
      showSearchField: false,
      searchField: null,
      metatheme_sections: [],
      curSection: null,
      grouped: [],
      logMetathemes: [],
      pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: '',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Сегодня',
            onClick(picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Месяц',
            onClick(picker) {
              picker.currentView = 'month'
            }
          },
          {
            text: 'Год',
            onClick(picker) {
              picker.currentView = 'year'
            }
          }
        ]
      }
    }
  },
  async mounted() {
    if (this.$route.query.date && this.$route.query.date_finish) {
      const date = this.moment(this.$route.query.date, "DD-MM-YYYY")
      const date_finish = this.moment(this.$route.query.date_finish, "DD-MM-YYYY")
      const diff = date_finish.diff(date, 'days')
      switch (true) {
        case diff >= 0 && diff <= 1:
          this.$store.commit('setDate', this.moment(new Date(date)).format())
          break
        case diff > 1 && diff <= 7:
          this.$store.commit('setDate', this.moment(new Date(date)).format())
          this.$store.commit('setRange', 'week')
          break
        case diff > 7:
          this.$store.commit('setDate', this.moment(new Date(date)).format())
          this.$store.commit('setRange', 'month')
          break
        default:
          this.$store.commit('setDate', this.moment(new Date()).format())
      }
      this.$store.commit('metathemesUpdated')
    } else if (this.$route.query.date) {
      const date = this.moment(this.$route.query.date, "DD-MM-YYYY")
      this.$store.commit('setDate', this.moment(new Date(date)).format())
      this.$store.commit('metathemesUpdated')
    }
    this.metatheme_sections = await this.$store.dispatch('fetchMetathemeSections')
    const move = (from, to, ...a) => (a.splice(to, 0, ...a.splice(from, 1)), a)
    this.metatheme_sections = move(39, 14, ...this.metatheme_sections)

    document.addEventListener('keydown', this.escListener)
  },
  watch: {
  '$store.state.metathemes.grouped': function () {
    this.grouped = this.$store.state.metathemes.grouped
   }
  },
  methods: {
    handleChangeDate(newDate) {
      this.showSearchField = false
      this.searchField = null
      this.$store.commit('setMetathemesSearchFiled', null)
      this.$store.commit('setDate', newDate)
      this.$store.commit('metathemesUpdated')
      this.$store.commit('setFilter', 'all')
    },
    handleChangeFilter(newFilter) {
      this.$store.commit('setFilter', newFilter)
    },
    handleChangeMetatheme(id) {
      this.metatheme_sections.forEach((item) => {
        if(item.id === id) {
          this.curSection = item
          this.createFormTitle = `Добавление темы (${item.name})`
        }
      })
      this.createFormVisible = true
    },
    hideCreateForm() {
      this.curSection = null
      this.createFormVisible = false
    },
    hideCreateUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    hideEmployees() {
      this.showEmployeesVisible = false
    },
    addNewMetateheme() {
      this.curSection = null
      this.createFormVisible = false
      this.$store.commit('metathemesUpdated')
    },
    addNewUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    range(newRange) {
      this.showSearchField = false
      this.searchField = null
      this.$store.commit('setMetathemesSearchFiled', null)
      this.$store.commit('setRange', newRange)
      this.$store.commit('metathemesUpdated')
      this.$store.commit('setFilter', 'all')
    },
    printLog(link = 'log') {
      const date = this.moment(this.$store.state.metathemes.date).format('DD-MM-YYYY')
      if (this.$store.state.metathemes.date < this.moment(new Date()).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
        this.$router.push(`/${link}/${date}`)
      } else {
        this.saveLog(date, link)
      }
    },
    async saveLog(date, link = 'log') {
      this.loading = true
      let queryLog = qs.stringify({ _where: {
        _or: [
            [
              { 'metatheme_section.show_in_log': true },
              { 'status_log': true },
              { 'date_start_lte': this.moment(this.$store.state.metathemes.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.metathemes.date).set({hour:0,minute:0,second:0,millisecond:0}).format() }
            ]
          ]
        }
      })
      const params = {
        _sort: `metatheme_section.sortLogParam:asc,metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      this.logMetathemes = await this.$store.dispatch('fetchMetathemes', {query: queryLog, params})

      const query = qs.stringify({ _where: {_or: [[{ 'logDate': date }]]}})
      const response = await this.$store.dispatch('fetchLogs', query)
      if (!response.length) {
        try {
          let data = {
            logDate: date,
            themes: this.logMetathemes
          }
          await this.$store.dispatch('saveLog', data)
          .then(() => {
            this.loading = false
            this.$router.push(`/${link}/${date}`)
          })
        } catch (e) {
          this.$message.error('Недостаточно прав для выполнения данной операции')
          console.log(e)
        }
      } else {
        try {
          let data = {
            id: response[0].id,
            logDate: date,
            themes: this.logMetathemes
          }
          await this.$store.dispatch('updateLog', data)
          .then(() => {
            this.loading = false
            this.$router.push(`/${link}/${date}`)
          })
        } catch (e) {
          this.$message.error('Недостаточно прав для выполнения данной операции')
          console.log(e)
        }
      }
    },
    filterTable() {
      if (!this.showSearchField) {
        this.showSearchField = true
      } else if (this.showSearchField && this.searchField) {
        this.$store.commit('setMetathemesSearchFiled', this.searchField)
      } else {
        this.showSearchField = false
      }
    },
    clearFilter() {
      this.$store.commit('setMetathemesSearchFiled', null)
      this.searchField = null
      this.filterTable()
    },
    escListener(event) {
      if (event.code === 'Escape') {
        this.clearFilter()
      }
    },
    pickerFocus() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.add('locked')
      }
    },
    pickerBlur() {
      if (window.innerWidth <= 440) {
        document.querySelector('body').classList.remove('locked')
      }
    }
  },
  beforeDestroy() {
    this.$store.commit('setFilter', 'all')
    this.$store.commit('setDate', this.moment(new Date()).format())
    let query = Object.assign({}, this.$route.query)
    delete query.date
    delete query.date_finish
    this.$router.replace({ query })
    document.removeEventListener('keydown', this.escListener)
  }
}
</script>

<style lang="scss">
.planning-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .el-button {
    padding: 12px 10px;
    &.duty-corrs-btn {
      padding: 7px 10px;
      margin-top: -1px;
    }
  }
  & .el-dialog__body .el-button {
    padding: 12px 20px;
  }
  & .el-button + .el-button {
    margin-left: 5px;
  }
  & .el-button + .el-button {
    margin-left: 10px;
  }
  &__dropdown.el-dropdown .el-button {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    padding: 12px 5px;
    margin-right: 5px;
  }
  &__picker.el-date-editor {
    width: 95px;
    & .el-input__inner {
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      color: #1B1B1B;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
      background: #fff;
      border: none;
      text-align: center;
      vertical-align: super;
    }
    & .el-input__prefix {
      display: none;
    }
  }
  &__filter {
    width: 130px;
    margin-right: 5px;
  }
  &__addtheme {
    width: 146px;
    margin-right: 5px;
    & span.el-input__suffix {
      top: 2px;
    }
    & .el-input .el-select__caret {
      color: #fff;
    }
    & .el-input__inner {
      color: #fff;
      background: #7C43BA;
      border: 1px solid #7C43BA;
      text-overflow: ellipsis;
        &::placeholder {
          color: #fff;
          opacity: 1
      }
    }
  }
  &__create-metatheme .el-dialog,
  &__create-departure .el-dialog {
    width: 950px;
  }
  &__show-employees .el-dialog__body {
    padding: 30px 0;
  }
}
@media (max-width: 1100px) {
  .planning-header {
    flex-direction: column;
    & > div:first-child {
      width: 100%;
      display: flex;
      align-items: self-start;
      & h1 {
        flex: 1;
      }
    }
    & .el-button {
      &.duty-corrs-btn {
        margin-top: 0;
      }
    }
    & .mobile-header {
      display: flex;
      position: absolute;
      top: 60px;
      left: -70px;
      right: -5px;
      background-color: #fff;
      padding: 10px 5px;
      overflow-x: auto;
      &.overflow-x-hidden {
        overflow-x: hidden;
      }
      & .search-field-input.active::before {
        width: calc(100vw - 41px);
      }
    }
    &__create-departure .el-dialog,
    &__show-employees .el-dialog {
      width: 100%;
    }
  }
}
</style>