<template>
  <div class="planning-shooting-block">
    <div class="planning-shooting-block__header">
      <h3>
        Съемки <span class="empty-text" v-if="shootings.length === 0" style="margin-left: 10px;">Нет съемок по данной теме</span>
      </h3>
      <el-button
        type="primary"
        size="mini"
        @click="showCreateShootingForm(theme)"
      >
        + Добавить съемку
      </el-button>
    </div>
    <div class="el-table planning-shooting-table" v-loading="loading" v-if="shootings.length > 0">
      <table class="el-table__header" style="width: 100%; border-spacing: 0">
        <thead>
          <tr>
            <th colspan="1" rowspan="1" width="33"><div class="cell"></div></th>
            <th colspan="1" rowspan="1" width="75" :class="dateStartClass" @click="dateStartSort">
              <div class="cell">
                Нач.
                <span class="caret-wrapper">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th colspan="1" rowspan="1" width="82" :class="dateEndClass" @click="dateEndSort">
              <div class="cell">
                Окон.
                <span class="caret-wrapper">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th colspan="1" rowspan="1"><div class="cell">Группа выезда</div></th>
            <th colspan="1" rowspan="1" width="180"><div class="cell">Адрес</div></th>
            <th colspan="1" rowspan="1" width="195"><div class="cell">Корреспонденты</div></th>
            <th colspan="1" rowspan="1" width="185"><div class="cell">Съемочная группа</div></th>
            <th colspan="1" rowspan="1" width="170"><div class="cell">Машины,<br>водители</div></th>
            <th colspan="1" rowspan="1" width="80"><div class="cell">Статус</div></th>
          </tr>
        </thead>
        <tbody v-for="item in shootings" :key="item.id">
          <tr class="el-table__row el-table__row--level-1">
            <td rowspan="1" colspan="1" class="el-table__expand-column">
              <div class="cell">
                <div class="el-table__expand-icon" :class="{ rotate: item.expand_row }" @click="showExpandRow(item)">
                  <i class="el-icon el-icon-arrow-right"></i>
                </div>
              </div>
            </td>
            <td class="center" rowspan="1" colspan="1">
              <div v-if="item.date_start" class="cell bold">{{ moment(item.date_start).format('HH:mm') }}</div>
              <div v-if="item.date_start" class="cell">{{ moment(item.date_start).format('DD/MM') }}</div>
            </td>
            <td rowspan="1" colspan="1">
              <div v-if="item.date_end" class="cell bold">{{ moment(item.date_end).format('HH:mm') }}</div>
              <div v-if="item.date_end" class="cell">{{ moment(item.date_end).format('DD/MM') }}</div>
            </td>
            <td rowspan="1" colspan="1" @dblclick="showEditShootingForm(item)">
              <div class="cell shooting-name" :class="{ cancelled: item.status_coord === 'cancelled' }">
                <span class="bold">
                  {{ item.name }} ({{ itemReserved(item.reserved) }})
                </span>
                <el-dropdown class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                  <div class="theme-dropdown__item">
                    <span style="top: 8px;"></span>
                  </div>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="{name: 'add', item: theme}">Добавить</el-dropdown-item>
                    <el-dropdown-item :command="{name: 'edit', item: item}">Править</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <span class="empty-text" v-if="!item.address">Не указан</span>
              <div class="theme-address">
                <el-popover
                  v-if="item.address"
                  width="270"
                  trigger="hover"
                  :content="item.address"
                >
                  <div slot="reference">{{ item.address }}</div>
                </el-popover>
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemCorrespondents(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else class="employees-tags-wrapper">
                  <div  v-for="employee in itemCorrespondents(item).slice(0, item.correspondentsTags)" :key="employee.id">
                    {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                    <el-popconfirm
                      title="Вы уверены?"
                      @confirm="deleteResource(item, employee, 'employee')"
                    >
                      <i slot="reference" class="el-icon-delete delete-resource"></i>
                        Обновить
                    </el-popconfirm>
                  </div>
                  <span v-show="itemCorrespondents(item).length > item.correspondentsTags" class="add-tags-btn" @click="item.correspondentsTags += itemCorrespondents(item).length">+{{ itemCorrespondents(item).length - item.correspondentsTags }}</span>
                </div>
                <el-link type="primary" @click="showAddCorrespondents(item)">+ Добавить</el-link>
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemGroupShooting(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else class="employees-tags-wrapper">
                  <div  v-for="employee in itemGroupShooting(item).slice(0, item.groupShootingTags)" :key="employee.id">
                    {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                    <el-popconfirm
                      title="Вы уверены?"
                      @confirm="deleteResource(item, employee, 'employee')"
                    >
                      <i slot="reference" class="el-icon-delete delete-resource"></i>
                        Обновить
                    </el-popconfirm>
                  </div>
                  <span v-show="itemGroupShooting(item).length > item.groupShootingTags" class="add-tags-btn" @click="item.groupShootingTags += itemGroupShooting(item).length">+{{ itemGroupShooting(item).length - item.groupShootingTags }}</span>
                </div>
                <el-link type="primary" @click="showAddShootingGroup(item)">+ Добавить</el-link>
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemDrivers(item).length === 0 && itemCars(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else>
                  <div class="employees-tags-wrapper employees-tags-wrapper__cars">
                    <div v-for="car in itemCars(item).slice(0, item.carsTags)" :key="'car'+car.id">{{ car.name }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, car, 'tech_resource')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </div>
                    <span v-show="itemCars(item).length > item.carsTags" class="add-tags-btn" @click="item.carsTags += itemCars(item).length">+{{ itemCars(item).length - item.carsTags }}</span>
                  </div>
                  <div class="employees-tags-wrapper">
                    <div v-for="employee in itemDrivers(item).slice(0, item.driversTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </div>
                    <span v-show="itemDrivers(item).length > item.driversTags" class="add-tags-btn" @click="item.driversTags += itemDrivers(item).length">+{{ itemDrivers(item).length - item.driversTags }}</span>
                  </div>
                </div>
                <el-link type="primary" @click="showAddCarsDrivers(item)">+ Добавить</el-link>
              </div>
            </td>
            <td rowspan="1" colspan="1" class="status-td">
              <div class="cell planning-shooting-status-btn">
                <el-tooltip class="item" effect="dark" content="Координация статус" placement="bottom">
                  <el-button
                    :class="{ 'el-button--info': item.status_coord === 'new' || item.status_coord === 'cancelled', 'el-button--warning': item.status_coord === 'coord', 'el-button--success': item.status_coord === 'done' }"
                    size="mini"
                    @click="handleChangeCoordStatus(item)"
                    :disabled="theme.disabled_status === true"
                  >
                    К <i :class="{ 'el-icon-minus': item.status_coord === 'new' || item.status_coord === 'cancelled', 'el-icon-warning': item.status_coord === 'coord', 'el-icon-success': item.status_coord === 'done' }"></i>
                  </el-button>
                </el-tooltip>
              </div>
              <div v-if="item.author" class="planning-author">
                Заказ: {{ item.author }}
                <el-tooltip
                  effect="dark"
                  content="История изменений"
                  placement="bottom"
                >
                  <el-button
                    class="history-btn"
                    type="primary"
                    size="mini"
                    icon="el-icon-time"
                    @click="showHistory(item)"
                  >
                  </el-button>
                </el-tooltip>
              </div>
            </td>
          </tr>
          <tr v-if="item.expand_row === true" class="tr-expanded tr-expanded__bg">
            <td rowspan="1" colspan="9">
              <div class="cell">
                <p><span class="expand-row-title">Комплектовка:</span> {{ item.comment_tech }}</p>
                <p><span class="expand-row-title">Транспорт:</span> {{ item.comment_car }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <el-dialog
      class="planning-shooting-create-form"
      :title="createFormTitle"
      :visible.sync="createFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateShootingForm"
    >
      <CreateShooting
        :theme="theme"
        @hideCreateShootingForm="hideCreateShootingForm"
        @created="addNewShooting"
      />
    </el-dialog>

    <el-dialog
      class="planning-shooting-edit-form"
      :title="editFormTitle"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditShootingForm"
    >
      <EditShooting
        :curShooting="curShooting"
        @hideEditShootingForm="hideEditShootingForm"
        @edited="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление корреспондентов на съёмку"
      :visible.sync="addCorrespondentsVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCorrespondents
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление съемочной группы на съёмку"
      :visible.sync="addShootingGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddShootingGroup
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление машин, водителей на съёмку"
      :visible.sync="addCarsDriversVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCarsDrivers
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="coordination-show-history"
      title="История изменений:"
      :visible.sync="showHistoryVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideHistory"
    >
      <ShowShootingHistory
        :historyShooting="historyShooting"
        @hideHistory="hideHistory"
      />
    </el-dialog>
  </div>
</template>
<script>
import qs from 'qs'
import CreateShooting from '@/components/shootings/CreateShooting'
import EditShooting from '@/components/shootings/EditShooting'
import AddCorrespondents from '@/components/shootings/AddCorrespondents'
import AddShootingGroup from '@/components/shootings/AddShootingGroup'
import AddCarsDrivers from '@/components/shootings/AddCarsDrivers'
import ShowShootingHistory from '@/components/coordination/ShowShootingHistory'

export default {
  name: 'planningshooting',
  components: {
    CreateShooting,
    EditShooting,
    AddCorrespondents,
    AddShootingGroup,
    AddCarsDrivers,
    ShowShootingHistory
  },
  props: {
    theme: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      loading: true,
      shootings: [],
      createFormVisible: false,
      createFormTitle: null,
      editFormVisible: false,
      editFormTitle: null,
      curShooting: null,
      dateStartClass: 'ascending',
      dateEndClass: null,
      addCorrespondentsVisible: false,
      addShootingGroupVisible: false,
      addCarsDriversVisible: false,
      showHistoryVisible: false,
      historyShooting: null
    }
  },
  async mounted() {
    await this.fetchShootings()
    this.loading = false
  },
  methods: {
    async fetchShootings() {
      let query = qs.stringify({ _where: {
        _or: [[{ 'metatheme.id': this.theme.id }]]}
      })
      this.shootings = await this.$store.dispatch('fetchShootings', {query})
      for (let i = 0; i < this.shootings.length; i++) {
        this.$set(this.shootings[i], 'correspondentsTags', 3)
        this.$set(this.shootings[i], 'groupShootingTags', 3)
        this.$set(this.shootings[i], 'driversTags', 3)
        this.$set(this.shootings[i], 'carsTags', 1)
      }
    },
    async handleChangeCoordStatus(item) {
      try {
        this.loading = true
        let status
        if (item.status_coord === 'new' || item.status_coord === 'cancelled') {
          status = 'coord'
        } else if (item.status_coord === 'coord' || item.status_coord === 'done') {
          status = 'cancelled'
        }
        let date_start
        item.date_start ? date_start = item.date_start : date_start = this.moment(new Date).format()
        await this.$store.dispatch('editShooting', {id: item.id, status_coord: status, date_start: date_start})
        .then(async (res) => {
          if (status === 'coord') {
            await this.$store.dispatch('editMetatheme', {id: res.data.metatheme.id, status_coord: 'coord'})
            this.$emit('updated', res.data.metatheme.id)
          } else if (status === 'cancelled') {
            await this.$store.dispatch('fetchMetathemeById', res.data.metatheme.id)
            .then(async (response) => {
              let arr = []
              for (let i = 0; i < response.shootings.length; i++) {
                arr.push(response.shootings[i].status_coord)
              }
              if (arr.includes('coord')) {
                await this.$store.dispatch('editMetatheme', {id: response.id, status_coord: 'coord'})
                this.$emit('updated', response.id)
              } else if (arr.every(e => e !== 'coord') && arr.some(e => e === 'done')) {
                await this.$store.dispatch('editMetatheme', {id: response.id, status_coord: 'done'})
                this.$emit('updated', response.id)
              } else {
                await this.$store.dispatch('editMetatheme', {id: response.id, status_coord: 'new'})
                this.$emit('updated', response.id)
              }
            })
          }
          this.loading = false
          this.fetchShootings()
          this.$message.success('Статус изменен')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    handleDropdownClick(command) {
      switch (command.name) {
        case 'add':
          this.showCreateShootingForm(command.item)
          break
        case 'edit':
          this.showEditShootingForm(command.item)
          break
      }
    },
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    async deleteResource(item, resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        item.tech_resources.splice(item.tech_resources.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, tech_resources: item.tech_resources})
      } else if (type === 'employee') {
        item.employees.splice(item.employees.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, employees: item.employees})
        if (resource.employee_role === 4 && item.metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
          for (let i = 0; i < item.shootings_child.length; i++) {
            if (item.shootings_child[i].personalType === 'Командировка') {
              for (let j = 0; j < item.shootings_child[i].employees.length; j++) {
                if (item.shootings_child[i].employees[j].id === resource.id) {
                  await this.$store.dispatch('deleteShooting', item.shootings_child[i].id)
                }
              }
            }
          }
        }
      }
      this.$emit('updated', item.metatheme.id)
      this.loading = false
    },
    showExpandRow(item) {
      item.expand_row ? this.$set(item, 'expand_row', false) : this.$set(item, 'expand_row', true)
    },
    showCreateShootingForm(theme) {
      this.createFormTitle = `Добавление съемки в тему "${theme.name}"`
      this.createFormVisible = true
    },
    showEditShootingForm(item) {
      this.curShooting = item
      this.editFormTitle = `Изменение съемки "${item.name}"`
      this.editFormVisible = true
    },
    showAddCorrespondents(item) {
      this.curShooting = item
      this.addCorrespondentsVisible = true
    },
    showAddShootingGroup(item) {
      this.curShooting = item
      this.addShootingGroupVisible = true
    },
    showAddCarsDrivers(item) {
      this.curShooting = item
      this.addCarsDriversVisible = true
    },
    hideCreateShootingForm() {
      this.createFormTitle = null
      this.createFormVisible = false
    },
    hideEditShootingForm() {
      this.editFormTitle = null
      this.editFormVisible = false
    },
    hideAddEmployees() {
      this.addCorrespondentsVisible = false
      this.addShootingGroupVisible = false
      this.addCarsDriversVisible = false
    },
    showHistory(item) {
      this.historyShooting = item
      this.showHistoryVisible = true
    },
    hideHistory() {
      this.showHistoryVisible = false
      this.historyShooting = null
    },
    addNewShooting(id) {
      this.createFormTitle = null
      this.createFormVisible = false
      this.fetchShootings()
      this.$emit('updated', id)
    },
    editShooting(id) {
      this.editFormTitle = null
      this.editFormVisible = false
      this.fetchShootings()
      this.$emit('updated', id)
    },
    dateStartSort() {
      this.dateEndClass = null
      if (this.dateStartClass === 'ascending') {
        this.dateStartClass = 'descending'
        this.$store.commit('setSortShootings', 'date_start:desc')
        this.fetchShootings()
      } else {
        this.dateStartClass = 'ascending'
        this.$store.commit('setSortShootings', 'date_start:asc')
        this.fetchShootings()
      }
    },
    dateEndSort() {
      this.dateStartClass = null
      if (this.dateEndClass === 'ascending') {
        this.dateEndClass = 'descending'
        this.$store.commit('setSortShootings', 'date_end:desc')
        this.fetchShootings()
      } else {
        this.dateEndClass = 'ascending'
        this.$store.commit('setSortShootings', 'date_end:asc')
        this.fetchShootings()
      }
    },
    itemReserved(reserved) {
      switch (reserved) {
        case 'ordinary':
          return 'Обычный'
        case 'reserve':
          return 'Резерв'
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.planning-shooting-block {
  display: flex;
  flex-direction: column;
  background: #F9F9F9;
  margin-top: 15px;
  &__header {
    display: flex;
    padding: 15px;
    & h3 {
      font-size: 16px;
      color: #191919;
      margin: 0;
      flex: 1;
    }
  }
}
.planning-shooting-table {
  &.el-table thead th {
    border-top: 1px solid #E4E4E4;
    & .cell {
      margin-top: 0;
    }
  }
  & th, & td {
    background: #F9F9F9;
  }
  & td {
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  & .shooting-name.cancelled {
    color: #707070;
    &::before {
      content: '[Съёмка отменена]';
      font-weight: bold;
      color: #e62744;
    }
  }
  & .planning-shooting-status-btn {
    & .el-button--mini {
      padding: 7px 7px;
    }
  }
}
.planning-shooting-create-form .el-dialog,
.planning-shooting-edit-form .el-dialog,
.coordination-show-history .el-dialog {
  width: 950px;
}
</style>