<template>
  <div class="show-employees" v-loading="loading">
    <el-tooltip
      class="item"
      effect="dark"
      content="Печать"
    >
      <el-button
        v-print="print"
        class="print"
        type="primary"
        icon="el-icon-printer"
        size="mini"
      >
      </el-button>
    </el-tooltip>
    <div class="show-employees__tabs">
      <el-tabs v-model="activeTab">
        <el-tab-pane label="Москва" name="1"></el-tab-pane>
        <el-tab-pane label="Санкт-Петербург" name="2"></el-tab-pane>
        <el-tab-pane label="Регионы" name="3"></el-tab-pane>
      </el-tabs>
    </div>
    <div class="el-table show-employees-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <tbody>
          <tr class="el-table__row">
            <td class="center" rowspan="1" colspan="1">
              <div class="cell">
                Дежурный
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell empty-text" v-if="!dutyCorrespondents.filter(s => s.employees.some(e => e.location === +activeTab)).length && !dutyProducers.filter(s => s.employees.some(e => e.location === +activeTab)).length">Нет данных</div>
              <div v-else>
                <div class="duty-label" v-if="dutyCorrespondents.filter(s => s.employees.some(e => e.location === +activeTab)).length">Корреспонденты</div>
                <div class="cell">
                  <div v-for="shooting in dutyCorrespondents" :key="shooting.id" class="employee-item">
                    <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                      {{ truncate(shooting) }}
                    </span>
                    <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab" style="font-weight: bold;">
                      {{ shooting.employees[0].surname }}
                    </span>
                    <span v-for="employee in employees" :key="employee.id">
                      <span v-if="employee.id === shooting.employees[0].id && (employee.employee_role === 4 || employee.employee_role === 18) && employee.location === +activeTab">
                        -
                        <span v-for="(theme, index) in employee.themes" :key="index" class="employee-item__theme">
                          {{ theme }}
                        </span>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="duty-label" v-if="dutyProducers.filter(s => s.employees.some(e => e.location === +activeTab)).length">Продюсеры</div>
                <div class="cell">
                  <div v-for="shooting in dutyProducers" :key="shooting.id" class="employee-item">
                    <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                      {{ truncate(shooting) }}
                    </span>
                    <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab" style="font-weight: bold;">
                      {{ shooting.employees[0].surname }}
                    </span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="el-table__row mobile-border">
            <td class="center" rowspan="1" colspan="1" style="border-bottom: none;">
              <div class="cell">
                Темы
              </div>
            </td>
            <td rowspan="1" colspan="1" style="border-bottom: none;" v-if="(activeTab === '1' && !employeesMoscow.length) || (activeTab === '2' && !employeesSpb.length) || (activeTab === '3' && !employeesRegions.length)">
              <div class="cell empty-text">Нет данных</div>
            </td>
          </tr>
          <tr class="el-table__row themes" v-for="employee in employeesMoscow.slice(0, employees.employeesTags)" :key="employee.id">
            <td v-if="activeTab === '1'" class="center" rowspan="1" colspan="1">
              <div class="cell">
                <div class="employee-item employee-item__name">
                  <span v-if="employee.surname">{{ employee.surname }}</span>
                  <span v-if="employee.name"> {{ employee.name }}</span>
                </div>
              </div>
            </td>
            <td v-if="activeTab === '1'" rowspan="1" colspan="1">
              <div class="cell">
                <div class="employee-item">
                  <div class="employee-item flex" v-for="(theme, index) in employee.themes" :key="index">
                    <img src="../../assets/svg/icons/theme-icon.svg">
                    <div>{{ theme }}</div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="activeTab === '1' && employeesMoscow.length > 3" class="el-table__row">
            <td class="center" rowspan="1" colspan="1" style="border-bottom: none;">
              <div class="cell">
                <tr v-show="employeesMoscow.length > employees.employeesTags"
                    class="add-tags-btn" style="font-weight: normal;"
                    @click="employees.employeesTags += employeesMoscow.length">
                  Показать еще {{ employeesMoscow.length - employees.employeesTags }}
                </tr>
              </div>
            </td>
            <td rowspan="1" colspan="1" class="td-empty" style="border-bottom: none;">
              <div class="cell">
              </div>
            </td>
          </tr>
          <tr class="el-table__row themes" v-for="employee in employeesSpb.slice(0, employees.employeesTags)" :key="employee.id">
            <td v-if="activeTab === '2'" class="center" rowspan="1" colspan="1">
              <div class="cell">
                <div class="employee-item employee-item__name">
                  <span v-if="employee.surname">{{ employee.surname }}</span>
                  <span v-if="employee.name"> {{ employee.name }}</span>
                </div>
              </div>
            </td>
            <td v-if="activeTab === '2'" rowspan="1" colspan="1">
              <div class="cell">
                <div class="employee-item">
                  <div class="employee-item flex" v-for="(theme, index) in employee.themes" :key="index">
                    <img src="../../assets/svg/icons/theme-icon.svg">
                    <div>{{ theme }}</div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="activeTab === '2' && employeesSpb.length > 3" class="el-table__row">
            <td class="center" rowspan="1" colspan="1" style="border-bottom: none;">
              <div class="cell">
                <tr v-show="employeesSpb.length > employees.employeesTags"
                    class="add-tags-btn" style="font-weight: normal;"
                    @click="employees.employeesTags += employeesSpb.length">
                  Показать еще {{ employeesSpb.length - employees.employeesTags }}
                </tr>
              </div>
            </td>
            <td rowspan="1" colspan="1" style="border-bottom: none;">
              <div class="cell">
              </div>
            </td>
          </tr>
          <tr class="el-table__row themes" v-for="employee in employeesRegions.slice(0, employees.employeesTags)" :key="employee.id">
            <td v-if="activeTab === '3'" class="center" rowspan="1" colspan="1">
              <div class="cell">
                <div class="employee-item employee-item__name">
                  <span v-if="employee.surname">{{ employee.surname }}</span>
                  <span v-if="employee.name"> {{ employee.name }}</span>
                </div>
              </div>
            </td>
            <td v-if="activeTab === '3'" rowspan="1" colspan="1">
              <div class="cell">
                <div class="employee-item">
                  <div class="employee-item flex" v-for="(theme, index) in employee.themes" :key="index">
                    <img src="../../assets/svg/icons/theme-icon.svg">
                    <div>{{ theme }}</div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="activeTab === '3' && employeesRegions.length > 3" class="el-table__row">
            <td class="center" rowspan="1" colspan="1" style="border-bottom: none;">
              <div class="cell">
                <tr v-show="employeesRegions.length > employees.employeesTags"
                    class="add-tags-btn" style="font-weight: normal;"
                    @click="employees.employeesTags += employeesRegions.length">
                  Показать еще {{ employeesRegions.length - employees.employeesTags }}
                </tr>
              </div>
            </td>
            <td rowspan="1" colspan="1" style="border-bottom: none;">
              <div class="cell">
              </div>
            </td>
          </tr>
          <tr class="el-table__row mobile-border">
            <td class="center" rowspan="1" colspan="1" style="border-top: 1px solid #E4E4E4;">
              <div class="cell">
                Выходной
              </div>
            </td>
            <td rowspan="1" colspan="1" style="border-top: 1px solid #E4E4E4;">
              <div class="cell empty-text" v-if="!weekend.filter(w => w.employees.some(e => e.location === +activeTab)).length">Нет данных</div>
              <div class="cell" v-else>
                <span v-for="shooting in weekend" :key="shooting.id" class="employee-item">
                  <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                    {{ shooting.employees[0].surname }};
                  </span>
                </span>
              </div>
            </td>
          </tr>
          <tr class="el-table__row mobile-border">
            <td class="center" rowspan="1" colspan="1">
              <div class="cell">
                Отпуск
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell empty-text" v-if="!holiday.filter(w => w.employees.some(e => e.location === +activeTab)).length">Нет данных</div>
              <div class="cell" v-else>
                <span v-for="shooting in holiday" :key="shooting.id" class="employee-item">
                  <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                    {{ shooting.employees[0].surname }};
                  </span>
                </span>
              </div>
            </td>
          </tr>
          <tr class="el-table__row mobile-border">
            <td class="center" rowspan="1" colspan="1">
              <div class="cell">
                Больничный
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell empty-text" v-if="!sick.filter(w => w.employees.some(e => e.location === +activeTab)).length">Нет данных</div>
              <div class="cell" v-else>
                <span v-for="shooting in sick" :key="shooting.id" class="employee-item">
                  <span v-if="shooting.employees[0] && shooting.employees[0].location === +activeTab">
                    {{ shooting.employees[0].surname }};
                  </span>
                </span>
              </div>
            </td>
          </tr>
          <tr class="el-table__row mobile-border">
            <td class="center" rowspan="1" colspan="1">
              <div class="cell">
                Командировка
              </div>
            </td>
            <td rowspan="1" colspan="1">
              <div class="cell empty-text" v-if="!business_trip.filter(w => w.employees.some(e => e.location === +activeTab)).length">Нет данных</div>
              <div class="cell" v-else>
                <span v-for="shooting in business_trip" :key="shooting.id">
                  <span class="employee-item" v-if="shooting.employees[0].location === +activeTab">
                    {{ shooting.employees[0].surname }};
                  </span>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <PrintShowEmployees
      id="print-show-employees"
      :date="date"
      :title="print.popTitle"
      :activeTab="activeTab"
      :employees="employees"
      :dutyCorrespondents="dutyCorrespondents"
      :dutyProducers="dutyProducers"
      :weekend="weekend"
      :holiday="holiday"
      :sick="sick"
      :business_trip="business_trip"
    />
  </div>
</template>

<script>
import qs from 'qs'
import PrintShowEmployees from '@/components/planning/print/PrintShowEmployees'

export default {
  name: 'showemployees',
  components: {
    PrintShowEmployees
  },
  props: {
    date: String,
    initTab: {
      type: String,
      default: '1'
    }
  },
  data: () => ({
    loading: true,
    activeTab: '1',
    metathemes: [],
    employees: [],
    employeesMoscow: [],
    employeesSpb: [],
    employeesRegions: [],
    shootings: [],
    dutyCorrespondents: [],
    dutyProducers: [],
    weekend: [],
    holiday: [],
    sick: [],
    business_trip: [],
    print: {
      id: 'print-show-employees',
      popTitle: '',
      preview: true,
      previewTitle: 'Предварительный просмотр',
      previewPrintBtnLabel: 'Печать',
      previewBeforeOpenCallback() {
        const iframe = document.getElementById('printArea_1')
        const contDoc = iframe.contentDocument || iframe.contentWindow.document
        contDoc.getElementById('print-show-employees').style.display = 'block'
      }
    }
  }),
  async mounted() {
    this.activeTab = this.initTab
    this.print.popTitle = `Дежурные корреспонденты ${this.moment(this.date).format('DD.MM.YYYY')} (${this.checkRegion(this.activeTab)})`
    this.fetchShootings()
    this.fetchMetathemes()
  },
  watch: {
    date: function () {
      this.activeTab = '1',
      this.metathemes = [],
      this.employees = [],
      this.employeesMoscow = [],
      this.employeesSpb = [],
      this.employeesRegions = [],
      this.shootings = [],
      this.dutyCorrespondents = [],
      this.dutyProducers = [],
      this.weekend = [],
      this.holiday = [],
      this.sick = [],
      this.business_trip = []
      this.print.popTitle = `Дежурные корреспонденты ${this.moment(this.date).format('DD.MM.YYYY')} (${this.checkRegion(this.activeTab)})`
      this.fetchShootings()
      this.fetchMetathemes()
    },
    activeTab: function () {
      this.print.popTitle = `Дежурные корреспонденты ${this.moment(this.date).format('DD.MM.YYYY')} (${this.checkRegion(this.activeTab)})`
    }
  },
  methods: {
    async fetchShootings() {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'personal': true }
            ],
            [
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'personal': true }
            ]
          ]
        }
      })
      const shootings = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${query}`, 
        params: { _limit: -1 }
      })
      this.shootings = shootings.data.filter(s => s.employees.some(e => 
          e.employee_role === 4 ||
          e.employee_role === 6 ||
          e.employee_role === 7 ||
          e.employee_role === 14 ||
          e.employee_role === 15 ||
          e.employee_role === 18
        )
      )
      this.shootings = this.shootings.filter(s => s.employees.every(e => !e.surname.includes('!')))

      this.holiday = this.shootings.filter(s => s.personalType === 'Отпуск')
      this.weekend = this.shootings.filter(s => s.personalType === 'Выходной')
      this.sick = this.shootings.filter(s => s.personalType === 'Больничный')
      this.business_trip = this.shootings.filter(s => s.personalType === 'Командировка')
      let duty = this.shootings.filter(s => s.personalType.includes('Дежурный'))
      duty = duty.sort((a, b) => a.personalType.localeCompare(b.personalType))
      this.dutyCorrespondents = duty.filter(s => s.employees.some(e => 
          e.employee_role === 4 ||
          e.employee_role === 14 ||
          e.employee_role === 18
        )
      )
      this.dutyProducers = duty.filter(s => s.employees.some(e => 
          e.employee_role === 6 ||
          e.employee_role === 7 ||
          e.employee_role === 15
        )
      )
      this.loading = false
    },
    async fetchMetathemes() {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'status_log': true },
            ],
            [
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'status_log': true },
            ]
          ]
        }
      })
      const metathemes = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/metathemes?${query}`, 
        params: { _limit: -1 }
      })
      this.metathemes = metathemes.data
      this.metathemes = this.metathemes.filter(m => m.shootings.length !== 0)
      for (let i = 0; i < this.metathemes.length; i++) {
        this.$set(this.metathemes[i], 'employeesArr', [])
        for (let j = 0; j < this.metathemes[i].shootings.length; j++) {
          for (let k = 0; k < this.metathemes[i].shootings[j].employees.length; k++) {
            if (this.metathemes[i].shootings[j].employees[k].employee_role === 4 ||
                this.metathemes[i].shootings[j].employees[k].employee_role === 6 ||
                this.metathemes[i].shootings[j].employees[k].employee_role === 7 ||
                this.metathemes[i].shootings[j].employees[k].employee_role === 14 ||
                this.metathemes[i].shootings[j].employees[k].employee_role === 15 ||
                this.metathemes[i].shootings[j].employees[k].employee_role === 18) 
            {
              this.metathemes[i].employeesArr.push(this.metathemes[i].shootings[j].employees[k])
            }
          }
        }
      }
      this.metathemes = this.metathemes.filter(m => m.employeesArr.length !== 0)
      for (let i = 0; i < this.metathemes.length; i++) {
        for (let j = 0; j < this.metathemes[i].employeesArr.length; j++) {
          this.$set(this.metathemes[i].employeesArr[j], 'themes', [])
          this.metathemes[i].employeesArr[j].themes.push(this.metathemes[i].name)
          this.employees.push(this.metathemes[i].employeesArr[j])
        }
      }
      this.employees.sort((a, b) => a.surname.localeCompare(b.surname))
      this.employees = this.employees.reduce(function(arr, item) {
          let found = false
          for (let i = 0; i < arr.length; i++) {
            if (arr[i].id === item.id) {
              found = true
              arr[i].themes.push(item.themes[0])
              arr[i].count++
            }
          }
          if (!found) {
            item.count = 1
            arr.push(item)
          }
          return arr
      }, [])
      this.$set(this.employees, 'employeesTags', 3)
      this.employeesMoscow = this.employees.filter(e => e.location === 1)
      this.employeesSpb = this.employees.filter(e => e.location === 2)
      this.employeesRegions = this.employees.filter(e => e.location === 3)
      this.loading = false
    },
    truncate(value) {
      let type = value.personalType
      let result
      if (!type) return ''
      if (type === 'Дежурный') {
        result = type.toString().substr(8)
        return result
      } else if (type === 'Дежурный 18') {
        result = type.toString().substr(8)
        if (this.moment(value.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
          return result + ':00 (после ночного)'
        } else {
          return result + ':00'
        }
      } else {
        result = type.toString().substr(8)
        return result + ':00'
      }
    },
    checkRegion(value) {
      switch (value) {
        case '1':
          return 'Москва'
        case '2':
          return 'Санкт-Петербург'
        case '3':
          return 'Регионы'
      }
    },
  }
}
</script>
<style lang="scss">
.show-employees {
  position: relative;
  & button.el-button.print {
    position: absolute;
    right: 60px;
    top: -57px;
    padding: 7px 15px;
  }
  &__tabs {
    & .el-tabs__header {
      margin: 0;
      margin-bottom: 1px;
    }
    & .el-tabs__nav {
      padding: 15px;
      &-wrap::after {
        height: 0;
        background-color: transparent;
      }
      &-scroll {
        background-color: rgba(216, 216, 216, .2);
        padding: 0 30px;
      }
    }
    & .el-tabs__active-bar {
      height: 3px;
      left: 15px;
      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 3px;
        background: #7C43BA;
      }
      &::before {
        left: -15px;
      }
      &::after {
        right: -15px;
      }
    }
  }
  & table {
    border-spacing: 0;
    background: #fff !important;
  }
  & .el-table {
    padding: 0 20px;
    & .el-table__row.themes {
      & td {
        border-bottom: none;
        padding: 10px 0;
      }
    }
    & td {
      border-top: none;
    }
    & .duty-label {
      padding: 5px 10px;
    }
    & .empty-text {
      color: rgba(25, 25, 25, 0.4) !important;
    }
    & .cell {
      color: #191919;
      word-break: break-word;
    }
    & td:first-child {
      width: 180px;
      font-size: 16px;
      font-weight: bold;
      color: #191919;
      border-left: none;
    }
    & td:last-child {
      color: rgba(25, 25, 25, .35);
      border-right: none;
    }
    & tbody tr:last-child td {
      border-bottom: none;
    }
    & .employee-item {
      &.flex {
        display: flex;
        align-items: baseline;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
        & img {
          margin-right: 8px;
        }
      }
      &__name {
        font-size: 14px;
        font-weight: normal;
      }
      &__theme {
        &::after {
          content: ';';
          margin-left: -2px;
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
  & #print-show-employees {
    display: none;
  }
}
@media (max-width: 1100px) {
  .show-employees {
    & button.el-button.print {
      display: none;
    }
    & .el-tabs__nav-scroll {
      background-color: #fff;
      border-bottom: 1px solid #E4E4E4;
      padding: 0 10px;
    }
    & .el-tabs__nav {
      padding: 0 15px;
    }
  }
  .show-employees-table.el-table {
    min-width: 320px;
    padding: 0;
    & .el-table__header {
      width: 100%;
      min-width: 320px;
    }
    & .el-table__row {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      &.themes {
        padding: 0;
      }
      & .employee-item.employee-item__name {
        font-weight: bold;
      }
      &.mobile-border {
        border-top: 1px solid #E4E4E4;
      }
    }
    & td {
      border-top: none !important;
      border-bottom: none !important;
      padding: 3px 0 !important;
      &:first-child {
        width: 100%;
      }
      &.center {
        padding: 0;
      }
      &.td-empty {
        display: none;
      }
    }
  }
}
</style>