<template>
  <div class="show-history" v-loading="loading">
    <el-tooltip
      class="item"
      effect="dark"
      content="Печать"
    >
      <el-button
        v-print="print"
        class="print"
        type="primary"
        icon="el-icon-printer"
        size="mini"
      >
      </el-button>
    </el-tooltip>
    <div v-if="historyTheme">
      <p><span style="font-weight:bold;">Название: </span>{{ historyTheme.name }}</p>
      <p><span style="font-weight:bold;">Дата и время создания: </span>{{ moment(historyTheme.created_at).format('DD-MM-YYYY') }} {{ moment(historyTheme.created_at).format('HH:mm') }}</p>
      <p><span style="font-weight:bold;">Кем создана: </span>{{ historyTheme.author }}</p>
    </div>
    <div class="el-table show-history-table">
      <table style="width:100%;">
        <thead>
          <tr>
            <th width="40">#</th>
            <th width="134">Дата и время</th>
            <th width="170">Фамилия Имя</th>
            <th width="150">Название поля</th>
            <th>Содержание поля (до сохранения изменений)</th>
            <th>Содержание поля (после сохранения изменений)</th>
          </tr>
        </thead>
        <tbody v-if="rows.length === 0">
          <tr>
            <td rowspan="1" colspan="6">
              <div>
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr v-for="(row, index) in rows" :key="index">
            <td style="text-align:center;">{{ index + 1 }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.author | truncate }}</td>
            <td>{{ row.field }}</td>
            <td>
              <div v-if="!row.contentBefore && row.field !== 'Описание' && row.field !== 'Краткое описание'" style="color:red;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true && row.field !== 'Описание' && row.field !== 'Краткое описание'">
                  <div v-html="row.contentBefore.replace(/,/g, ', ')"></div>
                </div>
                <div v-else-if="row.diff === true && (row.field === 'Описание' || row.field === 'Краткое описание')">
                  <el-link type="primary" @click="showDescriptionDiff(row)">Посмотреть</el-link>
                </div>
                <div v-else>
                  {{ row.contentBefore }}
                </div>
              </div>
            </td>
            <td>
              <div v-if="!row.content && row.field !== 'Описание' && row.field !== 'Краткое описание'" style="color:green;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true && row.field !== 'Описание' && row.field !== 'Краткое описание'">
                  <div v-html="row.content.replace(/,/g, ', ')"></div>
                </div>
                <div v-else-if="row.diff === true && (row.field === 'Описание' || row.field === 'Краткое описание')">
                  <el-link type="primary" @click="showDescriptionDiff(row)">Посмотреть</el-link>
                </div>
                <div v-else>
                  {{ row.content }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="$emit('hideHistory')"
      >
        Закрыть
      </el-button>
    </span>

    <PrintThemeHistory
      id="print-theme-history"
      :theme="historyTheme"
      :rows="rows"
    />

    <el-dialog
      class="planning-show-description-diff"
      :visible.sync="showDescriptionDiffVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="showDescriptionDiffVisible = false"
    >
      <ShowDescriptionDiff
        :descriptions="descriptions"
        @hideDescriptionDiff="showDescriptionDiffVisible = false"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import * as Diff from 'diff'
import HtmlDiff from 'htmldiff-js'
import ShowDescriptionDiff from '@/components/planning/ShowDescriptionDiff'
import PrintThemeHistory from '@/components/planning/print/PrintThemeHistory'

export default {
  name: 'showthemehistory',
  components: {
    ShowDescriptionDiff,
    PrintThemeHistory
  },
  props: {
    historyTheme: {
      type: Object,
      required: false
    }
  },
  data: () => ({
    loading: false,
    rows: [],
    descriptions: {},
    showDescriptionDiffVisible: false,
    print: {
      id: 'print-theme-history',
      popTitle: 'История изменений',
      preview: true,
      previewTitle: 'Предварительный просмотр',
      previewPrintBtnLabel: 'Печать',
      previewBeforeOpenCallback() {
        const iframe = document.getElementById('printArea_1')
        const contDoc = iframe.contentDocument || iframe.contentWindow.document
        contDoc.getElementById('print-theme-history').style.display = 'block'
      }
    }
  }),
  watch: {
    historyTheme: {
      immediate: true,
      handler: async function () {
        if (!this.historyTheme) {
          return
        }
        this.loading = true
        const query = qs.stringify({ 
          _where: {
          _or: [
              [
                { 'contentType': 'Тема' },
                { 'action': 'update' },
                { 'contentId': this.historyTheme.id }
              ]
            ]
          }
        })
        let params = {
          _sort: `createdAt:desc`,
          _limit: -1
        }
        const historyRecords = await this.$store.dispatch('fetchHistoryRecords', {query, params})

        for (let i = 0; i < historyRecords.length; i++) {
          if (historyRecords[i].contentBefore.metatheme_section || historyRecords[i].content.metatheme_section) {
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Раздел',
              contentBefore: historyRecords[i].contentBefore.metatheme_section,
              content: historyRecords[i].content.metatheme_section,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.name || historyRecords[i].content.name) {
            let obj = this.getDiff(historyRecords[i].contentBefore.name, historyRecords[i].content.name, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Название',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.date_end || historyRecords[i].content.date_end) {
            let dateBefore = historyRecords[i].contentBefore.date_end ? `${this.moment(historyRecords[i].contentBefore.date_end).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_end).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_end ? `${this.moment(historyRecords[i].content.date_end).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_end).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Окончание',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_start || historyRecords[i].content.date_start) {
            let dateBefore = historyRecords[i].contentBefore.date_start ? `${this.moment(historyRecords[i].contentBefore.date_start).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_start).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_start ? `${this.moment(historyRecords[i].content.date_start).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_start).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Начало',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.short_description || historyRecords[i].content.short_description) {

            let before = historyRecords[i].contentBefore.short_description ? historyRecords[i].contentBefore.short_description : ''
            let after = historyRecords[i].content.short_description ? historyRecords[i].content.short_description : ''

            let diffs = HtmlDiff.execute(before, after)

            let divBefore = document.createElement('div')
            divBefore.innerHTML = diffs
            let added = divBefore.querySelectorAll('.diffins')
            let modifiedBefore = divBefore.querySelectorAll('ins.diffmod')
            added.forEach( e => e.remove() )
            modifiedBefore.forEach( e => e.remove() )

            let divAfter = document.createElement('div')
            divAfter.innerHTML = diffs
            let removed = divAfter.querySelectorAll('.diffdel')
            let modifiedAfter = divAfter.querySelectorAll('del.diffmod')
            removed.forEach( e => e.remove() )
            modifiedAfter.forEach( e => e.remove() )

            let modifiedResultBefore = divBefore.querySelectorAll('.diffmod')
            let modifiedResultAfter = divAfter.querySelectorAll('.diffmod')

            let contentBefore = divBefore.innerText ? divBefore.innerHTML : ''
            let contentAfter = divAfter.innerText ? divAfter.innerHTML : ''

            if (modifiedResultBefore.length || modifiedResultAfter.length || (divBefore.innerText !== divAfter.innerText)) {
              this.rows.push({
                date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
                author: historyRecords[i].author,
                field: 'Краткое описание',
                contentBefore: contentBefore,
                content: contentAfter,
                diff: true
              })
            }
          }
          if (historyRecords[i].contentBefore.description || historyRecords[i].content.description) {

            let before = historyRecords[i].contentBefore.description ? historyRecords[i].contentBefore.description : ''
            let after = historyRecords[i].content.description ? historyRecords[i].content.description : ''

            let diffs = HtmlDiff.execute(before, after)

            let divBefore = document.createElement('div')
            divBefore.innerHTML = diffs
            let added = divBefore.querySelectorAll('.diffins')
            let modifiedBefore = divBefore.querySelectorAll('ins.diffmod')
            added.forEach( e => e.remove() )
            modifiedBefore.forEach( e => e.remove() )

            let divAfter = document.createElement('div')
            divAfter.innerHTML = diffs
            let removed = divAfter.querySelectorAll('.diffdel')
            let modifiedAfter = divAfter.querySelectorAll('del.diffmod')
            removed.forEach( e => e.remove() )
            modifiedAfter.forEach( e => e.remove() )

            let modifiedResultBefore = divBefore.querySelectorAll('.diffmod')
            let modifiedResultAfter = divAfter.querySelectorAll('.diffmod')

            let contentBefore = divBefore.innerText ? divBefore.innerHTML : ''
            let contentAfter = divAfter.innerText ? divAfter.innerHTML : ''

            if (modifiedResultBefore.length || modifiedResultAfter.length || (divBefore.innerText !== divAfter.innerText)) {
              this.rows.push({
                date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
                author: historyRecords[i].author,
                field: 'Описание',
                contentBefore: contentBefore,
                content: contentAfter,
                diff: true
              })
            }
          }
          if (historyRecords[i].contentBefore.address || historyRecords[i].content.address) {
            let obj = this.getDiff(historyRecords[i].contentBefore.address, historyRecords[i].content.address, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Адрес',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.country || historyRecords[i].content.country) {
            let obj = this.getDiff(historyRecords[i].contentBefore.country, historyRecords[i].content.country, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Страна',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_inclusions || historyRecords[i].content.metatheme_inclusions) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_inclusions, historyRecords[i].content.metatheme_inclusions, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Перегоны, включения - Тэг',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_inclusions || historyRecords[i].content.comment_inclusions) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_inclusions, historyRecords[i].content.comment_inclusions, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Перегоны, включения - Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_aethers || historyRecords[i].content.metatheme_aethers) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_aethers, historyRecords[i].content.metatheme_aethers, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Эфир - Тэг',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_aether_plans || historyRecords[i].content.metatheme_aether_plans) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_aether_plans, historyRecords[i].content.metatheme_aether_plans, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Эфирный план - Тэг',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.comment_aether_plans || historyRecords[i].content.comment_aether_plans) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_aether_plans, historyRecords[i].content.comment_aether_plans, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Эфирный план - Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.aether_plan_checkboxes || historyRecords[i].content.aether_plan_checkboxes) {
            let obj = this.getDiff(historyRecords[i].contentBefore.aether_plan_checkboxes, historyRecords[i].content.aether_plan_checkboxes, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Эфирный план - Чекбокс',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.metatheme_hardwares || historyRecords[i].content.metatheme_hardwares) {
            let obj = this.getDiff(historyRecords[i].contentBefore.metatheme_hardwares, historyRecords[i].content.metatheme_hardwares, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Оборудование',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.status_coord || historyRecords[i].content.status_coord) {
            let statusBefore
            let statusAfter
            switch (historyRecords[i].contentBefore.status_coord) {
              case 'new':
                statusBefore = 'Не требуется'
                break
              case 'coord':
                statusBefore = 'Требуется'
                break
              case 'done':
                statusBefore = 'Готово'
                break
              default:
                statusBefore =  ''
                break
            }
            switch (historyRecords[i].content.status_coord) {
              case 'new':
                statusAfter = 'Не требуется'
                break
              case 'coord':
                statusAfter = 'Требуется'
                break
              case 'done':
                statusAfter = 'Готово'
                break
              default:
                statusAfter =  ''
                break
            }
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Координация - Статус',
              contentBefore: statusBefore,
              content: statusAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.comment_coord || historyRecords[i].content.comment_coord) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_coord, historyRecords[i].content.comment_coord, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Координация - Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.status_log || historyRecords[i].content.status_log) {
            let statusBefore = historyRecords[i].contentBefore.status_log ? 'Вкл' : 'Выкл'
            let statusAfter = historyRecords[i].content.status_log ? 'Вкл' : 'Выкл'
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Лог - Статус',
              contentBefore: statusBefore,
              content: statusAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.status_tomorrow || historyRecords[i].content.status_tomorrow) {
            let statusBefore = historyRecords[i].contentBefore.status_tomorrow ? 'Вкл' : 'Выкл'
            let statusAfter = historyRecords[i].content.status_tomorrow ? 'Вкл' : 'Выкл'
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Планы на завтра - Статус',
              contentBefore: statusBefore,
              content: statusAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_end_accr || historyRecords[i].content.date_end_accr) {
            let dateBefore = historyRecords[i].contentBefore.date_end_accr ? `${this.moment(historyRecords[i].contentBefore.date_end_accr).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_end_accr).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_end_accr ? `${this.moment(historyRecords[i].content.date_end_accr).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_end_accr).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Аккредитация - Дата окончания',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.date_start_accr || historyRecords[i].content.date_start_accr) {
            let dateBefore = historyRecords[i].contentBefore.date_start_accr ? `${this.moment(historyRecords[i].contentBefore.date_start_accr).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].contentBefore.date_start_accr).format('HH:mm')}` : ''
            let dateAfter = historyRecords[i].content.date_start_accr ? `${this.moment(historyRecords[i].content.date_start_accr).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].content.date_start_accr).format('HH:mm')}` : ''
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Аккредитация - Дата начала',
              contentBefore: dateBefore,
              content: dateAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.comment_accr || historyRecords[i].content.comment_accr) {
            let obj = this.getDiff(historyRecords[i].contentBefore.comment_accr, historyRecords[i].content.comment_accr, 'string')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Аккредитация - Комментарий',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.status_accr || historyRecords[i].content.status_accr) {
            let statusBefore
            let statusAfter
            switch (historyRecords[i].contentBefore.status_accr) {
              case 'new':
                statusBefore = 'Не требуется'
                break
              case 'need':
                statusBefore = 'Требуется'
                break
              case 'progress':
                statusBefore = 'Запрошена'
                break
              case 'done':
                statusBefore = 'Получена'
                break
              default:
                statusBefore =  ''
                break
            }
            switch (historyRecords[i].content.status_accr) {
              case 'new':
                statusAfter = 'Не требуется'
                break
              case 'need':
                statusAfter = 'Требуется'
                break
              case 'progress':
                statusAfter = 'Запрошена'
                break
              case 'done':
                statusAfter = 'Получена'
                break
              default:
                statusAfter =  ''
                break
            }
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Аккредитация - Статус',
              contentBefore: statusBefore,
              content: statusAfter,
              diff: false
            })
          }
          if (historyRecords[i].contentBefore.correspondents || historyRecords[i].content.correspondents) {
            let obj = this.getDiff(historyRecords[i].contentBefore.correspondents, historyRecords[i].content.correspondents, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Корреспонденты',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.shooting_group || historyRecords[i].content.shooting_group) {
            let obj = this.getDiff(historyRecords[i].contentBefore.shooting_group, historyRecords[i].content.shooting_group, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Съемочная группа',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.drivers || historyRecords[i].content.drivers) {
            let obj = this.getDiff(historyRecords[i].contentBefore.drivers, historyRecords[i].content.drivers, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Водители',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
          if (historyRecords[i].contentBefore.tech_resources || historyRecords[i].content.tech_resources) {
            let obj = this.getDiff(historyRecords[i].contentBefore.tech_resources, historyRecords[i].content.tech_resources, 'array')
            this.rows.push({
              date: `${this.moment(historyRecords[i].createdAt).format('DD.MM.YYYY')} ${this.moment(historyRecords[i].createdAt).format('HH:mm')}`,
              author: historyRecords[i].author,
              field: 'Машины',
              contentBefore: obj.displayBefore.innerHTML,
              content: obj.displayAfter.innerHTML,
              diff: true
            })
          }
        }
        this.loading = false
      }
    }
  },
  methods: {
    getDiff(text1, text2, type) {
      let span = null
      let diff
      if (type === 'string') {
        text1 = text1 ? text1 : ''
        text2 = text2 ? text2 : ''
        diff = Diff.diffChars(text1, text2)
      } else if (type === 'array') {
        text1 = text1 ? text1 : []
        text2 = text2 ? text2 : []
        diff = Diff.diffArrays(text1, text2)
      }
      
      const contentBefore = diff.filter(item => !item.added)
      const contentAfter = diff.filter(item => !item.removed)

      const fragmentBefore = document.createDocumentFragment()
      const displayBefore = document.createElement('div')
      contentBefore.forEach((part, idx, array) => {
        const color = part.removed ? 'red' : 'black'
        span = document.createElement('span')
        span.style.color = color
        if (type === 'array' && idx !== array.length - 1) {
          span.appendChild(document.createTextNode(part.value + ','))
        } else {
          span.appendChild(document.createTextNode(part.value))
        }
        fragmentBefore.appendChild(span)
      })
      displayBefore.appendChild(fragmentBefore)

      const fragmentAfter = document.createDocumentFragment()
      const displayAfter = document.createElement('div')
      contentAfter.forEach((part, idx, array) => {
        const color = part.added ? 'green' : 'black'
        span = document.createElement('span')
        span.style.color = color
        if (type === 'array' && idx !== array.length - 1) {
          span.appendChild(document.createTextNode(part.value + ','))
        } else {
          span.appendChild(document.createTextNode(part.value))
        }
        fragmentAfter.appendChild(span)
      })
      displayAfter.appendChild(fragmentAfter)

      return { displayBefore, displayAfter }
    },
    showDescriptionDiff(row) {
      this.$set(this.descriptions, 'contentBefore', row.contentBefore)
      this.$set(this.descriptions, 'contentAfter', row.content)
      this.showDescriptionDiffVisible = true
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      let arr = value.split('')
      let index
      for (let i = arr.length; i > 0; i--) {
        if (arr[i] === '(') {
          index = i
          break
        }
      }
      value = value.substr(0, index)
      return value.trim()
    }
  }
}
</script>
<style lang="scss">
.show-history {
  position: relative;
  border-top: 2px solid #E4E4E4;
  color: #000;
  & .print {
    position: absolute;
    right: 35px;
    top: -50px;
  }
  & .diffins, ins.diffmod {
    color: green;
    text-decoration: none;
  }
  & .diffdel, del.diffmod {
    color: red;
    text-decoration: none;
  }
  & #print-theme-history {
    display: none;
  }
}
.show-history-table {
  padding-bottom: 30px;
  border-bottom: 2px solid #E4E4E4;
  max-height: 63vh;
  overflow-y: auto;
  & table {
    border-spacing: 0;
    border-collapse: separate;
    background: #FFF;
    & thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    & th, td {
      border: 1px solid #E4E4E4;
      padding: 10px;
      word-break: break-word;
    }
    & th {
      border-bottom: none;
      border-top: none;
      border: 1px solid #E4E4E4;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      background-color: #F4F5F7;
    }
  }
}
</style>