<template>
  <div class="show-description-diff">
    <div class="el-table show-description-diff-table">
      <table style="width:100%;">
        <thead>
          <tr>
            <th width="50%">Содержание поля (до сохранения изменений)</th>
            <th width="50%">Содержание поля (после сохранения изменений)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td :class="{ 'vertical-middle': !descriptions.contentBefore }">
              <div v-if="!descriptions.contentBefore" style="color:red;">
                Пусто
              </div>
              <div v-else>
                <div v-html="descriptions.contentBefore"></div>
              </div>
            </td>
            <td :class="{ 'vertical-middle': !descriptions.contentAfter }">
              <div v-if="!descriptions.contentAfter" style="color:green;">
                Пусто
              </div>
              <div v-else>
                <div v-html="descriptions.contentAfter"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        type="primary"
        @click="$emit('hideDescriptionDiff')"
      >
        Закрыть
      </el-button>
    </span>
  </div>
</template>

<script>
export default {
  name: 'showdescriptiondiff',
  props: {
    descriptions: {
      type: Object,
      required: false
    }
  }
}
</script>
<style lang="scss">
.show-description-diff {
  border-top: 2px solid #E4E4E4;
  color: #000;
}
.show-description-diff-table {
  padding-bottom: 30px;
  border-bottom: 2px solid #E4E4E4;
  max-height: 63vh;
  overflow-y: auto;
  & table {
    border-spacing: 0;
    border-collapse: separate;
    background: #FFF;
    & thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    & th, td {
      border: 1px solid #E4E4E4;
      padding: 10px;
      word-break: break-word;
    }
    & th {
      border-bottom: none;
      border-top: none;
      border: 1px solid #E4E4E4;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      background-color: #F4F5F7;
    }
    .vertical-middle {
      vertical-align: middle;
    }
  }
}
</style>