<template>
  <div class="empty-layout">
    <router-view />
  </div>
</template>

<script>
export default {
    name: 'empty-layout'
}
</script>

<style lang="scss" scoped>
.empty-layout {
    background: #E5E5E5;
}
</style>