<template>
  <el-container class="container">
    <el-aside :width="asideWidth">
      <Sidebar @toggleMenu="toggleMenu" />
    </el-aside>
    <div class="el-aside--mobile">
      <SidebarMobile :drawer="drawer" @closeMobileMenu="closeMobileMenu" />
    </div>
    <el-container>
      <el-header class="header">
        <Navbar @openMobileMenu="openMobileMenu" />
      </el-header>
      <el-main :class="{ 'small-padding': $route.name === 'employeeschedule' }">
        <div class="app-page">
          <router-view />
        </div>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import Navbar from "@/components/app/Navbar";
import Sidebar from "@/components/app/Sidebar";
import SidebarMobile from "@/components/app/mobile/SidebarMobile";

export default {
  name: "main-layout",
  components: {
    Navbar,
    Sidebar,
    SidebarMobile,
  },
  data: () => ({
    asideWidth: "65px",
    drawer: false,
  }),
  methods: {
    toggleMenu(isCollapse) {
      switch (isCollapse) {
        case true:
          this.asideWidth = "65px";
          break;
        case false:
          this.asideWidth = "217px";
          break;
      }
    },
    openMobileMenu() {
      this.drawer = true;
    },
    closeMobileMenu() {
      this.drawer = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
}
.header {
  border-bottom: solid 1px #e6e6e6;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 3;
}
.el-aside {
  box-sizing: content-box;
  overflow: hidden;
  transition: all 0.1s;
  border-right: solid 1px #e6e6e6;
  &--mobile {
    display: none;
  }
}
.el-main {
  overflow: inherit;
  background: #f7f7f7;
  padding-bottom: 70px;
  padding-top: 30px;
  &.small-padding {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media (max-width: 1100px) {
  .el-aside {
    display: none;
    &--mobile {
      display: block;
    }
  }
  .el-main {
    padding: 5px;
    padding-top: 20px;
  }
  .header {
    padding: 0 5px;
  }
  .app-page {
    height: 100%;
  }
}
</style>