<template>
  <div v-loading.fullscreen.lock="loading" class="employee-calendar">
    <el-page-header
      :content="employeeName"
      @back="$router.push(`/employee`)"
    >
    </el-page-header>
    <div style="text-align:center;margin-top:50px;">Календарь сотрудника находится в стадии разработки</div>
  </div>
</template>

<script>
export default {
  name: 'employeecalendar',
  data() {
    return {
      loading: true,
      employee: null,
      employeeName: null
    }
  },
  async mounted() {
    this.employee = await this.$store.dispatch('fetchEmployeeById', this.$route.params.id)
    this.loading = false
  },
  watch: {
    employee() {
      const surname = this.employee.surname ? this.employee.surname : ''
      const name = this.employee.name ? this.employee.name : ''
      const patronymic = this.employee.patronymic ? this.employee.patronymic : ''
      this.employeeName = `${surname} ${name} ${patronymic}`
    }
  },
  methods: {

  }
}
</script>

<style lang="scss">

</style>