<template>
  <div id="app" class="app">
    <el-backtop target=".app"></el-backtop>
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import io from 'socket.io-client'
import notificationsMixin from '@/mixins/notifications.mixin.js'
import EmptyLayout from '@/layouts/EmptyLayout'
import MainLayout from '@/layouts/MainLayout'

export default {
  components: {
    EmptyLayout,
    MainLayout
  },
  mixins: [notificationsMixin],
  metaInfo: {
    title: 'Планировщик'
  },
  created() {
    const token = this.$cookie.get('token')
    if (token && !this.$store.state.socket) {
      const user = JSON.parse(localStorage.getItem('user'))
      this.$store.commit(
        'setSocket',
        io.connect(process.env.VUE_APP_URL, {
          query: { token, user: JSON.stringify(user) },
          transports: ['polling'],
        })
      )
    }
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem('user'))
    if (user) {
      this.$store.commit('setUserRole', user.role.name)
    }
    setInterval(() => {
      const user = JSON.parse(localStorage.getItem('user'))
      if (user) {
        this.$store.commit('setUserRole', user.role.name)
      } else {
        this.$store.commit('setUserRole', null)
      }
    }, 3000)
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || 'empty') + '-layout'
    }
  },
}
</script>
