<template>
  <div v-loading.fullscreen.lock="loading" class="tomorrowplan-mobile">
    <div v-if="metathemes.length === 0" class="tomorrowplan-mobile__no-data">
      <NoData />
    </div>
    <div
      v-else
      class="tomorrowplan-mobile__item"
      v-for="theme in metathemes" :key="theme.id"
    >
      <div>
        <div class="tomorrowplan-mobile__date">
          <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
          <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
        </div>
      </div>
      <div class="tomorrowplan-mobile__name">
        {{ theme.name }}
      </div>
      <div class="tomorrowplan-mobile__employees">
        <span v-if="!themeEmployees(theme).length" class="empty-text">Нет корреспондентов</span>
        <span v-for="employee in themeEmployees(theme)" :key="employee.id">
          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
        </span>
      </div>
      <div class="tomorrowplan-mobile__tags" v-if="theme.metatheme_aether_plans.length || theme.metatheme_inclusions.length || theme.metatheme_aethers.length">
        <div v-if="theme.metatheme_aether_plans.length">
          <div class="tomorrowplan-mobile__tags-title">Эфирный план:</div>
          <el-tag size="mini" v-for="item in theme.metatheme_aether_plans" :key="'AP'+item.id">{{ item.name }}</el-tag>
        </div>
        <div v-if="theme.metatheme_inclusions.length || theme.metatheme_aethers.length">
          <div class="tomorrowplan-mobile__tags-title">Перегоны, включения:</div>
          <el-tag size="mini" v-for="item in theme.metatheme_inclusions" :key="'I'+item.id">{{ item.name }}</el-tag>
          <div v-if="theme.metatheme_aethers.length">
            <el-tag size="mini" v-for="item in theme.metatheme_aethers" :key="'A'+item.id">{{ item.name }}</el-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'tomorrowplanmobile',
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.tomorrowplan-mobile {
  &__no-data {
    position: relative;
    background: #fff;
    border-top: solid 1px #e6e6e6;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
      border-top: solid 1px #e6e6e6;
    }
    &::after {
      right: -5px;
      border-top: solid 1px #e6e6e6;
    }
  }
  &__item {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    & > span::after {
      content: ',';
      margin-left: -4px;
    }
    & > span:last-child:after {
      content: '';
    }
  }
  &__tags {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    & > div {
      width: 48%;
    }
    &-title {
      font-size: 12px;
      color: rgba(25, 25, 25, .48);
      margin-bottom: 5px;
    }
    & .el-tag {
      display: inline-block;
      background-color: #fff;
      border-color: rgba(27, 27, 27, 0.2);
      color: rgba(27, 27, 27, 0.7);
      height: 20px;
      padding: 0 10px;
      border-radius: 13px;
      margin: 2px;
    }
  }
}
</style>