<template>
  <div>
    <div style="text-align:center;">
      <h2>{{ $route.params.logDate }} ({{ preset }}) - 5 Канал</h2>
    </div>

    <div class="no-print">
      <div class="schedule-tables">
        <div v-if="employeesSpb.length">
          <table class="table-schedule">
            <thead class="bg">
              <tr>
                <th colspan="3">78-СПБ</th>
              </tr>
            </thead>
            <tbody>
              <tr class="break-avoid" v-for="employee in employeesSpb" :key="employee.id">
                <td>{{ employee.surname }}</td>
                <td>
                  <div class="break-all" v-for="(theme, index) in employee.themes" :key="index">{{ themeViewName(theme) }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-if="employeesRegions.length" class="no-print">
          <table class="table-schedule">
            <thead class="bg">
              <tr>
                <th colspan="3">Регионы</th>
              </tr>
            </thead>
            <tbody>
              <tr class="break-avoid" v-for="employee in employeesRegions" :key="employee.id">
                <td>{{ employee.surname }}</td>
                <td>
                  <div class="break-all" v-for="(theme, index) in employee.themes" :key="index">{{ themeViewName(theme) }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="hide print">
      <div class="schedule-tables schedule-tables_restricted">     
        <template v-for="employee in employeesSpbPrint">
          <div v-if="employee.length" :key="employee.id">
              <table class="table-schedule" >
                <thead class="bg">
                  <tr>
                    <th colspan="3">78-СПБ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="break-avoid" v-for="item in employee" :key="item.id">
                    <td>{{ item.surname }}</td>
                    <td>
                      <div class="break-all" v-for="(theme, index) in item.themes" :key="index">{{ themeViewName(theme) }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </template>
      </div>
    </div>

    <table v-if="!metathemes || metathemes.length === 0">
      <thead>
        <tr class="bg">
          <th>({{ $route.params.logDate }})</th>
          <th width="50">Начало</th>
          <th width="95">Перегоны,<br>включения</th>
          <th width="90">Корреспондент</th>
          <th width="85">Эфирный план</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="1" colspan="5" class="centered">
            нет данных
          </td>
        </tr>
      </tbody>
    </table>

    <table v-else v-for="(themes, group, index) in grouped" :key="group" :class="{ 'break-before': index > 0 }">
      <thead>
        <tr class="bg">
          <th width="15">#</th>
          <th>{{ group | titled }} ({{ $route.params.logDate }})</th>
          <th width="95" v-if="group === 'foreign_5' || group === 'regions_5'">Адрес</th>
          <th width="50">Начало</th>
          <th width="95">Перегоны,<br>включения</th>
          <th width="90">Корреспондент</th>
          <th width="85">Эфирный план</th>
        </tr>
      </thead>
      <template>
        <tbody class="contents" v-for="(theme, index) in themes" :key="theme.id">
          <tr class="break-avoid" v-if="showSubTitle(index, themes)">
            <td rowspan="1" colspan="7" class="centered bg bold">{{ theme.metatheme_section.name }}</td>
          </tr>
          <tbody>
            <tr class="break-avoid">
              <td class="no-padding">
                <div style="text-align:center;">{{ index + 1 }}</div>
              </td>
              <td>
                <div>{{ theme.name }}</div>
                <div class="theme-short-description" v-if="theme.short_description" v-html="theme.short_description"></div>
                <div class="theme-short-description" v-if="group !== 'foreign_5' && group !== 'regions_5'">
                  {{ theme.country }} {{ theme.address }}
                </div>
              </td>
              <td v-if="group === 'foreign_5' || group === 'regions_5'">
                <div>{{ theme.country }}</div>
              </td>
              <td>
                <div v-if="theme.date_start && moment(theme.date_start).format('HH:mm') !== '00:01'">{{ moment(theme.date_start).format('HH:mm') }}</div>
                <div v-if="theme.date_start && moment(theme.date_start).format('YYYY-MM-DD') !== date">{{ moment(theme.date_start).format('DD/MM') }}</div>
              </td>
              <td>
                <div v-for="item in theme.metatheme_inclusions" :key="'mI'+item.id">{{ item.name }}</div>
                <div class="break-all" style="width:95px;">{{ theme.comment_inclusions }}</div>
                <div v-for="item in theme.metatheme_aethers" :key="'mA'+item.id">{{ item.name }}</div>
              </td>
              <td>
                <div v-for="employee in themeEmployees(theme)" :key="employee.id">{{ employee.surname }}</div>
              </td>
              <td>
                <div v-for="item in theme.metatheme_aether_plans" :key="'mAP'+item.id">{{ item.name }}</div>
                <div class="break-all" style="width:85px;">{{ theme.comment_aether_plans }}</div>
              </td>
            </tr>
          </tbody>
        </tbody>
      </template>
    </table>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'logfivepreset11',
  props: {
    preset: {
      type: String,
      required: false
    },
    date: {
      type: String,
      required: false
    },
  },
  data() {
    return {
      loading: false,
      metathemes: [],
      employeesSpb: [],
      employeesSpbPrint: [],
      employeesRegions: []
    }
  },
  watch: { 
    preset: {
      immediate: true,
      handler() {
        if (this.preset === '11:00') {
          this.rerender()
        }
      }
    },
    '$route.params.logDate': {
      immediate: false,
      handler() {
        if (this.preset === '11:00') {
          this.rerender()
        }
      }
    },
    '$store.state.log.logSettingsUpdated': {
      immediate: false,
      handler() {
        if (this.preset === '11:00') {
          this.rerender()
        }
      }
    }
  },
  computed: {
    grouped() {
      const arr = this.metathemes.reduce((acc, n) => {
        if ( 
          n.metatheme_section.group === 'aether_78' ||
          n.metatheme_section.group === 'planning' ||
          n.metatheme_section.group === 'foreign_5' ||
          n.metatheme_section.group === 'producers_5'||
          n.metatheme_section.group === 'regions_5'
        ) {
          (acc[n.metatheme_section.group] = acc[n.metatheme_section.group] || []).push(n)
        }
        return acc
      }, {})
      if (arr.regions_5) {
        let withDate = arr.regions_5.filter(r => r.date_start !== null || r.date_end !== null)
        let withoutDate = arr.regions_5.filter(r => r.date_start === null || r.date_end === null)
        arr.regions_5 = [...withDate, ...withoutDate]
        arr.regions_5 = arr.regions_5.sort((a, b) => a.metatheme_section.sortParam - b.metatheme_section.sortParam)
      }
      return arr
    }
  },
  methods: {
    async rerender() {
      this.$emit('rerender', true)
      this.loading = true
      this.employeesSpb = [],
      this.employeesSpbPrint = [],
      this.employeesRegions = []
      await this.fetchPersonalSchedule()
      await this.fetchLog()
      this.loading = false
      this.$emit('rerender', false)
    },
    showSubTitle(index, themes) {
      return (themes[index - 1] && themes[index].metatheme_section.name !== themes[index - 1].metatheme_section.name || index === 0) ? true : false
    },
    async fetchLog() {
      const query = qs.stringify({ _where: {_or: [[{ 'logDate': this.$route.params.logDate }]]}})
      const response = await this.$store.dispatch('fetchLogs', query)
      if ((this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(new Date()).set({hour:0,minute:0,second:0,millisecond:0}).format()) && response.length) {
        this.metathemes = response[0].themes
      } else {
          const query = qs.stringify({ _where: {
          _or: [
              [
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'published_at_null': false }
              ],
              [
                { 'metatheme_section.show_in_log': true },
                { 'metatheme_section.group': 'regions' },
                { 'status_log': true },
                { 'date_start_null': true },
                { 'date_end_null': true },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        let params = {
          _sort: `metatheme_section.sortLogParam5tv:asc,metatheme_section.sortParam:asc,sortParam:asc`,
          _limit: -1
        }
        this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      }
    },
    async fetchPersonalSchedule() {
      this.loading = true
      let  query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'personal': true }
            ],
            [
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'personal': true }
            ]
          ]
        }
      })
      const personalShootingsFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${query}`, 
        params: { _limit: -1 }
      })
      const personalShootings = personalShootingsFetch.data
      const schedule = []
      for (let i = 0; i < personalShootings.length; i++) {
        if (personalShootings[i].employees[0]) {
          this.$set(personalShootings[i].employees[0], 'themes', [])
          personalShootings[i].employees[0].themes.push({
            type: personalShootings[i].personalType,
            name: personalShootings[i].name,
            date_start: personalShootings[i].date_start,
            date_end: personalShootings[i].date_end
          })
          schedule.push(personalShootings[i].employees[0])
        }
      }
      
      let queryThemes = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'status_log': true },
            ],
            [
              { 'date_start_lte': this.moment(this.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'status_log': true },
            ]
          ]
        }
      })
      const personalMetathemesFetch = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/metathemes?${queryThemes}`, 
        params: { _limit: -1 }
      })
      let personalMetathemes = personalMetathemesFetch.data
      personalMetathemes = personalMetathemes.filter(m => m.shootings.length !== 0)
      personalMetathemes = personalMetathemes.filter(m => !m.shootings.some(s => s.metatheme_aether_plans.some(ap => ap.name === 'Командировка') &&
                          s.shootings_child.length && s.shootings_child.every(sc => sc.personalType === 'Командировка')))
      for (let i = 0; i < personalMetathemes.length; i++) {
        this.$set(personalMetathemes[i], 'employeesArr', [])
        for (let j = 0; j < personalMetathemes[i].shootings.length; j++) {
          for (let k = 0; k < personalMetathemes[i].shootings[j].employees.length; k++) {
            personalMetathemes[i].employeesArr.push(personalMetathemes[i].shootings[j].employees[k])
          }
        }
      }
      personalMetathemes = personalMetathemes.filter(m => m.employeesArr.length !== 0)
      const employees = []
      for (let i = 0; i < personalMetathemes.length; i++) {
        for (let j = 0; j < personalMetathemes[i].employeesArr.length; j++) {
          this.$set(personalMetathemes[i].employeesArr[j], 'themes', [])
          personalMetathemes[i].employeesArr[j].themes.push({
            type: 'metatheme',
            name: personalMetathemes[i].name,
            date_start: personalMetathemes[i].date_start,
            date_end: personalMetathemes[i].date_end
          })
          employees.push(personalMetathemes[i].employeesArr[j])
        }
      }
      let employees_schedule = [...schedule, ...employees]
      employees_schedule.sort((a, b) => a.surname.localeCompare(b.surname))
      employees_schedule = employees_schedule.reduce(function(arr, item) {
          let found = false
          for (let i = 0; i < arr.length; i++) {
            if (arr[i].id === item.id) {
              found = true
              arr[i].themes.push(item.themes[0])
              arr[i].count++
            }
          }
          if (!found) {
            item.count = 1
            arr.push(item)
          }
          return arr
      }, [])
      const duty = employees_schedule.filter(e => e.themes.some(t => t.type.includes('Дежурный') || t.type === ('Удалённая')))
      for (let i = 0; i < duty.length; i++) {
        duty[i].category = 'Дежурства'
        for (let j = 0; j < duty[i].themes.length; j++) {
          if (duty[i].themes[j].type.includes('Дежурный')) {
            duty[i].themes.unshift(...duty[i].themes.splice(j, 1))
          }
        }
      }
      duty.sort((a, b) => a.themes[0].type.localeCompare(b.themes[0].type))
      const dutyCorrespondents = duty.filter(d => d.employee_role === 4)
      const dutyProducers = duty.filter(d => d.employee_role === 7)
      const night = employees_schedule.filter(e => e.themes.some(t => t.type.includes('Ночно'))).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const nightCorrespondents = night.filter(n => n.employee_role === 4)
      const nightProducers = night.filter(n => n.employee_role === 7)
      const business_trip = employees_schedule.filter(e => e.themes.some(t => t.type ==='Командировка')).map((el => {return {...el, category: 'Командировки'}}))
      const holiday = employees_schedule.filter(e => e.themes.some(t => t.type === 'Отпуск')).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const weekend = employees_schedule.filter(e => e.themes.some(t => t.type === 'Выходной')).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const sick = employees_schedule.filter(e => e.themes.some(t => t.type === 'Больничный')).map((el => {return {...el, category: 'Выходные и прочее'}}))
      const metathemes = employees_schedule.filter(e => e.themes.every(t => !t.type.includes('Дежурный')
                        && t.type !== ('Удалённая')
                        && !t.type.includes('Ночно')
                        && t.type !== ('Выходной')
                        && t.type !== ('Отпуск')
                        && t.type !== ('Больничный')
                        && t.type !== ('Командировка')
                      )).map((el => {return {...el, category: 'Темы'}}))
      const metathemesCorrespondents = metathemes.filter(m => m.employee_role === 4)
      const metathemesProducers = metathemes.filter(m => m.employee_role === 7)
      employees_schedule = [...dutyCorrespondents,...nightCorrespondents,...metathemesCorrespondents,...dutyProducers,...nightProducers,...metathemesProducers,...business_trip,...holiday,...weekend,...sick]

      this.employeesSpb = employees_schedule.filter(e => e.location === 2 && (e.employee_role === 4 || e.employee_role === 7))
      this.employeesSpb = this.employeesSpb.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      this.employeesSpbPrint = this.splitEmployees(this.employeesSpb)

      this.employeesRegions = employees_schedule.filter(e => e.location === 3 && (e.employee_role === 4 || e.employee_role === 7))
      this.employeesRegions = this.employeesRegions.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      this.loading = false
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    themeViewName(theme) {
      if (theme.type === 'Командировка' && theme.type !== theme.name) {
        return `${theme.type} (${theme.name.trim()})`
      } else if (theme.type === 'Дежурный 18') {
        if (this.moment(theme.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(this.date).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
          return `После ночного`
        } else {
          return theme.type
        }
      } else if (theme.type === 'metatheme') {
        return theme.name
      } else {
        return theme.name
      }
    },
    splitEmployees(employees) {   
      if (!employees.length) return []
      const ROWS = 26
      const SYMBOLS = 33
      const result = []
      let subResult = []
      let rows = 0

      employees.forEach((employee, i) => {
        let employeeRows = 0
        let koef = employee.themes.length === 1 ? 1.3 : 1

        if (employee.employee_role_first) employeeRows += 1.5
        if (employee.category_first) employeeRows += 1.3

        employee.themes.forEach(theme => {
          let name = this.themeViewName(theme)
          if (name.length > SYMBOLS) {            
            employeeRows += Math.ceil(name.length / SYMBOLS)
          } else { 
            employeeRows += koef            
          }          
        })
        if (Math.ceil(rows + employeeRows) < (result.length > 3 ? ROWS + 7 : ROWS)) {
          rows += employeeRows
          subResult.push(employee)
        } else {
          result.push(subResult)
          subResult = []
          subResult.push(employee)
          rows = employeeRows
        }
        if (i == employees.length - 1){
          result.push(subResult)
        }
      }) 
      return result
    }
  },
  filters: {
    titled: function (group) {
      switch (group) {
        case 'planning':
          return 'Планирование'
        case 'aether_78':
          return '78-СПБ'
        case 'regions':
          return 'Регионы'
        case 'regions_5':
          return 'Регионы - 5 канал'
        case 'foreign':
          return 'Зарубежка'
        case 'foreign_5':
          return 'Зарубежка - 5 канал'
        case 'producers':
          return 'Продюсеры РЕН'
        case 'producers_5':
          return 'Продюсеры - 5 канал'
        case 'iztv':
          return 'IZ.TV'
        case 'aether_112':
          return '112'
        case 'aether_5':
          return '5TV'
        case 'gazetaiz':
          return 'Планы Газета'
      }
    },
    roles: function (role) {
      switch (role) {
        case 4:
          return 'Корреспонденты'
        case 7:
          return 'Снимающие продюсеры'  
      }
    }
  }
}
</script>