<template>
  <div v-loading.fullscreen.lock="loading" class="accreditation-mobile">
    <div v-if="metathemes.length === 0" class="accreditation-mobile__no-data">
      <NoData />
    </div>
    <div v-else>
      <div class="accreditation-mobile__section">
        <div @click="drawer = true">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.09091 1.59091H15.2727" stroke="#424141" stroke-width="1.2" stroke-linecap="square"/>
            <path d="M1.09091 7.49997H11.7273" stroke="#424141" stroke-width="1.2" stroke-linecap="square"/>
            <path d="M1.09091 13.4091H8.18182" stroke="#424141" stroke-width="1.2" stroke-linecap="square"/>
          </svg>
        </div>
      </div>
      <div
        class="accreditation-mobile__item"
        :class="{ 'urgently': theme.urgently, 'overdue': theme.overdue}"
        v-for="theme in metathemes"
        :key="theme.id"
        :id="theme.id"
      >
        <div @click="showAccreditationMobileTheme(theme)">
          <div class="accreditation-mobile__date">
            <div style="margin-bottom:3px;">Начало аккредитации</div>
            <span v-if="!theme.date_start_accr" class="empty-text">Дата не указана</span>
            <span v-else>{{ moment(theme.date_start_accr).format('HH:mm') }} {{ moment(theme.date_start_accr).format('DD/MM') }}</span>
          </div>
        </div>
        <div @click="showAccreditationMobileTheme(theme)">
          <div class="accreditation-mobile__date">
            <div style="margin-bottom:3px;">Окончание аккредитации</div>
            <span v-if="!theme.date_end_accr" class="empty-text">Дата не указана</span>
            <span v-else>{{ moment(theme.date_end_accr).format('HH:mm') }} {{ moment(theme.date_end_accr).format('DD/MM') }}</span>
          </div>
        </div>
        <div class="accreditation-mobile__name" @click="showAccreditationMobileTheme(theme)">
          {{ theme.name }}
        </div>
        <div class="accreditation-mobile__address">
          <span v-if="!theme.country && !theme.address" class="empty-text">Адрес не указан</span>
          <span v-else>{{ theme.country }}{{ theme.address }}</span>
        </div>
        <div class="accreditation-mobile__employees">
          <div style="font-size:13px;color:rgba(25, 25, 25, 0.69);">Корреспонденты:</div>
          <span v-if="!themeCorrespondents(theme).length" class="empty-text">Не добавлены</span>
          <span v-for="employee in themeCorrespondents(theme)" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          </span>
        </div>
        <div class="accreditation-mobile__employees">
          <div style="font-size:13px;color:rgba(25, 25, 25, 0.69);">Съёмочная группа:</div>
          <span v-if="!themeShootingGroup(theme).length" class="empty-text">Не добавлены</span>
          <span v-for="employee in themeShootingGroup(theme)" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          </span>
        </div>
        <div class="accreditation-mobile__employees">
          <div style="font-size:13px;color:rgba(25, 25, 25, 0.69);">Машины, водители:</div>
          <span v-if="!themeCars(theme).length && !themeDrivers(theme).length" class="empty-text">Не добавлены</span>
          <div v-for="car in themeCars(theme)" :key="'car'+car.id">
            {{ car.name }}
          </div>
          <span v-for="employee in themeDrivers(theme)" :key="employee.id">
            {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
          </span>
        </div>
        <div class="accreditation-mobile__statuses">
          <el-collapse>
            <el-collapse-item title="Показать статус" name="statuses">
              <el-button v-if="theme.status_accr === 'new'" type="info" size="mini">
                А <i class="el-icon-minus"></i>
              </el-button>
              <el-button v-if="theme.status_accr === 'need'" type="warning" size="mini">
                А <i class="el-icon-warning"></i>
              </el-button>
              <el-button v-if="theme.status_accr === 'progress'" type="primary" size="mini">
                А <i class="el-icon-s-custom"></i>
              </el-button>
              <el-button v-if="theme.status_accr === 'done'" type="success" size="mini">
                А <i class="el-icon-success"></i>
              </el-button>
            </el-collapse-item>
          </el-collapse>
        </div>
      </div>
    </div>

    <el-drawer
      :visible.sync="drawer"
      title="Сортировка"
      direction="btt"
      size="50%"
      v-touch:swipe.bottom="closeDrawer"
    >
      <span>Сортировать по:</span>
      <el-radio-group v-model="sort" @change="$emit('handleChangeSortClass', sort)">
        <el-radio label="ascending">Окончание аккредитации убывание</el-radio>
        <el-radio label="descending">Окончание аккредитации возрастание</el-radio>
      </el-radio-group>
    </el-drawer>

    <el-dialog
      class="accreditation-mobile-theme-dialog"
      :visible.sync="accreditationMobileThemeVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAccreditationMobileTheme"
      v-touch:swipe.left="hideAccreditationMobileTheme"
    >
      <AccreditationMobileTheme
        :theme="curTheme"
      />
    </el-dialog>
  </div>
</template>

<script>
import AccreditationMobileTheme from '@/components/accreditation/mobile/AccreditationMobileTheme'

export default {
  name: 'accreditationmobile',
  components: {
    AccreditationMobileTheme
  },
  props: {
    metathemes: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      drawer: false,
      sort: 'descending',
      curTheme: null,
      accreditationMobileThemeVisible: false
    }
  },
  methods: {
    themeCorrespondents(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    },
    themeShootingGroup(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeCars(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
          arr.push(theme.shootings[i].tech_resources[j])
        }
      }
      let result = arr.filter(t =>
        t.type === 'Машина'
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeDrivers(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    closeDrawer() {
      this.drawer = false
    },
    showAccreditationMobileTheme(theme) {
      this.curTheme = theme
      this.accreditationMobileThemeVisible = true
    },
    hideAccreditationMobileTheme() {
      this.curTheme = null
      this.accreditationMobileThemeVisible = false
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.accreditation-mobile {
  &__no-data {
    position: relative;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__section {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 10px 20px;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
  }
  &__item {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
    &.urgently {
      background-color: rgba(230, 39, 68, 0.1);
      &::before, &::after {
        background: rgba(230, 39, 68, 0.1);
      }
    }
    &.overdue {
      background-color: rgba(230, 39, 68, 0.6);
      &::before, &::after {
        background: rgba(230, 39, 68, 0.6);
      }
    }
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__address {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    margin-bottom: 5px;
    & > span::after {
      content: ',';
      margin-left: -4px;
    }
    & > span:last-child:after {
      content: '';
    }
  }
  &__statuses {
    display: flex;
    & .el-collapse {
      border-top: none;
      border-bottom: none;
    }
    & .el-collapse-item__header {
      height: 30px;
      line-height: 30px;
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__wrap {
      border-bottom: none;
      background-color: transparent;
    }
    & .el-collapse-item__content {
      padding-bottom: 0;
    }
    & .el-collapse-item__arrow {
      margin: 0;
      margin-left: 5px;
    }
    & .el-button {
      padding: 7px 7px;
      border-radius: 3px;
      pointer-events: none;
    }
  }
  & .el-drawer__container {
    background: rgba(0, 0, 0, .5);
  }
  & .el-drawer__header {
    font-size: 22px;
    font-weight: bold;
    & > span {
      color: #191919;
    }
  }
  & .el-drawer__body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    & > span {
      font-size: 13px;
      color: rgba(25, 25, 25, .69);
      margin-bottom: 25px;
    }
    & .el-radio-group {
      display: flex;
      flex-direction: column;
      & .el-radio {
        font-size: 15px;
        color: #191919;
        &:first-child {
          margin-bottom: 25px;
        }
        &.is-checked {
          font-weight: bold;
        }
      }
    }
  }
  & .accreditation-mobile-theme-dialog .el-dialog {
    width: 100%;
    &__body {
      padding-bottom: 0;
    }
  }
}
</style>