<template>
  <div v-loading.fullscreen.lock="loading" class="accreditation-mobile-theme" v-if="theme">
    <div class="accreditation-mobile-theme__main-block">
      <div class="accreditation-mobile-theme__date">
        <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
        <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
      </div>
      <div class="accreditation-mobile-theme__name">
        {{ theme.name }}
      </div>
      <el-collapse v-model="descriptions" v-if="theme.short_description || theme.description">
        <el-collapse-item v-if="theme.short_description" title="Краткое описание" name="short_description">
          <div class="accreditation-mobile-theme__description" v-html="cutEmptyTags(theme.short_description)"></div>
        </el-collapse-item>
        <el-collapse-item v-if="theme.description" title="Полное описание" name="description">
          <div class="accreditation-mobile-theme__description" v-html="cutEmptyTags(theme.description)"></div>
        </el-collapse-item>
      </el-collapse>
      <table>
        <tbody>
          <tr>
            <td>
              <span class="accreditation-mobile-theme__label">Начало:</span>
            </td>
            <td>
              <span class="accreditation-mobile-theme__text">
                <span v-if="!theme.date_start" class="empty-text">Дата не указана</span>
                <span v-else>{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="accreditation-mobile-theme__label">Окончание:</span>
            </td>
            <td>
              <span class="accreditation-mobile-theme__text">
                <span v-if="!theme.date_end" class="empty-text">Дата не указана</span>
                <span v-else>{{ moment(theme.date_end).format('HH:mm') }} {{ moment(theme.date_end).format('DD/MM') }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="accreditation-mobile-theme__label">Адрес:</span>
            </td>
            <td>
              <span class="accreditation-mobile-theme__text">
                <span v-if="!theme.country && !theme.address" class="empty-text">Адрес не указан</span>
                <span v-else>{{ theme.country }}{{ theme.address }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="accreditation-mobile-theme__label">Заказ:</span>
            </td>
            <td>
              <span class="accreditation-mobile-theme__text">{{ theme.author }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="accreditation-mobile-theme__label">Корреспон.:</span>
            </td>
            <td>
              <span class="accreditation-mobile-theme__text accreditation-mobile-theme__employees">
                <span v-if="!themeEmployees(theme).length" class="empty-text">Не добавлены</span>
                <span v-for="employee in themeEmployees(theme)" :key="employee.id">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="accreditation-mobile-theme__shootings">
      <div class="accreditation-mobile-theme__shootings__title">Съемки</div>
      <div class="empty-text" v-if="theme.shootings.length === 0" style="margin-top:15px;">Нет съемок по данной теме</div>
      <div v-else>
        <div class="accreditation-mobile-theme__shootings__item" v-for="item in theme.shootings" :key="item.id">
          <div>
            <span class="accreditation-mobile-theme__date">
              <span v-if="!item.date_start" class="empty-text">н/у</span>
              <span v-else>{{ moment(item.date_start).format('HH:mm') }} {{ moment(item.date_start).format('DD/MM') }}</span>
            </span>
            -
            <span class="accreditation-mobile-theme__date">
              <span v-if="!item.date_end" class="empty-text">н/у</span>
              <span v-else>{{ moment(item.date_end).format('HH:mm') }} {{ moment(item.date_end).format('DD/MM') }}</span>
            </span>
          </div>
          <div class="accreditation-mobile-theme__name">
            {{ item.name }}
          </div>
          <div v-if="item.comment" class="accreditation-mobile-theme__text">
           {{ item.comment }}
          </div>
          <div class="accreditation-mobile-theme__text">
            Заказ: {{ item.author }}
          </div>
          <div>
            <div class="accreditation-mobile-theme__label">Адрес:</div>
            <div v-if="!item.address" class="accreditation-mobile-theme__text">Не указан</div>
            <div v-else class="accreditation-mobile-theme__text">{{ item.address }}</div>
          </div>
          <div>
            <div class="accreditation-mobile-theme__label">Корреспонденты:</div>
            <span class="accreditation-mobile-theme__text accreditation-mobile-theme__employees">
              <span v-if="!itemCorrespondents(item).length" class="empty-text">Не добавлены</span>
              <span v-for="employee in itemCorrespondents(item)" :key="employee.id">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</span>
            </span>
          </div>
          <div>
            <div class="accreditation-mobile-theme__label">Съемочная группа:</div>
            <span class="accreditation-mobile-theme__text accreditation-mobile-theme__employees">
              <span v-if="!itemGroupShooting(item).length" class="empty-text">Не добавлены</span>
              <span v-for="employee in itemGroupShooting(item)" :key="employee.id">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</span>
            </span>
          </div>
          <div>
            <div class="accreditation-mobile-theme__label">Машины, водители:</div>
            <span class="accreditation-mobile-theme__text accreditation-mobile-theme__employees">
              <div v-if="!itemCars(item).length && !itemDrivers(item).length" class="empty-text">Не добавлены</div>
              <div v-for="car in itemCars(item)" :key="'car'+car.id">
                {{ car.name }}
              </div>
              <span v-for="employee in itemDrivers(item)" :key="employee.id">{{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}</span>
            </span>
          </div>
          <div class="accreditation-mobile-theme__shootings__item-status-btn">
            <el-button
              :class="{ 'el-button--info': item.status_coord === 'new', 'el-button--warning': item.status_coord === 'coord', 'el-button--success': item.status_coord === 'done' }"
              size="mini"
            >
              К <i :class="{ 'el-icon-minus': item.status_coord === 'new', 'el-icon-warning': item.status_coord === 'coord', 'el-icon-success': item.status_coord === 'done' }"></i>
            </el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'accreditationmobiletheme',
  props: {
    theme: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      descriptions: []
    }
  },
  methods: {
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    },
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    cutEmptyTags(value) {
      return value.replaceAll('<p></p>', '').replaceAll('<h2><br></h2>', '').replaceAll('<p><br></p>', '').replaceAll('<p class="ql-align-justify"><br></p>', '')
    },
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.accreditation-mobile-theme {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 45px);
  word-break: break-word;
  & .bold {
    font-weight: bold;
  }
  &__main-block {
    padding-bottom: 35px;
  }
  &__date {
    font-size: 13px;
    color: rgba(25, 25, 25, .69);
    margin-bottom: 20px;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    color: #191919;
    margin-bottom: 20px;
  }
  & .el-collapse {
    margin-bottom: 20px;
  }
  & .el-collapse-item__content, .el-collapse-item__header {
    padding-bottom: 0;
    font-size: 14px;
    color: #191919;
    line-height: 1.5;
  }
  &__description {
    font-size: 14px;
    color: #191919;
  }
  & table {
    width: 100%;
    & tr td {
      vertical-align: top;
      padding: 5px 0;
    }
    & tr td:first-child {
      width: 85px;
    }
  }
  &__label {
    font-size: 12px;
    color: rgba(25, 25, 25, .48);
  }
  &__text {
    font-size: 14px;
    color: rgba(25, 25, 25, 1);
  }
  &__employees {
    font-size: 14px;
    color: #191919;
    & > span::after {
      content: ', ';
    }
    & > span:last-child:after {
      content: '';
    }
  }
  &__shootings {
    flex: 1;
    position: relative;
    background: #F5F5F5;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 10px;
      top: 0;
      bottom: 0;
      background: #F5F5F5;
    }
    &::before {
      left: -10px;
    }
    &::after {
      right: -10px;
    }
    &__title {
      font-size: 18px;
      font-weight: bold;
      color: #191919;
      padding-top: 25px;
    }
    &__item {
      position: relative;
      padding: 25px 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: 10px;
        background: #E5E5E5;
        z-index: 10;
      }
      &:first-child::after {
        display: none;
      }
      & > div {
        margin-bottom: 15px;
      }
      & .accreditation-mobile-theme__name {
        font-size: 18px;
      }
      & .accreditation-mobile-theme__label {
        margin-bottom: 5px;
      }
      &-status-btn .el-button {
        padding: 7px 7px;
        pointer-events: none;
      }
    }
  }
}
</style>
