<template>
  <div v-loading.fullscreen.lock="loading">

    <div class="accreditation-page-header">
      <el-page-header
        v-if="selectedPeriod"
        class="back-link"
        @back="backToTabs"
        :content="moment($store.state.accreditation.accreditationDate).format('DD/MM/YYYY')"
      >
      </el-page-header>
      <div v-if="!selectedPeriod" class="accreditation-tabs">
        <el-tabs v-model="activeTab" @tab-click="handleTabClick" v-touch:swipe="swipeTabs">
          <el-tab-pane label="Все" name="all"></el-tab-pane>
          <el-tab-pane label="2 дня" name="two_days"></el-tab-pane>
          <el-tab-pane label="1 неделя и более" name="week"></el-tab-pane>
          <el-tab-pane label="Закрытые гештальты" name="closed"></el-tab-pane>
        </el-tabs>
      </div>
      <el-tooltip
        class="item"
        effect="dark"
        content="Печать"
      >
        <el-button
          v-print="print"
          type="primary"
          icon="el-icon-printer"
          size="medium"
          :loading="printLoading"
        >
        </el-button>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Обновить" placement="bottom">
        <el-button
          class="refresh-btn"
          type="primary"
          size="medium"
          icon="el-icon-refresh"
          @click="fetchMetathemes()"
        >
        </el-button>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Фильтр" placement="bottom">
        <el-dropdown
          trigger="click"
          :hide-on-click="false"
        >
          <el-button
            size="medium"
            type="primary"
            icon="el-icon-s-operation"
          >
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.dateStartColumn">Начало аккредитации</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.dateEndColumn">Окончание аккредитации</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.nameColumn">Название Темы</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.addressColumn">Адрес</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.corrsColumn">Корреспонденты</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.shootingGroupColumn">Съёмочная группа</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.carsColumn">Машины, водители</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.statusColumn">Статус</el-checkbox>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-tooltip>
    </div>
    <div class="el-table accreditation-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <thead>
          <tr class="sticky">
            <th colspan="1" rowspan="1" width="44"><div class="cell"></div></th>
            <th v-if="columnsFilter.dateStartColumn" colspan="1" rowspan="1" width="103"><div class="cell">Начало<br>аккредитации</div></th>
            <th v-if="columnsFilter.dateEndColumn" colspan="1" rowspan="1" width="131" :class="sortClass">
              <div class="cell">
                Окончание<br>аккредитации
                <span class="caret-wrapper no-print" @click="handleChangeSort">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th v-if="columnsFilter.nameColumn" colspan="1" rowspan="1"><div class="cell">Название Темы</div></th>
            <th v-if="columnsFilter.addressColumn" colspan="1" rowspan="1" width="180"><div class="cell">Адрес</div></th>
            <th v-if="columnsFilter.corrsColumn" colspan="1" rowspan="1" width="195"><div class="cell">Корреспонденты</div></th>
            <th v-if="columnsFilter.shootingGroupColumn" colspan="1" rowspan="1" width="185"><div class="cell">Съёмочная группа</div></th>
            <th v-if="columnsFilter.carsColumn" colspan="1" rowspan="1" width="170"><div class="cell">Машины,<br>водители</div></th>
            <th v-if="columnsFilter.statusColumn" colspan="1" rowspan="1" width="90"><div class="cell">Статус</div></th>
          </tr>
        </thead>
        <tbody v-if="metathemes.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" :colspan="expandRowColspan" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-for="theme in metathemes" :key="theme.id" :id="theme.id">
          <tr class="el-table__row el-table__row--level-1" :class="{ 'urgently': theme.urgently, 'overdue': theme.overdue}">
            <td rowspan="1" colspan="1" class="el-table__expand-column">
              <div class="cell">
                <el-tooltip class="item" effect="dark" content="Показать съёмки" placement="bottom">
                  <div class="el-table__expand-icon" :class="{ rotate: theme.expand_row }" @click="showExpandRow(theme)">
                    <i class="el-icon el-icon-arrow-right"></i>
                  </div>
                </el-tooltip>
              </div>
            </td>
            <td v-if="columnsFilter.dateStartColumn" class="center" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="!theme.date_start_accr" class="empty-text">н/у</div>
                <div v-else class="cell bold">{{ moment(theme.date_start_accr).format('HH:mm') }}</div>
                <div v-if="!theme.date_start_accr" class="empty-text">н/у</div>
                <div v-else class="cell">{{ moment(theme.date_start_accr).format('DD/MM') }}</div>
              </div>
            </td>
            <td v-if="columnsFilter.dateEndColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="!theme.date_end_accr" class="empty-text">н/у</div>
                <div v-else class="cell bold">{{ moment(theme.date_end_accr).format('HH:mm') }}</div>
                <div v-if="!theme.date_end_accr" class="empty-text">н/у</div>
                <div v-else class="cell">{{ moment(theme.date_end_accr).format('DD/MM') }}</div>
              </div>
            </td>
            <td v-if="columnsFilter.nameColumn" rowspan="1" colspan="1" @dblclick="showEditForm(theme)">
              <div class="cell">
                <span class="bold">
                  {{ theme.name }}
                </span>
                <el-dropdown class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                  <div class="theme-dropdown__item">
                    <span style="top: 8px;"></span>
                  </div>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="{name: 'edit', theme}">Править</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </td>
            <td v-if="columnsFilter.addressColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="!theme.address && !theme.country" class="empty-text">не указан</div>
                <div v-if="theme.country">{{ theme.country }}</div>
                <div v-if="theme.address">{{ theme.address }}</div>
              </div>
            </td>
            <td v-if="columnsFilter.corrsColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="themeCorrespondents(theme).length === 0" class="empty-text">Не добавлены</div>
                <div v-else>
                  <div class="employees-tags-wrapper">
                    <div v-for="employee in themeCorrespondents(theme).slice(0, theme.corrsOfThemeTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        v-if="checkNumberOfResource(theme, employee, 'employee')"
                        title="Вы уверены?"
                        @confirm="deleteResource(theme, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Удалить
                      </el-popconfirm>
                    </div>
                    <span v-show="themeCorrespondents(theme).length > theme.corrsOfThemeTags" class="add-tags-btn" @click="theme.corrsOfThemeTags += themeCorrespondents(theme).length">+{{ themeCorrespondents(theme).length - theme.corrsOfThemeTags }}</span>
                  </div>
                </div>
                <el-link type="primary" @click="showAddResources(theme, 'correspondents')">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.shootingGroupColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="themeShootingGroup(theme).length === 0" class="empty-text">Не добавлены</div>
                <div v-else>
                  <div class="employees-tags-wrapper">
                    <div v-for="employee in themeShootingGroup(theme).slice(0, theme.shootingGroupOfThemeTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        v-if="checkNumberOfResource(theme, employee, 'employee')"
                        title="Вы уверены?"
                        @confirm="deleteResource(theme, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Удалить
                      </el-popconfirm>
                    </div>
                    <span v-show="themeShootingGroup(theme).length > theme.shootingGroupOfThemeTags" class="add-tags-btn" @click="theme.shootingGroupOfThemeTags += themeShootingGroup(theme).length">+{{ themeShootingGroup(theme).length - theme.shootingGroupOfThemeTags }}</span>
                  </div>
                </div>
                <el-link type="primary" @click="showAddResources(theme, 'shootingGroup')">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.carsColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="themeCars(theme).length === 0 && themeDrivers(theme).length === 0" class="empty-text">Не добавлены</div>
                <div v-else>
                  <div class="employees-tags-wrapper employees-tags-wrapper__cars">
                    <div v-for="car in themeCars(theme).slice(0, theme.carsOfThemeTags)" :key="'car'+car.id">
                      {{ car.name }}
                      <el-popconfirm
                        v-if="checkNumberOfResource(theme, car, 'tech_resource')"
                        title="Вы уверены?"
                        @confirm="deleteResource(theme, car, 'tech_resource')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Удалить
                      </el-popconfirm>
                    </div>
                    <span v-show="themeCars(theme).length > theme.carsOfThemeTags" class="add-tags-btn" @click="theme.carsOfThemeTags += themeCars(theme).length">+{{ themeCars(theme).length - theme.carsOfThemeTags }}</span>
                  </div>
                  <div class="employees-tags-wrapper">
                    <div v-for="employee in themeDrivers(theme).slice(0, theme.driversOfThemeTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        v-if="checkNumberOfResource(theme, employee, 'employee')"
                        title="Вы уверены?"
                        @confirm="deleteResource(theme, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Удалить
                      </el-popconfirm>
                    </div>
                    <span v-show="themeDrivers(theme).length > theme.driversOfThemeTags" class="add-tags-btn" @click="theme.driversOfThemeTags += themeDrivers(theme).length">+{{ themeDrivers(theme).length - theme.driversOfThemeTags }}</span>
                  </div>
                </div>
                <el-link type="primary" @click="showAddResources(theme, 'carsDrivers')">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.statusColumn" rowspan="1" colspan="1" class="status-td">
              <div class="cell centered accreditation-status-btn">
                <el-tooltip v-if="theme.status_accr === 'new'" class="item" effect="dark" content="Аккредитация не требуется" placement="bottom">
                  <el-button type="info" size="mini" @click="handleChangeAccrStatus(theme, 'need')">
                    А <i class="el-icon-minus"></i>
                  </el-button>
                </el-tooltip>
                <el-tooltip v-if="theme.status_accr === 'need'" class="item" effect="dark" content="Требуется аккредитация" placement="bottom">
                  <el-button type="warning" size="mini" @click="handleChangeAccrStatus(theme, 'progress')">
                    А <i class="el-icon-warning"></i>
                  </el-button>
                </el-tooltip>
                <el-tooltip v-if="theme.status_accr === 'progress'" class="item" effect="dark" content="Аккредитация запрошена" placement="bottom">
                  <el-button type="primary" size="mini" @click="handleChangeAccrStatus(theme, 'done')">
                    А <i class="el-icon-s-custom"></i>
                  </el-button>
                </el-tooltip>
                <el-tooltip v-if="theme.status_accr === 'done'" class="item" effect="dark" content="Аккредитация получена" placement="bottom">
                  <el-button type="success" size="mini" @click="handleChangeAccrStatus(theme, 'need')">
                    А <i class="el-icon-success"></i>
                  </el-button>
                </el-tooltip>
              </div>
              <div v-if="theme.author" class="planning-author">
                Заказ: {{ theme.author }}
                <el-tooltip effect="dark" content="История изменений" placement="bottom">
                  <el-button
                    class="history-btn"
                    type="primary"
                    size="mini"
                    icon="el-icon-time"
                    @click="showHistory(theme)"
                  >
                  </el-button>
                </el-tooltip>
              </div>
            </td>
          </tr>
          <tr v-if="theme.expand_row === true" class="tr-expanded">
            <td rowspan="1" :colspan="expandRowColspan">
              <div class="cell">
                <PlanningShooting
                  :theme="theme"
                  @updated="updateShooting"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <AccreditationMobile
        id="accreditation-mobile"
        :metathemes="metathemes"
        @handleChangeSortClass="handleChangeSortClass"
      />
    </div>

    <el-pagination
      class="accreditation-pagination"
      background
      layout="total, sizes, prev, pager, next, jumper"
      :current-page.sync="pagination.page"
      :page-sizes="[50, 100]"
      :page-size="queries.limit"
      :total="pagination.total"
      @size-change="handleSizeChange"
      @current-change="handlerPageChange"
    >
    </el-pagination>

    <div>
      <PrintAccreditation
        id="accreditation"
        :metathemes="metathemesPrint"
      />
    </div>

    <el-dialog
      class="accreditation-edit-form"
      :title="editFormTitle"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="editFormVisible = false"
    >
      <EditMetatheme
        :editingTheme="editingTheme"
        @hideEditForm="editFormVisible = false"
        @edited="editMetateheme"
      />
    </el-dialog>

    <el-dialog
      title="Добавление сотрудников на съёмку"
      :visible.sync="addCorrespondentsVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="addCorrespondentsVisible = false"
    >
      <AddCorrespondents
        :editingTheme="editingTheme"
        @hideAddResources="addCorrespondentsVisible = false"
        @addedResource="fetchMetathemes"
      />
    </el-dialog>

    <el-dialog
      title="Добавление съемочной группы на съёмку"
      :visible.sync="addShootingGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="addShootingGroupVisible = false"
    >
      <AddShootingGroup
        :editingTheme="editingTheme"
        @hideAddResources="addShootingGroupVisible = false"
        @addedResource="fetchMetathemes"
      />
    </el-dialog>

    <el-dialog
      title="Добавление машин, водителей на съёмку"
      :visible.sync="addCarsDriversVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="addCarsDriversVisible = false"
    >
      <AddCarsDrivers
        :editingTheme="editingTheme"
        @hideAddResources="addCarsDriversVisible = false"
        @addedResource="fetchMetathemes"
      />
    </el-dialog>

    <el-dialog
      class="accreditation-show-history"
      title="История изменений:"
      :visible.sync="showHistoryVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideHistory"
    >
      <ShowThemeHistory
        :historyTheme="historyTheme"
        @hideHistory="hideHistory"
      />
    </el-dialog>

  </div>
</template>

<script>
import qs from 'qs'
import PlanningShooting from '@/components/planning/PlanningShooting'
import EditMetatheme from '@/components/planning/EditMetatheme'
import AddCorrespondents from '@/components/accreditation/AddCorrespondents'
import AddShootingGroup from '@/components/accreditation/AddShootingGroup'
import AddCarsDrivers from '@/components/accreditation/AddCarsDrivers'
import ShowThemeHistory from '@/components/planning/ShowThemeHistory'
import PrintAccreditation from '@/components/accreditation/print/PrintAccreditation'
import AccreditationMobile from '@/components/accreditation/mobile/AccreditationMobile'

export default {
  name: 'accreditation',
  metaInfo: {
    title: 'Аккредитация'
  },
  components: {
    PlanningShooting,
    EditMetatheme,
    AddCorrespondents,
    AddShootingGroup,
    AddCarsDrivers,
    ShowThemeHistory,
    PrintAccreditation,
    AccreditationMobile
  },
  data() {
    return {
      loading: true,
      printLoading: false,
      activeTab: 'all',
      metathemes: [],
      metathemesPrint: [],
      sortClass: 'ascending',
      editFormVisible: false,
      editFormTitle: null,
      editingTheme: null,
      addCorrespondentsVisible: false,
      addShootingGroupVisible: false,
      addCarsDriversVisible: false,
      showHistoryVisible: false,
      historyTheme: null,
      selectedPeriod: false,
      columnsFilter: {
        dateStartColumn: true,
        dateEndColumn: true,
        nameColumn: true,
        addressColumn: true,
        corrsColumn: true,
        shootingGroupColumn: true,
        carsColumn: true,
        statusColumn: true
      },
      queries: {
        start: 0,
        limit: 50,
        sortParam: 'date_end_accr:asc,date_start:asc'
      },
      pagination: {
        page: +this.$route.query.page || 1,
        total: 0
      },
      print: {
        id: 'accreditation',
        popTitle: `Аккредитация`,
        preview: true,
        previewTitle: 'Предварительный просмотр',
        previewPrintBtnLabel: 'Печать',
        previewBeforeOpenCallback() {
          const iframe = document.getElementById('printArea_1')
          const contDoc = iframe.contentDocument || iframe.contentWindow.document
          contDoc.getElementById('accreditation').style.display = 'block'
        }
      }
    }
  },
  async mounted() {
    if (this.$store.state.accreditation.themeId) {
      this.pagination.total = 1
    } else {
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'status_accr': 'need' },
              { 'published_at_null': false }
            ],
            [
              { 'status_accr': 'progress' },
              { 'published_at_null': false }
            ]
          ]
        }
      })
      this.pagination.total = await this.$store.dispatch('fetchMetathemesCount', {query, params: {_limit: -1}})
    }
  },
  watch: {
    '$store.state.accreditation.accreditationDate': function () {
      if (!this.selectedPeriod) {
        if (this.$route.query.page && this.$route.query.page !== '1') {
          this.$router.push(`${this.$route.path}?page=1`)
        }
        this.pagination.page = 1
        this.queries.start = 0
        this.queries.sortParam = 'date_end_accr:asc,date_start:asc'
        this.selectedPeriod = true
        this.fetchMetathemes()
      }
    },
    '$store.state.accreditation.themeId': {
      immediate: true,
      async handler() {
        if (this.$store.state.accreditation.themeId) {
          this.fetchMetathemes()
        }
      }
    },
    queries: {
      immediate: true,
      deep: true,
      async handler() {
        this.fetchMetathemes()
      }
    }
  },
  computed: {
    expandRowColspan() {
      let cols = 1
      for (let key in this.columnsFilter) {
        if (this.columnsFilter[key]) {
          cols++
        }
      }
      return cols
    }
  },
  methods: {
    handlerPageChange(page) {
      this.$router.push(`${this.$route.path}?page=${page}`)
      this.pagination.page = page
      this.queries.start = this.queries.limit * page - this.queries.limit
    },
    handleSizeChange(size) {
      this.queries.limit = size
    },
    async fetchMetathemes() {
      this.loading = true
      this.printLoading = true
      this.queries.start = this.queries.limit * this.pagination.page - this.queries.limit || 0
      let params = {
        _sort: this.queries.sortParam,
        _start: this.queries.start,
        _limit: this.queries.limit
      }
      let query

      if (this.selectedPeriod) {
        query = qs.stringify({ _where: {
          _or: [
              [
                { 'status_accr': ['need', 'progress'] },
                { 'date_start_accr_lte': this.moment(this.$store.state.accreditation.accreditationDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_accr_gte': this.moment(this.$store.state.accreditation.accreditationDate).set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'published_at_null': false }
              ],
              [
                { 'status_accr': ['need', 'progress'] },
                { 'date_end_accr_lte': this.moment(this.$store.state.accreditation.accreditationDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
                { 'date_end_accr_gte': this.moment(this.$store.state.accreditation.accreditationDate).set({hour:0,minute:0,second:0,millisecond:0}).format() },
                { 'published_at_null': false }
              ]
            ]
          }
        })
      } else {
        switch (this.activeTab) {
          case 'all':
            query = qs.stringify({ _where: {
              _or: [
                  [
                    { 'status_accr': ['need', 'progress'] },
                    { 'published_at_null': false }
                  ]
                ]
              }
            })
            break
          case 'two_days':
            query = qs.stringify({ _where: {
              _or: [
                  [
                    { 'status_accr': ['need', 'progress'] },
                    { 'date_end_accr_gte': this.moment(new Date()).add(24, 'hours').format() },
                    { 'date_end_accr_lte': this.moment(new Date()).add(48, 'hours').format() },
                    { 'published_at_null': false }
                  ]
                ]
              }
            })
            break
          case 'week':
            query = qs.stringify({ _where: {
              _or: [
                  [
                    { 'status_accr': ['need', 'progress'] },
                    { 'date_end_accr_gte': this.moment(new Date()).add(168, 'hours').format() },
                    { 'published_at_null': false }
                  ]
                ]
              }
            })
            break
          case 'closed':
            query = qs.stringify({ _where: {
              _or: [
                  [
                    { 'status_accr': 'done' },
                    { 'published_at_null': false }
                  ]
                ]
              }
            })
            break
        }
      }

      if (this.$store.state.accreditation.themeId) {
        this.metathemes = []
        this.pagination.total = 1
        const theme = await this.$store.dispatch('fetchMetathemeById', this.$store.state.accreditation.themeId)
        this.metathemes.push(theme)
      } else {
        this.pagination.total = await this.$store.dispatch('fetchMetathemesCount', {query, params: {_limit: -1}})
        this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      }
      
      if (this.activeTab === 'all' && !this.selectedPeriod) {
        for (let i = 0; i < this.metathemes.length; i++) {
          if (this.metathemes[i].date_end_accr && this.moment(this.metathemes[i].date_end_accr).format() > this.moment(new Date()).format() &&
              this.moment(this.metathemes[i].date_end_accr).format() < this.moment(new Date()).add(24, 'hours').format()) 
          {
            this.$set(this.metathemes[i], 'urgently', true)
          }
          if (this.metathemes[i].date_end_accr && this.moment(this.metathemes[i].date_end_accr).format() < this.moment(new Date()).format())
          {
            this.$set(this.metathemes[i], 'overdue', true)
          }
        }
      }

      for (let i = 0; i < this.metathemes.length; i++) {
        this.$set(this.metathemes[i], 'corrsOfThemeTags', 3)
        this.$set(this.metathemes[i], 'shootingGroupOfThemeTags', 3)
        this.$set(this.metathemes[i], 'carsOfThemeTags', 1)
        this.$set(this.metathemes[i], 'driversOfThemeTags', 3)
      }
      this.loading = false

      if (this.activeTab !== 'closed' && !this.selectedPeriod && !this.$store.state.accreditation.themeId) {
        let printParams = {
          _sort: this.queries.sortParam,
          _start: 0,
          _limit: -1
        }
        this.metathemesPrint = await this.$store.dispatch('fetchMetathemes', {query, params: printParams})
      } else {
        this.metathemesPrint = this.metathemes
      }
      this.printLoading = false
    },
    themeCorrespondents(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeShootingGroup(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeCars(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
          arr.push(theme.shootings[i].tech_resources[j])
        }
      }
      let result = arr.filter(t =>
        t.type === 'Машина'
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    themeDrivers(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    showExpandRow(theme) {
      theme.expand_row ? this.$set(theme, 'expand_row', false) : this.$set(theme, 'expand_row', true)
    },
    handleDropdownClick(command) {
      switch (command.name) {
        case 'edit':
          this.showEditForm(command.theme)
          break
      }
    },
    async backToTabs() {
      await this.$store.commit('setAccreditationDate', this.moment(new Date()).format())
      this.selectedPeriod = false
      this.fetchMetathemes()
    },
    handleTabClick(tab, event) {
      if (this.$route.query.page && this.$route.query.page !== '1') {
        this.$router.push(`${this.$route.path}?page=1`)
      }
      this.pagination.page = 1
      this.queries.start = 0
      this.queries.sortParam = 'date_end_accr:asc,date_start:asc'
      this.fetchMetathemes()
    },
    handleChangeSortClass(value) {
      this.sortClass = value
      this.handleChangeSort()
    },
    handleChangeSort() {
      switch (this.sortClass) {
        case 'ascending':
          this.sortClass = 'descending'
          this.queries.sortParam = 'date_end_accr:desc,date_start:desc'
          break
        case 'descending':
          this.sortClass = 'ascending'
          this.queries.sortParam = 'date_end_accr:asc,date_start:asc'
          break
      }
    },
    async handleChangeAccrStatus(theme, status) {
      try {
        this.loading = true
        let formdata = {
          id: theme.id,
          status_accr: status
        }
        await this.$store.dispatch('editMetatheme', formdata)
        .then(async () => {
          this.loading = false
          await this.fetchMetathemes()
          this.$message.success('Статус изменен')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    async updateShooting(id) {
      const theme = await this.$store.dispatch('fetchMetathemeById', id)
      for (let i = 0; i < this.metathemes.length; i++) {
        if (this.metathemes[i].id === theme.id) {
          if (theme.shootings.length) {
            this.$set(this.metathemes[i], 'date_start', theme.date_start)
            this.$set(this.metathemes[i], 'status_coord', theme.status_coord)
            this.$set(this.metathemes[i], 'shootings', theme.shootings)
            this.$set(this.metathemes[i], 'address', theme.address)
            this.$set(this.metathemes[i], 'country', theme.country)
            this.$set(this.metathemes[i], 'metatheme_aether_plans', theme.metatheme_aether_plans)
            this.$set(this.metathemes[i], 'comment_aether_plans', theme.comment_aether_plans)
            this.$set(this.metathemes[i], 'metatheme_inclusions', theme.metatheme_inclusions)
            this.$set(this.metathemes[i], 'comment_inclusions', theme.comment_inclusions)
            this.editingTheme = theme
          } else {
            await this.$store.dispatch('editMetatheme', {id: theme.id, status_coord: 'new'})
            this.$set(this.metathemes[i], 'status_coord', 'new')
            this.$set(this.metathemes[i], 'shootings', theme.shootings)
            this.editingTheme = theme
          }
        }
      }
    },
    async deleteResource(theme, resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
            if (theme.shootings[i].tech_resources[j].id === resource.id) {
              theme.shootings[i].tech_resources.splice(theme.shootings[i].tech_resources.findIndex(el => el.id === resource.id), 1)
              await this.$store.dispatch('editShooting', {id: theme.shootings[i].id, tech_resources: theme.shootings[i].tech_resources})
            }
          }
        }
      } else if (type === 'employee') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].employees.length; j++) {
            if (theme.shootings[i].employees[j].id === resource.id) {
              theme.shootings[i].employees.splice(theme.shootings[i].employees.findIndex(el => el.id === resource.id), 1)
              await this.$store.dispatch('editShooting', {id: theme.shootings[i].id, employees: theme.shootings[i].employees})
            }
            if (resource.employee_role === 4 && theme.shootings[i].metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
              let business_trip = await this.$store.dispatch('fetchShootingById', theme.shootings[i].id)
              for (let k = 0; k < business_trip.shootings_child.length; k++) {
                if (business_trip.shootings_child[k].personalType === 'Командировка') {
                  for (let l = 0; l < business_trip.shootings_child[k].employees.length; l++) {
                    if (business_trip.shootings_child[k].employees[l].id === resource.id) {
                      await this.$store.dispatch('deleteShooting', business_trip.shootings_child[k].id)
                    }
                  }
                }
              }
            }
          }
        }
      }
      await this.fetchMetathemes()
      this.loading = false
    },
    showEditForm(theme) {
      this.editingTheme = theme
      this.editFormTitle = `Изменение темы "${theme.name}" в разделе "${theme.metatheme_section.name}"`
      this.editFormVisible = true
    },
    editMetateheme() {
      this.editingTheme = null
      this.editFormVisible = false
      this.fetchMetathemes()
    },
    async showAddResources(theme, type) {
      const curTheme = await this.$store.dispatch('fetchMetathemeById', theme.id)
      if (!curTheme.shootings.length) {
        this.loading = true
        let shootingData = {
          name: theme.name,
          metatheme: theme.id,
          address: `${theme.country ? theme.country : ''}${theme.address ? theme.address : ''}`,
          date_start: theme.date_start,
          date_end: theme.date_end,
          metatheme_aether_plans: theme.metatheme_aether_plans,
          comment_aether_plans: theme.comment_aether_plans,
          metatheme_inclusions: theme.metatheme_inclusions,
          comment_inclusions: theme.comment_inclusions,
          metatheme_hardwares: theme.metatheme_hardwares,
          status_coord: 'new',
          comment: theme.comment_coord,
          auto_create: true,
          author: theme.author
        }
        await this.$store.dispatch('createShooting', shootingData)
        const updatedTheme = await this.$store.dispatch('fetchMetathemeById', theme.id)
        await this.fetchMetathemes()
        this.editingTheme = updatedTheme
        this.loading = false
      } else {
        this.editingTheme = curTheme
      }
      switch (type) {
        case 'correspondents':
          this.addCorrespondentsVisible = true
          break
        case 'shootingGroup':
          this.addShootingGroupVisible = true
          break
        case 'carsDrivers':
          this.addCarsDriversVisible = true
          break
      }
    },
    showHistory(theme) {
      this.historyTheme = theme
      this.showHistoryVisible = true
    },
    hideHistory() {
      this.showHistoryVisible = false
      this.historyTheme = null
    },
    swipeTabs(direction) {
      const next = document.querySelector('.el-tabs__nav-next')
      const prev = document.querySelector('.el-tabs__nav-prev')
      if (direction === 'left' && next) {
        next.click()
      } else if (direction === 'right' && prev) {
        prev.click()
      }
    },
    checkNumberOfResource(theme, resource, type) {
      const arr = []
      if (type === 'employee') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].employees.length; j++) {
            arr.push(theme.shootings[i].employees[j].id)
          }
        }
      } else if (type === 'tech_resource') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
            arr.push(theme.shootings[i].tech_resources[j].id)
          }
        }
      }
      const arrWithoutDuplicates = [...new Set(arr)]
      let duplicates = [...arr]
      arrWithoutDuplicates.forEach((item) => {
        const i = duplicates.indexOf(item)
        duplicates = duplicates
          .slice(0, i)
          .concat(duplicates.slice(i + 1, duplicates.length))
      })
      return duplicates.some(d => d === resource.id) ? false : true
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style lang="scss">
.accreditation-page-header {
  display: flex;
  align-items: center;
  & .refresh-btn {
    margin-right: 10px;
  }
  & .back-link {
    flex: 1;
  }
}
.accreditation-tabs {
  flex: 1;
  & .el-tabs__header {
    margin: 0;
    margin-bottom: 1px;
  }
  & .el-tabs__nav {
    padding: 15px;
    padding-top: 0;
    &-wrap::after {
      height: 0;
    }
  }
  & .el-tabs__active-bar {
    height: 3px;
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      background: #7C43BA;
    }
    &::before {
      left: 0px;
    }
    &::after {
      right: -30px;
    }
  }
  & .el-tabs__item {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.accreditation-table {
  overflow: inherit;
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  &.el-table table {
    border-top: 1px solid #E4E4E4;
  }
  &.el-table th {
    border-top: none;
    & .cell {
      margin-top: -10px;
    }
  }
  & th > .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & tr.urgently {
    background-color: rgba(230, 39, 68, 0.1);
  }
  & tr.overdue {
    background-color: rgba(230, 39, 68, 0.6);
  }
  & .cell {
    word-break: normal;
  }
  & .el-table__expand-icon {
    transition: transform .2s ease-in-out;
    &.rotate {
      transform: rotate(90deg);
    }
  }
  & .status-td {
    position: relative;
  }
  & .accreditation-status-btn {
    & .el-button--mini {
      padding: 7px 7px;
    }
  }
  & .planning-author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
  }
}
.accreditation-pagination {
  background: #f7f7f7;
  text-align: center;
}
.accreditation-edit-form .el-dialog {
  width: 950px;
}
.accreditation-print {
  overflow: inherit;
  & .centered {
    text-align: center;
  }
  & table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 12px;
    & th, td {
      border: 1px solid #000;
      padding: 2px 5px;
    }
  }
}
.accreditation-show-history .el-dialog {
  width: 950px;
}
#accreditation, #accreditation-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .accreditation-page-header {
    margin-top: -21px;
    & .el-button, & .el-dropdown {
      display: none;
    }
    & .accreditation-tabs {
      max-width: 100%;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        right: -5px;
        bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid #E4E4E4;
        border-top: 1px solid #E4E4E4;
      }
      & .el-tabs__nav {
        padding: 5px 0;
        &-prev, &-next {
          line-height: 50px;
        }
      }
      & .el-tabs__item {
        padding: 0px 10px;
      }
      & .el-tabs__active-bar {
        left: 0;
        &::before, &::after {
          display: none;
        }
      }
    }
  }
  .accreditation-pagination {
    box-sizing: border-box;
    width: 100%;
    & .el-pagination__sizes, & .el-pagination__jump {
      display: block !important;
    }
    & .el-pagination__sizes, & .el-pagination__total {
      margin-right: 0 !important;
    }
    & .el-pagination__sizes {
      margin-bottom: 10px;
    }
    & .el-pagination__jump {
      margin-left: 0 !important;
      margin-top: 10px;
    }
  }
  .accreditation-table {
    display: none;
  }
  #accreditation-mobile {
    display: block;
  }
}
</style>