<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="aetherplan-page-header">
      <div class="aetherplan-tabs">
        <el-tabs v-model="activeTab" @tab-click="handleTabClick">
          <el-tab-pane label="РЕН ТВ" name="rentv"></el-tab-pane>
          <el-tab-pane label="IZ.TV" name="iztv"></el-tab-pane>
          <el-tab-pane label="5TV" name="5tv"></el-tab-pane>
        </el-tabs>
      </div>
      <el-tooltip
        class="item"
        effect="dark"
        content="Экспорт в PDF"
      >
        <el-button
          class="aetherplan-pdf"
          type="danger"
          icon="el-icon-document"
          size="medium"
          @click="exportToPdf"
        >
        </el-button>
      </el-tooltip>
    </div>
    <div class="el-table aetherplan-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <thead>
          <tr class="sticky">
            <th colspan="1" rowspan="1"><div class="cell">Тема</div></th>
            <th colspan="1" rowspan="1" v-if="activeTab !== 'iztv'" width="180"><div class="cell">Эфир</div></th>
            <th colspan="1" rowspan="1" width="200"><div class="cell">Эфирный план</div></th>
            <th colspan="1" rowspan="1" width="200"><div class="cell">Корреспонденты</div></th>
          </tr>
        </thead>
        <tbody v-if="$store.state.aetherplan.filteredMetathemesAethers.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" :colspan="activeTab !== 'iztv' ? 4 : 3" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <draggable
          v-else
          v-model="filteredMetathemes"
          tag="div"
          class="contents"
          :scroll-sensitivity="250"
          :force-fallback="true"
          @end="saveAetherPlan(moment($store.state.aetherplan.aetherPlanDate).format('DD-MM-YYYY'))"
        >
          <tbody class="aetherplan-table__tbody" v-for="theme in filteredMetathemes" :key="theme.id">
            <tr class="el-table__row el-table__row--level-1">
              <td class="center" rowspan="1" colspan="1" @dblclick="showEditForm(theme)">
                <div class="cell">
                  <div class="bold theme-name">
                    <span>
                      {{ theme.name }}
                    </span>
                  </div>
                </div>
              </td>
              <td v-if="activeTab !== 'iztv'" rowspan="1" colspan="1">
                <div class="cell">
                  <el-tag size="mini" v-for="metatheme_aether of theme.metatheme_aethers.slice(0, theme.metathemeAethersTags)" :key="'metatheme_aether' + metatheme_aether.id">
                    {{metatheme_aether.name}}
                  </el-tag>
                  <span v-show="theme.metatheme_aethers.length > theme.metathemeAethersTags" class="add-tags-btn" @click="theme.metathemeAethersTags += theme.metatheme_aethers.length">+{{ theme.metatheme_aethers.length - theme.metathemeAethersTags }}</span>
                </div>
              </td>
              <td rowspan="1" colspan="1">
                <div class="cell">
                  <div class="tags-wrapper">
                    <el-tag size="mini" v-for="item in theme.metatheme_aether_plans.slice(0, theme.aetherPlansTags)" :key="'AP'+item.id">{{ item.name }}</el-tag>
                    <span v-show="theme.metatheme_aether_plans.length > theme.aetherPlansTags" class="add-tags-btn" @click="theme.aetherPlansTags += theme.metatheme_aether_plans.length">+{{ theme.metatheme_aether_plans.length - theme.aetherPlansTags }}</span>
                  </div>
                </div>
              </td>
              <td rowspan="1" colspan="1">
                <div class="cell">
                  <div v-if="themeEmployees(theme).length === 0" class="empty-text">Не добавлены</div>
                  <div v-else class="employees-tags-wrapper">
                    <div  v-for="employee in themeEmployees(theme).slice(0, theme.employeesTags)" :key="employee.id">{{ employee.surname }}</div>
                    <span v-show="themeEmployees(theme).length > theme.employeesTags" class="add-tags-btn" @click="theme.employeesTags += themeEmployees(theme).length">+{{ themeEmployees(theme).length - theme.employeesTags }}</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </draggable>
      </table>
    </div>

    <div>
      <AetherPlanMobile
        id="aetherplan-mobile"
        :metathemes="filteredMetathemes"
      />
    </div>

    <div>
      <PrintAetherPlan
        id="aetherplan"
        ref="aetherplan"
        :metathemes="filteredMetathemes"
      />
    </div>

    <el-dialog
      class="aetherplan-edit-form"
      :title="editFormTitle"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditForm"
    >
      <EditMetatheme
        :editingTheme="editingTheme"
        @hideEditForm="hideEditForm"
        @edited="editMetateheme"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import draggable from 'vuedraggable'
import pdfMixin from '@/mixins/pdf.mixin.js'
import EditMetatheme from '@/components/planning/EditMetatheme'
import PrintAetherPlan from '@/components/aetherplan/print/PrintAetherPlan'
import AetherPlanMobile from '@/components/aetherplan/mobile/AetherPlanMobile'

export default {
  name: 'aetherplan',
  metaInfo: {
    title: 'Эфирный план (TV)'
  },
  components: {
    draggable,
    EditMetatheme,
    PrintAetherPlan,
    AetherPlanMobile
  },
  mixins: [pdfMixin],
  data() {
    return {
      loading: true,
      activeTab: 'rentv',
      metathemes: [],
      editFormVisible: false,
      editFormTitle: null,
      editingTheme: null
    }
  },
  async mounted() {
    this.fetchMetathemes()
  },
  watch: {
    '$store.state.aetherplan.aetherPlanDate': function () {
      this.fetchMetathemes()
    },
    '$store.state.aetherplan.aetherPlanSearchFiled': function () {
      this.filterTable()
    }
  },
  computed: {
    filteredMetathemes: {
      get() {
        return this.$store.state.aetherplan.filteredMetathemesAethers
      },
      set(arr) {
        this.$store.commit('setFilteredMetathemesAethers', arr)
      }
    }
  },
  methods: {
    async fetchMetathemes() {
      this.loading = true
      let params = {
        _sort: `sortAetherPlans:asc,date_start:asc`,
        _limit: -1
      }
      const query = qs.stringify({ _where: {
        _or: [
            [
              // { 'metatheme_section.show_in_aether_plans': true },
              { 'date_start_lte': this.moment(this.$store.state.aetherplan.aetherPlanDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.aetherplan.aetherPlanDate).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'published_at_null': false }
            ]
          ]
        }
      })
      this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      let arr1 = this.metathemes.filter(m => m.metatheme_aether_plans.some(ap =>
        ap.name === 'ВМЗ' ||
        ap.name === 'БЗ+СХ' ||
        ap.name === 'ВМЗ/БЗ+СХ' ||
        ap.name === 'Прямо'
      ))
      let arr2 = arr1.filter(m => m.metatheme_aether_plans.some(ap => ap.name === 'Разработка'))
      for (let i = 0; i < arr2.length; i++) {
        arr1.splice(arr1.findIndex(item => item.id === arr2[i].id), 1)
      }
      arr1.sort((a, b) => a.sortAetherPlans - b.sortAetherPlans)
      let result
      switch(this.activeTab) {
        case 'rentv':
          result = arr1.filter(m => m.aether_plan_rentv)
          break
        case 'iztv':
          result = arr1.filter(m => m.aether_plan_iztv)
          break
        case '5tv':
          result = arr1.filter(m => m.aether_plan_5tv)
          break
      }
      for (let i = 0; i < result.length; i++) {
        this.$set(result[i], 'employeesTags', 3)
        this.$set(result[i], 'aetherPlansTags', 3)
        this.$set(result[i], 'metathemeAethersTags', 3)
      }
      this.$store.commit('setFilteredMetathemesAethers', result)
      this.loading = false
    },
    async saveAetherPlan(date) {
      try {
        this.loading = true
        const themes = this.$store.state.aetherplan.filteredMetathemesAethers
        for(let i = 0; i < themes.length; i++) {
          let formData = {
            id: themes[i].id,
            sortAetherPlans: i + 1
          }
          await this.$store.dispatch('editMetatheme', formData)
        }
        this.loading = false

        if (this.activeTab === 'rentv') {
          this.loading = true
          const query = qs.stringify({ _where: {_or: [[{ 'logDate': date }]]}})
          const response = await this.$store.dispatch('fetchLogs', query)
          if (!response.length) {
            try {
              let data = {
                logDate: date,
                aethers: themes
              }
              await this.$store.dispatch('saveLog', data)
              .then(() => {
                this.loading = false
                this.$message.success('Эфир сохранен')
              })
            } catch (e) {
              this.$message.error('Недостаточно прав для выполнения данной операции')
              console.log(e)
            }
          } else {
            try {
              let data = {
                id: response[0].id,
                logDate: date,
                aethers: themes
              }
              await this.$store.dispatch('updateLog', data)
              .then(() => {
                this.loading = false
                this.$message.success('Эфир сохранен')
              })
            } catch (e) {
              this.$message.error('Недостаточно прав для выполнения данной операции')
              console.log(e)
            }
          }
        }
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    handleTabClick(tab, event) {
      if (this.$store.state.aetherplan.aetherPlanSearchFiled === null) {
        this.$store.commit('setAetherPlanActiveTab', tab.name)
        this.fetchMetathemes()
      } else {
        this.filterTable()
      }
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    async exportToPdf() {
      this.loading = true
      try {
        await this.exportToPdfMixin(this.$refs.aetherplan.$el.innerHTML, 'Известия_Эфирный_план', 'Известия_Эфирный_план')
        .then(() => {
          this.loading = false
        })
      } catch (e) {
        console.log(e)
        this.$message.error('Ошибка экспорта')
        this.loading = false
      }
    },
    showEditForm(theme) {
      this.editingTheme = theme
      this.editFormTitle = `Изменение темы "${theme.name}" в разделе "${theme.metatheme_section.name}"`
      this.editFormVisible = true
    },
    hideEditForm() {
      this.editFormVisible = false
    },
    editMetateheme() {
      this.editingTheme = null
      this.editFormVisible = false
      if (this.$store.state.aetherplan.aetherPlanSearchFiled === null) {
        this.fetchMetathemes()
      } else {
        this.filterTable()
      }
    },
    async filterTable() {
      if (this.$store.state.aetherplan.aetherPlanSearchFiled === null) {
        this.fetchMetathemes()
      } else {
        this.loading = true
        this.$store.commit('setAetherPlanDate', this.moment(new Date()).format())
        let params = {
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'name_contains': this.$store.state.aetherplan.aetherPlanSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'address_contains': this.$store.state.aetherplan.aetherPlanSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'country_contains': this.$store.state.aetherplan.aetherPlanSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'description_contains': this.$store.state.aetherplan.aetherPlanSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'short_description_contains': this.$store.state.aetherplan.aetherPlanSearchFiled.trim() },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        const filteredMetathemes = await this.$store.dispatch('fetchMetathemes', {query, params})

        const queryEmployees = qs.stringify({ _where: {
          _or: [
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'published_at_null': false }
              ],
              [
                // { 'metatheme_section.show_in_aether_plans': true },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        const allMetathemes = await this.$store.dispatch('fetchMetathemes', {query: queryEmployees, params})
        const arr = []
        for (let i = 0; i < allMetathemes.length; i++) {
          for (let j = 0; j < allMetathemes[i].shootings.length; j++) {
            for (let k = 0; k < allMetathemes[i].shootings[j].employees.length; k++) {
              if (allMetathemes[i].shootings[j].employees[k].surname && (allMetathemes[i].shootings[j].employees[k].employee_role === 4 ||
                allMetathemes[i].shootings[j].employees[k].employee_role === 7 || allMetathemes[i].shootings[j].employees[k].employee_role === 8)) {
                let surname = allMetathemes[i].shootings[j].employees[k].surname.toLowerCase()
                let lowerString = this.$store.state.aetherplan.aetherPlanSearchFiled.toLowerCase()
                if (surname.includes(lowerString.trim())) {
                  arr.push(allMetathemes[i])
                }
              }
            }
          }
        }
        this.metathemes = [...filteredMetathemes, ...arr]

        let arr1 = this.metathemes.filter(m => m.metatheme_aether_plans.some(ap =>
          ap.name === 'ВМЗ' ||
          ap.name === 'БЗ+СХ' ||
          ap.name === 'ВМЗ/БЗ+СХ' ||
          ap.name === 'Прямо'
        ))
        let arr2 = arr1.filter(m => m.metatheme_aether_plans.some(ap => ap.name === 'Разработка'))
        for (let i = 0; i < arr2.length; i++) {
          arr1.splice(arr1.findIndex(item => item.id === arr2[i].id), 1)
        }
        arr1.sort((a, b) => new Date(b.date_start) - new Date(a.date_start))
        let result
        switch(this.activeTab) {
          case 'rentv':
            result = arr1.filter(m => m.aether_plan_rentv)
            break
          case 'iztv':
            result = arr1.filter(m => m.aether_plan_iztv)
            break
          case '5tv':
            result = arr1.filter(m => m.aether_plan_5tv)
            break
        }
        for (let i = 0; i < result.length; i++) {
          this.$set(result[i], 'employeesTags', 3)
          this.$set(result[i], 'aetherPlansTags', 3)
          this.$set(result[i], 'metathemeAethersTags', 3)
        }
        this.$store.commit('setFilteredMetathemesAethers', result)
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.aetherplan-page-header {
  display: flex;
  align-items: center;
}
.aetherplan-pdf {
  width: 56px;
  height: 36px;
}
.aetherplan-tabs {
  flex: 1;
  & .el-tabs__header {
    margin: 0;
    margin-bottom: 1px;
  }
  & .el-tabs__nav {
    padding: 15px;
    &-wrap::after {
      height: 0;
    }
  }
  & .el-tabs__active-bar {
    height: 3px;
    left: 15px;
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 3px;
      background: #7C43BA;
    }
    &::before {
      left: -40px;
    }
    &::after {
      right: -15px;
    }
  }
  & .el-tabs__item {
    position: relative;
    padding: 0 30px !important;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:nth-child(2)::before {
      background-image: url('../assets/png/logo_rentv2.png');
    }
    &:nth-child(3)::before {
      background-image: url('../assets/png/logo_izru2.png');
    }
    &:nth-child(4)::before {
      background-image: url('../assets/png/logo_5tv2.png');
    }
  }
}
.aetherplan-table {
  overflow: inherit;
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .contents {
    display: contents;
  }
  &__tbody {
    cursor: move;
  }
  &.el-table table {
    border-top: 1px solid #E4E4E4;
  }
  &.el-table th {
    border-top: none;
    & .cell {
      margin-top: -10px;
    }
  }
  & th > .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .cell {
    word-break: normal;
  }
}
.aetherplan-edit-form .el-dialog {
  width: 950px;
}
#aetherplan, #aetherplan-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .aetherplan-page-header {
    padding-top: 42px;
    & .aetherplan-tabs {
      max-width: 100%;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        right: -5px;
        bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid #E4E4E4;
        border-top: 1px solid #E4E4E4;
      }
      & .el-tabs__nav {
        padding: 5px 0;
        &-prev, &-next {
          line-height: 50px;
        }
      }
      & .el-tabs__item {
        padding: 0px 10px;
      }
      & .el-tabs__active-bar {
        left: 0;
      }
    }
  }
  .aetherplan-table, .aetherplan-pdf {
    display: none;
  }
  #aetherplan-mobile {
    display: block;
  }
}
</style>