<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="coordination-heading">
      <h2 class="coordination-title">Требуется координация</h2>
      <div class="coordination-heading__right">
        <el-tooltip class="item" effect="dark" content="Обновить" placement="bottom">
          <el-button
            class="refresh-btn"
            type="primary"
            size="medium"
            icon="el-icon-refresh"
            @click="fetchShootings()"
          >
          </el-button>
        </el-tooltip>
        <el-tooltip class="item" effect="dark" content="Фильтр" placement="bottom">
          <el-dropdown
            trigger="click"
            :hide-on-click="false"
          >
            <el-button
              size="medium"
              type="primary"
              icon="el-icon-s-operation"
            >
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.dateDepartureColumn">Выезд</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.dateArrivalColumn">На месте</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.nameColumn">Название съемки</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.commentColumn">Комментарий</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.shootingColumn">Съемочная группа</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.hardwareColumn">Оборудование</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.carsColumn">Машины, водители</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.statusColumn">Статус</el-checkbox>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
      </div>
    </div>
    <div class="el-table coordination-table">
      <table
        cellspacing="0"
        cellpadding="0"
        border="0"
        class="el-table__header"
        style="width: 100%;"
      >
        <thead>
          <tr>
            <th colspan="1" rowspan="1" width="44"><div class="cell"></div></th>
            <th v-if="columnsFilter.dateDepartureColumn" colspan="1" rowspan="1" width="95">
              <div class="cell">
                Выезд
              </div>
            </th>
            <th v-if="columnsFilter.dateArrivalColumn" colspan="1" rowspan="1" width="112">
              <div class="cell">
                На месте
              </div>
            </th>
            <th v-if="columnsFilter.nameColumn" colspan="1" rowspan="1"><div class="cell">Название съемки</div></th>
            <th v-if="columnsFilter.commentColumn" colspan="1" rowspan="1" width="250"><div class="cell">Комментарий</div></th>
            <th v-if="columnsFilter.shootingColumn" colspan="1" rowspan="1" width="166"><div class="cell">Съемочная группа</div></th>
            <th v-if="columnsFilter.hardwareColumn" colspan="1" rowspan="1" width="176"><div class="cell">Оборудование</div></th>
            <th v-if="columnsFilter.carsColumn" colspan="1" rowspan="1" width="170"><div class="cell">Машины,<br>водители</div></th>
            <th v-if="columnsFilter.statusColumn" colspan="1" rowspan="1" width="120"><div class="cell">Статус</div></th>
          </tr>
        </thead>
        <tbody v-if="shootings.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" :colspan="expandRowColspan" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else v-for="item in shootings" :key="item.id" :id="item.id">
          <tr class="el-table__row el-table__row--level-1" :class="{ 'urgently-bg': item.urgent_departure }">
            <td rowspan="1" colspan="1" class="el-table__expand-column">
              <div class="cell">
                <div class="el-table__expand-icon" :class="{ rotate: item.expand_row }" @click="showExpandRow(item)">
                  <i class="el-icon el-icon-arrow-right"></i>
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.dateDepartureColumn" class="centered" rowspan="1" colspan="1">
              <span v-if="!item.date_departure" class="empty-text">н/у</span>
              <div v-if="item.date_departure" class="cell bold">{{ moment(item.date_departure).format('HH:mm') }}</div>
              <div v-if="item.date_departure" class="cell">{{ moment(item.date_departure).format('DD/MM') }}</div>
            </td>
            <td v-if="columnsFilter.dateArrivalColumn" rowspan="1" colspan="1">
              <span v-if="!item.date_arrival" class="empty-text">н/у</span>
              <div v-if="item.date_arrival" class="cell bold">{{ moment(item.date_arrival).format('HH:mm') }}</div>
              <div v-if="item.date_arrival" class="cell">{{ moment(item.date_arrival).format('DD/MM') }}</div>
            </td>
            <td v-if="columnsFilter.nameColumn" rowspan="1" colspan="1" @dblclick="showEditForm(item)">
              <div class="cell">
                <div>
                  <span class="bold">
                    {{ item.name }}
                  </span>
                  <el-dropdown class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                    <div class="theme-dropdown__item">
                      <span style="top: 8px;"></span>
                    </div>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item :command="{name: 'add', item: item}">Добавить</el-dropdown-item>
                      <el-dropdown-item :command="{name: 'edit', item: item}">Править</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
                <div class="cell coordination-name">
                  <p v-if="!item.urgent_departure && !item.duty_group" class="bold">Тема: {{ item.metatheme.name }}</p>
                  <p v-if="item.urgent_departure" class="bold">Тема: Срочные выезды</p>
                  <p class="bold">Формат привязки: {{ itemReserved(item.reserved) }}</p>
                  <p class="bold">Начало: {{ moment(item.date_start).format('HH:mm') }}</p>
                  <p>{{ item.address }}</p>
                  <div v-if="item.metatheme && item.metatheme.status_accr !== 'new'" class="status_accr">
                    <hr>
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
                    </svg>
                    Аккредитация:
                    <span v-if="item.metatheme && item.metatheme.date_start_accr">
                      с <span class="bold">{{ moment(item.metatheme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(item.metatheme.date_start_accr).format('HH:mm') }}</span>
                    </span>
                    <span>
                      до
                      <span v-if="item.metatheme && item.metatheme.date_end_accr" class="bold">{{ moment(item.metatheme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(item.metatheme.date_end_accr).format('HH:mm') }}</span>
                      <span v-else class="empty-text">н/у</span>
                    </span>
                    <div v-if="item.metatheme">Статус: {{ itemStatus(item.metatheme.status_accr) }}</div>
                  </div>
                </div>
                <div class="cell coordination-corrs">
                  <div class="employees-tags-wrapper">
                    <span class="coordination-corrs-item" v-for="employee in itemCorrespondents(item).slice(0, item.correspondentsTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </span>
                    <span v-show="itemCorrespondents(item).length > item.correspondentsTags" class="add-tags-btn" @click="item.correspondentsTags += itemCorrespondents(item).length">+{{ itemCorrespondents(item).length - item.correspondentsTags }}</span>
                  </div>
                  <el-link type="primary" @click="showAddCorrespondents(item)">+ Добавить корреспондента</el-link>
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.commentColumn" rowspan="1" colspan="1">
              <span class="empty-text" v-if="!item.comment">Не указан</span>
              <div class="cell comment" v-if="item.comment">{{ item.comment }}</div>
            </td>
            <td v-if="columnsFilter.shootingColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemGroupShooting(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else class="employees-tags-wrapper">
                  <div v-for="employee in itemGroupShooting(item).slice(0, item.groupShootingTags)" :key="employee.id">
                    {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                    <el-popconfirm
                      title="Вы уверены?"
                      @confirm="deleteResource(item, employee, 'employee')"
                    >
                      <i slot="reference" class="el-icon-delete delete-resource"></i>
                        Обновить
                    </el-popconfirm>
                  </div>
                  <span v-show="itemGroupShooting(item).length > item.groupShootingTags" class="add-tags-btn" @click="item.groupShootingTags += itemGroupShooting(item).length">+{{ itemGroupShooting(item).length - item.groupShootingTags }}</span>
                </div>
                <el-link type="primary" @click="showAddShootingGroup(item)">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.hardwareColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="item.metatheme_hardwares.length === 0" class="empty-text">Не добавлено</div>
                <div v-else class="tags-wrapper">
                  <el-tooltip v-for="hardware in item.metatheme_hardwares.slice(0, item.hardwaresTags)" :key="'H'+hardware.id" class="item" effect="dark" :content="hardware.name" placement="right">
                    <el-tag class="hardware-tag" size="mini" >{{ hardware.name }}</el-tag>
                  </el-tooltip>
                  <span v-show="item.metatheme_hardwares.length> item.hardwaresTags" class="add-tags-btn" @click="item.hardwaresTags += item.metatheme_hardwares.length">+{{ item.metatheme_hardwares.length - item.hardwaresTags }}</span>
                </div>
                <el-link type="primary" @click="showEditForm(item)">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.carsColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemDrivers(item).length === 0 && itemCars(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else>
                  <div class="employees-tags-wrapper employees-tags-wrapper__cars">
                    <div v-for="car in itemCars(item).slice(0, item.carsTags)" :key="'car'+car.id">{{ car.name }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, car, 'tech_resource')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </div>
                    <span v-show="itemCars(item).length > item.carsTags" class="add-tags-btn" @click="item.carsTags += itemCars(item).length">+{{ itemCars(item).length - item.carsTags }}</span>
                  </div>
                  <div class="employees-tags-wrapper">
                    <div v-for="employee in itemDrivers(item).slice(0, item.driversTags)" :key="employee.id">
                      {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </div>
                    <span v-show="itemDrivers(item).length > item.driversTags" class="add-tags-btn" @click="item.driversTags += itemDrivers(item).length">+{{ itemDrivers(item).length - item.driversTags }}</span>
                  </div>
                </div>
                <el-link type="primary" @click="showAddCarsDrivers(item)">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.statusColumn" rowspan="1" colspan="1" class="coordination-status-td">
              <div class="cell centered coordination-status">
                <el-tooltip class="item" effect="dark" content="Координация статус" placement="bottom">
                  <el-button
                    :class="{ 'el-button--success': item.status_coord === 'done', 'el-button--warning': item.status_coord === 'coord' }"
                    size="mini"
                    @click="handleChangeStatus(item)">
                    К <i :class="{ 'el-icon-success': item.status_coord === 'done', 'el-icon-warning': item.status_coord === 'coord' }"></i>
                  </el-button>
                </el-tooltip>
                <div v-if="item.author" class="coordination-author">
                  Заказ: {{ item.author }}
                  <el-tooltip
                    v-if="!item.duty_group"
                    effect="dark"
                    content="История изменений"
                    placement="bottom"
                  >
                    <el-button
                      class="history-btn"
                      type="primary"
                      size="mini"
                      icon="el-icon-time"
                      @click="showHistory(item)"
                    >
                    </el-button>
                  </el-tooltip>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="item.expand_row === true" class="tr-expanded">
            <td rowspan="1" :colspan="expandRowColspan">
              <div class="cell">
                <p class="bold">Описание:</p>
                <div class="description" v-if="!item.urgent_departure && item.metatheme.description" v-html="item.metatheme.description"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <el-pagination
        class="coordination-pagination"
        background
        layout="total, sizes, prev, pager, next, jumper"
        :current-page.sync="pagination.page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="queries.limit"
        :total="pagination.total"
        @size-change="handleSizeChange"
        @current-change="handlerPageChange"
      >
      </el-pagination>
    </div>

    <el-dialog
      class="coordination-urgent-departure-create-form"
      title="Добавление срочного выезда"
      :visible.sync="createUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateUrgentDeparture"
    >
      <CreateUrgentDeparture
        @hideCreateUrgentDeparture="hideCreateUrgentDeparture"
        @created="addNewUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="coordination-urgent-departure-edit-form"
      :title="editUrgentDepartureTitle"
      :visible.sync="editUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditUrgentDeparture"
    >
      <EditUrgentDeparture
        :curUrgentDeparture="curUrgentDeparture"
        @hideEditUrgentDeparture="hideEditUrgentDeparture"
        @edited="editUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="coordination-shooting-create-form"
      :title="createFormTitle"
      :visible.sync="createShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateShootingForm"
    >
      <CreateShootingCoordination
        :theme="theme"
        @hideCreateShootingForm="hideCreateShootingForm"
        @created="addNewShooting"
      />
    </el-dialog>

    <el-dialog
      class="coordination-shooting-edit-form"
      :title="editFormTitle"
      :visible.sync="editShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditShootingForm"
    >
      <EditShooting
        :curShooting="curShooting"
        @hideEditShootingForm="hideEditShootingForm"
        @edited="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление корреспондентов на съёмку"
      :visible.sync="addCorrespondentsVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCorrespondents
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="fetchShootings"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление съемочной группы на съёмку"
      :visible.sync="addShootingGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddShootingGroup
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="fetchShootings"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление машин, водителей на съёмку"
      :visible.sync="addCarsDriversVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCarsDrivers
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="fetchShootings"
      />
    </el-dialog>
    
    <el-dialog
      class="coordination-show-history"
      title="История изменений:"
      :visible.sync="showHistoryVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideHistory"
    >
      <ShowShootingHistory
        :historyShooting="historyShooting"
        @hideHistory="hideHistory"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import CreateUrgentDeparture from '@/components/urgentdepartures/CreateUrgentDeparture'
import EditUrgentDeparture from '@/components/urgentdepartures/EditUrgentDeparture'
import CreateShootingCoordination from '@/components/shootings/CreateShootingCoordination'
import EditShooting from '@/components/shootings/EditShooting'
import AddCorrespondents from '@/components/shootings/AddCorrespondents'
import AddShootingGroup from '@/components/shootings/AddShootingGroup'
import AddCarsDrivers from '@/components/shootings/AddCarsDrivers'
import ShowShootingHistory from '@/components/coordination/ShowShootingHistory'

export default {
  name: 'coordinationneeded',
  metaInfo: {
    title: 'Требуется координация'
  },
  components: {
    CreateUrgentDeparture,
    EditUrgentDeparture,
    CreateShootingCoordination,
    EditShooting,
    AddCorrespondents,
    AddShootingGroup,
    AddCarsDrivers,
    ShowShootingHistory
  },
  data() {
    return {
      loading: false,
      shootings: [],
      shootingsCoordCount: 0,
      queries: {
        start: 0,
        limit: 10,
        sortParam: 'date_start:desc'
      },
      pagination: {
        page: +this.$route.query.page || 1,
        total: 0
      },
      columnsFilter: {
        dateDepartureColumn: true,
        dateArrivalColumn: true,
        nameColumn: true,
        commentColumn: true,
        shootingColumn: true,
        hardwareColumn: true,
        carsColumn: true,
        statusColumn: true
      },
      theme: null,
      curShooting: null,
      curUrgentDeparture: null,
      addCorrespondentsVisible: false,
      addShootingGroupVisible: false,
      addCarsDriversVisible: false,
      createUrgentDepartureVisible: false,
      createShootingVisible: false,
      editUrgentDepartureVisible: false,
      editShootingVisible: false,
      createFormTitle: null,
      editFormTitle: null,
      editUrgentDepartureTitle: null,
      showHistoryVisible: false,
      historyShooting: null
    }
  },
  async mounted() {
    this.fetchShootings()
    const query = qs.stringify({ 
      _where: {
        _or: [[
          { 'personal_ne': true },
          { 'status_coord': 'coord' }
        ]]
      }
    })
    let params = {
      _limit: -1
    }
    this.pagination.total = await this.$store.dispatch('fetchShootingsCount', {query, params})
  },
  watch: {
    queries: {
      immediate: true,
      deep: true,
      async handler() {
        this.fetchShootings()
      }
    },
    '$store.state.coordination.coordinationUpdated': function () {
      this.fetchShootings()
    },
    updated: function () {
      this.fetchShootings()
    }
  },
  computed: {
    expandRowColspan() {
      let cols = 1
      for (let key in this.columnsFilter) {
        if (this.columnsFilter[key]) {
          cols++
        }
      }
      return cols
    }
  },
  methods: {
    handlerPageChange(page) {
      this.$router.push(`${this.$route.path}?page=${page}`)
      this.pagination.page = page
      this.queries.start = this.queries.limit * page - this.queries.limit
    },
    handleSizeChange(size) {
      this.queries.limit = size
    },
    async fetchShootings() {
      this.loading = true
      this.queries.start = this.queries.limit * this.pagination.page - this.queries.limit || 0
      const query = qs.stringify({ 
        _where: {
          _or: [
              [
                { 'status_coord': 'coord' },
                { 'personal_ne': true }
              ]
            ]
        }
      })
      let params = {
        _sort: this.queries.sortParam,
        _start: this.queries.start,
        _limit: this.queries.limit
      }
      this.shootings = await this.$store.dispatch('fetchShootings', {query, params})
      for (let i = 0; i < this.shootings.length; i++) {
        this.$set(this.shootings[i], 'correspondentsTags', 3)
        this.$set(this.shootings[i], 'hardwaresTags', 3)
        this.$set(this.shootings[i], 'groupShootingTags', 3)
        this.$set(this.shootings[i], 'driversTags', 3)
        this.$set(this.shootings[i], 'carsTags', 1)
      }
      this.loading = false
    },
    handleDropdownClick(command) {
      switch (command.name) {
        case 'add':
          this.showCreateForm(command.item)
          break
        case 'edit':
          this.showEditForm(command.item)
          break
      }
    },
    showExpandRow(item) {
      item.expand_row ? this.$set(item, 'expand_row', false) : this.$set(item, 'expand_row', true)
    },
    async handleChangeStatus(item) {
      try {
        this.loading = true
        await this.$store.dispatch('editShooting', {id: item.id, status_coord: 'done'})
        .then(async (res) => {
          if (!item.urgent_departure) {
            await this.$store.dispatch('fetchMetathemeById', res.data.metatheme.id)
            .then(async (response) => {
              let arr = []
              for (let i = 0; i < response.shootings.length; i++) {
                arr.push(response.shootings[i].status_coord)
              }
              if (arr.every(e => e !== 'coord')) {
                await this.$store.dispatch('editMetatheme', {id: response.id, status_coord: 'done'})
              }
            })
          }
          this.fetchShootings()
          this.loading = false
          this.$message.success('Статус изменен')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    itemReserved(reserved) {
      switch (reserved) {
        case 'ordinary':
          return 'Обычный'
        case 'reserve':
          return 'Резерв'
      }
    },
    itemStatus(status) {
      switch (status) {
        case 'need':
          return 'Требуется аккредитация'
        case 'progress':
          return 'Аккредитация запрошена'
        case 'done':
          return 'Аккредитация получена'
      }
    },
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    async deleteResource(item, resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        item.tech_resources.splice(item.tech_resources.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, tech_resources: item.tech_resources})
      } else if (type === 'employee') {
        item.employees.splice(item.employees.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, employees: item.employees})
        if (resource.employee_role === 4 && item.metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
          for (let i = 0; i < item.shootings_child.length; i++) {
            if (item.shootings_child[i].personalType === 'Командировка') {
              for (let j = 0; j < item.shootings_child[i].employees.length; j++) {
                if (item.shootings_child[i].employees[j].id === resource.id) {
                  await this.$store.dispatch('deleteShooting', item.shootings_child[i].id)
                }
              }
            }
          }
        }
      }
      this.loading = false
    },
    async showCreateForm(item) {
      if (item.urgent_departure) {
        this.createUrgentDepartureVisible = true
      } else {
        this.theme = await this.$store.dispatch('fetchMetathemeById', item.metatheme.id)
        this.createFormTitle = `Добавление съемки в тему "${item.metatheme.name}"`
        this.createShootingVisible = true
      }
    },
    showEditForm(item) {
      if (item.urgent_departure) {
        this.curUrgentDeparture = item
        this.editUrgentDepartureTitle = `Изменение срочного выезда "${item.name}"`
        this.editUrgentDepartureVisible = true
      } else {
        this.curShooting = item
        this.editFormTitle = `Изменение съемки "${item.name}"`
        this.editShootingVisible = true
      }
    },
    hideCreateUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    hideCreateShootingForm() {
      this.createShootingVisible = false
    },
    hideEditUrgentDeparture() {
      this.editUrgentDepartureVisible = false
    },
    hideEditShootingForm() {
      this.editShootingVisible = false
    },
    addNewUrgentDeparture() {
      this.createUrgentDepartureVisible = false
      this.fetchShootings()
    },
    addNewShooting() {
      this.createShootingVisible = false
      this.fetchShootings()
    },
    editUrgentDeparture() {
      this.editUrgentDepartureVisible = false
      this.fetchShootings()
    },
    editShooting() {
      this.editShootingVisible = false
      this.fetchShootings()
    },
    showAddCorrespondents(item) {
      this.curShooting = item
      this.addCorrespondentsVisible = true
    },
    showAddShootingGroup(item) {
      this.curShooting = item
      this.addShootingGroupVisible = true
    },
    showAddCarsDrivers(item) {
      this.curShooting = item
      this.addCarsDriversVisible = true
    },
    hideAddEmployees() {
      this.addCorrespondentsVisible = false
      this.addShootingGroupVisible = false
      this.addCarsDriversVisible = false
    },
    showHistory(item) {
      this.historyShooting = item
      this.showHistoryVisible = true
    },
    hideHistory() {
      this.showHistoryVisible = false
      this.historyShooting = null
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>

<style src="./Coordination.vue" lang="scss"></style>
<style lang="scss">
.coordination-pagination {
  background: #f7f7f7;
  text-align: center;
}
</style>