<template>
  <div class="coordination-page">
    <div class="coordination-tabs" v-if="screenWidth <= 1100">
      <el-tabs v-model="activeTab" v-touch:swipe="swipeTabs">
        <el-tab-pane label="Основные" name="basic"></el-tab-pane>
        <el-tab-pane label="Дополнительные" name="additional"></el-tab-pane>
        <el-tab-pane label="Трансляции и Пулы" name="pools"></el-tab-pane>
      </el-tabs>
    </div>

    <CoordinationBasic
      v-show="screenWidth > 1100 || (screenWidth <= 1100 && activeTab === 'basic')"
      @showCreateForm="showCreateForm"
      @showEditForm="showEditForm"
      :updated="updated"
      @updatedStatus="updatedStatus"
    />

    <CoordinationAdditional
      v-show="screenWidth > 1100 || (screenWidth <= 1100 && activeTab === 'additional')"
      @showCreateForm="showCreateForm"
      @showEditForm="showEditForm"
      :updated="updated"
      @updatedStatus="updatedStatus"
    />

    <CoordinationPools
      v-show="screenWidth > 1100 || (screenWidth <= 1100 && activeTab === 'pools')"
      @showCreateForm="showCreateForm"
      @showEditForm="showEditForm"
      :updated="updated"
      @updatedStatus="updatedStatus"
    />

    <el-dialog
      class="coordination-urgent-departure-create-form"
      title="Добавление срочного выезда"
      :visible.sync="createUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateUrgentDeparture"
    >
      <CreateUrgentDeparture
        @hideCreateUrgentDeparture="hideCreateUrgentDeparture"
        @created="addNewUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="coordination-urgent-departure-edit-form"
      :title="editUrgentDepartureTitle"
      :visible.sync="editUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditUrgentDeparture"
    >
      <EditUrgentDeparture
        :curUrgentDeparture="curUrgentDeparture"
        @hideEditUrgentDeparture="hideEditUrgentDeparture"
        @edited="editUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="coordination-shooting-create-form"
      :title="createFormTitle"
      :visible.sync="createShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateShootingForm"
    >
      <CreateShootingCoordination
        :theme="theme"
        @hideCreateShootingForm="hideCreateShootingForm"
        @created="addNewShooting"
      />
    </el-dialog>

    <el-dialog
      class="coordination-shooting-edit-form"
      :title="editFormTitle"
      :visible.sync="editShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditShootingForm"
    >
      <EditShooting
        :curShooting="curShooting"
        @hideEditShootingForm="hideEditShootingForm"
        @edited="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="coordination-duty-group-create-form"
      title="Добавление дежурной группы"
      :visible.sync="createDutyGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateDutyGroup"
    >
      <CreateDutyGroup
        @hideCreateDutyGroup="hideCreateDutyGroup"
        @created="addNewDutyGroup"
      />
    </el-dialog>

    <el-dialog
      class="coordination-duty-group-edit-form"
      :title="editDutyGroupTitle"
      :visible.sync="editDutyGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditDutyGroup"
    >
      <EditDutyGroup
        :curDutyGroup="curDutyGroup"
        @hideEditDutyGroup="hideEditDutyGroup"
        @edited="editDutyGroup"
      />
    </el-dialog>

    <el-dialog
      class="coordination-coordination-event-create-form"
      title="Добавление события"
      :visible.sync="createCoordinationEventVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateCoordinationEvent"
    >
      <CreateCoordinationEvent
        @hideCreateCoordinationEvent="hideCreateCoordinationEvent"
        @created="addNewCoordinationEvent"
      />
    </el-dialog>

    <el-dialog
      class="coordination-coordination-event-edit-form"
      :title="editCoordinationEventTitle"
      :visible.sync="editCoordinationEventVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditCoordinationEvent"
    >
      <EditCoordinationEvent
        :curCoordinationEvent="curCoordinationEvent"
        @hideEditCoordinationEvent="hideEditCoordinationEvent"
        @edited="editCoordinationEvent"
      />
    </el-dialog>
  </div>
</template>

<script>
import CoordinationBasic from '@/components/coordination/CoordinationBasic'
import CoordinationAdditional from '@/components/coordination/CoordinationAdditional'
import CoordinationPools from '@/components/coordination/CoordinationPools'
import CreateUrgentDeparture from '@/components/urgentdepartures/CreateUrgentDeparture'
import EditUrgentDeparture from '@/components/urgentdepartures/EditUrgentDeparture'
import CreateShootingCoordination from '@/components/shootings/CreateShootingCoordination'
import EditShooting from '@/components/shootings/EditShooting'
import CreateDutyGroup from '@/components/shootings/CreateDutyGroup'
import EditDutyGroup from '@/components/shootings/EditDutyGroup'
import CreateCoordinationEvent from '@/components/shootings/CreateCoordinationEvent'
import EditCoordinationEvent from '@/components/shootings/EditCoordinationEvent'

export default {
  name: 'coordination',
  metaInfo: {
    title: 'Координация'
  },
  components: {
    CoordinationBasic,
    CoordinationAdditional,
    CoordinationPools,
    CreateUrgentDeparture,
    EditUrgentDeparture,
    CreateShootingCoordination,
    EditShooting,
    CreateDutyGroup,
    EditDutyGroup,
    CreateCoordinationEvent,
    EditCoordinationEvent
  },
  data() {
    return {
      activeTab: 'basic',
      createUrgentDepartureVisible: false,
      createShootingVisible: false,
      createDutyGroupVisible: false,
      createCoordinationEventVisible: false,
      editUrgentDepartureVisible: false,
      editShootingVisible: false,
      editDutyGroupVisible: false,
      editCoordinationEventVisible: false,
      createFormTitle: null,
      editFormTitle: null,
      editUrgentDepartureTitle: null,
      editDutyGroupTitle: null,
      editCoordinationEventTitle: null,
      theme: null,
      curShooting: null,
      curUrgentDeparture: null,
      curDutyGroup: null,
      curCoordinationEvent: null,
      updated: false,
      screenWidth: 0
    }
  },
  mounted() {
    this.screenWidth = window.innerWidth
    window.addEventListener('resize', this.updateWidth)
  },
  methods: {
    async showCreateForm(item) {
      if (item.urgent_departure) {
        this.createUrgentDepartureVisible = true
      } else if (item.duty_group) {
        this.createDutyGroupVisible = true
      } else if (item.coordination_event) {
        this.createCoordinationEventVisible = true
      } else {
        this.theme = await this.$store.dispatch('fetchMetathemeById', item.metatheme.id)
        this.createFormTitle = `Добавление съемки в тему "${item.metatheme.name}"`
        this.createShootingVisible = true
      }
    },
    showEditForm(item) {
      if (item.urgent_departure) {
        this.curUrgentDeparture = item
        this.editUrgentDepartureTitle = `Изменение срочного выезда "${item.name}"`
        this.editUrgentDepartureVisible = true
      } else if (item.duty_group) {
        this.curDutyGroup = item
        this.editDutyGroupTitle = `Изменение дежурной группы "${item.name}"`
        this.editDutyGroupVisible = true
      } else if (item.coordination_event) {
        this.curCoordinationEvent = item
        this.editCoordinationEventTitle = `Изменение события "${item.name}"`
        this.editCoordinationEventVisible = true
      } else {
        this.curShooting = item
        this.editFormTitle = `Изменение съемки "${item.name}"`
        this.editShootingVisible = true
      }
    },
    hideCreateUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    hideCreateShootingForm() {
      this.createShootingVisible = false
    },
    hideCreateDutyGroup() {
      this.createDutyGroupVisible = false
    },
    hideCreateCoordinationEvent() {
      this.createCoordinationEventVisible = false
    },
    hideEditUrgentDeparture() {
      this.editUrgentDepartureVisible = false
    },
    hideEditShootingForm() {
      this.editShootingVisible = false
    },
    hideEditDutyGroup() {
      this.editDutyGroupVisible = false
      this.updated = !this.updated
    },
    hideEditCoordinationEvent() {
      this.editCoordinationEventVisible = false
      this.updated = !this.updated
    },
    addNewUrgentDeparture() {
      this.createUrgentDepartureVisible = false
      this.updated = !this.updated
    },
    addNewDutyGroup() {
      this.createDutyGroupVisible = false
      this.updated = !this.updated
    },
    addNewCoordinationEvent() {
      this.createCoordinationEventVisible = false
      this.updated = !this.updated
    },
    addNewShooting() {
      this.createShootingVisible = false
      this.updated = !this.updated
    },
    editUrgentDeparture() {
      this.editUrgentDepartureVisible = false
      this.updated = !this.updated
    },
    editDutyGroup() {
      this.editDutyGroupVisible = false
      this.updated = !this.updated
    },
    editCoordinationEvent() {
      this.editCoordinationEventVisible = false
      this.updated = !this.updated
    },
    editShooting() {
      this.editShootingVisible = false
      this.updated = !this.updated
    },
    updatedStatus() {
      this.updated = !this.updated
    },
    updateWidth() {
      this.screenWidth = window.innerWidth
    },
    swipeTabs(direction) {
      const next = document.querySelector('.el-tabs__nav-next')
      const prev = document.querySelector('.el-tabs__nav-prev')
      if (direction === 'left' && next) {
        next.click()
      } else if (direction === 'right' && prev) {
        prev.click()
      }
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.updateWidth)
  }
}
</script>

<style lang="scss">
.coordination-title {
  padding: 15px;
  margin: 0;
}
.coordination-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background: #fff;
  &__right {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  & .refresh-btn {
    margin-right: 10px;
  }
}
.coordination-duty-corrs {
  line-height: 24px;
  padding: 15px 15px 0 15px;
  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__employee {
    &::after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}
.coordination-table {
  margin-bottom: 30px;
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .cell {
    word-break: keep-all;
  }
  & tr.urgently-bg {
    background-color: rgba(230, 39, 68, .1);
  }
  & tr.duty-group-bg {
    background-color: #f0e5fb;
  }
  & tr.coordination-event-bg {
    background-color: #f5e597;
    & .coordination-corrs,
    & .coordination-corrs .employees-tags-wrapper .coordination-corrs-item:first-child {
      padding-left: 0;
    }
  }
  & tr.cancelled {
    background-color: #F0F1F4;
    & .coordination-name-title {
      color: #707070;
      &::before {
        content: '[Съёмка отменена]';
        font-weight: bold;
        color: #e62744;
      }
    }
  }
  & .el-table__expand-icon {
    transition: transform .2s ease-in-out;
    &.rotate {
      transform: rotate(90deg);
    }
  }
  & .coordination-name {
    font-size: 12px;
    background: #F7F7F7;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    & > p {
      line-height: 16px;
      margin: 0;
    }
  }
  & .comment {
    font-size: 12px;
  }
  & .coordination-corrs .employees-tags-wrapper > span {
    padding: 0 5px;
  }
  & .coordination-corrs-item {
    display: inline-block;
  }
  & .hardware-tag {
    width: 136px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    & + .add-tags-btn {
      vertical-align: top;
    }
  }
  & .coordination-status-td {
    position: relative;
  }
  & .coordination-status {
    & .el-button--mini {
      padding: 7px 7px;
    }
  }
  & .status_accr {
    font-weight: bold;
    font-size: 12px;
    & svg {
      width: 23px;
      height: 23px;
      vertical-align: middle;
      fill: #E6A23C;
      stroke: #000;
      margin: 0 -5px;
    }
  }
  & .coordination-author {
    position: absolute;
    width: max-content;
    right: 15px;
    bottom: 5px;
  }
}
.coordination-shooting-create-form .el-dialog,
.coordination-shooting-edit-form .el-dialog,
.coordination-urgent-departure-create-form .el-dialog,
.coordination-urgent-departure-edit-form .el-dialog,
.coordination-duty-group-create-form .el-dialog,
.coordination-duty-group-edit-form .el-dialog,
.coordination-coordination-event-create-form .el-dialog,
.coordination-coordination-event-edit-form .el-dialog,
.coordination-show-history .el-dialog {
  width: 950px;
}
.coordination-print {
  overflow: inherit;
  & .centered {
    text-align: center;
  }
  & .comment {
    word-break: break-all;
  }
  & table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 12px;
    & th, td {
      border: 1px solid #000;
      padding: 2px 5px;
    }
  }
}
#basic, #additional, #pools,
#coordination-basic-mobile,
#coordination-additional-mobile,
#coordination-pools-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .coordination-page {
    padding-top: 42px;
    & .coordination-tabs {
      height: 50px;
      max-width: 100%;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        right: -5px;
        bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid #E4E4E4;
        border-top: 1px solid #E4E4E4;
      }
      & .el-tabs__nav {
        padding: 5px 0;
        &-prev, &-next {
          line-height: 50px;
        }
      }
      & .el-tabs__nav-wrap::after {
        display: none;
      }
      & .el-tabs__item {
        padding: 0px 10px;
      }
      & .el-tabs__active-bar {
        left: 0;
      }
    }
  }
  .coordination-heading {
    position: relative;
    padding: 5px 0;
    &::before, &::after {
      content: '';
      display: block;
      width: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
    &__right {
      display: none;
    }
  }
  .coordination-title {
    font-size: 18px;
  }
  .coordination-table {
    display: none;
  }
  #coordination-basic-mobile,
  #coordination-additional-mobile,
  #coordination-pools-mobile {
    display: block;
  }
}
</style>