<template>
  <div
    v-loading.fullscreen.lock="loading"
    class="employee-schedule"
    :class="{ 'small-rows': hideShootingsCheckbox }"
  >
    <div class="employee-schedule__absolute-block employee-schedule__absolute-block--left">
      <el-checkbox-button
        class="employee-schedule__show-comments"
        v-model="showCommentsCheckbox"
        :label="showCommentsCheckbox ? 'Скрыть комментарии' : 'Показать комментарии'"
      >
      </el-checkbox-button>
    </div>
    <div class="employee-schedule__absolute-block employee-schedule__absolute-block--right">
      <el-checkbox-button
        class="employee-schedule__hide-checkbox"
        v-model="hideShootingsCheckbox"
        :label="hideShootingsCheckbox ? 'Показать съёмки' : 'Скрыть съёмки'"
      >
      </el-checkbox-button>
      <el-tooltip
        class="item"
        effect="dark"
        content="Печать"
      >
        <el-button
          class="employee-schedule__print-btn"
          :disabled="printOptions.preset !== 'resourceTimelineMonth' ? false: true"
          :loading="disabledPrintBtn"
          type="primary"
          icon="el-icon-printer"
          size="medium"
          v-print="print"
        >
        </el-button>
      </el-tooltip>
    </div>

    <FullCalendar
      :options="config"
      ref="fullCalendar"
    />

    <div id="printBlock">
      <PrintPresetDay
        v-if="printOptions.preset === 'resourceTimelineDay'"
        :printOptions="printOptions"
        @loadingPrint="loadingPrint"
      />
      <PrintPresetWeek
        v-if="printOptions.preset === 'resourceTimelineWeek'"
        :printOptions="printOptions"
        @loadingPrint="loadingPrint"
      />
      <PrintPreset2Week
        v-if="printOptions.preset === 'resourceTimeline2Week'"
        :printOptions="printOptions"
        @loadingPrint="loadingPrint"
      />
    </div>

    <el-dialog
      class="employee-schedule__create-form-dialog"
      :title="createPersonalShootingTitle"
      :visible.sync="createPersonalShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreatePersonalShooting"
    >
      <CreatePersonalShooting
        :curEmployeeId="curEmployeeId"
        :curDate="curDate"
        @changeCreatePersonalShootingTitle="changeCreatePersonalShootingTitle"
        @hideCreatePersonalShooting="hideCreatePersonalShooting"
        @updatePersonalShootings="updatePersonalShootings"
      />
    </el-dialog>

    <el-dialog
      class="employee-schedule__edit-form-dialog"
      :title="editPersonalShootingTitle"
      :visible.sync="editPersonalShootingVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditPersonalShooting"
    >
      <EditPersonalShooting
        :editedShooting="editedShooting"
        @hideEditPersonalShooting="hideEditPersonalShooting"
        @updatePersonalShootings="updatePersonalShootings"
      />
    </el-dialog>

    <el-dialog
      class="employee-schedule-shooting-edit-form"
      :title="editShootingFormTitle"
      :visible.sync="editShootingFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditShootingForm"
    >
      <EditShooting
        :curShooting="curShooting"
        @hideEditShootingForm="hideEditShootingForm"
        @edited="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="employee-schedule-urgent-departure-edit-form"
      :title="editUrgentDepartureTitle"
      :visible.sync="editUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditUrgentDeparture"
    >
      <EditUrgentDeparture
        :curUrgentDeparture="curUrgentDeparture"
        @hideEditUrgentDeparture="hideEditUrgentDeparture"
        @edited="editShooting"
      />
    </el-dialog>

    <el-dialog
      class="employee-schedule-duty-group-edit-form"
      :title="editDutyGroupTitle"
      :visible.sync="editDutyGroupVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditDutyGroup"
    >
      <EditDutyGroup
        :curDutyGroup="curDutyGroup"
        @hideEditDutyGroup="hideEditDutyGroup"
        @edited="editShooting"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import '@fullcalendar/core/vdom'
import FullCalendar from '@fullcalendar/vue'
import ruLocale from '@fullcalendar/core/locales/ru'
import interactionPlugin from '@fullcalendar/interaction'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import CreatePersonalShooting from '@/components/employeeschedule/CreatePersonalShooting'
import EditPersonalShooting from '@/components/employeeschedule/EditPersonalShooting'
import EditShooting from '@/components/shootings/EditShooting'
import EditUrgentDeparture from '@/components/urgentdepartures/EditUrgentDeparture'
import EditDutyGroup from '@/components/shootings/EditDutyGroup'
import PrintPresetDay from '@/components/employeeschedule/print/PrintPresetDay'
import PrintPresetWeek from '@/components/employeeschedule/print/PrintPresetWeek'
import PrintPreset2Week from '@/components/employeeschedule/print/PrintPreset2Week'

export default {
  name: 'employeeschedule',
  metaInfo: {
    title: 'График сотрудников'
  },
  components: {
    FullCalendar,
    CreatePersonalShooting,
    EditPersonalShooting,
    EditShooting,
    EditUrgentDeparture,
    EditDutyGroup,
    PrintPresetDay,
    PrintPresetWeek,
    PrintPreset2Week
  },
  data() {
    return {
      loading: true,
      resources: [],
      events: [],
      hideShootingsCheckbox: false,
      showCommentsCheckbox: false,
      createPersonalShootingVisible: false,
      createPersonalShootingTitle: null,
      editPersonalShootingVisible: false,
      editPersonalShootingTitle: null,
      editedShooting: null,
      curEmployeeId: null,
      curDate: null,
      editShootingFormTitle: null,
      editShootingFormVisible: false,
      curShooting: null,
      editUrgentDepartureTitle: null,
      editUrgentDepartureVisible: null,
      curUrgentDeparture: null,
      editDutyGroupTitle: null,
      editDutyGroupVisible: false,
      curDutyGroup: null,
      disabledPrintBtn: false,
      printOptions: {
        preset: null,
        onlyPersonalShootings: false,
        datePrintStart: null,
        datePrintEnd: null,
        role: null,
        location: null
      },
      print: {
        id: 'printBlock',
        popTitle: 'График сотрудников',
        preview: true,
        previewTitle: 'Предварительный просмотр',
        previewPrintBtnLabel: 'Печать',
        previewBeforeOpenCallback() {
          const iframe = document.getElementById('printArea_1')
          const contDoc = iframe.contentDocument || iframe.contentWindow.document
          contDoc.getElementById('printBlock').style.display = 'block'
        }
      }
    }
  },
  async mounted() {
    const oneDayButton = this.$refs.fullCalendar.$el.querySelector('.fc-oneDay-button')
    oneDayButton.classList.add('current-view-btn')
  },
  watch: {
    '$store.state.employeeschedule.employeeScheduleQueries': {
      immediate: true,
      deep: true,
      async handler() {
        await this.fetchEmployees()
        this.changePrintOptions()
      }
    },
    '$store.state.employeeschedule.employeeScheduleDate': async function () {
      this.$refs.fullCalendar.getApi().gotoDate(this.$store.state.employeeschedule.employeeScheduleDate)
      await this.fetchEmployees()
      this.changePrintOptions()
    },
    '$store.state.employeeschedule.employeeScheduleEvent': async function () {
      await this.fetchEmployees()
      this.changePrintOptions()
    },
    hideShootingsCheckbox: {
      immediate: false,
      async handler() {
        await this.fetchEmployees()
        this.changePrintOptions()
      }
    },
    showCommentsCheckbox: {
      immediate: false,
      handler() {
        let calendarApi = this.$refs.fullCalendar.getApi()
        if (this.showCommentsCheckbox) {
          calendarApi.setOption('resourceAreaWidth', '611px')
          calendarApi.setOption('resourceAreaColumns', [
            {
              headerContent: 'Сотрудники',
              field: 'title',
              width: '360px'
            },
            {
              headerContent: 'Комментарий',
              width: '250px',
              cellContent: (arg) => {
                let textarea = document.createElement('textarea')
                textarea.className = 'employee-schedule__comment-textarea'
                textarea.value = arg.resource.extendedProps.comment_calendar
                textarea.placeholder = 'Кликните, чтобы добавить комментарий'
                textarea.setAttribute('resourceId', arg.resource.id)
                return { domNodes: [ textarea ] }
              }
            }
          ])
          document.addEventListener('change', this.changeComment)
        } else {
          calendarApi.setOption('resourceAreaWidth', '360px')
          calendarApi.setOption('resourceAreaColumns', [
            {
              headerContent: 'Сотрудники',
              field: 'title',
              width: '360px'
            }
          ])
          document.removeEventListener('change', this.changeComment)
        }
      }
    }
  },
  computed: {
    config() {
      return {
        ...this.configOptions,
        ...this.eventHandlers
      }
    },
    configOptions() {
      return {
        locale: ruLocale,
        plugins: [ resourceTimelinePlugin, interactionPlugin ],
        height: '91.5vh',
        stickyHeaderDates: false,
        scrollTime: '00:00:00',
        slotDuration: '01:00:00',
        initialView: 'resourceTimelineDay',
        views: {
          resourceTimeline2Week: {
            type: 'resourceTimeline',
            duration: { weeks: 2 },
            buttonText: '2 недели',
          }
        },
        slotLabelContent: (arg) => {
          if (arg.view.type === 'resourceTimelineDay') {
            let HH = this.moment(arg.date).format('HH')
            let el = document.createElement('span')
            el.classList.add('fc-custom-slot-label')
            el.innerHTML = `<span class="fc-custom-day-number">${HH}</span>`
            return {domNodes: [el]}
          } else {
            let DD = this.moment(arg.date).format('DD')
            let ddd = this.moment(arg.date).locale('ru').format('ddd')
            let el = document.createElement('span')
            el.classList.add('fc-custom-slot-label')
            el.innerHTML = `<span class="fc-custom-day-week">${ddd}, </span><span class="fc-custom-day-number">${DD}</span>`
            return {domNodes: [el]}
          }
        },
        customButtons: { 
          oneDay: {
            text: '1 день',
            click: async (e) => {
              const btn = this.$refs.fullCalendar.$el.querySelector('.current-view-btn')
              btn.classList.remove('current-view-btn')
              e.target.classList.add('current-view-btn')
              let calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.changeView('resourceTimelineDay')
              calendarApi.setOption('slotDuration', '01:00:00')
              await this.fetchEmployees()
              this.changePrintOptions() 
            }
          },
          oneWeek: {
            text: '1 неделя',
            click: async (e) => {
              const btn = this.$refs.fullCalendar.$el.querySelector('.current-view-btn')
              btn.classList.remove('current-view-btn')
              e.target.classList.add('current-view-btn')
              let calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.changeView('resourceTimelineWeek')
              calendarApi.setOption('slotDuration', { days: 1 })
              await this.fetchEmployees()
              this.changePrintOptions()
            }
          },
          twoWeek: {
            text: '2 недели',
            click: async (e) => {
              const btn = this.$refs.fullCalendar.$el.querySelector('.current-view-btn')
              btn.classList.remove('current-view-btn')
              e.target.classList.add('current-view-btn')
              let calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.changeView('resourceTimeline2Week')
              calendarApi.setOption('slotDuration', { days: 1 })
              await this.fetchEmployees()
              this.changePrintOptions()
            }
          },
          month: {
            text: 'Месяц',
            click: async (e) => {
              const btn = this.$refs.fullCalendar.$el.querySelector('.current-view-btn')
              btn.classList.remove('current-view-btn')
              e.target.classList.add('current-view-btn')       
              let calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.changeView('resourceTimelineMonth')
              calendarApi.setOption('slotDuration', { days: 1 })
              await this.fetchEmployees()
              this.changePrintOptions()
            }
          },
          prev: {
            click: () => {
              let calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.prev()
              this.$store.commit('setEmployeeScheduleDate', calendarApi.getDate())
              this.changePrintOptions()
            }
          },
          next: {
            click: () => {
              let calendarApi = this.$refs.fullCalendar.getApi()
              calendarApi.next()
              this.$store.commit('setEmployeeScheduleDate', calendarApi.getDate())
              this.changePrintOptions()
            }
          }
        },
        headerToolbar: {
          start: 'oneDay,oneWeek,twoWeek,month',
          center: 'title',
          end: 'prev,next'
        },
        resources: this.resources,
        resourceAreaColumns: [
          {
            headerContent: 'Сотрудники',
            field: 'title',
            width: '360px'
          }
        ],
        resourceAreaWidth: '360px',
        resourceOrder: 'num',
        events: this.events,
        eventTextColor: '#000',
        eventClassNames: async (arg) => {
          if (arg.event.extendedProps.metatheme_aether_plans.some(ap => ap.name === 'Командировка') &&
              arg.event.extendedProps.shootings_child.length &&
              arg.event.extendedProps.shootings_child.every(sc => sc.personalType === 'Командировка')) {
            arg.event.setProp('display','none')
          }
          if (this.hideShootingsCheckbox && !arg.event.extendedProps.personal) {
            arg.event.setProp('display','none')
          }
        },
        displayEventTime: false,
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives'
      }
    },
    eventHandlers() {
      return {
        dateClick: this.onDateClick,
        eventClick: this.onEventClick
      }
    }
  },
  methods: {
    async fetchEmployees() {
      this.loading = true
      this.events = []
      let query = ''
      if (this.$store.state.employeeschedule.employeeScheduleQueries.role === 'Все') {
        query = qs.stringify({
          _where: [
            { 'location.id': this.$store.state.employeeschedule.employeeScheduleQueries.location }
          ]
        })
      } else {
        query = qs.stringify({
          _where: [
            { 'employee_role.id': this.$store.state.employeeschedule.employeeScheduleQueries.role },
            { 'location.id': this.$store.state.employeeschedule.employeeScheduleQueries.location }
          ]
        })
      }
      const employees = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees?${query}`, 
        params: { _limit: -1, _sort: 'surname:asc' }
      })
      this.resources = employees.data
      this.resources = this.resources.filter(e => !e.surname.includes('!'))
      for (let i = 0; i < this.resources.length; i++) {
        let surname = this.resources[i].surname ? this.resources[i].surname : ''
        let name = this.resources[i].name ? this.resources[i].name : ''
        let patronymic = this.resources[i].patronymic ? this.resources[i].patronymic : ''
        this.resources[i].num = i
        this.resources[i].title = `${i + 1} ${surname} ${name} ${patronymic}`
      }

      let calendarApi = this.$refs.fullCalendar.getApi()
      let dateStart = calendarApi.view.activeStart
      let dateEnd = calendarApi.view.activeEnd
      const queryEvents = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(dateStart).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lt': this.moment(dateEnd).set({hour:0,minute:0,second:0,millisecond:0}).format() }
            ],
            [
              { 'date_start_lte': this.moment(dateStart).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(dateStart).set({hour:0,minute:0,second:0,millisecond:0}).format() }
            ]
          ]
        }
      })
      const eventsRequest = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${queryEvents}`,
        params: { _limit: -1 }
      })
      let events = eventsRequest.data
      events = events.filter(e => !e.coordination_event)
      for (let i = 0; i < events.length; i++) {
        for (let j = 0; j < events[i].employees.length; j++) {
          let obj = {}
          obj.id = events[i].id
          obj.resourceId = events[i].employees[j].id
          obj.title = events[i].name
          obj.start = events[i].date_start
          obj.end = events[i].date_end
          obj.personal = events[i].personal
          obj.personalType = events[i].personalType
          obj.urgent_departure = events[i].urgent_departure
          obj.duty_group = events[i].duty_group
          obj.metatheme_aether_plans = events[i].metatheme_aether_plans
          obj.shootings_child = events[i].shootings_child
          this.events.push(obj)
        }
      }
      for (let i = 0; i < this.events.length; i++) {
        if (this.events[i].personal) {
          if (this.events[i].personalType === 'Отпуск') {
            this.events[i].backgroundColor = '#ffa500'
            this.events[i].borderColor = '#ffa500'
          }
          else if (this.events[i].personalType === 'Выходной') {
            this.events[i].backgroundColor = 'rgb(255, 51, 0)'
            this.events[i].borderColor = 'rgb(255, 51, 0)'
          }
          else if (this.events[i].personalType === 'Больничный') {
            this.events[i].backgroundColor = 'rgb(255, 255, 102)'
            this.events[i].borderColor = 'rgb(255, 255, 102)'
          }
          else if (this.events[i].personalType === 'Командировка') {
            this.events[i].backgroundColor = 'rgb(204, 204, 204)'
            this.events[i].borderColor = 'rgb(204, 204, 204)'
          }
          else if (this.events[i].personalType === 'Выпуск') {
            this.events[i].backgroundColor = 'rgb(255, 51, 255)'
            this.events[i].borderColor = 'rgb(255, 51, 255)'
          }
          else if (this.events[i].personalType === 'Срочные выезды') {
            this.events[i].backgroundColor = 'rgb(255, 204, 255)'
            this.events[i].borderColor = 'rgb(255, 204, 255)'
          }
          else if (this.events[i].personalType === 'Добров' || this.events[i].personalType === 'Итоги') {
            this.events[i].backgroundColor = 'rgb(204, 153, 0)'
            this.events[i].borderColor = 'rgb(204, 153, 0)'
          } 
          else if (this.events[i].personalType.includes('Дежурный')) {
            this.events[i].backgroundColor = 'rgb(0, 204, 255)'
            this.events[i].borderColor = 'rgb(0, 204, 255)'
          }
          else if (this.events[i].personalType.includes('Ночно')) {
            this.events[i].backgroundColor = 'rgba(124, 67, 186, 0.8)'
            this.events[i].borderColor = 'rgba(124, 67, 186, 0.8)'
          }
          else if (this.events[i].personalType === 'Тема') {
            this.events[i].backgroundColor = '#ff63ff'
            this.events[i].borderColor = '#ff63ff'
          }
        } else if (this.events[i].duty_group) {
            this.events[i].backgroundColor = '#dce63c'
            this.events[i].borderColor = '#dce63c'
        } else {
          this.events[i].backgroundColor = 'rgb(255, 204, 255)'
          this.events[i].borderColor = 'rgb(255, 204, 255)'
        }
      }
      this.loading = false
    },
    async onEventClick(target) {
      if (target.event.extendedProps.personal) {
        const employee = this.resources.filter(r => r.id === +target.event._def.resourceIds[0])
        this.editPersonalShootingTitle = employee[0].title
        this.editedShooting = await this.$store.dispatch('fetchShootingById', +target.event.id)
        this.editPersonalShootingVisible = true
      } else if (!target.event.extendedProps.personal && !target.event.extendedProps.urgent_departure && !target.event.extendedProps.duty_group) {
        this.curShooting = await this.$store.dispatch('fetchShootingById', +target.event.id)
        this.editShootingFormTitle = `Изменение съемки "${this.curShooting.name}"`
        this.editShootingFormVisible = true
      } else if (!target.event.extendedProps.personal && !target.event.extendedProps.duty_group && target.event.extendedProps.urgent_departure) {
        this.curUrgentDeparture = await this.$store.dispatch('fetchShootingById', +target.event.id)
        this.editUrgentDepartureTitle = `Изменение срочного выезда "${this.curUrgentDeparture.name}"`
        this.editUrgentDepartureVisible = true
      } else if (!target.event.extendedProps.personal && !target.event.extendedProps.urgent_departure && target.event.extendedProps.duty_group) {
        this.curDutyGroup = await this.$store.dispatch('fetchShootingById', +target.event.id)
        this.editDutyGroupTitle = `Изменение дежурной группы "${this.curDutyGroup.name}"`
        this.editDutyGroupVisible = true
      }
    },
    onDateClick(target) {
      this.curDate = target.date
      this.curEmployeeId = +target.resource.id
      this.createPersonalShootingTitle = `Сотрудник: ${target.resource.title}`
      this.createPersonalShootingVisible = true
    },
    changeCreatePersonalShootingTitle(value) {
      this.createPersonalShootingTitle = `Сотрудник: ${value}`
    },
    hideEditPersonalShooting() {
      this.editedShooting = null
      this.editPersonalShootingTitle = null
      this.editPersonalShootingVisible = false
    },
    hideCreatePersonalShooting() {
      this.createPersonalShootingTitle = null
      this.createPersonalShootingVisible = false
    },
    updatePersonalShootings() {
      this.editedShooting = null
      this.editPersonalShootingTitle = null
      this.editPersonalShootingVisible = false
      this.createPersonalShootingTitle = null
      this.createPersonalShootingVisible = false
      this.fetchEmployees()
    },
    async editShooting() {
      this.curShooting = null
      this.editShootingFormTitle = null
      this.editShootingFormVisible = false
      this.curUrgentDeparture = null
      this.editUrgentDepartureTitle = null
      this.editUrgentDepartureVisible = false
      this.curDutyGroup = null
      this.editDutyGroupTitle = null
      this.editDutyGroupVisible = false
      await this.fetchEmployees()
    },
    hideEditShootingForm() {
      this.editShootingFormVisible = false
    },
    hideEditUrgentDeparture() {
      this.editUrgentDepartureVisible = false
    },
    hideEditDutyGroup() {
      this.editDutyGroupVisible = false
    },
    loadingPrint(value) {
      this.disabledPrintBtn = value ? true : false
    },
    changePrintOptions() {
      let calendarApi = this.$refs.fullCalendar.getApi()
      this.printOptions.onlyPersonalShootings = this.hideShootingsCheckbox
      this.printOptions.preset = calendarApi.view.type
      this.printOptions.title = calendarApi.view.title
      this.printOptions.datePrintStart = calendarApi.view.activeStart
      this.printOptions.datePrintEnd = calendarApi.view.activeEnd
      this.printOptions.role = this.$store.state.employeeschedule.employeeScheduleQueries.role
      this.printOptions.location = this.$store.state.employeeschedule.employeeScheduleQueries.location
    },
    async changeComment(e) {
      try {
        if (e.target && e.target.classList.contains('employee-schedule__comment-textarea')) {
          await this.$store.dispatch('editEmployee', {id: +e.target.attributes.resourceid.value, comment_calendar: e.target.value})
          .then(async () => {
            await this.fetchEmployees()
            this.$message.success('Комментарий изменен')
          })
        }
      } catch (e) {
        this.$message.error('Не удалось сохранить комментарий')
        console.log(e)
      }
    }
  },
  beforeDestroy() {
    document.removeEventListener('change', this.changeComment)
  }
}
</script>

<style lang="scss">
.employee-schedule {
  position: relative;
  &__absolute-block {
    position: absolute;
    &--left {
      left: 330px;
    }
    &--right {
      right: 100px;
    }
  }
  &__print-btn {
    height: 40px;
    margin-left: 20px;
  }
  &__hide-checkbox, &__show-comments {
    & .el-checkbox-button__inner {
      display: block;
      height: 40px;
      border-radius: 4px !important;
    }
  }
  &__comment-textarea {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    border: none;
    resize: none;
    &:focus {
      background: #FFF;
    }
    &::placeholder {
      font-size: 12px;
      opacity: .3;
    }
  }
  &__metatheme-info-dialog {
    .el-dialog__header {
      display: none;
    }
  }
}
.fc .fc-datagrid-cell.fc-resource:nth-child(2) .fc-datagrid-cell-frame {
  height: 100% !important;
}
.fc .fc-datagrid-cell.fc-resource:nth-child(2) .fc-datagrid-cell-cushion {
  width: 100%;
  height: 100%;
  padding: 0;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 10px;
}
.fc .fc-datagrid-body.fc-scrollgrid-sync-table tr,
.fc .fc-timeline-body .fc-scrollgrid-sync-table tr {
  height: 65px;
  min-height: 65px;
}
.small-rows .fc .fc-datagrid-body.fc-scrollgrid-sync-table tr,
.small-rows .fc .fc-timeline-body .fc-scrollgrid-sync-table tr {
  height: 30px;
  min-height: 30px;
  & .fc-datagrid-cell-cushion {
    padding: 0 8px !important;
  }
  & a.fc-timeline-event {
    padding: 0 1px !important;
  }
}
.fc-timeline-slot.fc-timeline-slot-lane.fc-day.fc-day-tue.fc-day-today.fc-day-past {
  background-color: rgba(255, 255, 204, .4);
}
td.fc-datagrid-cell.fc-resource {
  vertical-align: middle;
}
td.fc-datagrid-cell.fc-resource .fc-datagrid-cell-frame {
  display: flex;
  align-items: center;
}
.fc-custom-day-week {
  text-transform: capitalize;
}
.fc-timeline-slot.fc-timeline-slot-lane,
.fc-timeline-lane.fc-resource:hover {
  cursor: pointer;
}
.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #7C43BA;
  background-color: var(--fc-button-bg-color, #7C43BA);
  border-color: #7C43BA;
  border-color: var(--fc-button-border-color, #7C43BA);
  outline: none;
  &.current-view-btn {
    background-color: rgba(124, 67, 186, .8);
  }
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary:not(:disabled):hover {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: rgba(124, 67, 186, .8);
  background-color: var(--fc-button-active-bg-color, rgba(124, 67, 186, .8));
  border-color: #7C43BA;
  border-color: var(--fc-button-active-border-color, #7C43BA);
  outline: none;
}
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none;
}
.fc .fc-timeline-header-row-chrono .fc-timeline-slot-frame {
  justify-content: center;
}
.employee-schedule-shooting-edit-form .el-dialog,
.employee-schedule-urgent-departure-edit-form .el-dialog,
.employee-schedule-duty-group-edit-form .el-dialog,
.employee-schedule__create-form-dialog .el-dialog,
.employee-schedule__edit-form-dialog .el-dialog {
  width: 950px;
}
.schedule-print {
  overflow: inherit;
  & .bg {
    background-color: #ddd;
  }
  & table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 14px;
    & th, td {
      border: 1px solid #000;
      padding: 5px 10px;
    }
  }
  & .table-schedule {
    &.day-log th {
      font-size: 16px;
      &:first-child {
        width: 30%;
      }
    }
    &.week-log th {
      font-size: 16px;
      width: 12%;
      &:first-child {
        width: 16%;
      }
    }
    &.two-week-log {
      & th {
        font-size: 12px;
        width: 6.6%;
        &:first-child {
          width: 6.6%;
        }
      }
      & td {
        font-size: 11px;
      }
    }
  }
}
#printBlock {
  display: none;
}
@media (max-width: 1100px) {
  .employee-schedule {
    padding-top: 75px;
  }
}
</style>