<template>
  <div v-loading.fullscreen.lock="loading" class="employees">
    <div class="heading">
      <div class="heading__left">
        <el-button
          type="primary"
          size="medium"
          @click="createFormVisible = true"
        >
          Добавить сотрудника
        </el-button>
      </div>
      <div class="heading__left">
        <el-tooltip class="item" effect="dark" content="Фильтр" placement="bottom">
          <el-dropdown
            trigger="click"
            :hide-on-click="false"
          >
            <el-button
              size="medium"
              type="primary"
              icon="el-icon-s-operation"
            >
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.nameColumn">ФИО</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.locationColumn">Локация</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.roleColumn">Роль</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.phoneColumn">Телефон</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.actionColumn">Действие</el-checkbox>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
      </div>
    </div>
    <el-table
      ref="table"
      :data="employees"
      @sort-change="sortByColumn"
      @filter-change="filterByColumn"
    >
      <template
        slot="empty"
      >
        <NoData />
      </template>
      <el-table-column
        type="expand"
      >
        <template
          slot-scope="props"
        >
          <div class="comment">
              <div><span class="expand-row-title">Комментарий:</span></div>
              <div v-html="props.row.comment"></div>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="ID"
        prop="id"
        width="70"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.nameColumn"
        label="ФИО"
        width="350"
        prop="surname"
        :formatter="formatNameColumn"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.locationColumn"
        label="Локация"
        prop="location.name"
        sortable="custom"
        :filters="locationFilterValues"
        :filter-multiple="false"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.roleColumn"
        label="Роль"
        prop="employee_role.name"
        sortable="custom"
        :filters="roleFilterValues"
        :filter-multiple="false"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.phoneColumn"
        label="Телефон"
        prop="phone"
        :formatter="formatPhoneColumn"
        sortable="custom"
        width="140"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.actionColumn"
        label="Действие"
        width="90"
      >
        <template
          slot-scope="scope"
        >
          <el-tooltip
            class="item edit"
            effect="dark"
            content="Редактировать информацию"
            placement="bottom"
          >
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              circle
              @click="fetchEmployeeById(scope.row.id)"
            >
            </el-button>
          </el-tooltip>
          <el-tooltip
            class="item"
            effect="dark"
            content="Календарь сотрудника"
            placement="bottom"
          >
            <el-button
              type="success"
              icon="el-icon-date"
              size="mini"
              circle
              @click="$router.push(`/employee/${scope.row.id}`)"
              disabled
            >
            </el-button>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      background
      layout="total, sizes, prev, pager, next, jumper"
      :current-page.sync="pagination.page"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="queries.limit"
      :total="pagination.total"
      @size-change="handleSizeChange"
      @current-change="handlerPageChange"
    >
    </el-pagination>

    <el-dialog
      title="Добавление сотрудника"
      class="employee-create-form"
      :visible.sync="createFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <CreateEmployee
        @hideCreateForm="hideCreateForm"
        @created="updateEmployee"
      />
    </el-dialog>

    <el-dialog
      title="Редактирование информации"
      class="employee-edit-form"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <EditEmployee
        :currentEmployee="currentEmployee"
        @hideEditForm="hideEditForm"
        @edited="updateEmployee"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import CreateEmployee from '@/components/employees/CreateEmployee'
import EditEmployee from '@/components/employees/EditEmployee'

export default {
  name: 'employee',
  metaInfo: {
    title: 'Управление сотрудниками'
  },
  components: {
    CreateEmployee,
    EditEmployee
  },
  data() {
    return {
      loading: true,
      employees: [],
      createFormVisible: false,
      editFormVisible: false,
      currentEmployee: null,
      queries: {
        start: 0,
        limit: 20,
        sort: 'id:asc',
        filter: null,
        locationFilter: null,
        roleFilter: null
      },
      locationFilterValues: [],
      roleFilterValues: [],
      pagination: {
        page: +this.$route.query.page || 1,
        total: 0
      },
      columnsFilter: {
        nameColumn: true,
        locationColumn: true,
        roleColumn: true,
        phoneColumn: true,
        actionColumn: true
      }
    }
  },
  async mounted() {
    this.loading = true
    const total = await this.$http.get(`${this.$store.state.url}/employees/count`)
    this.pagination.total = total.data
    await this.getFilterValues()
    this.loading = false
  },
  watch: {
    queries: {
      immediate: true,
      deep: true,
      async handler() {
        this.fetchEmployees()
      }
    },
    '$store.state.employees.employeeSearchFiled': function () {
      if (this.$store.state.employees.employeeSearchFiled === null) {
        this.clearFilter()
      } else {
        this.filterTable()
      }
    }
  },
  methods: {
    formatNameColumn(row) {
      const surname = row.surname ? row.surname : ''
      const name = row.name ? row.name : ''
      const patronymic = row.patronymic ? row.patronymic : ''
      return `${surname} ${name} ${patronymic}`
    },
    formatPhoneColumn(row) {
      const phone = row.phone ? row.phone : ''
      const phone_2 = row.phone_2 ? row.phone_2 : ''
      return `${phone} ${phone_2}`
    },
    hideCreateForm() {
      this.createFormVisible = false
    },
    hideEditForm() {
      this.editFormVisible = false
    },
    handlerPageChange(page) {
      this.$router.push(`${this.$route.path}?page=${page}`)
      this.pagination.page = page
      this.queries.start = this.queries.limit * page - this.queries.limit
    },
    handleSizeChange(size) {
      this.queries.limit = size
    },
    filterTable() {
      if (this.$route.query.page && +this.$route.query.page !== 1) {
        this.$router.push(`${this.$route.path}?page=1`)
        this.pagination.page = 1
      }
      this.queries.locationFilter = null
      this.queries.roleFilter = null
      this.$refs.table.clearFilter()
      this.queries.filter = this.$store.state.employees.employeeSearchFiled
    },
    async clearFilter() {
      this.queries.filter = null
      const total = await this.$http.get(`${this.$store.state.url}/employees/count`)
      this.pagination.total = total.data
    },
    async getFilterValues() {
      await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees`, 
        params: {
          _limit: -1
        }
      }).then((res) => {
        const locationFilterValues = []
        const roleFilterValues = []
        res.data.forEach(function(item) {
          locationFilterValues.push(item.location.name)
          roleFilterValues.push(item.employee_role.name)
        })
        const uniqueLocationFilterValues = Array.from(new Set(locationFilterValues)).sort()
        const uniqueRoleFilterValues = Array.from(new Set(roleFilterValues)).sort()
        locationFilterValues.length = 0
        roleFilterValues.length = 0
        uniqueLocationFilterValues.forEach(function(item) {
          locationFilterValues.push({text: item, value: item})
        })
        uniqueRoleFilterValues.forEach(function(item) {
          roleFilterValues.push({text: item, value: item})
        })
        this.locationFilterValues = locationFilterValues
        this.roleFilterValues = roleFilterValues
      })
    },
    filterByColumn() {
      const columns = this.$refs.table.columns
      for (let i = 0; i < columns.length; i++) {
        if (columns[i].property === 'location.name') {
          this.queries.locationFilter = columns[i].filteredValue[0]
        }
        if (columns[i].property === 'employee_role.name') {
          this.queries.roleFilter = columns[i].filteredValue[0]
        }
      }
      if (!this.queries.locationFilter && !this.queries.roleFilter) {
        this.$refs.table.clearFilter()
        this.clearFilter()
      }
      this.$store.commit('setEmployeeSearchFiled', null)
      this.queries.filter = null
    },
    sortByColumn(column) {
      if (column.order === 'ascending') {
        this.queries.sort = `${column.prop}:asc`
      } else if (column.order === 'descending') {
        this.queries.sort = `${column.prop}:desc`
      } else {
        this.queries.sort = 'id:asc'
      }
    },
    async fetchEmployees() {
      this.loading = true
      this.queries.start = this.queries.limit * this.pagination.page - this.queries.limit || 0
      let query = ''
      if (this.queries.filter) {
        query = qs.stringify({ _where: {
          _or: [
              { 'id_contains': this.queries.filter.trim() },
              { 'surname_contains': this.queries.filter.trim() },
              { 'name_contains': this.queries.filter.trim() },
              { 'patronymic_contains': this.queries.filter.trim() },
              { 'location.name_contains': this.queries.filter.trim() },
              { 'employee_role.name_contains': this.queries.filter.trim() },
              { 'phone_contains': this.queries.filter.trim() },
              { 'phone_2_contains': this.queries.filter.trim() }
            ],
          }
        })
        const total = await this.$http.get(`${this.$store.state.url}/employees/count?${query}`)
        this.pagination.total = total.data
      }
      if (this.queries.locationFilter || this.queries.roleFilter) {
        query = qs.stringify({
          _where: [
            { 'location.name_contains': this.queries.locationFilter },
            { 'employee_role.name_contains': this.queries.roleFilter }
          ]
        })
        const total = await this.$http.get(`${this.$store.state.url}/employees/count?${query}`)
        this.pagination.total = total.data
      }
      const employees = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/employees?${query}`, 
        params: {
          _start: this.queries.start,
          _limit: this.queries.limit,
          _sort: this.queries.sort
        }
      })
      this.employees = employees.data
      this.loading = false
    },
    async fetchEmployeeById(id) {
      this.loading = true
      this.currentEmployee = await this.$store.dispatch('fetchEmployeeById', id)
      this.loading = false
      this.editFormVisible = true
    },
    updateEmployee() {
      this.createFormVisible = false
      this.editFormVisible = false
      this.loading = true
      this.fetchEmployees()
      this.loading = false
    }
  }
}
</script>

<style lang="scss">
.employees {
  & .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    &__left {
      display: flex;
      align-items: center;
    }
  }
  & .el-table {
    overflow: inherit;
    &__header {
      border-spacing: 0;
    }
    &__header-wrapper {
      position: sticky;
      top: 60px;
      z-index: 2;
    }
    &__column-filter-trigger {
      margin-left: 15px;
      & i {
        font-size: 20px;
        vertical-align: middle;
      }
    }
    &__row.expanded + tr td {
      position: relative;
      border-top: none;
      padding: 10px;
      padding-top: 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -15px;
        left: -1px;
        width: 100%;
        height: 15px;
        background: #fff;
        border-left: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
      }
    }
    &__expand-column .cell {
      overflow: visible;
    }
    & .comment {
      padding: 10px;
      padding-bottom: 20px;
    }
  }
  & .el-pagination {
    margin-top: 30px;
  }
}
.employee-create-form .el-dialog,
.employee-edit-form .el-dialog {
  width: 680px;
}
@media (max-width: 1100px) {
 .employees {
   padding-top: 42px;
  }
}
</style>