<template>
  <div class="login" v-loading.fullscreen.lock="loading">
    <el-card>
      <h1>Сброс пароля</h1>
      <el-form
        :model="forgotPasswordForm"
        :rules="rules"
        ref="forgotPasswordForm"
        class="no-border"
      >
        <el-form-item
          label="Введите e-mail"
          prop="email"
        >
          <el-input
            v-model.trim="forgotPasswordForm.email"
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="handleSubmit('forgotPasswordForm')"
          >
            Сбросить пароль
          </el-button>
          <router-link
            to="/login"
            class="el-link el-link--primary el-link--reset-pass is-underline"
          >
            На страницу входа
          </router-link>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'forgotpassword',
  metaInfo: {
    title: 'Забыли пароль?'
  },
  data: () => ({
    loading: false,
    forgotPasswordForm: {
      email: localStorage.getItem('userEmail') || ''
    },
    rules: {
      email: [
        {
          required: true,
          message: 'Введите email',
          trigger: 'blur'
        },
        { 
          type: 'email',
          message: 'Некорректный email',
          trigger: 'blur'
        }
      ]
    }
  }),
  mounted() {
    document.addEventListener('keydown', this.keyDownListener)
  },
  methods: {
    keyDownListener(event) {
      if (event.code === 'Enter' || event.code === 'NumpadEnter') {
        this.handleSubmit('forgotPasswordForm')
      }
    },
    handleSubmit(form) {
     this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let email = this.forgotPasswordForm.email 
            await this.$store.dispatch('forgotPassword', { email })
            .then(() => {
              this.loading = false
              this.$message.success('На Ваш email отправлена ссылка для сброса пароля')
            })
          } catch (e) {
            this.loading = false
            this.$message.error('Пользователь с таким email не найден')
            console.log(e)
          }
        }
      })
    }
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.keyDownListener)
  }
}
</script>

<style lang="scss" scoped>
h1 {
  font-size: 26px;
  padding-bottom: 20px;
}
.login {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-card {
  width: 320px;
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 30px;
}
.el-link--reset-pass {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
}
</style>