<template>
  <div class="home">
    <div class="card">
      <router-link to="/planning" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/departments.svg" />
          </div>
          <div class="card__text">Лог</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/aetherplan" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/aetherplan.svg" />
          </div>
          <div class="card__text">Эфирный план (TV)</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/tomorrowplan" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/tomorrowplan.svg" />
          </div>
          <div class="card__text">Эфирные планы на завтра (МИЦ)</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/log" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/log.svg" />
          </div>
          <div class="card__text card__text-logo">
            <img src="../assets/png/logo_izru.png" class="card__text-logo-img" />Летучка
          </div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/logfive" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/log.svg" />
          </div>
          <div class="card__text card__text-logo">
            <img src="../assets/png/logo_5tv2.png" class="card__text-logo" />Летучка 5 канал
          </div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/employeeschedule" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/employeeschedule.svg" />
          </div>
          <div class="card__text">График сотрудников</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/coordination" class="card__link">
        <el-card class="coordination-card">
          <div @click.prevent="$router.push({ name: 'coordination-needed'})">
            <el-tooltip
              effect="dark"
              content="Количество необработанных съёмок"
              placement="top-start"
            >
              <el-badge
                :value="shootingsCoordCount"
                :max="99"
                class="coordination-badge"
              ></el-badge>
            </el-tooltip>
          </div>
          <div class="card__img">
            <img src="../assets/svg/main/coordination.svg" />
          </div>
          <div class="card__text">Координация</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/urgentdepartures" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/urgentdepartures.svg" />
          </div>
          <div class="card__text">Срочные выезды</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/employee" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/employee.svg" />
          </div>
          <div class="card__text">Управление сотрудниками</div>
        </el-card>
      </router-link>
    </div>
    <div class="card">
      <router-link to="/techresources" class="card__link">
        <el-card>
          <div class="card__img">
            <img src="../assets/svg/main/techresources.svg" />
          </div>
          <div class="card__text">Управление тех. ресурсами</div>
        </el-card>
      </router-link>
    </div>
    <a class="card" href="https://who.iz.ru">
      <el-card>
        <div class="card__img">
          <img src="../assets/svg/main/contacts.svg" />
        </div>
        <div class="card__text">База контактов</div>
      </el-card>
    </a>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'Home',
  metaInfo: {
    title: 'Главная'
  },
  data() {
    return {
      watcher: null,
      shootingsCoordCount: 0
    }
  },
  async mounted() {
    const query = qs.stringify({ 
      _where: {
        _or: [[
          { 'personal_ne': true },
          { 'status_coord': 'coord' }
        ]]
      }
    })
    let params = {
      _limit: -1
    }
    this.shootingsCoordCount = await this.$store.dispatch('fetchShootingsCount', {query, params})
    this.fetchCoordShootings()
  },
  methods: {
    fetchCoordShootings() {
      this.watcher = setInterval(async () => {
        const query = qs.stringify({ 
          _where: {
            _or: [[
              { 'personal_ne': true },
              { 'status_coord': 'coord' }
            ]]
          }
        })
        let params = {
          _limit: -1
        }
        this.shootingsCoordCount = await this.$store.dispatch('fetchShootingsCount', {query, params})
      }, 60000)
    }
  },
  beforeDestroy() {
    clearInterval(this.watcher)
    this.watcher = null
  }
}
</script>

<style lang="scss">
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 930px;
  margin: 0 auto;
  & .el-card {
    box-sizing: border-box;
    width: 300px;
    height: 190px;
    &:hover {
      box-shadow: none;
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  & .coordination-card {
    position: relative;
  }
  & .coordination-badge {
    position: absolute;
    top: 8px;
    right: 5px;
    & .el-badge__content {
      background-color: #E62744;
      height: 24px;
      width: 28px;
      line-height: 24px;
      border-radius: 50%;
      padding: 0;
    }
  }
  & .card {
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(-n+3) {
      margin-top: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &__link {
      display: block;
      text-decoration: none;
      &:hover, &:active, &:link, &:visited {
        color: #303133;
      }
    }
    &__img {
      margin-bottom: 20px;
    }
    &__text {
      font-size: 15px;
      text-align: center;
    }
    &__text-logo {
      & img {
        height: 25px;
        margin-right: 10px;
      }
      display: flex;
      align-items: center;
    }
  }
}
@media (max-width: 1100px) {
  .home {
    padding-bottom: 100px;
    & .card {
      width: calc(50% - 15px);
      &:nth-child(3n) {
        margin-right: 15px;
      }
      &:nth-child(2n) {
        margin-right: 0
      }
      &:nth-child(-n+3) {
        margin-top: 15px;
      }
      &:nth-child(-n+2) {
        margin-top: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &__img {
        margin-bottom: 10px;
        & img {
          width: 85px;
        }
      }
      &__text {
        font-size: 14px;
        text-align: center;
      }
    }
    & .el-card {
      width: 100%;
      height: 165px;
      &__body {
        padding: 20px 5px;
      }
    }
    & .coordination-badge {
      pointer-events: none;
    }
    // временный блок
    & .card:nth-child(6),
    & .card:nth-child(9),
    & .card:nth-child(10) {
      display: none;
    }
    & .card:nth-child(7) {
      margin-right: 0;
    }
    & .card:nth-child(8) {
      margin-right: 15px;
    }
    // конец временного блока
  }
}
@media (max-width: 370px) {
  .home {
    & .card {
      &__text-logo {
        flex-direction: column;
      }
    }
  }
}
</style>
