<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="invite-form">
      <div :class="[isError ? 'error' : 'none']">
        <div class="error-icon">!</div>
        <h2>Ошибка</h2>
        <p>Неверная ссылка для подтверждения аккаунта</p>
      </div>

      <div :class="[isCompleted ? 'error good-bg' : 'none']">
        <div class="error-icon good">✓</div>

        <a class="confirm-redirect-auth" href="/login">Авторизоваться</a>

        <span class="confirm-info-title"
          >На вашу почту пришло новое сообщение, где будет указан временный
          пароль от Вашего аккаунта
        </span>

        <p>Автоматический редирект через:</p>

        <h2>{{ count }}</h2>
      </div>

      <h2 class="invite-wellcome">Добро пожаловать, {{ result.name }}!</h2>

      <div class="invite-inputs">
        <div class="invite-input">
          <p>Ваше имя:</p>
          <input class="" v-model="result.name" readonly />
        </div>
        <div class="invite-input">
          <p>Ваша фамилия:</p>
          <input class="" v-model="result.surname" readonly />
        </div>
        <div class="invite-input">
          <p>Ваша почта:</p>
          <input class="" v-model="result.email" readonly />
        </div>
      </div>

      <button @click="confirmAccount()">Подтвердить</button>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    loading: true,
    uuid: null,
    isError: false,
    isCompleted: false,
    count: 30,
    result: {
      id: null,
      name: null,
      surname: null,
      email: null,
    },
  }),
  methods: {
    getUUID(route) {
      this.uuid = route;
    },
    async getInfo() {
      await this.$store
        .dispatch("getInvite", { uuid: this.uuid })
        .then((res) => {
          if (!res.data[0]) {
            this.isError = true;
          }
          let data = res.data[0];
          this.result.id = data["id"];
          this.result.name = data["NAME"];
          this.result.surname = data["SURNAME"];
          this.result.email = data["EMAIl"];
        });
    },
    async confirmAccount() {
      try {
        await this.$store.dispatch("updateInvite", {
          id: this.result.id,
          date: new Date(),
        });
      } catch (e) {
        console.log(e);
      } finally {
        this.isCompleted = true;
        this.countDownTimer();
      }
    },
    countDownTimer() {
      if (this.count > 0) {
        setTimeout(() => {
          this.count -= 1;
          this.countDownTimer();
        }, 1000);
      }
      if (this.count === 0) {
        setTimeout(() => this.$router.push("/login"), 500);
      }
    },
  },
  beforeMount() {
    this.getUUID(this.$route.params.uuid),
      this.getInfo()
        .then(() => (this.loading = false))
        .finally(() => {
          this.loading = false;
        });
  },
};
</script>

<style lang="scss" scoped>
.invite-form {
  margin: 100px auto;

  width: 500px;
  height: 600px;

  border-radius: 5px;

  position: relative;

  background: white;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invite-wellcome {
  // margin-bottom: 80px;
}

.invite-inputs {
  width: 90%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invite-inputs input {
  padding: 15px 18px;
  border: 2px solid #7c43ba;
  border-radius: 5px;

  outline: none;

  transition: 0.3s all ease;
}
.invite-inputs input:hover {
  border: 2px solid #7c43ba;
}
.invite-input p {
  padding: 0;
  font-size: 14px;
  margin: 10px 0 10px;
}

.invite-form button {
  margin-top: 30px;

  font-size: 18px;
  font-weight: 700;

  outline: none;
  border: none;

  color: white;
  background: #7c43ba;

  padding: 14px 22px;

  transition: 0.3s all ease;
}

.invite-form button:hover {
  background: #43ba4d;
}

.none {
  display: none;
}

.error {
  width: 100%;
  height: 100%;

  background: white;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: showUp 0.5s;
}

.error h2 {
  font-size: 32px;
  margin: 0;
}

.error p {
  font-size: 16px;
}

.error-icon {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 35px;
  color: #7c43ba;

  border-radius: 50%;
  border: 2px solid #7c43ba;

  margin-bottom: 30px;
}

.good-bg {
  color: #4ed659;
  border-color: #4ed659;
}

.good {
  color: #4ed659;
  border-color: #4ed659;
}

p {
  color: black;
}

.good-bg span {
  //   display: flex;
  //   align-items: center;

  color: black;

  text-align: center;
}

.confirm-info-title {
}

.act-text {
  color: cyan;
}

.text-act {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.confirm-info-auth {
  display: flex;
  flex-direction: column;
  color: black;
}

.confirm-redirect-auth {
  margin-bottom: 20px;
  font-size: 28px;
  font-family: "Roboto", "sans-serif";
  color: black;
}

@keyframes showUp {
  0% {
    border-top: 1px solid #7c43ba;
    bottom: -100%;
  }
  100% {
    border-top: 1px solid #7c43ba;
    bottom: 0;
  }
}
</style>
