<template>
  <div>
    <div :class="[isError ? 'oops-pos oops' : 'oops-pos none']">
      <div class="under-oops">
        <div class="oops-info">i</div>
        Ошибка: {{ errorName }}
      </div>
    </div>

    {{ isError && !isRefresh ? switchError() : "" }}

    <div class="login" v-loading.fullscreen.lock="loading">
      <el-card>
        <h1>Пригласить пользователя</h1>

        <span class="intive-description">
          Укажите почту пользователя, на которую придёт рассылка с
          подтверждением аккаунта и паролем. <br />
          <span class="invite-description-under">
            Примечание: указать нужно почту <u>@iz.ru</u> или <u>@ren-tv.com</u>
          </span>
        </span>

        <el-form
          :model="forgotPasswordForm"
          :rules="rules"
          ref="forgotPasswordForm"
          class="no-border"
        >
          <el-form-item label="Введите Имя" prop="name">
            <el-input v-model.trim="forgotPasswordForm.name"> </el-input>
          </el-form-item>
          <el-form-item label="Введите Фамилию" prop="surname">
            <el-input v-model.trim="forgotPasswordForm.surname"> </el-input>
          </el-form-item>
          <el-form-item label="Введите e-mail" prop="email">
            <el-input
              class="email-check"
              v-model.trim="forgotPasswordForm.email"
            >
            </el-input>
          </el-form-item>

          <p class="select-title">Укажите время действительности ссылки</p>
          <select class="select-link" v-model="exp">
            <option disabled value="">Выберите один из вариантов</option>
            <option value="24 часа">24 часа</option>
            <option value="10 часов">10 часов</option>
            <option value="1 час">1 час</option>
          </select>

          <el-form-item>
            <el-button
              :class="[isCompleted ? 'good' : '']"
              type="primary"
              @click="handleSubmit('inviteUser')"
            >
              {{
                isRefresh
                  ? isCompleted
                    ? "Приглашение отправлено"
                    : "Сгенерировать новое приглашение"
                  : isCompleted
                  ? "Приглашение отправлено"
                  : "Отправить приглашение"
              }}
            </el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "inviteUser",
  metaInfo: {
    title: "Пригласить пользователя",
  },
  data: () => ({
    loading: false,
    isError: false,
    isCompleted: false,
    isRefresh: false,
    errors: [],
    errorName: "Не указана",
    exp: "24 часа",
    forgotPasswordForm: {
      name: "",
      surname: "",
      email: "",
    },
    expArr: [
      { i: "1 час", r: "1h" },
      { i: "10 часов", r: "10h" },
      { i: "24 часа", r: "24h" },
    ],
    rules: {
      name: [
        {
          required: true,
          message: "Введите имя",
          trigger: "blur",
        },
      ],
      surname: [
        {
          required: true,
          message: "Введите фамилию",
          trigger: "blur",
        },
      ],
      email: [
        {
          required: true,
          message: "Введите email",
          trigger: "blur",
        },
        {
          type: "email",
          message: "Некорректный email",
          trigger: "blur",
        },
        // {
        //   validator: (rule, value, callback) => {
        //     console.log(value);
        //     console.log(isError);
        //     console.log(errorName);
        //     if (isError) {
        //       callback(new Error(errorName));
        //     }
        //   },
        //   trigger: "change",
        // },
      ],
    },
  }),
  mounted() {
    document.addEventListener("keydown", this.keyDownListener);
  },
  watch: {
    clientId(newValue) {
      this.exp = newValue;
    },
  },
  methods: {
    keyDownListener(event) {
      if (event.code === "Enter" || event.code === "NumpadEnter") {
        this.handleSubmit("inviteUser");
      }
    },

    // validateEmail,
    async handleSubmit() {
      if (this.isCompleted) {
        return false;
      }

      this.loading = true;

      if (this.isRefresh) {
        this.loading = false;
        let obj = {
          email: this.forgotPasswordForm?.email,
          exp: this.expArr.find((y) => y.i === this.exp).r,
        };
        return await this.$store.dispatch("refreshInvite", obj).then((data) => {
          this.isError = false;
          console.log(data);
          this.isCompleted = true;
        });
      }

      try {
        let obj = {
          NAME: this.forgotPasswordForm?.name,
          SURNAME: this.forgotPasswordForm?.surname,
          EMAIL: this.forgotPasswordForm?.email,
          exp: this.expArr.find((y) => y.i === this.exp).r,
        };

        console.log(obj);

        this.validateForm(obj);

        const testArr = [/@iz.ru\s*$/, /@ren-tv.com\s*$/];

        let isGood = false;
        testArr.forEach((i) => {
          if (i.test(obj.EMAIL) === true) {
            isGood = true;
          }
        });
        if (!isGood) {
          this.errorName = "Неверно указана почта";
          this.isError = true;
          return false;
        }

        await this.$store.dispatch("inviteUser", obj).then((data) => {
          let res = data.data;
          if (res.status) {
            this.isCompleted = true;
          } else {
            this.isError = true;
            this.errorName = res.message;
            if (
              res.message ===
              "Пользователь с данной почтой уже имеет приглашение в Планировщик"
            ) {
              this.isRefresh = true;
            }
            this.errors.push(req.message);
          }
        });
      } catch (e) {
        throw e;
      } finally {
        this.loading = false;
      }
    },
    validateForm(obj) {
      if (!obj.NAME) {
        this.errorName = "Не указано Имя";
        this.isError = true;
        return false;
      }

      if (!obj.SURNAME) {
        this.errorName = "Не указана Фамилия";
        this.isError = true;
        return false;
      }

      if (!obj.EMAIL) {
        this.errorName = "Не указана Почта";
        this.isError = true;
        return false;
      }
    },
    switchError() {
      this.isError && setTimeout(() => (this.isError = false), 7000);
    },
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.keyDownListener);
  },
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 26px;
  // padding-bottom: 20px;
}
.login {
  width: 100%;
  height: 80vh;
  // flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.el-card {
  width: 520px;
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 30px;

  overflow: hidden;
}
.el-link--reset-pass {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
}
.intive-description {
  font-weight: 400;
  font-size: 18px;
}
.invite-description-under {
  font-weight: 300;
  font-size: 14px;
}

.oops-pos {
  width: 100%;
  height: 15vh;

  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s all ease;
}

.oops {
}

.under-oops {
  width: 50%;
  height: 5vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding-left: 30px;

  background: white;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.oops-info {
  width: 35px;
  height: 35px;

  margin-right: 20px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #7c43ba;

  font-weight: 700;
  font-size: 23px;
  color: #7c43ba;
}

.none {
  opacity: 0;
}

.good {
  background: #4dba43;
}

.select-title {
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 14px;
}

.select-link {
  margin-top: 5px;
  min-width: 150px;
  padding: 10px;

  outline: none;
  border: 1px solid #c1c1c1;
  border-radius: 5px;

  margin-bottom: 20px;
}
</style>
