<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="log-tabs">
      <el-tabs v-model="activeTab" @tab-click="handleTabClick" v-touch:swipe="swipeTabs">
        <el-tab-pane label="Все" name="all"></el-tab-pane>
        <el-tab-pane label="Планирование" name="planning"></el-tab-pane>
        <el-tab-pane label="78-СПБ" name="aether_78"></el-tab-pane>
        <el-tab-pane label="Регионы" name="regions"></el-tab-pane>
        <el-tab-pane label="Зарубежка" name="foreign"></el-tab-pane>
        <el-tab-pane label="Продюсеры" name="producers"></el-tab-pane>
        <el-tab-pane label="IZ.TV" name="iztv"></el-tab-pane>
        <el-tab-pane label="112" name="aether_112"></el-tab-pane>
        <el-tab-pane label="Газета Известия" name="gazetaiz"></el-tab-pane>
      </el-tabs>
    </div>
    <div class="el-table log-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <thead>
          <tr class="sticky">
            <th colspan="1" rowspan="1" width="44"><div class="cell"></div></th>
            <th colspan="1" rowspan="1"><div class="cell">Тема</div></th>
            <th colspan="1" rowspan="1" width="75"><div class="cell">Начало</div></th>
            <th colspan="1" rowspan="1" width="150"><div class="cell">Перегоны,<br>включения</div></th>
            <th colspan="1" rowspan="1" width="150"><div class="cell">Корреспонденты</div></th>
            <th colspan="1" rowspan="1" width="150"><div class="cell">Эф план</div></th>
          </tr>
        </thead>
        <tbody v-if="metathemes.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" colspan="6" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else v-for="(themes, section) in grouped" :key="section">
          <template>
            <tr class="el-table__row el-table__row--level-0 metatheme-section-print">
              <td rowspan="1" colspan="6"><div class="cell bold">{{ section }}</div></td>
            </tr>
            <tbody class="contents" v-for="theme in themes" :key="theme.id">
              <tr class="el-table__row el-table__row--level-1">
                <td rowspan="1" colspan="1" class="el-table__expand-column">
                  <div class="cell">
                    <div class="el-table__expand-icon" :class="{ rotate: theme.expand_row }" @click="showExpandRow(theme)">
                      <i class="el-icon el-icon-arrow-right"></i>
                    </div>
                  </div>
                </td>
                <td class="center" rowspan="1" colspan="1" @dblclick="showEditForm(theme)">
                  <div class="cell">
                    <div class="bold theme-name">
                      <span>
                        {{ theme.name }}
                      </span>
                    </div>
                    <div v-html="theme.short_description"></div>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell bold">{{ moment(theme.date_start).format('HH:mm') }}</div>
                  <div class="cell">{{ moment(theme.date_start).format('DD/MM') }}</div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <div class="tags-wrapper">
                      <el-tag size="mini" v-for="item in theme.metatheme_inclusions.slice(0, theme.inclusionsTags)" :key="'I'+item.id">{{ item.name }}</el-tag>
                      <span v-show="theme.metatheme_inclusions.length > theme.inclusionsTags" class="add-tags-btn" @click="theme.inclusionsTags += theme.metatheme_inclusions.length">+{{ theme.metatheme_inclusions.length - theme.inclusionsTags }}</span>
                    </div>
                    <p>{{ theme.comment_inclusions }}</p>
                    <div class="tags-wrapper">
                      <el-tag size="mini" v-for="item in theme.metatheme_aethers.slice(0, theme.aethersTags)" :key="'A'+item.id">{{ item.name }}</el-tag>
                      <span v-show="theme.metatheme_aethers.length > theme.aethersTags" class="add-tags-btn" @click="theme.aethersTags += theme.metatheme_aethers.length">+{{ theme.metatheme_inclusions.length - theme.aethersTags }}</span>
                    </div>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <div v-if="themeEmployees(theme).length === 0" class="empty-text">Не добавлены</div>
                    <div v-else class="employees-tags-wrapper">
                      <div  v-for="employee in themeEmployees(theme).slice(0, theme.employeesTags)" :key="employee.id">{{ employee.surname }}</div>
                      <span v-show="themeEmployees(theme).length > theme.employeesTags" class="add-tags-btn" @click="theme.employeesTags += themeEmployees(theme).length">+{{ themeEmployees(theme).length - theme.employeesTags }}</span>
                    </div>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <div class="tags-wrapper">
                      <el-tag size="mini" v-for="item in theme.metatheme_aether_plans.slice(0, theme.aetherPlansTags)" :key="'AP'+item.id">{{ item.name }}</el-tag>
                      <span v-show="theme.metatheme_aether_plans.length > theme.aetherPlansTags" class="add-tags-btn" @click="theme.aetherPlansTags += theme.metatheme_aether_plans.length">+{{ theme.metatheme_aether_plans.length - theme.aetherPlansTags }}</span>
                    </div>
                    <p>{{ theme.comment_aether_plans }}</p>
                  </div>
                </td>
              </tr>
              <tr v-if="theme.expand_row === true" class="tr-expanded">
                <td rowspan="1" colspan="6">
                  <div class="cell">
                    <span class="expand-row-title">Подробное описание:</span>
                    <p class="theme-description" v-html="theme.description"></p>
                  </div>
                </td>
              </tr>
            </tbody>
          </template>
        </tbody>
      </table>
    </div>

    <div>
      <LogMobile
        id="log-mobile"
        :metathemes="metathemes"
      />
    </div>

    <el-dialog
      class="log-edit-form"
      :title="editFormTitle"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditForm"
    >
      <EditMetatheme
        :editingTheme="editingTheme"
        @hideEditForm="hideEditForm"
        @edited="editMetateheme"
      />
    </el-dialog>

  </div>
</template>

<script>
import qs from 'qs'
import EditMetatheme from '@/components/planning/EditMetatheme'
import LogMobile from '@/components/log/mobile/LogMobile'

export default {
  name: 'log',
  metaInfo: {
    title: 'Летучка'
  },
  components: {
    EditMetatheme,
    LogMobile
  },
  data() {
    return {
      loading: true,
      activeTab: 'all',
      metathemes: [],
      editFormVisible: false,
      editFormTitle: null,
      editingTheme: null
    }
  },
  async mounted() {
    this.rerender()
  },
  watch: {
    '$store.state.log.logDate': async function() {
      if (this.$store.state.log.logDate < this.moment(new Date()).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
        const date = this.moment(this.$store.state.log.logDate).format('DD-MM-YYYY')
        const query = qs.stringify({ _where: {_or: [[{ 'logDate': date }]]}})
        const response = await this.$store.dispatch('fetchLogs', query)
        if (response.length && response[0].themes) {
          this.metathemes = response[0].themes
          for (let i = 0; i < this.metathemes.length; i++) {
            this.$set(this.metathemes[i], 'employeesTags', 3)
            this.$set(this.metathemes[i], 'aetherPlansTags', 3)
            this.$set(this.metathemes[i], 'inclusionsTags', 3)
            this.$set(this.metathemes[i], 'aethersTags', 3)
          }
        } else {
          this.metathemes = []
        }
      } else {
        this.rerender()
      }
    },
    '$store.state.log.logSearchFiled': function () {
      this.filterTable()
    }
  },
  computed: {
    grouped() {
      return this.metathemes.reduce((acc, n) => {
        (acc[n.metatheme_section.name] = acc[n.metatheme_section.name] || []).push(n)
        return acc
      }, {})
    }
  },
  methods: {
    async fetchMetathemes(group, params) {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'metatheme_section.group': group },
              { 'metatheme_section.show_in_log': true },
              { 'status_log': true },
              { 'date_start_lte': this.moment(this.$store.state.log.logDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.log.logDate).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'published_at_null': false }
            ]
          ]
        }
      })
      this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      for (let i = 0; i < this.metathemes.length; i++) {
        this.$set(this.metathemes[i], 'employeesTags', 3)
        this.$set(this.metathemes[i], 'aetherPlansTags', 3)
        this.$set(this.metathemes[i], 'inclusionsTags', 3)
        this.$set(this.metathemes[i], 'aethersTags', 3)
      }
      this.loading = false
    },
    rerender() {
      let params = {
        _sort: `metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      this.activeTab === 'all' ? this.fetchMetathemes(undefined, params) : this.fetchMetathemes(this.activeTab, params)
    },
    handleTabClick(tab, event) {
      let params = {
        _sort: `metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      if (this.$store.state.log.logSearchFiled === null) {
        tab.name === 'all' ? this.fetchMetathemes(undefined, params) : this.fetchMetathemes(tab.name, params)
      } else {
        this.filterTable()
      }
    },
    showExpandRow(theme) {
      theme.expand_row ? this.$set(theme, 'expand_row', false) : this.$set(theme, 'expand_row', true)
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    showEditForm(theme) {
      this.editingTheme = theme
      this.editFormTitle = `Изменение темы "${theme.name}" в разделе "${theme.metatheme_section.name}"`
      this.editFormVisible = true
    },
    hideEditForm() {
      this.editFormVisible = false
    },
    editMetateheme() {
      this.editingTheme = null
      this.editFormVisible = false
      if (this.$store.state.log.logSearchFiled === null) {
        this.rerender()
      } else {
        this.filterTable()
      }
    },
    swipeTabs(direction) {
      const next = document.querySelector('.el-tabs__nav-next')
      const prev = document.querySelector('.el-tabs__nav-prev')
      if (direction === 'left' && next) {
        next.click()
      } else if (direction === 'right' && prev) {
        prev.click()
      }
    },
    async filterTable() {
      if (this.$store.state.log.logSearchFiled === null) {
        this.rerender()
      } else {
        this.loading = true
        this.$store.commit('setLogDate', this.moment(new Date()).format())
        let params = {
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                { 'name_contains': this.$store.state.log.logSearchFiled.trim() },
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'published_at_null': false }
              ],
              [
                { 'address_contains': this.$store.state.log.logSearchFiled.trim() },
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'published_at_null': false }
              ],
              [
                { 'country_contains': this.$store.state.log.logSearchFiled.trim() },
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'published_at_null': false }
              ],
              [
                { 'description_contains': this.$store.state.log.logSearchFiled.trim() },
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'published_at_null': false }
              ],
              [
                { 'short_description_contains': this.$store.state.log.logSearchFiled.trim() },
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'published_at_null': false }
              ],
            ]
          }
        })
        const filteredMetathemes = await this.$store.dispatch('fetchMetathemes', {query, params})

        const queryAll = qs.stringify({ _where: {
          _or: [
              [
                { 'metatheme_section.show_in_log': true },
                { 'status_log': true },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        const allMetathemes = await this.$store.dispatch('fetchMetathemes', {query: queryAll, params})
        const arr = []
        for (let i = 0; i < allMetathemes.length; i++) {
          for (let j = 0; j < allMetathemes[i].shootings.length; j++) {
            for (let k = 0; k < allMetathemes[i].shootings[j].employees.length; k++) {
              if (allMetathemes[i].shootings[j].employees[k].surname && (allMetathemes[i].shootings[j].employees[k].employee_role === 4 ||
                allMetathemes[i].shootings[j].employees[k].employee_role === 7 || allMetathemes[i].shootings[j].employees[k].employee_role === 8)) {
                let surname = allMetathemes[i].shootings[j].employees[k].surname.toLowerCase()
                let lowerString = this.$store.state.log.logSearchFiled.toLowerCase()
                if (surname.includes(lowerString.trim())) {
                  arr.push(allMetathemes[i])
                }
              }
            }
          }
        }
        this.metathemes = [...filteredMetathemes, ...arr]

        for (let i = 0; i < this.metathemes.length; i++) {
          this.$set(this.metathemes[i], 'employeesTags', 3)
          this.$set(this.metathemes[i], 'aetherPlansTags', 3)
          this.$set(this.metathemes[i], 'inclusionsTags', 3)
          this.$set(this.metathemes[i], 'aethersTags', 3)
        }
        this.metathemes = this.metathemes.sort((a, b) => new Date(b.date_start) - new Date(a.date_start))
        this.metathemes = this.metathemes.sort((a, b) => a.metatheme_section.id - b.metatheme_section.id)
        if (this.activeTab !== 'all') {
          this.metathemes = this.metathemes.filter(m => m.metatheme_section.group === this.activeTab)
        }
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.log-tabs {
  & .el-tabs__header {
    margin: 0;
    margin-bottom: 1px;
  }
  & .el-tabs__nav {
    padding: 15px;
    &-wrap::after {
      height: 1px;
      background-color: #E4E4E4;
    }
  }
  & .el-tabs__active-bar {
    height: 3px;
    left: 15px;
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 3px;
      background: #7C43BA;
    }
    &::before {
      left: -15px;
    }
    &::after {
      right: -15px;
    }
  }
}
.log-table {
  overflow: inherit;
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .contents {
    display: contents;
  }
  &.el-table th {
    border-top: none;
    & .cell {
      margin-top: -10px;
    }
  }
  & th > .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .cell {
    word-break: normal;
  }
  & .el-table__row--level-0 {
    font-size: 18px;
    color: #191919;
    background-color: rgba(124, 67, 186, .1);
    & td {
      padding: 20px 25px;
      border: none;
    }
  }
  & .theme-name {
    margin-bottom: 10px;
  }
  & .el-table__expand-icon {
    transition: transform .2s ease-in-out;
    &.rotate {
      transform: rotate(90deg);
    }
  }
}
.log-edit-form .el-dialog {
  width: 950px;
}
#log-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .log-tabs {
    max-width: 100%;
    position: relative;
    padding-top: 42px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -5px;
      right: -5px;
      bottom: 0;
      background-color: #fff;
      border-bottom: 1px solid #E4E4E4;
    }
    & .el-tabs__nav {
      padding: 5px 0;
      &-prev, &-next {
        line-height: 50px;
      }
    }
    & .el-tabs__item {
      padding: 0px 10px;
    }
    & .el-tabs__active-bar {
      left: 0;
      &::before, &::after {
        display: none;
      }
    }
  }
  .log-table {
    display: none;
  }
  #log-mobile {
    display: block;
  }
}
</style>