<template>
  <div class="login" v-loading.fullscreen.lock="loading">
    <el-card>
      <h1>Войти</h1>
      <el-form
        class="no-border"
        :model="loginForm"
        :rules="rules"
        ref="loginForm"
      >
        <el-form-item
          label="E-mail"
          prop="email"
        >
          <el-input
            v-model.trim="loginForm.email"
            placeholder="Введите e-mail"
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Пароль"
          prop="password"
        >
          <el-input
            type="password"
            v-model.trim="loginForm.password"
            placeholder="Введите пароль"
            show-password
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="handleSubmit('loginForm')"
          >
            Войти
          </el-button>
        </el-form-item>
      </el-form>
      <router-link
        to="/forgotpassword"
        class="el-link el-link--primary is-underline"
      >
        Забыли пароль?
      </router-link>
    </el-card>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'login',
  metaInfo: {
    title: 'Вход в систему'
  },
  data: () => ({
    loading: false,
    loginForm: {
      email: localStorage.getItem('userEmail') || '',
      password: ''
    },
    rules: {
      email: [
        {
          required: true,
          message: 'Введите email',
          trigger: 'blur'
        },
        { 
          type: 'email',
          message: 'Некорректный email',
          trigger: 'blur'
        }
      ],
      password: [
        {
          required: true,
          message: 'Введите пароль',
          trigger: 'blur'
        }
      ]
    }
  }),
  beforeCreate() {
    Vue.cookie.delete('token')
    Vue.cookie.delete('checkToken')
    localStorage.removeItem('user')
  },
  mounted() {
    document.addEventListener('keydown', this.keyDownListener)
  },
  methods: {
    keyDownListener(event) {
      if (event.code === 'Enter' || event.code === 'NumpadEnter') {
        this.handleSubmit('loginForm')
      }
    },
    handleSubmit(form) {
     this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let email = this.loginForm.email 
            let password = this.loginForm.password
            await this.$store.dispatch('login', { email, password })
            .then(() => {
              this.loading = false
              this.$router.push('/')
            })
          } catch (e) {
            this.loading = false
            this.$message.error('Ошибка входа')
            console.log(e)
          }
        }
      })
    }
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.keyDownListener)
  }
}
</script>

<style lang="scss">
h1 {
  font-size: 26px;
  padding-bottom: 20px;
}
.login {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  & .el-button {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  & .el-card {
    width: 420px;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
    &__body {
      width: 300px;
      text-align: center;
    }
  }
  & .el-link {
    font-size: 14px;
    margin-top: -50px;
  }
}
</style>