<template>
  <div class="mail" v-loading.fullscreen.lock="loading">
    <h1>Рассылка</h1>

    <div :class="[rule.id ? 'modal' : 'modal-off']" @click="setRule({})">
      <div class="inner-modal" @click.stop="setRule(rule)">
        <h1>
          {{ rule.id && rulesJson.rules.find((y) => rule.id === y.id).title }}
        </h1>
        <h2 class="inner-modal-desc">Описание:</h2>
        <p>
          {{ rule.id && rulesJson.rules.find((y) => rule.id === y.id).desc }}
        </p>
        <button @click="setRule({})">Закрыть</button>
      </div>
    </div>

    <div class="mail-content">
      <div class="mail-templates">
        <table>
          <tr class="title-template">
            <td class="id">ID</td>
            <td class="subject">Заголовок письма</td>
            <td class="template">Шаблон</td>
          </tr>
        </table>

        <table class="main-table">
          <tr v-for="template in templates" @click="selectTemplate(template)">
            <td class="id">{{ template.id }}</td>
            <td class="subject">{{ template.subject }}</td>
            <td class="template">{{ template.html }}</td>
          </tr>
        </table>
      </div>

      <div class="mail-block">
        <div class="mail-template">
          <button
            :class="[template.subject ? 'mail-close-button' : 'modal-off']"
            @click="selectTemplate(null)"
          >
            Закрыть
          </button>
          <h2>{{ template.subject ? template.subject : "Заголовок" }}</h2>
          <textarea>
 {{ template.html ? template.html : "html-шаблон" }}
 </textarea
          >
          <h2>Поля для почты</h2>
          <div :class="[params.length > 0 ? 'mail-inputs' : '']">
            <input
              v-for="param in params"
              :class="[param.error ? 'mail-input input-error' : 'mail-input']"
              v-model="param.value"
              :placeholder="param.text"
            />
          </div>
          <button
            :class="[!template.subject ? 'non' : isSending ? 'sending' : '']"
            @click="sendMail()"
          >
            {{ isSending ? "Сообщение отправлено" : "Отправить сообщение" }}
          </button>
        </div>
        <div class="mail-rules">
          <h1>Ваши права:</h1>
          <div class="mail-inner-rules">
            <ul v-for="rule in rules">
              <li @click="setRule(rule)">
                {{ rulesJson.rules.find((y) => rule.id === y.id).title }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import rulesJson from "../assets/json/rules.json";
import paramsJson from "../assets/json/params.json";
export default {
  data: () => ({
    loading: false,
    userRole: null,
    userId: null,
    isMultiple: false,
    templates: [],
    template: {},
    groups: [],
    rules: [],
    rule: {},
    params: [],
    rulesJson: rulesJson,
    paramsJson: paramsJson,
    isSending: false,
    multyMail: [],
  }),
  methods: {
    getRole() {
      let role = JSON.parse(localStorage.getItem("user"));
      this.userRole = role.role.name;
      this.userId = role.id;
    },
    selectTemplate(obj) {
      this.template = obj;
      let arr = [];
      this.multyMail = [];
      if (!obj) {
        this.params = [];
        return (this.template = {});
      } else {
        arr.push({
          placeholder: "email",
          value: null,
          text: "Введите почту",
          error: false,
        });
        this.paramsJson.params.map((i) => {
          if (this.template.html.indexOf(i.placeholder) > 0) {
            arr.push({
              placeholder: i.placeholder,
              value: null,
              text: i.text,
              error: false,
            });
          }
        });

        this.params = arr;
      }
    },
    async getTemplates() {
      this.loading = true;
      let data = await this.$store.dispatch("getTemplates", {
        userId: this.userId,
      });

      let temp_arr = [];
      let temp_fin = [];
      let rules_arr = [];
      let rules_fin = [];

      data.data.map((y) => {
        y.templates.map((i) => {
          temp_arr.push(i);
        });
        y.permission.map((i) => {
          rules_arr.push(i);
        });
      });

      temp_arr.map((y) => {
        let status = false;
        if (temp_arr[y] === y) {
          temp_fin.push(y);
        }
        temp_fin.map((i) => {
          if (y.id === i.id) {
            status = true;
          }
        });
        if (!status) {
          temp_fin.push(y);
        }
      });
      rules_arr.map((y) => {
        let status = false;
        rules_fin.map((i) => {
          if (y.id === i.id) {
            status = true;
          }
        });
        if (!status) {
          rules_fin.push(y);
        }
      });

      this.templates = temp_fin;
      this.rules = rules_fin;
      setTimeout(() => (this.loading = false), 300);
    },
    setRule(obj) {
      this.rule = obj;
    },
    async sendMail() {
      if (this.isSending) {
        return alert("Вы уже отправили сообщение ");
      }
      if (!this.template.subject) {
        return alert("Вы не выбрали шаблон");
      }
      this.loading = true;
      let status = false;
      let arr = [];
      this.params.map((i) => {
        if (!i.value) {
          i.error = true;
          status = true;
        }
        arr.push({ param: i.placeholder, value: i.value });
      });
      if (status) {
        console.log(this.params);
        return alert("Не указано одно из требуемых полей");
      }

      return await this.$store
        .dispatch("sendMail", {
          mailId: this.template.id,
          email: this.params[0].value,
          body: arr,
        })
        .then((data) => {
          console.log(data);
          this.isSending = true;
        })
        .finally(() => {
          setTimeout(() => (this.loading = false), 500);
          setTimeout(() => (this.isSending = false), 20000);
        });
    },
  },
  beforeMount() {
    this.getRole();
    this.getTemplates();
  },
};
</script>
<style lang="scss" scoped>
.mail {
  width: 100%;
  height: 80vh;
}
.mail-templates {
  width: 50%;
  height: 100%;

  border-radius: 10px;
  overflow: hidden;

  background: white;
  box-shadow: 0 8px 24px #c1c1c1;
}

.mail-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mail-block {
  width: 50%;
  height: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.mail-templates table {
  margin: 0;
  padding: 0;
}
.mail-templates tr {
  padding: 0;
  margin: 0;
}

.title-template {
  background: lightgray;
  height: 50px;
}

.mail-template {
  position: relative;
}

.mail-template .non {
  border: 2px solid #c1c1c1;
  color: #c1c1c1;
}
.mail-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}
.mail-template .non:hover {
  background: #c1c1c1;
  color: #999999;
}

.mail-template button {
  outline: none;
  padding: 10px 17px;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
  border: 2px solid #7c43ba;
  transition: 0.3s all;
}
.mail-template button:hover {
  color: white;
  background: #7c43ba;
}
.mail-template .sending {
  border: 2px solid #42a671;
  color: white;
  background: #42a671;
}
.mail-template .sending:hover {
  background: #3b9665;
  border: 2px solid #3b9665;
}
.mail-templates table {
  width: 100%;
}
.mail-templates table tr {
  height: 80px;
}
.mail-templates .id {
  padding-left: 10px;
  width: 20%;
  overflow: hidden;
}
.mail-templates .subject {
  padding-left: 10px;
  width: 40%;
  overflow: hidden;
}
.mail-templates .template {
  padding-left: 10px;
  width: 40%;
  overflow: hidden;
}
.main-table {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mail-template {
  width: 100%;
}
.mail-template h2 {
  width: 100%;
}

.mail-template textarea {
  max-width: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 400px;

  margin-top: 10px;

  background: #ffffff;
  /* Gray 2 */

  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  font-family: Roboto;
  font-size: 16px;
  color: grey;
}
.mail-inputs {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px 0;
  overflow-y: scroll;
}
.mail-input {
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  padding: 12px 18px;
  margin: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1b1b1b;
}
.input-error {
  border: 1px solid #e62744;
}
.mail-rules {
  width: 100%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  overflow: hidden;
  border-radius: 10px;

  background: white;
}

.mail-rules h1 {
  margin-left: 14px;
}

.mail-rules .mail-inner-rules {
  width: 100%;
  height: 80%;
  overflow-y: scroll;

  border-top: 2px solid #f5f5f5;
}
.mail-rules .mail-inner-rules ul {
  height: 15%;

  font-weight: 500;
  font-size: 18px;

  display: flex;
  align-items: center;

  padding: 10px;
  margin: 5px 0;

  text-decoration: none;
  list-style: none;

  color: darkslategrey;

  transition: 0.3s all;
}

.mail-rules .mail-inner-rules ul:nth-child(2n) {
  background: #f5f5f5;
}
.mail-rules .mail-inner-rules ul:hover {
  color: black;
  font-weight: 600;
}
.modal {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-off {
  display: none;
}
.inner-modal {
  width: 50%;
  height: 70%;

  background: white;

  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-radius: 20px;
}
.inner-modal h1,
p {
  width: 70%;
  margin: 5px 0;
  padding: 0;
}
.inner-modal-desc {
  width: 70%;
  padding: 0;
  font-size: 18px;
  margin: 10px 0 3px 0;

  padding-bottom: 10px;
  border-bottom: 2px solid #bd2138;
}
.inner-modal button {
  outline: none;
  border: none;
  padding: 10px 17px;
  background: #e62744;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s all;
}
.inner-modal button:hover {
  transform: scale(1.05);
  background: #bd2138;
}
</style>
