<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="planning-page-header">
      <div class="planning-tabs">
        <el-tabs v-model="activeTab" @tab-click="handleTabClick" v-touch:swipe="swipeTabs">
          <el-tab-pane label="Все" name="all"></el-tab-pane>
          <el-tab-pane label="Планирование" name="planning"></el-tab-pane>
          <el-tab-pane name="aether_78">
            <span slot="label"><img src="../assets/png/logo_78tv.jpeg" alt="logo_78tv"> 78-СПБ</span>
          </el-tab-pane>
          <el-tab-pane name="regions">
            <span slot="label"><img src="../assets/png/logo_rentv2.png" alt="logo_5tv2"> Регионы</span>
          </el-tab-pane>
          <el-tab-pane name="regions_5">
            <span slot="label"><img src="../assets/png/logo_5tv2.png" alt="logo_5tv2"> Регионы - 5 канал</span>
          </el-tab-pane>
          <el-tab-pane name="foreign">
            <span slot="label"><img src="../assets/png/logo_rentv2.png" alt="logo_5tv2"> Зарубежка</span>
          </el-tab-pane>
          <el-tab-pane name="foreign_5">
            <span slot="label"><img src="../assets/png/logo_5tv2.png" alt="logo_5tv2"> Зарубежка - 5 канал</span>
          </el-tab-pane>
          <el-tab-pane name="producers">
            <span slot="label"><img src="../assets/png/logo_rentv2.png" alt="logo_5tv2"> Продюсеры</span>
          </el-tab-pane>
          <el-tab-pane name="producers_5">
            <span slot="label"><img src="../assets/png/logo_5tv2.png" alt="logo_5tv2"> Продюсеры - 5 канал</span>
          </el-tab-pane>
          <el-tab-pane label="IZ.TV" name="iztv"></el-tab-pane>
          <el-tab-pane label="112" name="aether_112"></el-tab-pane>
          <el-tab-pane label="РЕН ТВ" name="rentv"></el-tab-pane>
          <el-tab-pane label="Газета Известия" name="gazetaiz"></el-tab-pane>
          <el-tab-pane label="Планы IZ.RU" name="aether_iz"></el-tab-pane>
          <el-tab-pane label="Добров в эфире" name="dobrov"></el-tab-pane>
        </el-tabs>
      </div>
      <el-tooltip
        class="item"
        effect="dark"
        content="Экспорт в PDF"
      >
        <el-button
          class="planning-pdf"
          type="danger"
          icon="el-icon-document"
          size="medium"
          @click="exportToPdf"
        >
        </el-button>
      </el-tooltip>
    </div>
    <div class="el-table planning-table">
      <table class="el-table__header">
        <thead>
          <tr class="sticky">
            <th colspan="1" rowspan="1" width="44"><div class="cell"></div></th>
            <th colspan="1" rowspan="1" width="80" :class="sortClass">
              <div class="cell">
                Дата
                <span class="caret-wrapper" @click="handleChangeSort">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th colspan="1" rowspan="1"><div class="cell">Тема</div></th>
            <th colspan="1" rowspan="1" width="150"><div class="cell">Адрес</div></th>
            <th colspan="1" rowspan="1" width="230"><div class="cell">Корреспонденты</div></th>
            <th colspan="1" rowspan="1" width="150"><div class="cell">Эф план</div></th>
            <th colspan="1" rowspan="1" width="150"><div class="cell">Перегоны, включ.</div></th>
            <th colspan="1" rowspan="1" width="160"><div class="cell">Статус</div></th>
          </tr>
        </thead>
        <tbody v-if="metathemes.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" colspan="8" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else v-for="(themes, section) in grouped" :key="section">
          <template v-if="$store.state.metathemes.filter === section || $store.state.metathemes.filter === 'all'">
            <tr class="el-table__row el-table__row--level-0">
              <td rowspan="1" colspan="8"><div class="cell bold">{{ section }}</div></td>
            </tr>
            <tbody class="contents" v-for="theme in themes" :key="theme.id">
              <tr class="el-table__row el-table__row--level-1" :class="{ 'no-status-log': !theme.status_log }">
                <td rowspan="1" colspan="1" class="el-table__expand-column">
                  <div class="cell">
                    <el-tooltip class="item" effect="dark" content="Показать съёмки" placement="bottom">
                      <div class="el-table__expand-icon" :class="{ rotate: theme.expand_row }" @click="showExpandRow(theme)">
                        <i class="el-icon el-icon-arrow-right"></i>
                      </div>
                    </el-tooltip>
                  </div>
                </td>
                <td class="center" rowspan="1" colspan="1">
                  <div v-if="!theme.date_start" class="empty-text">н/у</div>
                  <div v-else class="cell bold">{{ moment(theme.date_start).format('HH:mm') }}</div>
                  <div v-if="!theme.date_start" class="empty-text">н/у</div>
                  <div v-else class="cell">{{ moment(theme.date_start).format('DD/MM') }}</div>
                </td>
                <td rowspan="1" colspan="1" @dblclick="showEditForm(theme)">
                  <div class="cell overflow-visible">
                    <div class="bold theme-name">
                      <el-tooltip class="item" effect="dark" content="Поменять тему местами" placement="bottom">
                        <el-button class="replace-btn" :class="{ red: theme.replaced }" size="small" @click="replaceMetatheme(theme)"></el-button>
                      </el-tooltip>
                      <span>
                        {{ theme.name }}
                      </span>
                      <el-dropdown v-if="!theme.short_description" class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                        <div class="theme-dropdown__item">
                          <span style="top: 8px;"></span>
                        </div>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item :command="{name: 'add', theme: theme.metatheme_section}">Добавить</el-dropdown-item>
                          <el-dropdown-item :command="{name: 'clone', theme}">Клонировать</el-dropdown-item>
                          <el-dropdown-item :command="{name: 'edit', theme}">Править</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                    <el-popover
                      v-if="theme.short_description"
                      width="270"
                      trigger="hover"
                      :content="theme.short_description | cutHTML"
                    >
                      <span slot="reference" v-html="cutEmptyTags(theme.short_description)" class="theme-short-description"></span>
                    </el-popover>
                    <el-dropdown v-if="theme.short_description" class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                      <div class="theme-dropdown__item">
                        <span style="top: 0px;"></span>
                      </div>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{name: 'add', theme: theme.metatheme_section}">Добавить</el-dropdown-item>
                        <el-dropdown-item :command="{name: 'clone', theme}">Клонировать</el-dropdown-item>
                        <el-dropdown-item :command="{name: 'edit', theme}">Править</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                    <div v-if="theme.status_accr !== 'new'" class="status_accr">
                      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.3481 24.9454C12.5745 25.0563 12.8406 24.9931 12.9939 24.8023L21.4314 14.2202C21.5581 14.0616 21.5823 13.8448 21.4948 13.662C21.4067 13.4797 21.2224 13.3633 21.0194 13.3633H17.654L20.4365 7.76321C20.5184 7.59994 20.5096 7.40581 20.4133 7.25028C20.317 7.09475 20.1476 7 19.9648 7H13.6367C13.3946 7 13.184 7.16481 13.1253 7.39962L11.0159 15.8723C10.9762 16.0299 11.0118 16.1967 11.1117 16.3244C11.2116 16.4527 11.3651 16.5273 11.5273 16.5273H14.0157L12.0706 24.3449C12.0103 24.5855 12.1257 24.8353 12.3481 24.9454Z"/>
                      </svg>
                      Аккредитация:
                      <span v-if="theme.date_start_accr">
                        с <span class="bold">{{ moment(theme.date_start_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_start_accr).format('HH:mm') }}</span>
                      </span>
                      <span>
                        до
                        <span v-if="theme.date_end_accr" class="bold">{{ moment(theme.date_end_accr).format('DD.MM.YYYY') }} {{ moment(theme.date_end_accr).format('HH:mm') }}</span>
                        <span v-else class="empty-text">н/у</span>
                      </span>
                    </div>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <span class="empty-text" v-if="!theme.address && !theme.country">Не указан</span>
                    <div v-if="theme.country">{{ theme.country }}</div>
                    <div class="theme-address">
                      <el-popover
                        v-if="theme.address"
                        width="270"
                        trigger="hover"
                        :content="theme.address"
                      >
                        <div slot="reference">{{ theme.address }}</div>
                      </el-popover>
                    </div>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <div v-if="theme.employees.length === 0 && themeEmployees(theme).length === 0" class="empty-text">Не добавлены</div>
                    <div v-else>
                      <div class="employees-tags-wrapper">
                        <div v-for="employee in theme.employees.slice(0, theme.employeesOfThemeTags)" :key="employee.id">
                          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                          <el-popconfirm
                            title="Вы уверены?"
                            @confirm="deleteEmployeeOfTheme(theme, employee)"
                          >
                            <i slot="reference" class="el-icon-delete delete-resource"></i>
                              Удалить
                          </el-popconfirm>
                        </div>
                        <span v-show="theme.employees.length > theme.employeesOfThemeTags" class="add-tags-btn" @click="theme.employeesOfThemeTags += theme.employees.length">+{{ theme.employees.length - theme.employeesOfThemeTags }}</span>
                      </div>
                      <hr v-if="theme.employees.length > 0 && themeEmployees(theme).length > 0">
                      <div class="employees-tags-wrapper">
                        <div v-for="employee in themeEmployees(theme).slice(0, theme.employeesTags)" :key="employee.id">
                          {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                          <el-popconfirm
                            v-if="checkNumberOfResource(theme, employee, 'employee')"
                            title="Вы уверены?"
                            @confirm="deleteResource(theme, employee, 'employee')"
                          >
                            <i slot="reference" class="el-icon-delete delete-resource"></i>
                              Удалить
                          </el-popconfirm>
                        </div>
                        <span v-show="themeEmployees(theme).length > theme.employeesTags" class="add-tags-btn" @click="theme.employeesTags += themeEmployees(theme).length">+{{ themeEmployees(theme).length - theme.employeesTags }}</span>
                      </div>
                    </div>
                    <el-link type="primary" @click="showAddEmployees(theme)">+ Добавить</el-link>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <div class="tags-wrapper">
                      <el-tag size="mini" v-for="item in theme.metatheme_aether_plans.slice(0, theme.aetherPlansTags)" :key="'AP'+item.id">{{ item.name }}</el-tag>
                      <span v-show="theme.metatheme_aether_plans.length > theme.aetherPlansTags" class="add-tags-btn" @click="theme.aetherPlansTags += theme.metatheme_aether_plans.length">+{{ theme.metatheme_aether_plans.length - theme.aetherPlansTags }}</span>
                    </div>
                    <p>{{ theme.comment_aether_plans }}</p>
                  </div>
                </td>
                <td rowspan="1" colspan="1">
                  <div class="cell">
                    <div class="tags-wrapper">
                      <el-tag size="mini" v-for="item in theme.metatheme_inclusions.slice(0, theme.inclusionsTags)" :key="'I'+item.id">{{ item.name }}</el-tag>
                      <span v-show="theme.metatheme_inclusions.length > theme.inclusionsTags" class="add-tags-btn" @click="theme.inclusionsTags += theme.metatheme_inclusions.length">+{{ theme.metatheme_inclusions.length - theme.inclusionsTags }}</span>
                    </div>
                    <p>{{ theme.comment_inclusions }}</p>
                    <div class="tags-wrapper">
                      <el-tag size="mini" v-for="item in theme.metatheme_aethers.slice(0, theme.aethersTags)" :key="'A'+item.id">{{ item.name }}</el-tag>
                      <span v-show="theme.metatheme_aethers.length > theme.aethersTags" class="add-tags-btn" @click="theme.aethersTags += theme.metatheme_aethers.length">+{{ theme.metatheme_aethers.length - theme.aethersTags }}</span>
                    </div>
                  </div>
                </td>
                <td rowspan="1" colspan="1" class="status-td">
                  <div class="cell status-btn status-btn-meta">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      placement="bottom"
                      content="Отправить в координацию"
                    >
                      <el-button
                        :class="{ 'el-button--info': theme.status_coord === 'new', 'el-button--warning': theme.status_coord === 'coord', 'el-button--success': theme.status_coord === 'done' }"
                        size="mini"
                        @click="handleChangeCoordStatus(theme)"
                      >
                        К <i :class="{ 'el-icon-minus': theme.status_coord === 'new', 'el-icon-warning': theme.status_coord === 'coord', 'el-icon-success': theme.status_coord === 'done' }"></i>
                      </el-button>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" :content="theme.status_log ? 'Удалить из Лога' : 'Отправить в Лог'" placement="bottom">
                      <el-button
                        :class="{ 'el-button--success': theme.status_log, 'el-button--info': !theme.status_log, 'disabled-log': !theme.metatheme_section.show_in_log && theme.metatheme_section.name !== 'Консервы Рег' }"
                        :disabled="!theme.metatheme_section.show_in_log && theme.metatheme_section.name !== 'Консервы Рег'"
                        size="mini"
                        @click="handleChangeLogStatus(theme)">
                        Л
                      </el-button>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" :content="theme.status_tomorrow ? 'Удалить из Планов на завтра' : 'Отправить в Планы на завтра'" placement="bottom">
                      <el-button
                        v-if="theme.metatheme_section.group === 'planning'"
                        :class="{ 'el-button--success': theme.status_tomorrow, 'el-button--info': !theme.status_tomorrow, 'disabled-tomorrow': false }"
                        :disabled="false"
                        size="mini"
                        @click="handleChangeTomorrowStatus(theme)">
                        ПнЗ
                      </el-button>
                    </el-tooltip>
                    <el-tooltip v-if="theme.status_accr === 'new'" class="item" effect="dark" content="Аккредитация не требуется" placement="bottom">
                      <el-button type="info" size="mini" @click="handleChangeAccrStatus(theme, 'need')">
                        А <i class="el-icon-minus"></i>
                      </el-button>
                    </el-tooltip>
                    <el-tooltip v-if="theme.status_accr === 'need'" class="item" effect="dark" content="Требуется аккредитация" placement="bottom">
                      <el-button type="warning" size="mini" @click="handleChangeAccrStatus(theme, 'progress')">
                        А <i class="el-icon-warning"></i>
                      </el-button>
                    </el-tooltip>
                    <el-tooltip v-if="theme.status_accr === 'progress'" class="item" effect="dark" content="Аккредитация запрошена" placement="bottom">
                      <el-button type="primary" size="mini" @click="handleChangeAccrStatus(theme, 'done')">
                        А <i class="el-icon-s-custom"></i>
                      </el-button>
                    </el-tooltip>
                    <el-tooltip v-if="theme.status_accr === 'done'" class="item" effect="dark" content="Аккредитация получена" placement="bottom">
                      <el-button type="success" size="mini" @click="handleChangeAccrStatus(theme, 'new')">
                        А <i class="el-icon-success"></i>
                      </el-button>
                    </el-tooltip>
                  </div>
                  <div v-if="theme.author" class="planning-author">
                    Заказ: {{ theme.author }}
                    <el-tooltip effect="dark" content="История изменений" placement="bottom">
                      <el-button
                        class="history-btn"
                        type="primary"
                        size="mini"
                        icon="el-icon-time"
                        @click="showHistory(theme)"
                      >
                      </el-button>
                    </el-tooltip>
                  </div>
                </td>
              </tr>
              <tr v-if="theme.expand_row === true" class="tr-expanded">
                <td rowspan="1" colspan="8">
                  <div class="cell">
                    <p><span class="expand-row-title">Прибытие:</span> <span v-if="theme.date_start">{{ moment(theme.date_start).format('HH:mm') }} {{ moment(theme.date_start).format('DD/MM') }}</span></p>
                    <p v-if="theme.description"><span class="expand-row-title">Подробное описание: </span></p>
                    <p v-if="theme.description" class="theme-description" v-html="theme.description"></p>
                    <PlanningShooting
                      :theme="theme"
                      @updated="updateShooting"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </template>
        </tbody>
      </table>
    </div>

    <div>
      <PlanningMobile
        id="planning-mobile"
        :metathemes="metathemes"
        @handleChangeSortClass="handleChangeSortClass"
      />
    </div>

    <div>
      <PrintPlanning
        id="planning"
        ref="planning"
        :metathemes="metathemes"
      />
    </div>

    <el-dialog
      class="planning-create-form"
      :title="createFormTitle"
      :visible.sync="createFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateForm"
    >
      <CreateMetatheme
        :curSection="curSection"
        :curTheme="curTheme"
        @hideCreateForm="hideCreateForm"
        @created="addNewMetateheme"
      />
    </el-dialog>

    <el-dialog
      class="planning-edit-form"
      :title="editFormTitle"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditForm"
    >
      <EditMetatheme
        :editingTheme="editingTheme"
        @hideEditForm="hideEditForm"
        @edited="editMetateheme"
      />
    </el-dialog>

    <el-dialog
      class="planning-add-employees"
      title="Добавление сотрудников на съёмку"
      :visible.sync="addEmployeesVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddEmployees
        :editingTheme="editingTheme"
        @hideAddEmployees="hideAddEmployees"
        @addedEmployee="$store.state.metathemes.metathemesSearchFiled === null ? rerender() : filterTable()"
      />
    </el-dialog>

    <el-dialog
      class="planning-show-history"
      title="История изменений:"
      :visible.sync="showHistoryVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideHistory"
    >
      <ShowThemeHistory
        :historyTheme="historyTheme"
        @hideHistory="hideHistory"
      />
    </el-dialog>

  </div>
</template>

<script>
import qs from 'qs'
import draggable from 'vuedraggable'
import pdfMixin from '@/mixins/pdf.mixin.js'
import PlanningShooting from '@/components/planning/PlanningShooting'
import CreateMetatheme from '@/components/planning/CreateMetatheme'
import EditMetatheme from '@/components/planning/EditMetatheme'
import AddEmployees from '@/components/planning/AddEmployees'
import ShowThemeHistory from '@/components/planning/ShowThemeHistory'
import PrintPlanning from '@/components/planning/print/PrintPlanning'
import PlanningMobile from '@/components/planning/mobile/PlanningMobile'

export default {
  name: 'planning',
  metaInfo: {
    title: 'Лог'
  },
  components: {
    draggable,
    PlanningShooting,
    CreateMetatheme,
    EditMetatheme,
    AddEmployees,
    ShowThemeHistory,
    PrintPlanning,
    PlanningMobile
  },
  mixins: [pdfMixin],
  data() {
    return {
      loading: true,
      activeTab: 'planning',
      metathemes: [],
      sortClass: '',
      createFormVisible: false,
      createFormTitle: null,
      editFormVisible: false,
      addEmployeesVisible: false,
      showHistoryVisible: false,
      editFormTitle: null,
      curSection: null,
      curTheme: null,
      editingTheme: null,
      historyTheme: null
    }
  },
  created() {
    this.$store.state.socket.emit('subscribe', 'metatheme')
    this.$store.state.socket.on('update', async (data) => {
      try {
        const theme = await this.$store.dispatch('fetchMetathemeById', JSON.parse(data).id)
        for (let i = 0; i < this.metathemes.length; i++) {
          if (this.metathemes[i].id === theme.id) {
            this.$set(this.metathemes, i, theme)
          }
        }
      } catch (e) {}
    })
  },
  async mounted() {
    if (!this.$route.query.date) {
      this.rerender()
    }
  },
  watch: {
    '$store.state.metathemes.metaUpdated': function () {
      if (this.$store.state.metathemes.metathemesSearchFiled === null) {
        this.rerender()
      } else {
        this.filterTable()
      }
    },
    '$store.state.metathemes.metathemesSearchFiled': function () {
      this.filterTable()
    }
  },
  computed: {
    grouped() {
      return this.metathemes.reduce((acc, n) => {
        (acc[n.metatheme_section.name] = acc[n.metatheme_section.name] || []).push(n)
        return acc
      }, {})
    }
  },
  methods: {
    async fetchMetathemes(group, params) {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'metatheme_section.group': group },
              { 'date_start_gte': this.$store.state.metathemes.date },
              { 'date_start_lte': this.moment(this.$store.state.metathemes.date).add(this.$store.state.metathemes.range, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'published_at_null': false }
            ],
            [
              { 'metatheme_section.group': group },
              { 'date_start_lte': this.moment(this.$store.state.metathemes.date).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.metathemes.date).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'published_at_null': false }
            ],
            [
              { 'metatheme_section.group': group },
              { 'date_start_null': true },
              { 'date_end_null': true },
              { 'published_at_null': false }
            ],
          ]
        }
      })
      this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      for (let i = 0; i < this.metathemes.length; i++) {
        this.$set(this.metathemes[i], 'employeesOfThemeTags', 3)
        this.$set(this.metathemes[i], 'employeesTags', 3)
        this.$set(this.metathemes[i], 'aetherPlansTags', 3)
        this.$set(this.metathemes[i], 'inclusionsTags', 3)
        this.$set(this.metathemes[i], 'aethersTags', 3)
      }
      this.$store.commit('setGrouped', Object.keys(this.grouped))
      this.loading = false
    },
    async rerender() {
      let params = {
        _sort: `metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      this.sortClass = ''
      this.activeTab === 'all' ? await this.fetchMetathemes(undefined, params) : await this.fetchMetathemes(this.activeTab, params)
    },
    handleTabClick(tab, event) {
      let params = {
        _sort: `metatheme_section.sortParam:asc,sortParam:asc`,
        _limit: -1
      }
      if (this.$store.state.metathemes.metathemesSearchFiled === null) {
        this.sortClass = ''
        tab.name === 'all' ? this.fetchMetathemes(undefined, params) : this.fetchMetathemes(tab.name, params)
        this.$store.commit('setFilter', 'all')
      } else {
        this.filterTable()
      }
    },
    handleChangeSortClass(value) {
      this.sortClass = value
      this.handleChangeSort()
    },
    handleChangeSort() {
      if (this.$store.state.metathemes.metathemesSearchFiled === null) {
        let activeTab
        let params
        this.activeTab !== 'all' ? activeTab = this.activeTab : activeTab = undefined
        switch (this.sortClass) {
          case '':
            this.sortClass = 'ascending'
            params = {
              _sort: `metatheme_section.sortParam:asc,date_start:asc`,
              _limit: -1
            }
            this.fetchMetathemes(activeTab, params)
            break
          case 'ascending':
            this.sortClass = 'descending'
            params = {
              _sort: `metatheme_section.sortParam:asc,date_start:desc`,
              _limit: -1
            }
            this.fetchMetathemes(activeTab, params)
            break
          case 'descending':
            this.sortClass = ''
            this.fetchMetathemes(activeTab)
            break
        }
      } else {
        switch (this.sortClass) {
          case 'ascending':
            this.sortClass = 'descending'
            this.metathemes = this.metathemes.sort((a, b) => new Date(b.date_start) - new Date(a.date_start))
            this.metathemes = this.metathemes.sort((a, b) => a.metatheme_section.id - b.metatheme_section.id)
            break
          default:
            this.sortClass = 'ascending'
            this.metathemes = this.metathemes.sort((a, b) => new Date(a.date_start) - new Date(b.date_start))
            this.metathemes = this.metathemes.sort((a, b) => a.metatheme_section.id - b.metatheme_section.id)
            break
        }
      }
    },
    async replaceMetatheme(theme) {
      let replacedTheme
      for (let i = 0; i < this.metathemes.length; i++) {
        if (this.metathemes[i].replaced) {
          replacedTheme = this.metathemes[i]
        }
      }
      if (!replacedTheme) {
        this.$set(theme, 'replaced', true)
      } else if (replacedTheme && theme.id === replacedTheme.id) {
        this.$set(theme, 'replaced', false)
      } else if (replacedTheme && theme.id !== replacedTheme.id && theme.metatheme_section.id !== replacedTheme.metatheme_section.id) {
        this.$set(theme, 'replaced', false)
        this.$set(replacedTheme, 'replaced', false)
        this.$message.error('Менять сортировку можно только в рамках одного раздела')
      } else {
        try {
          this.loading = true
          const themeSortParam = theme.sortParam
          const replacedThemeSortParam = replacedTheme.sortParam
          await this.$store.dispatch('editMetatheme', {id: theme.id, sortParam: replacedThemeSortParam})
          await this.$store.dispatch('editMetatheme', {id: replacedTheme.id, sortParam: themeSortParam})
          .then(() => {
            this.loading = false
            if (this.$store.state.metathemes.metathemesSearchFiled === null) {
              this.rerender()
            } else {
              this.filterTable()
            }
            this.$message.success('Сортировка изменена')
          })
        } catch (e) {
          this.$message.error('Недостаточно прав для выполнения данной операции')
          console.log(e)
        }
      }
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])
      
      return result
    },
    showExpandRow(theme) {
      theme.expand_row ? this.$set(theme, 'expand_row', false) : this.$set(theme, 'expand_row', true)
    },
    handleDropdownClick(command) {
      switch (command.name) {
        case 'add':
          this.showCreateForm(command.theme)
          break
        case 'clone':
          this.copyMetatheme(command.theme)
          break
        case 'edit':
          this.showEditForm(command.theme)
          break
      }
    },
    async updateShooting(id) {
      const theme = await this.$store.dispatch('fetchMetathemeById', id)
      for (let i = 0; i < this.metathemes.length; i++) {
        if (this.metathemes[i].id === theme.id) {
          if (theme.shootings.length) {
            this.$set(this.metathemes[i], 'date_start', theme.date_start)
            this.$set(this.metathemes[i], 'status_coord', theme.status_coord)
            this.$set(this.metathemes[i], 'shootings', theme.shootings)
            this.$set(this.metathemes[i], 'address', theme.address)
            this.$set(this.metathemes[i], 'country', theme.country)
            this.$set(this.metathemes[i], 'metatheme_aether_plans', theme.metatheme_aether_plans)
            this.$set(this.metathemes[i], 'comment_aether_plans', theme.comment_aether_plans)
            this.$set(this.metathemes[i], 'metatheme_inclusions', theme.metatheme_inclusions)
            this.$set(this.metathemes[i], 'comment_inclusions', theme.comment_inclusions)
            this.editingTheme = theme
          } else {
            this.$set(this.metathemes[i], 'status_coord', 'new')
            this.$set(this.metathemes[i], 'shootings', theme.shootings)
            this.editingTheme = theme
          }
        }
      }
    },
    async handleChangeCoordStatus(theme) {
      const curTheme = await this.$store.dispatch('fetchMetathemeById', theme.id)
      if (!curTheme.shootings.length) {
        this.loading = true
        let date_start
        theme.date_start ? date_start = theme.date_start : date_start = this.moment(new Date).format()
        let shootingData = {
          name: theme.name,
          metatheme: theme.id,
          address: `${theme.country ? theme.country : ''}${theme.address ? theme.address : ''}`,
          date_start: date_start,
          date_end: theme.date_end,
          metatheme_aether_plans: theme.metatheme_aether_plans,
          comment_aether_plans: theme.comment_aether_plans,
          metatheme_inclusions: theme.metatheme_inclusions,
          comment_inclusions: theme.comment_inclusions,
          status_coord: 'coord',
          comment: theme.comment_coord,
          metatheme_hardwares: theme.metatheme_hardwares,
          auto_create: true,
          author: theme.author
        }
        await this.$store.dispatch('createShooting', shootingData)
        await this.$store.dispatch('editMetatheme', {id: theme.id, status_coord: 'coord'})
        if (this.$store.state.metathemes.metathemesSearchFiled === null) {
          this.rerender()
        } else {
          this.filterTable()
        }
        this.loading = false
      } else {
        this.loading = true
        if (curTheme.status_coord === 'new') {
          for (let i = 0; i < curTheme.shootings.length; i++) {
            await this.$store.dispatch('editShooting', {id: curTheme.shootings[i].id, status_coord: 'coord'})
          }
          await this.$store.dispatch('editMetatheme', {id: curTheme.id, status_coord: 'coord'})
        } else if (curTheme.status_coord === 'coord' || curTheme.status_coord === 'done') {
          for (let i = 0; i < curTheme.shootings.length; i++) {
            if (curTheme.shootings[i].status_coord !== 'new') {
              await this.$store.dispatch('editShooting', {id: curTheme.shootings[i].id, status_coord: 'cancelled'})
            }
          }
          await this.$store.dispatch('editMetatheme', {id: curTheme.id, status_coord: 'new'})
        }
        this.rerender()
        this.loading = false
      }
    },
    async handleChangeLogStatus(theme) {
      try {
        this.loading = true
        let status
        theme.status_log ? status = false : status = true
        let obj = {id: theme.id, status_log: status}
        if (!status) {
          obj.status_tomorrow = false
        }
        await this.$store.dispatch('editMetatheme', obj)
        .then(() => {
          this.loading = false
          if (this.$store.state.metathemes.metathemesSearchFiled === null) {
            this.rerender()
          } else {
            this.filterTable()
          }
          status ? this.$message.success('Тема отправлена в Лог') : this.$message.success('Тема удалена из Лога')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    async handleChangeTomorrowStatus(theme) {
      try {
        this.loading = true
        let status
        theme.status_tomorrow ? status = false : status = true
        let obj = {id: theme.id, status_tomorrow: status}
        if (status) {
          obj.status_log = true
        }
        await this.$store.dispatch('editMetatheme', obj)
        .then(() => {
          this.loading = false
          if (this.$store.state.metathemes.metathemesSearchFiled === null) {
            this.rerender()
          } else {
            this.filterTable()
          }
          status ? this.$message.success('Тема отправлена в Планы на завтра') : this.$message.success('Тема удалена из Планов на завтра')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    async handleChangeAccrStatus(theme, status) {
      try {
        this.loading = true
        let formdata = {
          id: theme.id,
          status_accr: status
        }
        await this.$store.dispatch('editMetatheme', formdata)
        .then(async () => {
          this.loading = false
          if (this.$store.state.metathemes.metathemesSearchFiled === null) {
            await this.rerender()
          } else {
            await this.filterTable()
          }
          this.$message.success('Статус изменен')
        })
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    async deleteEmployeeOfTheme(theme, employee) {
      this.loading = true
      theme.employees.splice(theme.employees.findIndex(el => el.id === employee.id), 1)
      await this.$store.dispatch('editMetatheme', {id: theme.id, employees: theme.employees})
      if (this.$store.state.metathemes.metathemesSearchFiled === null) {
        await this.rerender()
      } else {
        await this.filterTable()
      }
      this.loading = false
    },
    async deleteResource(theme, resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
            if (theme.shootings[i].tech_resources[j].id === resource.id) {
              theme.shootings[i].tech_resources.splice(theme.shootings[i].tech_resources.findIndex(el => el.id === resource.id), 1)
              await this.$store.dispatch('editShooting', {id: theme.shootings[i].id, tech_resources: theme.shootings[i].tech_resources})
            }
          }
        }
      } else if (type === 'employee') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].employees.length; j++) {
            if (theme.shootings[i].employees[j].id === resource.id) {
              theme.shootings[i].employees.splice(theme.shootings[i].employees.findIndex(el => el.id === resource.id), 1)
              await this.$store.dispatch('editShooting', {id: theme.shootings[i].id, employees: theme.shootings[i].employees})
            }
            if (resource.employee_role === 4 && theme.shootings[i].metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
              let business_trip = await this.$store.dispatch('fetchShootingById', theme.shootings[i].id)
              for (let k = 0; k < business_trip.shootings_child.length; k++) {
                if (business_trip.shootings_child[k].personalType === 'Командировка') {
                  for (let l = 0; l < business_trip.shootings_child[k].employees.length; l++) {
                    if (business_trip.shootings_child[k].employees[l].id === resource.id) {
                      await this.$store.dispatch('deleteShooting', business_trip.shootings_child[k].id)
                    }
                  }
                }
              }
            }
          }
        }
      }
      await this.rerender()
      this.loading = false
    },
    showCreateForm(section) {
      this.curTheme = null
      this.curSection = section
      this.createFormTitle = `Добавление темы (${section.name})`
      this.createFormVisible = true
    },
    hideCreateForm() {
      this.curSection = null
      this.curTheme = null
      this.createFormTitle = null
      this.createFormVisible = false
    },
    addNewMetateheme() {
      this.curSection = null
      this.curTheme = null
      this.createFormVisible = false
      this.rerender()
    },
    copyMetatheme(theme) {
      this.curTheme = theme
      this.createFormTitle = `Копирование темы "${theme.name}"`
      this.createFormVisible = true
    },
    showEditForm(theme) {
      this.editingTheme = theme
      this.editFormTitle = `Изменение темы "${theme.name}" в разделе "${theme.metatheme_section.name}"`
      this.editFormVisible = true
    },
    hideEditForm() {
      this.editFormVisible = false
    },
    editMetateheme() {
      this.editingTheme = null
      this.editFormVisible = false
      if (this.$store.state.metathemes.metathemesSearchFiled === null) {
        this.rerender()
      } else {
        this.filterTable()
      }
    },
    async showAddEmployees(theme) {
      const curTheme = await this.$store.dispatch('fetchMetathemeById', theme.id)
      if (!curTheme.shootings.length) {
        this.loading = true
        let shootingData = {
          name: theme.name,
          metatheme: theme.id,
          address: `${theme.country ? theme.country : ''}${theme.address ? theme.address : ''}`,
          date_start: theme.date_start,
          date_end: theme.date_end,
          metatheme_aether_plans: theme.metatheme_aether_plans,
          comment_aether_plans: theme.comment_aether_plans,
          metatheme_inclusions: theme.metatheme_inclusions,
          comment_inclusions: theme.comment_inclusions,
          metatheme_hardwares: theme.metatheme_hardwares,
          status_coord: 'new',
          comment: theme.comment_coord,
          auto_create: true,
          author: theme.author
        }
        await this.$store.dispatch('createShooting', shootingData)
        const updatedTheme = await this.$store.dispatch('fetchMetathemeById', theme.id)
        if (this.$store.state.metathemes.metathemesSearchFiled === null) {
          this.rerender()
        } else {
          this.filterTable()
        }
        this.editingTheme = updatedTheme
        this.loading = false
      } else {
        this.editingTheme = curTheme
      }
      this.addEmployeesVisible = true
    },
    hideAddEmployees() {
      this.addEmployeesVisible = false
    },
    showHistory(theme) {
      this.historyTheme = theme
      this.showHistoryVisible = true
    },
    hideHistory() {
      this.showHistoryVisible = false
      this.historyTheme = null
    },
    async filterTable() {
      if (this.$store.state.metathemes.metathemesSearchFiled === null) {
        this.rerender()
      } else {
        this.loading = true
        this.$store.commit('setDate', this.moment(new Date()).format())
        this.$store.commit('setRange', 'day')
        this.$store.commit('setFilter', 'all')
        this.sortClass = ''
        let params = {
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                { 'name_contains': this.$store.state.metathemes.metathemesSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                { 'address_contains': this.$store.state.metathemes.metathemesSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                { 'country_contains': this.$store.state.metathemes.metathemesSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                { 'description_contains': this.$store.state.metathemes.metathemesSearchFiled.trim() },
                { 'published_at_null': false }
              ],
              [
                { 'short_description_contains': this.$store.state.metathemes.metathemesSearchFiled.trim() },
                { 'published_at_null': false }
              ],
            ]
          }
        })
        const filteredMetathemes = await this.$store.dispatch('fetchMetathemes', {query, params})

        const allMetathemes = await this.$store.dispatch('fetchMetathemes', {undefined, params})
        const arr = []
        for (let i = 0; i < allMetathemes.length; i++) {
          for (let j = 0; j < allMetathemes[i].shootings.length; j++) {
            for (let k = 0; k < allMetathemes[i].shootings[j].employees.length; k++) {
              if (allMetathemes[i].shootings[j].employees[k].surname && (allMetathemes[i].shootings[j].employees[k].employee_role === 4 ||
                allMetathemes[i].shootings[j].employees[k].employee_role === 7 || allMetathemes[i].shootings[j].employees[k].employee_role === 8)) {
                let surname = allMetathemes[i].shootings[j].employees[k].surname.toLowerCase()
                let lowerString = this.$store.state.metathemes.metathemesSearchFiled.toLowerCase()
                if (surname.includes(lowerString.trim())) {
                  arr.push(allMetathemes[i])
                }
              }
            }
          }
        }
        this.metathemes = [...filteredMetathemes, ...arr]
        for (let i = 0; i < this.metathemes.length; i++) {
          this.$set(this.metathemes[i], 'employeesTags', 3)
          this.$set(this.metathemes[i], 'aetherPlansTags', 3)
          this.$set(this.metathemes[i], 'inclusionsTags', 3)
          this.$set(this.metathemes[i], 'aethersTags', 3)
        }
        this.metathemes = this.metathemes.sort((a, b) => a.metatheme_section.id - b.metatheme_section.id)
        if (this.activeTab !== 'all') {
          this.metathemes = this.metathemes.filter(m => m.metatheme_section.group === this.activeTab)
        }
        this.$store.commit('setGrouped', Object.keys(this.grouped))
        this.loading = false
      }
    },
    async exportToPdf() {
      this.loading = true
      try {
        await this.exportToPdfMixin(this.$refs.planning.$el.innerHTML, 'Известия_ЛОГ', 'Известия_ЛОГ')
        .then(() => {
          this.loading = false
        })
      } catch (e) {
        console.log(e)
        this.$message.error('Ошибка экспорта')
        this.loading = false
      }
    },
    cutEmptyTags(value) {
      return value.replaceAll('<p></p>', '').replaceAll('<h2><br></h2>', '').replaceAll('<p><br></p>', '').replaceAll('<p class="ql-align-justify"><br></p>', '')
    },
    swipeTabs(direction) {
      const next = document.querySelector('.el-tabs__nav-next')
      const prev = document.querySelector('.el-tabs__nav-prev')
      if (direction === 'left' && next) {
        next.click()
      } else if (direction === 'right' && prev) {
        prev.click()
      }
    },
    checkNumberOfResource(theme, resource, type) {
      const arr = []
      if (type === 'employee') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].employees.length; j++) {
            arr.push(theme.shootings[i].employees[j].id)
          }
        }
      } else if (type === 'tech_resource') {
        for (let i = 0; i < theme.shootings.length; i++) {
          for (let j = 0; j < theme.shootings[i].tech_resources.length; j++) {
            arr.push(theme.shootings[i].tech_resources[j].id)
          }
        }
      }
      const arrWithoutDuplicates = [...new Set(arr)]
      let duplicates = [...arr]
      arrWithoutDuplicates.forEach((item) => {
        const i = duplicates.indexOf(item)
        duplicates = duplicates
          .slice(0, i)
          .concat(duplicates.slice(i + 1, duplicates.length))
      })
      return duplicates.some(d => d === resource.id) ? false : true
    }
  },
  filters: {
    cutHTML: function (value) {
      if (!value) return ''
      value = value.toString()
      value = value.replace('&ndash;', '-')
      value = value.replace('&mdash;', '-')
      return value.replace(/(&nbsp;|<([^>]+)>)/ig,'')
    },
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  },
  beforeDestroy() {
    this.$store.state.socket.removeAllListeners()
  }
}
</script>

<style lang="scss">
.planning-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.planning-pdf {
  width: 56px;
  height: 36px;
  margin-left: 15px;
}
.planning-tabs {
  flex: 1;
  max-width: 95%;
  & .el-tabs__header {
    margin: 0;
    margin-bottom: 1px;
  }
  & .el-tabs__nav {
    padding: 15px;
    &-wrap::after {
      height: 0;
    }
  }
  & .el-tabs__nav-next, .el-tabs__nav-prev {
    line-height: 72px;
  }
  & .el-tabs__active-bar {
    height: 3px;
    left: 15px;
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 3px;
      background: #7C43BA;
    }
    &::before {
      left: -15px;
    }
    &::after {
      right: -15px;
    }
  }
  & .el-tabs__item img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }
}
.planning-table {
  overflow: inherit;
  & .bold {
  font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .contents {
    display: contents;
  }
  & .el-table__header  {
    width: 100%;
    border-top: 1px solid #E4E4E4;
  }
  &.el-table th {
    border-top: none;
    & .cell {
      margin-top: -10px;
    }
  }
  & th > .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .cell {
    word-break: normal;
  }
  & .el-table__row--level-0 {
    font-size: 18px;
    color: #191919;
    background-color: rgba(124, 67, 186, .1);
    & td {
      padding: 20px 25px;
      border: none;
    }
  }
  & .no-status-log {
    background-color: #F0F1F4;
    & .bold {
      color: #707070;
    }
  }
  & .theme-name {
    position: relative;
    margin-bottom: 10px;
  }
  & .status_accr {
    font-size: 12px;
    & svg {
      width: 23px;
      height: 23px;
      vertical-align: middle;
      fill: #E6A23C;
      stroke: #000;
      margin: 0 -5px;
    }
  }
  & .replace-btn {
    position: absolute;
    top: 4px;
    left: -25px;
    width: 10px;
    height: 20px;
    background: url('../assets/svg/icons/departments_replace.svg') center no-repeat;
    border: none;
    padding: 0;
    &.red {
      background: url('../assets/svg/icons/departments_replace-red.svg') center no-repeat;
    }
  }
  & .el-table__expand-icon {
    transition: transform .2s ease-in-out;
    &.rotate {
      transform: rotate(90deg);
    }
  }
  & .theme-short-description {
    display: inline-block;
    max-width: 270px;
    color: rgba(27, 27, 27, .8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & p {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & p, & p span, & p a, & p strong {
      color: rgba(27, 27, 27, .8) !important;
    }
    & p span[style*="background-color: rgb(230, 0, 0)"],
      p strong[style*="background-color: rgb(230, 0, 0)"],
      p em[style*="background-color: rgb(230, 0, 0)"] {
      color: #fff !important;
    }
  }
  & .status-td {
    position: relative;
  }
  & .status-btn {
    display: flex;
    & .el-button {
      padding: 7px 7px;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      &+.el-button {
        margin-left: 0;
      }
    }
  }
  & .planning-author {
    position: absolute;
    width: max-content;
    right: 10px;
    bottom: 8px;
  }
  & .disabled-log, & .disabled-log:hover,
  & .disabled-tomorrow, & .disabled-tomorrow:hover {
    background-color: #909399;
    border-color: #909399;
    opacity: .5;
  }
  & .theme-description {
    margin: 0;
    padding: 0;
  }
}
.planning-create-form .el-dialog,
.planning-edit-form .el-dialog,
.planning-show-history .el-dialog {
  width: 950px;
}
#planning, #planning-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .planning-page-header {
    padding-top: 42px;
    & .planning-tabs {
      max-width: 100%;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        right: -5px;
        bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid #E4E4E4;
        border-top: 1px solid #E4E4E4;
      }
      & .el-tabs__nav {
        padding: 5px 0;
        &-prev, &-next {
          line-height: 50px;
        }
      }
      & .el-tabs__item {
        padding: 0px 10px;
      }
      & .el-tabs__active-bar {
        left: 0;
        &::before, &::after {
          display: none;
        }
      }
    }
    & .planning-pdf {
      display: none;
    }
  }
  .planning-table {
    display: none;
  }
  #planning-mobile {
    display: block;
  }
}
</style>