<template>
  <div class="profile" v-loading.fullscreen.lock="loading">
    <el-form :model="form" :rules="rules" ref="profileForm" label-position="top">
      <el-form-item label="Имя" prop="name">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="Фамилия" prop="surname">
        <el-input v-model="form.surname"></el-input>
      </el-form-item>
      <el-form-item label="Новый пароль" prop="password">
        <el-input v-model.trim="form.password" show-password clearable></el-input>
      </el-form-item>
      <el-form-item label="Подтверждение нового пароля" prop="passwordConfirmation">
        <el-input v-model.trim="form.passwordConfirmation" show-password clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleSubmit('profileForm')">Сохранить</el-button>
      </el-form-item>
    </el-form>
    <el-button class="profile__logout-btn" type="danger" @click="logout">Выйти из системы</el-button>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  metaInfo: {
    title: 'Личный кабинет'
  },
  data() {
    const validatePassword = (rule, value, callback) => {
      if (!value && !this.form.passwordConfirmation) {
        callback()
      } else if (!value && this.form.passwordConfirmation) {
        callback(new Error('Введите пароль'))
      } else if (value && this.form.passwordConfirmation && value === this.form.passwordConfirmation) {
        callback()
      } else {
        this.$refs.profileForm.validateField('validatePasswordConfirmation')
      }
    }
    const validatePasswordConfirmation = (rule, value, callback) => {
      if (!value && !this.form.password) {
        callback()
      } else if (!value && this.form.password) {
        callback(new Error('Введите пароль'))
      } else if (value && this.form.password && value !== this.form.password) {
        callback(new Error('Пароли не совпадают!'))
      } else if (value && this.form.password && value === this.form.password) {
        callback()
      }
    }
    return {
      loading: false,
      userId: null,
      form: {
        name: null,
        surname: null,
        password: null,
        passwordConfirmation: null
      },
      rules: {
        name: [
          { required: true, message: 'Введите имя', trigger: 'blur' },
        ],
        surname: [
          { required: true, message: 'Введите фамилию', trigger: 'blur' }
        ],
        password: [
          { validator: validatePassword, trigger: 'blur' },
          { min: 6, message: 'Пароль должен быть не менее шести символов', trigger: 'change' }
        ],
        passwordConfirmation: [
          { validator: validatePasswordConfirmation, trigger: 'blur' },
          { min: 6, message: 'Пароль должен быть не менее шести символов', trigger: 'change' }
        ]
      }
    }
  },
  async mounted() {
    this.loading = true
    let user = JSON.parse(localStorage.getItem("user"))
    this.userId = user.id
    this.form.name = user.name
    this.form.surname = user.surname
    this.loading = false
  },
  methods: {
    handleSubmit(form) {
     this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            let formData = {
              id: this.userId,
              name: this.form.name,
              surname: this.form.surname
            }
            if (this.form.password && this.form.passwordConfirmation && this.form.password === this.form.passwordConfirmation) {
              formData.password = this.form.password
            }
            await this.$store.dispatch('updateUser', formData)
            .then(async () => {
              let user = await this.$store.dispatch('fetchUserById', this.userId)
              localStorage.setItem('user', JSON.stringify(user))
              this.$store.commit('setUserName', `${user.surname} ${user.name}`)
              this.form.password = null
              this.form.passwordConfirmation = null
              this.$message.success('Данные обновлены')
              this.loading = false
            })
          } catch (e) {
            this.$message.error('Недостаточно прав для выполнения данной операции')
            console.log(e)
          }
        }
      })
    },
    async logout() {
      await this.$store.dispatch('logout')
      this.$router.go('/login')
    }
  }
}
</script>

<style lang="scss">
.profile {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  & .el-form {
    width: 100%;
  }
  &__logout-btn {
    display: none;
  }
}
@media (max-width: 1100px) {
  .profile {
    height: 100%;
    position: relative;
    padding: 0 20px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      background: #fff;
    }
    & .el-form {
      padding: 0;
    }
    & .el-form-item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
        margin-top: 20px;
      }
      &__label {
        padding: 0;
      }
    }
    &__logout-btn {
      display: block;
      width: 100%;
      max-width: 400px;
      margin-top: 50px;
      align-self: center;
      z-index: 1;
    }
  }
}
</style>
