<template>
  <div class="login" v-loading.fullscreen.lock="loading">
    <el-card>
      <h1>Обновить пароль</h1>
      <el-form
        class="no-border"
        :model="resetPasswordForm"
        :rules="rules"
        ref="resetPasswordForm"
      >
        <el-form-item
          label="Введите новый пароль"
          prop="password"
        >
          <el-input
            type="password"
            v-model.trim="resetPasswordForm.password"
            show-password
          >
          </el-input>
        </el-form-item>
        <el-form-item
          label="Подтверждение пароля"
          prop="confirmPassword"
        >
          <el-input
            type="password"
            v-model.trim="resetPasswordForm.confirmPassword"
            show-password
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            class="reset-password-btn"
            type="primary"
            @click="handleSubmit('resetPasswordForm')"
          >
            Обновить пароль
          </el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'resetpassword',
  metaInfo: {
    title: 'Сброс пароля'
  },
  data() {
    const validatePassword = (rule, value, callback) => {
      if (!value) {
        callback(new Error('Введите пароль'))
      } else if (value && value === this.resetPasswordForm.confirmPassword) {
        callback()
      } else {
        this.$refs.resetPasswordForm.validateField('validateConfirmPassword')
      }
    }
    const validateConfirmPassword = (rule, value, callback) => {
      if (!value) {
        callback(new Error('Введите пароль'))
      } else if (value && value !== this.resetPasswordForm.password) {
        callback(new Error('Пароли не совпадают!'))
      } else if (value && value === this.resetPasswordForm.password) {
        callback()
      }
    }
    return {
      loading: false,
      resetPasswordForm: {
        password: null,
        confirmPassword: null
      },
      rules: {
        password: [
          { validator: validatePassword, trigger: 'blur' },
          { min: 6, message: 'Пароль должен быть не менее шести символов', trigger: 'change' }
        ],
        confirmPassword: [
          { validator: validateConfirmPassword, trigger: 'blur' },
          { min: 6, message: 'Пароль должен быть не менее шести символов', trigger: 'change' }
        ]
      }
    }
  },
  mounted() {
    document.addEventListener('keydown', this.keyDownListener)
  },
  methods: {
    keyDownListener(event) {
      if (event.code === 'Enter' || event.code === 'NumpadEnter') {
        this.handleSubmit('resetPasswordForm')
      }
    },
    handleSubmit(form) {
     this.$refs[form].validate( async (valid) => {
        if (!valid) {
          return false
        } else {
          try {
            this.loading = true
            await this.$store.dispatch('resetPassword', {
              code: this.$router.currentRoute.query.code,
              password: this.resetPasswordForm.password,
              confirmPassword: this.resetPasswordForm.confirmPassword
            })
            .then(() => {
              this.loading = false
              this.$message.success('Теперь вы можете войти с новым паролем')
              this.$router.push('/login')
            })
          } catch (e) {
            this.loading = false
            this.$message.error('Произошла ошибка!')
            console.log(e)
          }
        }
      })
    }
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.keyDownListener)
  }
}
</script>

<style lang="scss" scoped>
h1 {
  font-size: 26px;
  padding-bottom: 20px;
}
.login {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-card {
  width: 320px;
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 30px;
}
.reset-password-btn {
  margin-top: 10px;
}
</style>