<template>
  <div v-loading.fullscreen.lock="loading" class="techresources">
    <div class="heading">
      <div class="heading__left">
        <el-button
          type="primary"
          size="medium"
          @click="createFormVisible = true"
        >
          Добавить ресурс
        </el-button>
      </div>
      <div class="heading__left">
        <el-tooltip class="item" effect="dark" content="Фильтр" placement="bottom">
          <el-dropdown
            trigger="click"
            :hide-on-click="false"
          >
            <el-button
              size="medium"
              type="primary"
              icon="el-icon-s-operation"
            >
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.nameColumn">Название</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.typeColumn">Тип</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.locationColumn">Локация</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.statusColumn">Статус</el-checkbox>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-checkbox v-model="columnsFilter.actionColumn">Действие</el-checkbox>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
      </div>
    </div>
    <el-table
      :data="techresources"
      @sort-change="sortByColumn"
    >
      <template
        slot="empty"
      >
        <NoData />
      </template>
      <el-table-column
        type="expand"
      >
        <template
          slot-scope="props"
        >
          <div v-html="props.row.comment"></div>
        </template>
      </el-table-column>
      <el-table-column
        label="ID"
        prop="id"
        width="60"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.nameColumn"
        label="Название"
        prop="name"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.typeColumn"
        label="Тип"
        prop="type"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.locationColumn"
        label="Локация"
        prop="location.name"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.statusColumn"
        label="Статус"
        prop="status.name"
        sortable="custom"
      >
      </el-table-column>
      <el-table-column
        v-if="columnsFilter.actionColumn"
        label="Действие"
        width="90"
      >
        <template
          slot-scope="scope"
        >
          <el-tooltip
            class="item edit"
            effect="dark"
            content="Изменить"
            placement="bottom"
          >
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              circle
              @click="fetchTechResourceById(scope.row.id)"
            >
            </el-button>
          </el-tooltip>
          <el-tooltip
            class="item"
            effect="dark"
            content="Удалить"
            placement="bottom"
          >
            <el-popconfirm
              title="Вы уверены?"
              @confirm="deleteTechresource(scope.row.id)"
            >
              <el-button
                slot="reference"
                type="danger"
                icon="el-icon-delete"
                size="mini"
                circle
              >
              </el-button>
            </el-popconfirm>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      background
      layout="total, sizes, prev, pager, next, jumper"
      :current-page.sync="pagination.page"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="queries.limit"
      :total="pagination.total"
      @size-change="handleSizeChange"
      @current-change="handlerPageChange"
    >
    </el-pagination>

    <el-dialog
      title="Добавление ресурса"
      :visible.sync="createFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <CreateTechresource
        @hideCreateForm="hideCreateForm"
        @created="addNewTechresource"
      />
    </el-dialog>

    <el-dialog
      title="Редактирование ресурса"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <EditTechresource
        :currentTechresource="currentTechresource"
        @hideEditForm="hideEditForm"
        @edited="editTechresource"
      />
    </el-dialog>

  </div>
</template>

<script>
import qs from 'qs'
import CreateTechresource from '@/components/techresources/CreateTechresource'
import EditTechresource from '@/components/techresources/EditTechresource'

export default {
  name: 'techresources',
  metaInfo: {
    title: 'Управление тех. ресурсами'
  },
  components: {
    CreateTechresource,
    EditTechresource
  },
  data() {
    return {
      loading: true,
      techresources: [],
      createFormVisible: false,
      editFormVisible: false,
      currentTechresource: null,
      queries: {
        start: 0,
        limit: 10,
        sort: 'id:asc',
        filter: null
      },
      pagination: {
        page: +this.$route.query.page || 1,
        total: 0
      },
      columnsFilter: {
        nameColumn: true,
        typeColumn: true,
        locationColumn: true,
        statusColumn: true,
        actionColumn: true
      }
    }
  },
  async mounted() {
    const total = await this.$http.get(`${this.$store.state.url}/tech-resources/count`)
    this.pagination.total = total.data
  },
  watch: {
    queries: {
      immediate: true,
      deep: true,
      async handler() {
        this.fetchTechResources()
      }
    },
    '$store.state.techresources.techresourcesSearchFiled': function () {
      if (this.$store.state.techresources.techresourcesSearchFiled === null) {
        this.clearFilter()
      } else {
        this.filterTable()
      }
    }
  },
  methods: {
    hideCreateForm() {
      this.createFormVisible = false
    },
    hideEditForm() {
      this.editFormVisible = false
    },
    handlerPageChange(page) {
      this.$router.push(`${this.$route.path}?page=${page}`)
      this.pagination.page = page
      this.queries.start = this.queries.limit * page - this.queries.limit
    },
    handleSizeChange(size) {
      this.queries.limit = size
    },
    filterTable() {
      if (this.$route.query.page && +this.$route.query.page !== 1) {
        this.$router.push(`${this.$route.path}?page=1`)
        this.pagination.page = 1
      }
      this.queries.filter = this.$store.state.techresources.techresourcesSearchFiled
    },
    async clearFilter() {
      this.queries.filter = null
      const total = await this.$http.get(`${this.$store.state.url}/tech-resources/count`)
      this.pagination.total = total.data
    },
    sortByColumn(column) {
      if (column.order === 'ascending') {
        this.queries.sort = `${column.prop}:asc`
      } else if (column.order === 'descending') {
        this.queries.sort = `${column.prop}:desc`
      } else {
        this.queries.sort = 'id:asc'
      }
    },
    async fetchTechResources() {
      this.loading = true
      this.queries.start = this.queries.limit * this.pagination.page - this.queries.limit || 0
      let query = ''
      if (this.queries.filter) {
        query = qs.stringify({ _where: {
          _or: [
              { 'id_contains': this.queries.filter.trim() },
              { 'name_contains': this.queries.filter.trim() },
              { 'type_contains': this.queries.filter.trim() },
              { 'location.name_contains': this.queries.filter.trim() },
              { 'status.name_contains': this.queries.filter.trim() }
            ]
          }
        })
        const total = await this.$http.get(`${this.$store.state.url}/tech-resources/count?${query}`)
        this.pagination.total = total.data
      }
      const techresources = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/tech-resources?${query}`, 
        params: {
          _start: this.queries.start,
          _limit: this.queries.limit,
          _sort: this.queries.sort
        }
      })
      this.techresources = techresources.data
      this.loading = false
    },
    addNewTechresource() {
      this.createFormVisible = false
      this.loading = true
      this.fetchTechResources()
      this.loading = false
    },
    async deleteTechresource(id) {
      try {
        await this.$store.dispatch('deleteTechresource', id)
        this.fetchTechResources()
        this.$message.success('Тех. ресурс удален')
      } catch (e) {
        this.$message.error('Недостаточно прав для выполнения данной операции')
        console.log(e)
      }
    },
    async fetchTechResourceById(id) {
      this.loading = true
      this.currentTechresource = await this.$store.dispatch('fetchTechResourceById', id)
      this.loading = false
      this.editFormVisible = true
    },
    editTechresource() {
      this.editFormVisible = false
      this.loading = true
      this.fetchTechResources()
      this.loading = false
    }
  }
}
</script>

<style lang="scss">
.techresources {
  & .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    &__left {
      display: flex;
      align-items: center;
    }
  }
  & .el-table {
    overflow: inherit;
    &__header {
      border-spacing: 0;
    }
    &__header-wrapper {
      position: sticky;
      top: 60px;
      z-index: 2;
    }
    &__row.expanded + tr td {
      position: relative;
      border-top: none;
      padding: 10px;
      padding-top: 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -15px;
        left: -1px;
        width: 100%;
        height: 15px;
        background: #fff;
        border-left: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
      }
    }
    &__expand-column .cell {
      overflow: visible;
    }
  }
  & .edit {
    margin-right: 10px;
  }
  & .el-pagination {
    margin-top: 30px;
  }
}
@media (max-width: 1100px) {
 .techresources {
   padding-top: 42px;
  }
}
</style>