<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="tomorrowplan-page-header">
      <el-tooltip
        class="item"
        effect="dark"
        content="Экспорт в PDF"
      >
        <el-button
          type="danger"
          icon="el-icon-document"
          size="medium"
          @click="exportToPdf"
        >
        </el-button>
      </el-tooltip>
    </div>
    <div class="el-table tomorrowplan-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <thead>
          <tr class="sticky">
            <th colspan="1" rowspan="1"><div class="cell">Тема</div></th>
            <th colspan="1" rowspan="1" width="80"><div class="cell">Начало</div></th>
            <th colspan="1" rowspan="1" width="200"><div class="cell">Перегоны,<br>включения</div></th>
            <th colspan="1" rowspan="1" width="200"><div class="cell">Корреспонденты</div></th>
            <th colspan="1" rowspan="1" width="200"><div class="cell">Эфирный план</div></th>
          </tr>
        </thead>
        <tbody v-if="metathemes.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" colspan="5" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <draggable
          v-else
          v-model="metathemes"
          tag="div"
          class="contents"
          :scroll-sensitivity="250"
          :force-fallback="true"
          @end="handleChangeSort"
        >
          <tbody class="tomorrowplan-table__tbody" v-for="theme in metathemes" :key="theme.id">
            <tr class="el-table__row el-table__row--level-1">
              <td class="center" rowspan="1" colspan="1" @dblclick="showEditForm(theme)">
                <div class="cell">
                  <div class="bold theme-name">
                    <span>
                      {{ theme.name }}
                    </span>
                  </div>
                </div>
              </td>
              <td rowspan="1" colspan="1">
                <div class="cell">
                    <div class="cell bold">{{ moment(theme.date_start).format('HH:mm') }}</div>
                    <div class="cell">{{ moment(theme.date_start).format('DD/MM') }}</div>
                </div>
              </td>
              <td rowspan="1" colspan="1">
                <div class="cell">
                  <div class="tags-wrapper">
                    <el-tag size="mini" v-for="item in theme.metatheme_inclusions.slice(0, theme.inclusionsTags)" :key="'I'+item.id">{{ item.name }}</el-tag>
                    <span v-show="theme.metatheme_inclusions.length > theme.inclusionsTags" class="add-tags-btn" @click="theme.inclusionsTags += theme.metatheme_inclusions.length">+{{ theme.metatheme_inclusions.length - theme.inclusionsTags }}</span>
                  </div>
                  <p>{{ theme.comment_inclusions }}</p>
                  <div class="tags-wrapper">
                    <el-tag size="mini" v-for="item in theme.metatheme_aethers.slice(0, theme.aethersTags)" :key="'A'+item.id">{{ item.name }}</el-tag>
                    <span v-show="theme.metatheme_aethers.length > theme.aethersTags" class="add-tags-btn" @click="theme.aethersTags += theme.metatheme_aethers.length">+{{ theme.metatheme_aethers.length - theme.aethersTags }}</span>
                  </div>
                </div>
              </td>
              <td rowspan="1" colspan="1">
                <div class="cell">
                  <div v-if="themeEmployees(theme).length === 0" class="empty-text">Не добавлены</div>
                  <div v-else class="employees-tags-wrapper">
                    <div v-for="employee in themeEmployees(theme).slice(0, theme.employeesTags)" :key="employee.id">{{ employee.surname }}</div>
                    <span v-show="themeEmployees(theme).length > theme.employeesTags" class="add-tags-btn" @click="theme.employeesTags += themeEmployees(theme).length">+{{ themeEmployees(theme).length - theme.employeesTags }}</span>
                  </div>
                </div>
              </td>
              <td rowspan="1" colspan="1">
                <div class="cell">
                  <div class="tags-wrapper">
                    <el-tag size="mini" v-for="item in theme.metatheme_aether_plans.slice(0, theme.aetherPlansTags)" :key="'AP'+item.id">{{ item.name }}</el-tag>
                    <span v-show="theme.metatheme_aether_plans.length > theme.aetherPlansTags" class="add-tags-btn" @click="theme.aetherPlansTags += theme.metatheme_aether_plans.length">+{{ theme.metatheme_aether_plans.length - theme.aetherPlansTags }}</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </draggable>
      </table>
    </div>

    <div>
      <TomorrowPlanMobile
        id="tomorrowplan-mobile"
        :metathemes="metathemes"
      />
    </div>

    <div>
      <PrintTomorrowPlan
        id="tomorrowplan"
        ref="tomorrowplan"
        :metathemes="metathemes"
      />
    </div>

    <el-dialog
      class="tomorrowplan-edit-form"
      :title="editFormTitle"
      :visible.sync="editFormVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditForm"
    >
      <EditMetatheme
        :editingTheme="editingTheme"
        @hideEditForm="hideEditForm"
        @edited="editMetateheme"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import draggable from 'vuedraggable'
import pdfMixin from '@/mixins/pdf.mixin.js'
import EditMetatheme from '@/components/planning/EditMetatheme'
import PrintTomorrowPlan from '@/components/tomorrowplan/print/PrintTomorrowPlan'
import TomorrowPlanMobile from '@/components/tomorrowplan/mobile/TomorrowPlanMobile'

export default {
  name: 'tomorrowplan',
  metaInfo: {
    title: 'Эфирные планы на завтра (МИЦ)'
  },
  components: {
    draggable,
    EditMetatheme,
    PrintTomorrowPlan,
    TomorrowPlanMobile
  },
  mixins: [pdfMixin],
  data() {
    return {
      loading: false,
      metathemes: [],
      editFormVisible: false,
      editFormTitle: null,
      editingTheme: null
    }
  },
  async mounted() {
    this.fetchMetathemes()
  },
  watch: {
    '$store.state.tomorrowplan.tomorrowPlanDate': function () {
      this.fetchMetathemes()
    },
    '$store.state.tomorrowplan.tomorrowPlanSearchFiled': function () {
      this.filterTable()
    }
  },
  methods: {
    async fetchMetathemes() {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'status_log': true },
              { 'status_tomorrow': true },
              { 'date_start_gt': this.moment(this.$store.state.tomorrowplan.tomorrowPlanDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.$store.state.tomorrowplan.tomorrowPlanDate).add(1, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'published_at_null': false }
            ],
            [
              { 'status_log': true },
              { 'status_tomorrow': true },
              { 'date_start_lt': this.moment(this.$store.state.tomorrowplan.tomorrowPlanDate).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.tomorrowplan.tomorrowPlanDate).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'published_at_null': false }
            ]
          ]
        }
      })
      let params = {
        _sort: `sortTomorrowPlans:asc,date_start:asc`
      }
      this.metathemes = await this.$store.dispatch('fetchMetathemes', {query, params})
      for (let i = 0; i < this.metathemes.length; i++) {
        this.$set(this.metathemes[i], 'employeesTags', 3)
        this.$set(this.metathemes[i], 'aetherPlansTags', 3)
        this.$set(this.metathemes[i], 'inclusionsTags', 3)
        this.$set(this.metathemes[i], 'aethersTags', 3)
      }
      this.loading = false
    },
    async handleChangeSort() {
      this.loading = true
      for(let i = 0; i < this.metathemes.length; i++) {
        let formData = {
          id: this.metathemes[i].id,
          sortTomorrowPlans: i + 1
        }
        await this.$store.dispatch('editMetatheme', formData)
      }
      this.$message.success('Сортировка изменена')
      this.loading = false
    },
    themeEmployees(theme) {
      const arr = []
      for (let i = 0; i < theme.shootings.length; i++) {
        for (let j = 0; j < theme.shootings[i].employees.length; j++) {
          arr.push(theme.shootings[i].employees[j])
        }
      }
      let result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      result = result.reduce(function(arr, item) {
        let found = false
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].id === item.id) {
            found = true
            arr[i].count++
          }
        }
        if (!found) {
          item.count = 1
          arr.push(item)
        }
        return arr
      }, [])

      return result
    },
    async exportToPdf() {
      this.loading = true
      try {
        await this.exportToPdfMixin(this.$refs.tomorrowplan.$el.innerHTML, 'Известия_Планы_на_завтра', 'Известия_Планы_на_завтра')
        .then(() => {
          this.loading = false
        })
      } catch (e) {
        console.log(e)
        this.$message.error('Ошибка экспорта')
        this.loading = false
      }
    },
    showEditForm(theme) {
      this.editingTheme = theme
      this.editFormTitle = `Изменение темы "${theme.name}" в разделе "${theme.metatheme_section.name}"`
      this.editFormVisible = true
    },
    hideEditForm() {
      this.editFormVisible = false
    },
    editMetateheme() {
      this.editingTheme = null
      this.editFormVisible = false
      if (this.$store.state.tomorrowplan.tomorrowPlanSearchFiled === null) {
        this.fetchMetathemes()
      } else {
        this.filterTable()
      }
    },
    async filterTable() {
      if (this.$store.state.tomorrowplan.tomorrowPlanSearchFiled === null) {
        this.fetchMetathemes()
      } else {
        this.loading = true
        this.$store.commit('setTomorrowPlanDate', this.moment(new Date()).format())
        let params = {
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                { 'name_contains': this.$store.state.tomorrowplan.tomorrowPlanSearchFiled.trim() },
                { 'status_log': true },
                { 'status_tomorrow': true },
                { 'published_at_null': false }
              ],
              [
                { 'address_contains': this.$store.state.tomorrowplan.tomorrowPlanSearchFiled.trim() },
                { 'status_log': true },
                { 'status_tomorrow': true },
                { 'published_at_null': false }
              ],
              [
                { 'country_contains': this.$store.state.tomorrowplan.tomorrowPlanSearchFiled.trim() },
                { 'status_log': true },
                { 'status_tomorrow': true },
                { 'published_at_null': false }
              ],
              [
                { 'description_contains': this.$store.state.tomorrowplan.tomorrowPlanSearchFiled.trim() },
                { 'status_log': true },
                { 'status_tomorrow': true },
                { 'published_at_null': false }
              ],
              [
                { 'short_description_contains': this.$store.state.tomorrowplan.tomorrowPlanSearchFiled.trim() },
                { 'status_log': true },
                { 'status_tomorrow': true },
                { 'published_at_null': false }
              ],
            ]
          }
        })
        const filteredMetathemes = await this.$store.dispatch('fetchMetathemes', {query, params})

        const queryAll = qs.stringify({ _where: {
          _or: [
              [
                { 'status_log': true },
                { 'status_tomorrow': true },
                { 'published_at_null': false }
              ]
            ]
          }
        })
        const allMetathemes = await this.$store.dispatch('fetchMetathemes', {query: queryAll, params})
        const arr = []
        for (let i = 0; i < allMetathemes.length; i++) {
          for (let j = 0; j < allMetathemes[i].shootings.length; j++) {
            for (let k = 0; k < allMetathemes[i].shootings[j].employees.length; k++) {
              if (allMetathemes[i].shootings[j].employees[k].surname && (allMetathemes[i].shootings[j].employees[k].employee_role === 4 ||
                allMetathemes[i].shootings[j].employees[k].employee_role === 7 || allMetathemes[i].shootings[j].employees[k].employee_role === 8)) {
                let surname = allMetathemes[i].shootings[j].employees[k].surname.toLowerCase()
                let lowerString = this.$store.state.tomorrowplan.tomorrowPlanSearchFiled.toLowerCase()
                if (surname.includes(lowerString.trim())) {
                  arr.push(allMetathemes[i])
                }
              }
            }
          }
        }
        this.metathemes = [...filteredMetathemes, ...arr]

        for (let i = 0; i < this.metathemes.length; i++) {
          this.$set(this.metathemes[i], 'employeesTags', 3)
          this.$set(this.metathemes[i], 'aetherPlansTags', 3)
          this.$set(this.metathemes[i], 'inclusionsTags', 3)
          this.$set(this.metathemes[i], 'aethersTags', 3)
        }
        this.metathemes = this.metathemes.sort((a, b) => new Date(b.date_start) - new Date(a.date_start))
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.tomorrowplan-page-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 17px;
}
.tomorrowplan-table {
  overflow: inherit;
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .contents {
    display: contents;
  }
  &__tbody {
    cursor: move;
  }
  &.el-table table {
    border-top: 1px solid #E4E4E4;
  }
  &.el-table th {
    border-top: none;
    & .cell {
      margin-top: -10px;
    }
  }
  & th > .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .cell {
    word-break: normal;
  }
}
.tomorrowplan-edit-form .el-dialog {
  width: 950px;
}
#tomorrowplan, #tomorrowplan-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .tomorrowplan-page-header {
    padding-top: 42px;
    margin-bottom: 0;
    & button {
      display: none;
    }
  }
  .tomorrowplan-table {
    display: none;
  }
  #tomorrowplan-mobile {
    display: block;
  }
}
</style>