<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="urgentdepartures-heading">
      <el-tooltip class="item" effect="dark" content="Обновить" placement="bottom">
        <el-button
          class="refresh-btn"
          type="primary"
          size="medium"
          icon="el-icon-refresh"
          @click="fetchUrgentDepartures()"
        >
        </el-button>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Фильтр" placement="bottom">
        <el-dropdown
          type="primary"
          trigger="click"
          :hide-on-click="false"
        >
          <el-button
            size="medium"
            type="primary"
            icon="el-icon-s-operation"
          >
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.dateDepartureColumn">Отъезд</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.dateReturnColumn">Возвр.</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.nameColumn">Название съемки</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.commentColumn">Комментарий</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.orderColumn">Заказ</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.corrsColumn">Корреспонденты</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.shootingColumn">Съемочная группа</el-checkbox>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-checkbox v-model="columnsFilter.carsColumn">Машины, водители</el-checkbox>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-tooltip>
    </div>
    <div class="el-table urgentdepartures-table">
      <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;">
        <thead>
          <tr>
            <th colspan="1" rowspan="1" width="44"><div class="cell"></div></th>
            <th v-if="columnsFilter.dateDepartureColumn" colspan="1" rowspan="1" width="100" :class="dateDepartureClass" @click="dateDepartureSort">
              <div class="cell">
                Отъезд
                <span class="caret-wrapper">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th v-if="columnsFilter.dateReturnColumn" colspan="1" rowspan="1" width="96" :class="dateEndClass" @click="dateEndSort">
              <div class="cell">
                Возвр.
                <span class="caret-wrapper">
                  <i class="sort-caret ascending"></i>
                  <i class="sort-caret descending"></i>
                </span>
              </div>
            </th>
            <th v-if="columnsFilter.nameColumn" colspan="1" rowspan="1"><div class="cell">Название съемки</div></th>
            <th v-if="columnsFilter.commentColumn" colspan="1" rowspan="1" width="250"><div class="cell">Комментарий</div></th>
            <th v-if="columnsFilter.orderColumn" colspan="1" rowspan="1" width="120"><div class="cell">Заказ</div></th>
            <th v-if="columnsFilter.corrsColumn" colspan="1" rowspan="1" width="176"><div class="cell">Корреспонденты</div></th>
            <th v-if="columnsFilter.shootingColumn" colspan="1" rowspan="1" width="155"><div class="cell">Съемочная группа</div></th>
            <th v-if="columnsFilter.carsColumn" colspan="1" rowspan="1" width="170"><div class="cell">Машины,<br>водители</div></th>
          </tr>
        </thead>
        <tbody v-if="urgentdepartures.length === 0">
          <tr class="el-table__row">
            <td rowspan="1" :colspan="expandRowColspan" class="centered">
              <div class="cell">
                <NoData />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else v-for="item in urgentdepartures" :key="item.id">
          <tr class="el-table__row el-table__row--level-1">
            <td rowspan="1" colspan="1" class="el-table__expand-column">
              <div class="cell">
                <div class="el-table__expand-icon" :class="{ rotate: item.expand_row }" @click="showExpandRow(item)">
                  <i class="el-icon el-icon-arrow-right"></i>
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.dateDepartureColumn" class="center" rowspan="1" colspan="1">
              <div v-if="item.date_departure" class="cell bold">{{ moment(item.date_departure).format('HH:mm') }}</div>
              <div v-if="item.date_departure" class="cell">{{ moment(item.date_departure).format('DD/MM') }}</div>
            </td>
            <td v-if="columnsFilter.dateReturnColumn" rowspan="1" colspan="1">
              <div v-if="item.date_return" class="cell bold">{{ moment(item.date_return).format('HH:mm') }}</div>
              <div v-if="item.date_return" class="cell">{{ moment(item.date_return).format('DD/MM') }}</div>
            </td>
            <td v-if="columnsFilter.nameColumn" rowspan="1" colspan="1" @dblclick="showEditUrgentDepartureForm(item)">
              <div class="cell urgentdeparture-name">
                <span class="bold">
                  {{ item.name }} ({{ itemReserved(item.reserved) }})
                </span>
                <el-dropdown class="theme-dropdown" trigger="click" @command="handleDropdownClick">
                  <div class="theme-dropdown__item">
                    <span style="top: 8px;"></span>
                  </div>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="{name: 'add'}">Добавить</el-dropdown-item>
                    <el-dropdown-item :command="{name: 'edit', item: item}">Править</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
                <div class="cell urgentdeparture-address" v-if="item.address">
                  {{ item.address }}
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.commentColumn" rowspan="1" colspan="1">
              <div class="cell comment">{{ item.comment }}</div>
            </td>
            <td v-if="columnsFilter.orderColumn" rowspan="1" colspan="1">
              <div class="cell comment">
                <span class="empty-text" v-if="!item.comment_format">Не указан</span>
                <div class="cell" v-if="item.comment">{{ item.comment_format }}</div>
              </div>
            </td>
            <td v-if="columnsFilter.corrsColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemCorrespondents(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else class="employees-tags-wrapper">
                  <div  v-for="employee in itemCorrespondents(item).slice(0, item.correspondentsTags)" :key="employee.id">{{ employee.surname }}
                    <el-popconfirm
                      title="Вы уверены?"
                      @confirm="deleteResource(item, employee, 'employee')"
                    >
                      <i slot="reference" class="el-icon-delete delete-resource"></i>
                        Обновить
                    </el-popconfirm>
                  </div>
                  <span v-show="itemCorrespondents(item).length > item.correspondentsTags" class="add-tags-btn" @click="item.correspondentsTags += itemCorrespondents(item).length">+{{ itemCorrespondents(item).length - item.correspondentsTags }}</span>
                </div>
                <el-link type="primary" @click="showAddCorrespondents(item)">+ Добавить</el-link>
              </div>
            </td>
            <td v-if="columnsFilter.shootingColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemGroupShooting(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else class="employees-tags-wrapper">
                  <div  v-for="employee in itemGroupShooting(item).slice(0, item.groupShootingTags)" :key="employee.id">{{ employee.surname }}
                    <el-popconfirm
                      title="Вы уверены?"
                      @confirm="deleteResource(item, employee, 'employee')"
                    >
                      <i slot="reference" class="el-icon-delete delete-resource"></i>
                        Обновить
                    </el-popconfirm>
                  </div>
                  <span v-show="itemGroupShooting(item).length > item.groupShootingTags" class="add-tags-btn" @click="item.groupShootingTags += itemGroupShooting(item).length">+{{ itemGroupShooting(item).length - item.groupShootingTags }}</span>
                </div>
              </div>
            </td>
            <td v-if="columnsFilter.carsColumn" rowspan="1" colspan="1">
              <div class="cell">
                <div v-if="itemDrivers(item).length === 0 && itemCars(item).length === 0" class="empty-text">Не добавлены</div>
                <div v-else>
                  <div class="employees-tags-wrapper employees-tags-wrapper__cars">
                    <div v-for="car in itemCars(item).slice(0, item.carsTags)" :key="'car'+car.id">{{ car.name }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, car, 'tech_resource')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </div>
                    <span v-show="itemCars(item).length > item.carsTags" class="add-tags-btn" @click="item.carsTags += itemCars(item).length">+{{ itemCars(item).length - item.carsTags }}</span>
                  </div>
                  <div class="employees-tags-wrapper">
                    <div v-for="employee in itemDrivers(item).slice(0, item.driversTags)" :key="employee.id">{{ employee.surname }}
                      <el-popconfirm
                        title="Вы уверены?"
                        @confirm="deleteResource(item, employee, 'employee')"
                      >
                        <i slot="reference" class="el-icon-delete delete-resource"></i>
                          Обновить
                      </el-popconfirm>
                    </div>
                    <span v-show="itemDrivers(item).length > item.driversTags" class="add-tags-btn" @click="item.driversTags += itemDrivers(item).length">+{{ itemDrivers(item).length - item.driversTags }}</span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="item.expand_row === true" class="tr-expanded">
            <td rowspan="1" :colspan="expandRowColspan">
              <div class="cell">
                <p><span class="expand-row-title">Детальная информация:</span></p>
                <p v-if="item.metatheme_aether_plans.length"><span class="bold">Эфирный план: </span><span v-for="plan in item.metatheme_aether_plans" :key="'AP'+plan.id">{{ plan.name }}; </span></p>
                <p v-if="item.metatheme_inclusions.length"><span class="bold">Перегоны, включения: </span><span v-for="plan in item.metatheme_inclusions" :key="'I'+plan.id">{{ plan.name }}; </span></p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <UrgentDeparturesMobile
        id="urgent-departures-mobile"
        :shootings="urgentdepartures"
        @handleDropdownClick="handleDropdownClick"
        @showAddCorrespondents="showAddCorrespondents"
        @deleteResource="deleteResource"
      />
    </div>

    <el-dialog
      class="urgent-departures__create-departure"
      title="Добавление срочного выезда"
      :visible.sync="createUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideCreateUrgentDeparture"
    >
      <CreateUrgentDeparture
        @hideCreateUrgentDeparture="hideCreateUrgentDeparture"
        @created="addNewUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="urgent-departures__edit-departure"
      :title="editFormTitle"
      :visible.sync="editUrgentDepartureVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideEditUrgentDeparture"
    >
      <EditUrgentDeparture
        :curUrgentDeparture="curUrgentDeparture"
        @hideEditUrgentDeparture="hideEditUrgentDeparture"
        @edited="editUrgentDeparture"
      />
    </el-dialog>

    <el-dialog
      class="shooting-add-employees"
      title="Добавление корреспондентов на съёмку"
      :visible.sync="addCorrespondentsVisible"
      :destroy-on-close="true"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      @close="hideAddEmployees"
    >
      <AddCorrespondents
        :shootingFromParent="curShooting"
        @hideAddEmployees="hideAddEmployees"
        @added="$store.state.urgentdepartures.urgentDeparturesSearchFiled === null ? fetchUrgentDepartures() : filterTable()"
      />
    </el-dialog>
  </div>
</template>

<script>
import qs from 'qs'
import CreateUrgentDeparture from '@/components/urgentdepartures/CreateUrgentDeparture'
import EditUrgentDeparture from '@/components/urgentdepartures/EditUrgentDeparture'
import AddCorrespondents from '@/components/shootings/AddCorrespondents'
import UrgentDeparturesMobile from '@/components/urgentdepartures/mobile/UrgentDeparturesMobile'

export default {
  name: 'urgentdepartures',
  metaInfo: {
    title: 'Срочные выезды'
  },
  components: {
    CreateUrgentDeparture,
    EditUrgentDeparture,
    AddCorrespondents,
    UrgentDeparturesMobile
  },
  data() {
    return {
      loading: false,
      urgentdepartures: [],
      createUrgentDepartureVisible: false,
      editUrgentDepartureVisible: false,
      editFormTitle: null,
      curUrgentDeparture: null,
      dateDepartureClass: 'ascending',
      dateEndClass: null,
      sortParam: 'date_departure:asc',
      columnsFilter: {
        dateDepartureColumn: true,
        dateReturnColumn: true,
        nameColumn: true,
        commentColumn: true,
        orderColumn: true,
        corrsColumn: true,
        shootingColumn: true,
        carsColumn: true
      },
      curShooting: null,
      addCorrespondentsVisible: false
    }
  },
  async mounted() {
    if (!this.$route.query.date) {
      this.fetchUrgentDepartures()
    }
  },
  watch: {
    '$store.state.urgentdepartures.urgentUpdated': function () {
      if (this.$store.state.urgentdepartures.urgentDeparturesSearchFiled === null) {
        this.fetchUrgentDepartures()
      } else {
        this.filterTable()
      }
    },
    '$store.state.urgentdepartures.urgentDeparturesSearchFiled': function () {
      this.filterTable()
    },
  },
  computed: {
    expandRowColspan() {
      let cols = 1
      for (let key in this.columnsFilter) {
        if (this.columnsFilter[key]) {
          cols++
        }
      }
      return cols
    }
  },
  methods: {
    async fetchUrgentDepartures() {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'urgent_departure': true },
              { 'date_start_lte': this.moment(this.$store.state.urgentdepartures.dateUrgentDepartures).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.urgentdepartures.dateUrgentDepartures).set({hour:0,minute:0,second:0,millisecond:0}).format() },
            ],
            [
              { 'urgent_departure': true },
              { 'date_start_gte': this.moment(this.$store.state.urgentdepartures.dateUrgentDepartures).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.$store.state.urgentdepartures.dateUrgentDepartures).set({hour:23,minute:59,second:59,millisecond:0}).format() }
            ],
            [
              { 'urgent_departure': true },
              { 'date_start_gte': this.moment(this.$store.state.urgentdepartures.dateUrgentDepartures).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.$store.state.urgentdepartures.dateUrgentDepartures).add(this.$store.state.urgentdepartures.rangeUrgentDepartures, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
            ],
          ]
        }
      })
      let params = {
        _sort: this.sortParam,
        _limit: -1
      }
      this.urgentdepartures = await this.$store.dispatch('fetchShootings', {query, params})
      for (let i = 0; i < this.urgentdepartures.length; i++) {
        this.$set(this.urgentdepartures[i], 'correspondentsTags', 3)
        this.$set(this.urgentdepartures[i], 'groupShootingTags', 3)
        this.$set(this.urgentdepartures[i], 'driversTags', 3)
        this.$set(this.urgentdepartures[i], 'carsTags', 1)
      }
      this.loading = false
    },
    handleDropdownClick(command) {
      switch (command.name) {
        case 'add':
          this.createUrgentDepartureVisible = true
          break
        case 'edit':
          this.showEditUrgentDepartureForm(command.item)
          break
      }
    },
    showExpandRow(item) {
      item.expand_row ? this.$set(item, 'expand_row', false) : this.$set(item, 'expand_row', true)
    },
    dateDepartureSort() {
      this.dateEndClass = null
      if (this.$store.state.urgentdepartures.urgentDeparturesSearchFiled === null) {
        if (this.dateDepartureClass === 'ascending') {
          this.dateDepartureClass = 'descending'
          this.sortParam = 'date_departure:desc'
          this.fetchUrgentDepartures()
        } else {
          this.dateDepartureClass = 'ascending'
          this.sortParam = 'date_departure:asc'
          this.fetchUrgentDepartures()
        }
      } else {
        if (this.dateDepartureClass === 'ascending') {
          this.dateDepartureClass = 'descending'
          this.urgentdepartures = this.urgentdepartures.sort((a, b) => new Date(b.date_departure) - new Date(a.date_departure))
        } else {
          this.dateDepartureClass = 'ascending'
          this.urgentdepartures = this.urgentdepartures.sort((a, b) => new Date(a.date_departure) - new Date(b.date_departure))
        }
      }
    },
    dateEndSort() {
      this.dateDepartureClass = null
      if (this.$store.state.urgentdepartures.urgentDeparturesSearchFiled === null) {
        if (this.dateEndClass === 'ascending') {
          this.dateEndClass = 'descending'
          this.sortParam = 'date_return:desc'
          this.fetchUrgentDepartures()
        } else {
          this.dateEndClass = 'ascending'
          this.sortParam = 'date_return:asc'
          this.fetchUrgentDepartures()
        }
      } else {
        if (this.dateEndClass === 'ascending') {
          this.dateEndClass = 'descending'
          this.urgentdepartures = this.urgentdepartures.sort((a, b) => new Date(b.date_return) - new Date(a.date_return))
        } else {
          this.dateEndClass = 'ascending'
          this.urgentdepartures = this.urgentdepartures.sort((a, b) => new Date(a.date_return) - new Date(b.date_return))
        }
      }
    },
    itemReserved(reserved) {
      switch (reserved) {
        case 'ordinary':
          return 'Обычный'
        case 'reserve':
          return 'Резерв'
      }
    },
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    async deleteResource(item, resource, type) {
      this.loading = true
      if (type === 'tech_resource') {
        item.tech_resources.splice(item.tech_resources.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, tech_resources: item.tech_resources})
      } else if (type === 'employee') {
        item.employees.splice(item.employees.findIndex(el => el.id === resource.id), 1)
        await this.$store.dispatch('editShooting', {id: item.id, employees: item.employees})
        if (resource.employee_role === 4 && item.metatheme_aether_plans.some(ap => ap.name === 'Командировка')) {
          for (let i = 0; i < item.shootings_child.length; i++) {
            if (item.shootings_child[i].personalType === 'Командировка') {
              for (let j = 0; j < item.shootings_child[i].employees.length; j++) {
                if (item.shootings_child[i].employees[j].id === resource.id) {
                  await this.$store.dispatch('deleteShooting', item.shootings_child[i].id)
                }
              }
            }
          }
        }
      }
      this.loading = false
    },
    showAddCorrespondents(item) {
      this.curShooting = item
      this.addCorrespondentsVisible = true
    },
    hideAddEmployees() {
      this.addCorrespondentsVisible = false
    },
    showEditUrgentDepartureForm(item) {
      this.curUrgentDeparture = item
      this.editFormTitle = `Изменение срочного выезда "${item.name}"`
      this.editUrgentDepartureVisible = true
    },
    hideCreateUrgentDeparture() {
      this.createUrgentDepartureVisible = false
    },
    hideEditUrgentDeparture() {
      this.editUrgentDepartureVisible = false
    },
    addNewUrgentDeparture() {
      this.createUrgentDepartureVisible = false
      this.fetchUrgentDepartures()
    },
    editUrgentDeparture() {
      this.editUrgentDepartureVisible = false
      if (this.$store.state.urgentdepartures.urgentDeparturesSearchFiled === null) {
        this.fetchUrgentDepartures()
      } else {
        this.filterTable()
      }
    },
    async filterTable() {
      if (this.$store.state.urgentdepartures.urgentDeparturesSearchFiled === null) {
        this.fetchUrgentDepartures()
      } else {
        this.loading = true
        this.$store.commit('setDateUrgentDepartures', this.moment(new Date()).format())
        this.$store.commit('setRangeUrgentDepartures', 'day')
        let params = {
          _limit: -1
        }
        const query = qs.stringify({ _where: {
          _or: [
              [
                { 'urgent_departure': true },
                { 'name_contains': this.$store.state.urgentdepartures.urgentDeparturesSearchFiled.trim() }
              ],
              [
                { 'urgent_departure': true },
                { 'address_contains': this.$store.state.urgentdepartures.urgentDeparturesSearchFiled.trim() }
              ],
              [
                { 'urgent_departure': true },
                { 'comment_contains': this.$store.state.urgentdepartures.urgentDeparturesSearchFiled.trim() }
              ],
            ]
          }
        })
        const filteredShootings = await this.$store.dispatch('fetchShootings', {query, params})

        const queryAll = qs.stringify({ _where: {
          _or: [
              [
                { 'urgent_departure': true }
              ]
            ]
          }
        })
        const allShootings = await this.$store.dispatch('fetchShootings', {query: queryAll, params})
        const arr = []
        for (let i = 0; i < allShootings.length; i++) {
          for (let j = 0; j < allShootings[i].employees.length; j++) {
            if (allShootings[i].employees[j].surname) {
              let surname = allShootings[i].employees[j].surname.toLowerCase()
              let lowerString = this.$store.state.urgentdepartures.urgentDeparturesSearchFiled.toLowerCase()
              if (surname.includes(lowerString.trim())) {
                arr.push(allShootings[i])
              }
            }
          }
        }
        this.urgentdepartures = [...filteredShootings, ...arr]
        for (let i = 0; i < this.urgentdepartures.length; i++) {
          this.$set(this.urgentdepartures[i], 'correspondentsTags', 3)
          this.$set(this.urgentdepartures[i], 'groupShootingTags', 3)
          this.$set(this.urgentdepartures[i], 'driversTags', 3)
          this.$set(this.urgentdepartures[i], 'carsTags', 1)
        }
        this.dateDepartureClass = 'ascending'
        this.urgentdepartures = this.urgentdepartures.sort((a, b) => new Date(a.date_departure) - new Date(b.date_departure))
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.urgentdepartures-heading {
  display: flex;
  justify-content: flex-end;
  & .refresh-btn {
    margin-right: 10px;
  }
}
.urgentdepartures-table {
  & .bold {
    font-weight: bold;
  }
  & .centered {
    text-align: center;
  }
  & .cell {
    word-break: keep-all;
  }
  & .comment {
    font-size: 12px;
  }
  & .el-table__expand-icon {
    transition: transform .2s ease-in-out;
    &.rotate {
      transform: rotate(90deg);
    }
  }
  .urgentdeparture-address {
    background: #F7F7F7;
    padding: 10px;
  }
}
.urgent-departures__create-departure .el-dialog,
.urgent-departures__edit-departure .el-dialog {
  width: 950px;
}
#urgent-departures-mobile {
  display: none;
}
@media (max-width: 1100px) {
  .urgentdepartures-heading {
    padding-top: 42px;
    & .el-button, & .el-tooltip {
      display: none;
    }
  }
  .urgentdepartures-table {
    display: none;
  }
  #urgent-departures-mobile {
    display: block;
  }
  .urgent-departures__create-departure .el-dialog,
  .urgent-departures__edit-departure .el-dialog,
  .shooting-add-employees .el-dialog {
    width: 100%;
  }
}
</style>