<template>
  <div class="coordination-print">
    <div style="padding-bottom:50px;">
      <div v-if="dutyCorrs && dutyCorrs.length">
        <table class="coordination-print-table-schedule">
          <thead class="bg">
            <tr><th colspan="2">Москва</th></tr>
          </thead>
          <tbody>
            <tr class="coordination-print-table-schedule__title"><th colspan="2">Дежурные корреспонденты:</th></tr>
            <template v-for="shooting of dutyCorrs">
              <tr class="break-avoid" :key="shooting.id" v-if="shooting.employees[0]">
                <td>{{ shooting.employees[0].surname }} {{ shooting.employees[0].name | truncate }}{{ shooting.employees[0].patronymic | truncate }}</td>
                <td>{{ formatDutyType(shooting) }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <table>
        <thead>
          <tr>
            <th width="50">Отъезд</th>
            <th width="50">Прибытие</th>
            <th>Название съёмки</th>
            <th width="100">Адрес</th>
            <th width="100">Комментарий</th>
            <th width="100">Корреспонденты</th>
            <th width="100">Съёмочная группа</th>
            <th width="100">Оборудование</th>
            <th width="100">Машины и водители</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in shootings" :key="item.id">
            <td>
              <div v-if="item.duty_group || item.coordination_event" class="centered">
                <div v-if="item.date_start">{{ moment(item.date_start).format('HH:mm') }}</div>
                <div v-if="item.date_start">{{ moment(item.date_start).format('DD/MM') }}</div>
              </div>
              <div v-else class="centered">
                <div v-if="item.date_departure">{{ moment(item.date_departure).format('HH:mm') }}</div>
                <div v-if="item.date_departure">{{ moment(item.date_departure).format('DD/MM') }}</div>
              </div>
            </td>
            <td>
            <div v-if="item.duty_group || item.coordination_event" class="centered">
                <div v-if="item.date_end">{{ moment(item.date_end).format('HH:mm') }}</div>
                <div v-if="item.date_end">{{ moment(item.date_end).format('DD/MM') }}</div>
              </div>
              <div v-else class="centered">
                <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('HH:mm') }}</div>
                <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('DD/MM') }}</div>
              </div>
            </td>
            <td>
              <span v-if="item.status_coord === 'cancelled'" style="color: red;">[Съёмка отменена]</span>
              {{ item.name }}
            </td>
            <td>
              {{ item.address }}
            </td>
            <td>
              <div class="comment">
                {{ item.comment }}
              </div>
            </td>
            <td>
              <div v-for="employee in itemCorrespondents(item)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div v-for="employee in itemGroupShooting(item)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
            <td>
              <div v-for="hardware in item.metatheme_hardwares" :key="'H'+hardware.id">
                {{ hardware.name }}
              </div>
            </td>
            <td>
              <div v-for="car in itemCars(item)" :key="'car'+car.id">
                {{ car.name }}
              </div>
              <div v-for="employee in itemDrivers(item)" :key="employee.id">
                {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'printcoordination',
  props: {
    shootings: {
      type: Array,
      required: false
    },
    dutyCorrs: {
      type: Array,
      required: false
    }
  },
  methods: {
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    formatDutyType(shooting) {
      if (shooting.personalType === 'Дежурный 18' && this.moment(shooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(this.$store.state.coordination.dateCoordination).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
        return `${shooting.personalType} (после ночного)`
      } else {
        return shooting.personalType
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>
<style lang="scss">
.coordination-print-table-schedule {
  width: 320px !important;
  margin: 20px 0;
  & .bg {
    background-color: #ddd;
  }
  & th {
    font-size: 16px;
  }
  &__title {
    text-align: left;
    & th {
      font-size: 14px;
    }
  }
}
</style>