<template>
  <div class="shooting-history-print">
    <div v-if="shooting">
      <p><span style="font-weight:bold;">Название: </span>{{ shooting.name }}</p>
      <p><span style="font-weight:bold;">Дата и время создания: </span>{{ moment(shooting.created_at).format('DD-MM-YYYY') }} {{ moment(shooting.created_at).format('HH:mm') }}</p>
      <p><span style="font-weight:bold;">Кем создана: </span>{{ shooting.author }}</p>
    </div>
    <div>
      <table style="width:100%;">
        <thead>
          <tr>
            <th width="20">#</th>
            <th width="134">Дата и время</th>
            <th width="170">Фамилия Имя</th>
            <th width="150">Название поля</th>
            <th width="198">Содержание поля (до сохранения изменений)</th>
            <th width="198">Содержание поля (после сохранения изменений)</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, index) in rows" :key="index">
            <td style="text-align:center;">{{ index + 1 }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.author | truncate }}</td>
            <td>{{ row.field }}</td>
            <td>
              <div v-if="!row.contentBefore" style="color:red;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true">
                  <div v-html="row.contentBefore.replace(/,/g, ', ')"></div>
                </div>
                <div v-else>
                  {{ row.contentBefore }}
                </div>
              </div>
            </td>
            <td>
              <div v-if="!row.content" style="color:green;">
                Пусто
              </div>
              <div v-else>
                <div v-if="row.diff === true">
                  <div v-html="row.content.replace(/,/g, ', ')"></div>
                </div>
                <div v-else>
                  {{ row.content }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'printshootinghistory',
  props: {
    shooting: {
      type: Object,
      required: false
    },
    rows: {
      type: Array,
      required: false
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      let arr = value.split('')
      let index
      for (let i = arr.length; i > 0; i--) {
        if (arr[i] === '(') {
          index = i
          break
        }
      }
      value = value.substr(0, index)
      return value.trim()
    }
  }
}
</script>

<style lang="scss">
.shooting-history-print {
  padding: 30px;
  padding-bottom: 50px;
  & table {
    border-collapse: collapse;
  }
  & th, td {
    border: 1px solid #000;
    padding: 5px;
  }
}
</style>