<template>
  <div>
    <div style="padding-bottom:50px;">
      <h2 class="centered">Съёмки и Сотрудники - {{ moment($store.state.coordination.dateCoordination).format('DD.MM.YYYY') }}</h2>
      <div>
        <h3>Дежурные корреспонденты - Москва</h3>
        <table style="width: 400px;">
          <thead class="bg">
            <tr><th colspan="2">Москва</th></tr>
          </thead>
          <tbody>
            <tr><td colspan="2" style="font-weight: bold;">Дежурные корреспонденты:</td></tr>
            <tr v-if="!dutyCorrs.length">
              <td colspan="2" class="centered">Нет данных</td>
            </tr>
            <template v-else v-for="shooting of dutyCorrs">
              <tr class="break-avoid" :key="shooting.id" v-if="shooting.employees[0]">
                <td>{{ shooting.employees[0].surname }} {{ shooting.employees[0].name | truncate }}{{ shooting.employees[0].patronymic | truncate }}</td>
                <td>{{ formatDutyType(shooting) }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div class="break-before">
        <h3>Основные съёмки</h3>
        <table>
          <thead>
            <tr>
              <th width="50">Отъезд</th>
              <th width="50">Прибытие</th>
              <th>Название съёмки</th>
              <th width="100">Адрес</th>
              <th width="100">Комментарий</th>
              <th width="100">Корреспонденты</th>
              <th width="100">Съёмочная группа</th>
              <th width="100">Оборудование</th>
              <th width="100">Машины и водители</th>
            </tr>
          </thead>
          <tbody v-if="!shootingsBasic.length">
            <tr>
              <td colspan="9" class="centered">Нет данных</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr v-for="item in shootingsBasic" :key="item.id" :class="{ 'cancelled': item.status_coord === 'cancelled' }">
              <td>
                <div v-if="item.duty_group || item.coordination_event" class="centered">
                  <div v-if="item.date_start">{{ moment(item.date_start).format('HH:mm') }}</div>
                  <div v-if="item.date_start">{{ moment(item.date_start).format('DD/MM') }}</div>
                </div>
                <div v-else class="centered">
                  <div v-if="item.date_departure">{{ moment(item.date_departure).format('HH:mm') }}</div>
                  <div v-if="item.date_departure">{{ moment(item.date_departure).format('DD/MM') }}</div>
                </div>
              </td>
              <td>
              <div v-if="item.duty_group || item.coordination_event" class="centered">
                  <div v-if="item.date_end">{{ moment(item.date_end).format('HH:mm') }}</div>
                  <div v-if="item.date_end">{{ moment(item.date_end).format('DD/MM') }}</div>
                </div>
                <div v-else class="centered">
                  <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('HH:mm') }}</div>
                  <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('DD/MM') }}</div>
                </div>
              </td>
              <td>
                <span v-if="item.status_coord === 'cancelled'" style="color: red;">[Съёмка отменена]</span>
                {{ item.name }}
              </td>
              <td>
                {{ item.address }}
              </td>
              <td>
                <div class="comment">
                  {{ item.comment }}
                </div>
              </td>
              <td>
                <div v-for="employee in itemCorrespondents(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
              <td>
                <div v-for="employee in itemGroupShooting(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
              <td>
                <div v-for="hardware in item.metatheme_hardwares" :key="'H'+hardware.id">
                  {{ hardware.name }}
                </div>
              </td>
              <td>
                <div v-for="car in itemCars(item)" :key="'car'+car.id">
                  {{ car.name }}
                </div>
                <div v-for="employee in itemDrivers(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="break-before">
        <h3>Дополнительные съёмки</h3>
        <table>
          <thead>
            <tr>
              <th width="50">Отъезд</th>
              <th width="50">Прибытие</th>
              <th>Название съёмки</th>
              <th width="100">Адрес</th>
              <th width="100">Комментарий</th>
              <th width="100">Корреспонденты</th>
              <th width="100">Съёмочная группа</th>
              <th width="100">Оборудование</th>
              <th width="100">Машины и водители</th>
            </tr>
          </thead>
          <tbody v-if="!shootingsAdditional.length">
            <tr>
              <td colspan="9" class="centered">Нет данных</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr v-for="item in shootingsAdditional" :key="item.id">
              <td>
                <div class="centered">
                  <div v-if="item.date_departure">{{ moment(item.date_departure).format('HH:mm') }}</div>
                  <div v-if="item.date_departure">{{ moment(item.date_departure).format('DD/MM') }}</div>
                </div>
              </td>
              <td>
                <div class="centered">
                  <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('HH:mm') }}</div>
                  <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('DD/MM') }}</div>
                </div>
              </td>
              <td>
                <span v-if="item.status_coord === 'cancelled'" style="color: red;">[Съёмка отменена]</span>
                {{ item.name }}
              </td>
              <td>
                {{ item.address }}
              </td>
              <td>
                <div class="comment">
                  {{ item.comment }}
                </div>
              </td>
              <td>
                <div v-for="employee in itemCorrespondents(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
              <td>
                <div v-for="employee in itemGroupShooting(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
              <td>
                <div v-for="hardware in item.metatheme_hardwares" :key="'H'+hardware.id">
                  {{ hardware.name }}
                </div>
              </td>
              <td>
                <div v-for="car in itemCars(item)" :key="'car'+car.id">
                  {{ car.name }}
                </div>
                <div v-for="employee in itemDrivers(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="break-before">
        <h3>График командировок</h3>
        <table>
          <thead>
            <tr>
              <th width="50">Отъезд</th>
              <th width="50">Прибытие</th>
              <th>Название съёмки</th>
              <th width="100">Адрес</th>
              <th width="100">Комментарий</th>
              <th width="100">Корреспонденты</th>
              <th width="100">Съёмочная группа</th>
              <th width="100">Оборудование</th>
              <th width="100">Машины и водители</th>
            </tr>
          </thead>
          <tbody v-if="!businessTrips.length">
            <tr>
              <td colspan="9" class="centered">Нет данных</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr v-for="item in businessTrips" :key="item.id">
              <td>
                <div class="centered">
                  <div v-if="item.date_departure">{{ moment(item.date_departure).format('HH:mm') }}</div>
                  <div v-if="item.date_departure">{{ moment(item.date_departure).format('DD/MM') }}</div>
                </div>
              </td>
              <td>
                <div class="centered">
                  <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('HH:mm') }}</div>
                  <div v-if="item.date_arrival">{{ moment(item.date_arrival).format('DD/MM') }}</div>
                </div>
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.address }}
              </td>
              <td>
                <div class="comment">
                  {{ item.comment }}
                </div>
              </td>
              <td>
                <div v-for="employee in itemCorrespondents(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
              <td>
                <div v-for="employee in itemGroupShooting(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
              <td>
                <div v-for="hardware in item.metatheme_hardwares" :key="'H'+hardware.id">
                  {{ hardware.name }}
                </div>
              </td>
              <td>
                <div v-for="car in itemCars(item)" :key="'car'+car.id">
                  {{ car.name }}
                </div>
                <div v-for="employee in itemDrivers(item)" :key="employee.id">
                  {{ employee.surname }} {{ employee.name | truncate }}{{ employee.patronymic | truncate }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import qs from 'qs'

export default {
  name: 'reportmainpreset',
  props: {
    preset: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      loading: false,
      dutyCorrs: [],
      shootingsBasic: [],
      shootingsAdditional: [],
      businessTrips: []
    }
  },
  watch: { 
    preset: {
      immediate: true,
      handler() {
        if (this.preset === 'main') {
          this.rerender()
        }
      }
    },
    '$store.state.coordination.dateCoordination': {
      immediate: false,
      handler() {
        if (this.preset === 'main') {
          this.rerender()
        }
      }
    }
  },
  methods: {
    async rerender() {
      this.$emit('rerender', true)
      await this.fetchDutyCorrespondents()
      await this.fetchShootings()
      this.$emit('rerender', false)
    },
    async fetchDutyCorrespondents() {
      this.loading = true
      const query = qs.stringify({ _where: {
        _or: [
            [
              { 'date_start_gte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'date_start_lte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'personal': true }
            ],
            [
              { 'date_start_lte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'personal': true }
            ]
          ]
        }
      })
      let allShootings = await this.$http({
        method: 'get',
        url: `${this.$store.state.url}/shootings?${query}`, 
        params: { _limit: -1 }
      })
      let shootings = allShootings.data.filter(s => s.employees.some(e => e.employee_role === 4 && e.location === 1))
      shootings = shootings.filter(s => s.employees.every(e => !e.surname.includes('!')))
      shootings = shootings.filter(s => s.personalType.includes('Дежурный'))
      this.dutyCorrs = shootings.sort((a, b) => a.personalType.localeCompare(b.personalType))
      this.loading = false
    },
    async fetchShootings() {
      this.loading = true
      const query = qs.stringify({ 
        _where: {
        _or: [
            [
              { 'date_start_gte': this.$store.state.coordination.dateCoordination },
              { 'date_start_lte': this.moment(this.$store.state.coordination.dateCoordination).add(this.$store.state.coordination.rangeCoordination, 'days').set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'status_coord_ne': 'new' },
              { 'personal_ne': true }
            ],
            [
              { 'date_start_lte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:23,minute:59,second:59,millisecond:0}).format() },
              { 'date_end_gte': this.moment(this.$store.state.coordination.dateCoordination).set({hour:0,minute:0,second:0,millisecond:0}).format() },
              { 'status_coord_ne': 'new' },
              { 'personal_ne': true }
            ]
          ]
        }
      })
      let params = {
        _sort: 'date_start:asc',
        _limit: -1
      }
      let shootings = await this.$store.dispatch('fetchShootings', {query, params})

      this.shootingsBasic = shootings.filter(s =>
        this.moment(s.created_at).format('DD-MM-YYYY') < this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY') ||
        s.duty_group ||
        s.coordination_event
      )
      const arr1 = this.shootingsBasic.filter(s => s.metatheme_inclusions.some(m => m.name === 'ПУЛ' || m.name === 'Трансляция'))
      for (let i = 0; i < arr1.length; i++) {
        this.shootingsBasic.splice(this.shootingsBasic.findIndex(item => item.id === arr1[i].id), 1)
      }

      this.shootingsAdditional = shootings.filter(s => !s.duty_group && !s.coordination_event)
      this.shootingsAdditional = shootings.filter(s =>
        this.moment(s.created_at).format('DD-MM-YYYY') === this.moment(s.date_start).format('DD-MM-YYYY') &&
        this.moment(s.created_at).format('DD-MM-YYYY') === this.moment(this.$store.state.coordination.dateCoordination).format('DD-MM-YYYY')
      )
      const arr2 = this.shootingsAdditional.filter(s => s.metatheme_inclusions.some(m => m.name === 'ПУЛ' || m.name === 'Трансляция'))
      for (let i = 0; i < arr2.length; i++) {
        this.shootingsAdditional.splice(this.shootingsAdditional.findIndex(item => item.id === arr2[i].id), 1)
      }

      this.loading = false
    },
    itemCorrespondents(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 4 ||
        e.employee_role === 7 ||
        e.employee_role === 8 ||
        e.employee_role === 15 ||
        e.employee_role === 16 ||
        e.employee_role === 18 ||
        e.employee_role === 19
      )
      return result
    },
    itemGroupShooting(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 1 ||
        e.employee_role === 5 ||
        e.employee_role === 12
      )
      return result
    },
    itemDrivers(item) {
      const arr = []
      for (let i = 0; i < item.employees.length; i++) {
        arr.push(item.employees[i])
      }
      const result = arr.filter(e =>
        e.employee_role === 2 ||
        e.employee_role === 20
      )
      return result
    },
    itemCars(item) {
      const arr = []
      for (let i = 0; i < item.tech_resources.length; i++) {
        arr.push(item.tech_resources[i])
      }
      const result = arr.filter(t =>
        t.type === 'Машина'
      )
      return result
    },
    formatDutyType(shooting) {
      if (shooting.personalType === 'Дежурный 18' && this.moment(shooting.date_start).set({hour:0,minute:0,second:0,millisecond:0}).format() < this.moment(this.$store.state.coordination.dateCoordination).set({hour:0,minute:0,second:0,millisecond:0}).format()) {
        return `${shooting.personalType} (после ночного)`
      } else {
        return shooting.personalType
      }
    }
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + '.'
    }
  }
}
</script>