// theme color
$--color-primary: #7C43BA;
$--color-danger: #E62744;

// icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Общие стили
html, body, .app {
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;
  min-width: 1400px;
  margin: 0;
  padding: 0;
}
body {
  -webkit-print-color-adjust: exact !important;
}
.app {
  height: 100px;
  overflow: auto;
}
.print-only, .mobile-only {
  display: none;
}

// Стили для шапок таблиц
.sticky {
  position: sticky;
  top: 60px;
  z-index: 2;
}

// Стили для диалогов (модальных окон)
.v-modal {
  display: none;
}
.el-dialog {
  margin-top: 15px !important;
  &__wrapper {
    background: rgba(0, 0, 0, 0.5);
  }
  &__title {
    font-size: 22px;
    font-weight: bold;
    color: #191919;
  }
  &__header {
    padding: 30px;
    padding-bottom: 0px;
  }
  &__headerbtn {
    top: 15px;
    right: 15px;
    font-size: 22px;
  }
  &__body {
    padding: 30px;
  }
  & .dialog-footer {
    display: block;
    padding-top: 30px;
  }
}
.el-popover.el-popper.el-popover--plain {
  overflow: hidden !important;
}
.el-notification__title {
  font-size: 14px;
}
.el-notification__content {
  text-align: left;
}

// Общие стили для форм
form.el-form {
  padding: 15px 0;
  border-top: 2px solid #E4E4E4;
  border-bottom: 2px solid #E4E4E4;
  &.no-border {
    padding: 0;
    border-top: none;
    border-bottom: none;
  }
}
form.el-form + form.el-form {
  border-top: none;
}
.el-form-item .el-date-editor {
  & .el-input__inner {
    padding-left: 10px;
  }
  & .el-input__prefix {
    display: none;
  }
  & .el-input__suffix {
    width: 30px;
    background: url('../svg/icons/employeeschedule.svg') center no-repeat;
    background-size: 86%;
    opacity: .3;
  }
}
.el-form-item__label {
  position: relative;
  color: #1B1B1B;
}
.el-form--label-top .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before,
.el-form--label-top .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
  margin-right: 0;
  position: absolute;
  right: -8px;
}
.select-tags {
  height: 125px;
  cursor: pointer;
  & .el-input__suffix {
    display: none;
  }
  & .el-input__inner {
    height: 125px !important;
    position: relative;
    &::placeholder {
      position: absolute;
      top: 15px;
    }
  }
  & .el-select__tags {
    max-width: 100% !important;
    flex-direction: row;
    height: 125px;
    overflow: hidden;
    & .el-select__input {
      width: 100% !important;
      order: -1;
      padding-top: 5px;
    }
  }
  & .el-select__tags > span {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 95% !important;
    height: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .3) rgba(0, 0, 0, .2);
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .3);
    }
  }
  & .el-tag {
    display: block !important;
    height: auto !important;
    width: fit-content !important;
    color: #1B1B1B !important;
    margin-bottom: 7px !important;
    padding: 0 8px !important;
    line-height: 22px !important;
    border-radius: 3px !important;
    background-color: #f4f4f5 !important;
    border-color: #e9e9eb !important;
    white-space: normal !important;
    word-break: break-word !important;
    &__close.el-icon-close {
      font-size: 14px !important;
      background-color: #f4f4f5 !important;
      &:hover {
        color: #909399 !important;
        background-color: #f4f4f5 !important;
      }
    }
    &:hover {
      background-color: rgba(124, 67, 186, .2) !important;
      border-color: rgba(124, 67, 186, .2) !important;
      .el-tag__close.el-icon-close {
        background-color: transparent !important;
        &:hover {
          color: #7C43BA !important;
          background-color: transparent !important;
        }
      }
    }
  }
}
.el-form-item.switch-coord-row {
  display: flex;
  margin-bottom: 0;
}
.switch {
  margin-left: 15px;
  & .el-switch__core {
    width: 33px;
    height: 10px;
    background: rgba(27, 27, 27, .1);
    border: none;
    border-radius: 15px;
    &::after {
      top: -4px;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: #E4E4E4;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    }
  }
  &.is-checked {
    & .el-switch__core {
      background: #7C43BA;
      &::after {
        top: -4px;
        left: 100%;
        background-color: #7C43BA;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

// Стили для кнопки Вверх
.el-backtop, .el-backtop:hover {
  background-color: #7C43BA;
}
.el-backtop, .el-calendar-table td.is-today {
  color: #FFF;
}

// Стили для кнопки История изменений
.history-btn {
  padding: 5px 7px;
  margin-left: 5px;
}

// Стили для всплывающих подсказок
.el-popover {
  text-align: left;
  word-break: keep-all;
}

// Стили для табов
.el-tabs__item:active, .el-tabs__item:focus,
.el-tabs__item:focus-within, .el-tabs__item:target,
.el-tabs__item:hover, .el-tabs__item:visited,
.el-tabs__item:focus-visible {
  outline: none !important;
}

// Стили для дропдауна в шапке (сутки,неделя,месяц)
.header__dropdown--date {
  & .el-icon-date:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: url('../svg/icons/employeeschedule.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -6px;
  }
}

// Стили для кнопки "Дежурные корреспонденты"
.duty-corrs-btn {
  font-size: 12px;
  padding: 7px 10px;
  margin-top: -1px;
  vertical-align: middle;
}

// Стили для строки поиска
.search-field-block {
  display: flex;
  position: relative;
  height: 42px;
}
.search-field-input {
  & .el-input__inner {
    position: absolute;
    right: 0;
    width: 0;
    height: 42px;
    line-height: 42px;
    border: none;
    border-radius: 0;
    padding: 0;
    transition: all .5s;
  }
  &.active .el-input__inner {
    width: 200px;
    border-bottom: 1px solid #DCDFE6;
    padding-left: 10px;
    padding-right: 20px;
    transition: all .5s;
  }
}
.search-field-btn,
.search-field-btn:hover,
.search-field-btn:focus,
.search-field-btn:active {
  background: #fff;
  color: #000;
  border: 1px solid #E4E4E4;
  padding: 12px;
}
.el-button + .el-button.search-field-btn {
  margin-left: 0;
}
.search-field-btn.active {
  border-radius: 4px 4px 4px 0;
}

.mobile-only {
  .search-field-block {
    margin-right: 10px;
    & .search-field-btn-clear {
      display: none;
      &.active {
        display: block;
        position: absolute;
        width: 36px;
        height: 40px;
        left: calc(100vw - 46px);
        top: 2px;
        border-radius: 4px 4px 4px 0;
        padding: 12px 10px;
        z-index: 30;
      }
    }
  }
  .search-field-input {
    &.active::before {
      content: '';
      display: block;
      width: calc(100vw - 46px);
      position: absolute;
      top: -8px;
      left: 0;
      right: 0;
      bottom: -8px;
      background: #fff;
    }
    & .el-input__inner {
      left: 0;
    }
    &.active .el-input__inner {
      width: calc(100vw - 60px);
      padding-left: 10px;
      z-index: 10;
    }
    &.active .el-input__suffix {
      left: 5px;
      z-index: 20;
    }
  }
  .search-field-btn.active {
    border-radius: 4px 4px 0 4px;
  }
}

// Общие стили для таблиц
.el-table table {
  border-spacing: 0px 15px;
  background: #F7F7F7;

  & .employees-tags-wrapper {
    & div:nth-last-child(-n+2) {
      display: inline-block;
    }
    &__cars {
      & > div:nth-last-child(-n+2) {
        display: inline;
      }
    }
  }

  & .tags-wrapper + p {
    margin: 0;
    margin-bottom: 5px;
    word-break: break-word;
  }

  & .el-tag {
    background-color: #fff;
    border-color: rgba(27, 27, 27, .2);
    color: rgba(27, 27, 27, .7);
    display: block;
    width: fit-content;
    height: 20px;
    padding: 0 10px;
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    box-sizing: border-box;
    white-space: nowrap;
    &:nth-last-child(-n+2) {
      display: inline-block;
    }
  }
  & .add-tags-btn {
    font-size: 12px;
    color: #7C43BA;
    margin-left: 5px;
    cursor: pointer;
  }
}
.el-table::before {
  display: none;
}
.el-table th, .el-table td {
  vertical-align: top;
}
.el-table td {
  color: #1B1B1B;
  padding: 25px 0;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  &:first-child {
    border-left: 1px solid #E4E4E4;
  }
  &:last-child {
    border-right: 1px solid #E4E4E4;
  }
}
.el-table th {
  font-size: 13px;
  font-weight: normal;
  background-color: #F7F7F7;
  border: none;
  border-bottom: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4;
}
.cell.overflow-visible {
  overflow: visible;
}
.tr-expanded > td:first-child {
  position: relative;
  border-top: none;
  padding-top: 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: -1px;
    width: 100%;
    height: 15px;
    background: #fff;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
  }
  & > .cell {
    padding-left: 20px;
    padding-right: 20px;
  }
  & p {
    margin: 10px 0;
  }
}
.tr-expanded__bg > td:first-child {
  &::before {
    background: #F9F9F9;
  }
}
.el-table__expand-icon .el-icon {
  font-size: 20px;
  font-weight: 900;
  color: #7C43BA;
}
.el-table [class*=el-table__row--level] .el-table__expand-icon {
  margin-right: 0;
  margin-top: 7px;
  margin-left: 3px;
}
.expand-row-title {
  font-size: 12px;
  color: rgba(25, 25, 25, .4);
}
.empty-text {
  font-size: 13px;
  color: rgba(25, 25, 25, .4);
}
.theme-dropdown {
  position: relative;
  &__item {
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left: 5px;
    & span {
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      background: #7C43BA;
      border-radius: 4px;
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 4px;
        height: 4px;
        background: #7C43BA;
        border-radius: 4px;
      }
      &::before {
        left: 6px;
      }
      &::after {
        left: 12px;
      }
    }
  }
}
.theme-address {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.el-table .caret-wrapper {
  margin-top: -9px;
}
.el-table .sort-caret.ascending {
  top: 10px;
}
.el-table .sort-caret.descending {
  bottom: 2px;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #FFF;
}
.delete-resource {
  color: #E62744;
  cursor: pointer;
}

// Стили для форм добавления сотрудников в съемку
.shooting-add-employees-form {
  &__header {
    display: flex;
    justify-content: flex-end;
  }
  &__tabs {
    margin-bottom: 20px;
    & .el-tabs__header {
      margin: 0;
      margin-bottom: 1px;
    }
    & .el-tabs__nav {
      padding: 15px;
      &-wrap::after {
        height: 0;
        background-color: transparent;
      }
      &-scroll {
        background-color: rgba(216, 216, 216, .2);
        padding: 0 30px;
      }
    }
    & .el-tabs__active-bar {
      height: 3px;
      left: 15px;
      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 3px;
        background: #7C43BA;
      }
      &::before {
        left: -15px;
      }
      &::after {
        right: -15px;
      }
    }
  }
  &__query-input {
    display: none;
  }
  &__employees-item {
    display: inline-block;
    margin-bottom: 10px;
    &__inner {
      padding-right: 10px;
      & span.el-tag {
        display: inline-block;
        height: 28px;
        line-height: 26px;
        background-color: #f2ecf8;
        border-color: #e5d9f1;
        border-radius: 3px 0 0 3px;
        color: #7C43BA;
      }
      &.busy {
        & span.el-tag {
          color: #E62744;
          background-color: rgba(230, 39, 68, .1);
          border: 1px solid #E62744;
          border-right: none;
        }
      }
    }
    &.shooting-add-employees-form__employees-item--added {
      display: none;
    }
    & .el-button {
      padding: 7px 6px;
      border-radius: 0 3px 3px 0;
      margin-left: 0;
      &.no-border-radius {
        border-radius: 0;
      }
    }
  }
  &__footer {
    display: block;
    margin-top: 30px;
  }
}

// Стили для datepicker в шапке (с иконкой "Домой")
.date-picker-wrapper {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  &--no-margin {
    margin-right: 0;
  }
}
.date-picker-day-of-week {
  width: 100%;
  position: absolute;
  bottom: -2px;
  text-align: center;
  font-size: 12px;
  &:first-letter {
    text-transform: uppercase;
  }
}
.el-date-picker.has-sidebar {
  width: 322px;
}
.el-picker-panel [slot=sidebar]+.el-picker-panel__body, .el-picker-panel__sidebar+.el-picker-panel__body {
  margin-left: 0;
}
.el-picker-panel__sidebar {
  position: absolute;
  top: 15px;
  left: 65px;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-right: none;
  box-sizing: border-box;
  padding-top: 0;
  background-color: #FFF;
  overflow: auto;
  & .el-picker-panel__shortcut {
    display: none;
    &:first-child {
      display: block;
      height: 100%;
      font-family: element-icons!important;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      padding: 0;
    
      &::before {
        content: "\e7b9";
      }
    }
  }
}

@media (max-width: 1100px) {
  html, body, .app {
    min-width: 320px;
  }
  .el-table, table.el-table__header, .employee-schedule {
    min-width: 1400px;
  }
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block;
  }
  .date-picker-wrapper {
    margin-right: 0;
    & .el-date-editor {
      width: 95px !important;
    }
  }
  .el-dialog {
    margin: 0 !important;
    &__title {
      font-size: 18px;
    }
    &__header {
      padding: 35px 10px 0px 10px;
    }
    &__body {
      padding: 10px;
      padding-bottom: 30px;
    }
  }
  .el-message {
    min-width: 320px;
  }
  form.el-form {
    padding: 0;
    border-top: none;
    border-bottom: none;
  }
  .theme-dropdown {
    &__item {
      margin-left: 0;
      & span {
        background: #A3A3A3;
        &::before, &::after {
          background: #A3A3A3;
        }
      }
    }
    &__btn {
      position: relative;
      padding-left: 45px;
      &::before {
        content: '';
        display: block;
        width: 45px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 8px;
      }
      &__add::before {
        background: url('../svg/icons/add.svg') center no-repeat;
      }
      &__edit::before {
        background: url('../svg/icons/edit.svg') center no-repeat;
      }
    }
  }
}
@media (max-width: 768px) {
  // Стили для форм добавления сотрудников в съемку
  .shooting-add-employees-form {
    &__header {
      display: none;
    }
    &__tabs {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        width: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
      & .el-tabs__nav {
        padding: 0;
        &-scroll {
          background-color: #fff;
          padding: 0;
        }
      }
      & .el-tabs__active-bar {
        left: 0;
        &::before, &::after {
          width: 0;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
      }
      & .el-tabs__item {
        padding: 0 15px;
      }
    }
    &__query-input {
      display: block;
      position: relative;
      margin-bottom: 20px;
      & input {
        width: 100%;
        -webkit-appearance: none;
        background-color: #FFFFFF;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        box-sizing: border-box;
        color: #606266;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: none;
        padding: 0 15px;
        padding-right: 40px;
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        &:focus {
          outline: none;
          border-color: #7C43BA;
        }
        &::placeholder {
          opacity: .5;
        }
      }
      &::after {
        content: '';
        display: block;
        width: 18px;
        height: 17px;
        position: absolute;
        top: 12px;
        right: 14px;
        background: url('../svg/icons/search.svg') center no-repeat;
      }
    }
    &__employees-item {
      display: block;
      margin-bottom: 15px;
      &__inner {
        display: flex;
        max-width: 400px;
        & span.el-tag {
          font-size: 14px;
          line-height: 20px;
          color: #191919;
          background-color: transparent;
          border: none;
        }
        &.busy {
          & span.el-tag {
            color: #191919;
            background-color: transparent;
            border: none;
          }
        }
      }
      &.shooting-add-employees-form__employees-item--added {
        display: block;
      }
      & .el-button {
        padding: 0;
        border-radius: 15px;
        margin-left: 0;
      }
      &__busy-btn.el-button,
      &__busy-btn.el-button:active,
      &__busy-btn.el-button:focus,
      &__busy-btn.el-button:hover {
        order: -1;
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        background-image: url('../svg/icons/user.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        & i {
          display: none;
        }
      }
      &__busy-btn.shooting-add-employees-form__employees-item__added-btn.el-button,
      &__busy-btn.shooting-add-employees-form__employees-item__added-btn.el-button:active,
      &__busy-btn.shooting-add-employees-form__employees-item__added-btn.el-button:focus,
      &__busy-btn.shooting-add-employees-form__employees-item__added-btn.el-button:hover {
        background-image: url('../svg/icons/user-added.svg');
      }
      &__inner.busy {
        & .shooting-add-employees-form__employees-item__busy-btn.el-button,
        & .shooting-add-employees-form__employees-item__busy-btn.el-button:active,
        & .shooting-add-employees-form__employees-item__busy-btn.el-button:focus,
        & .shooting-add-employees-form__employees-item__busy-btn.el-button:hover {
          background-image: url('../svg/icons/user-busy.svg');
        }
      }
      &__add-btn.el-button {
        width: 20px;
        height: 20px;
        margin-left: auto;
      }
      &__delete-btn {
        width: 17px;
        height: 15px;
        margin-left: auto;
      }
    }
    &__footer {
      display: block;
      margin-top: 30px;
    }
  }
}
@media (max-width: 440px) {
  body.locked {
    position: relative;
    overflow-y: hidden;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 100;
    }
    &--top::after {
      top: 0;
    }
  }
  .el-date-picker.has-sidebar {
    box-sizing: border-box;
    width: 100%;
    top: 45px !important;
    left: 0 !important;
    padding-bottom: 50px;
    & .el-picker-panel__content {
      width: 92%;
    }
    .el-picker-panel__sidebar {
      display: flex;
      justify-content: space-evenly;
      top: 85%;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 10;
      & .el-picker-panel__shortcut {
        display: block;
        width: 100px;
        text-align: center;
        border: 1px solid #D3D3D3;
        border-radius: 2px;
        padding-left: 0;
        padding-right: 0;
        &:first-child {
          display: none;
        }
      }
    }
  }
}