@media print {
  @page {
    size: landscape;
  }
  * {
    font-family: Arial, sans-serif !important;
  }
  .break-before {
    page-break-before: always;
  }
  .break-after {
    page-break-after: always;
  }
  .break-avoid {
    page-break-inside: avoid;
  }
  .break-all {
    word-break: break-all;
  }
  .no-print,
  .el-button,
  [class*=" el-icon-"], [class^=el-icon-] {
    display: none !important;
  }
  .print, .print-only {
    display: block !important;
  }
  th, td {
    font-size: 12px !important;
    color: #000;
    border: 1px solid #000;
    padding: 5px;
  }
  th div, td div {
    font-size: 12px !important;
  }
  td .theme-short-description {
    font-size: 10px !important;
  }
  .el-table__header {
    display: block;
    padding: 10px;
    & tr.metatheme-section-print {
      text-align: center;
      background: #ccc !important;
    }
    & .el-tag {
      display: block;
      background-color: #fff !important;
      border-color: #fff !important;
      color: #000;
    }
  }

  /* Для таблиц Летучка и Летучка 5 канал */
  .table-schedule th, .table-schedule.week-log th {
    font-size: 14px !important;
  }

  /* Для печати истории изменений */
  .theme-history-print, .shooting-history-print {
    padding: 0px !important;
  }
}